Repository open-edge-platform/training_extensions, pull requests merged in 2021-12, with the labels that each got.

#705 Updates on chest_xray_screening model
  misc/pytorch_toolkit/chest_xray_screening/README.md
  misc/pytorch_toolkit/chest_xray_screening/chest_xray_screening/utils/download_weights.py
  misc/pytorch_toolkit/chest_xray_screening/chest_xray_screening/utils/get_config.py
  misc/pytorch_toolkit/chest_xray_screening/configs/densenet121_config.json
  misc/pytorch_toolkit/chest_xray_screening/configs/densenet121eff_config.json
  misc/pytorch_toolkit/chest_xray_screening/configs/download_configs.json
  misc/pytorch_toolkit/chest_xray_screening/configs/gdrive_configs.json
  misc/pytorch_toolkit/chest_xray_screening/requirements.txt
Labels: dependencies, misc

#719 OTE_SDK. Increase code coverage.
  ote_sdk/ote_sdk/tests/entities/dummy_config.yaml
  ote_sdk/ote_sdk/tests/entities/dummy_template.yaml
  ote_sdk/ote_sdk/tests/entities/shapes/test_ellipse.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_polygon.py
  ote_sdk/ote_sdk/tests/entities/test_model.py
Labels: SDK, tests

#743 OTE_SDK entities. Increase code coverage.
  ote_sdk/ote_sdk/tests/entities/test_color.py
  ote_sdk/ote_sdk/tests/entities/test_label.py
  ote_sdk/ote_sdk/tests/entities/test_resultset.py
  ote_sdk/ote_sdk/tests/entities/test_scored_label.py
  ote_sdk/ote_sdk/tests/entities/test_task_environment.py
  ote_sdk/ote_sdk/tests/test_helpers.py
Labels: SDK, tests

#723 OTE_SDK. Increase code coverage.
  .gitignore
  ote_sdk/ote_sdk/tests/entities/test_annotation.py
Labels: SDK, tests

#728 OTE_SDK. Increase code coverage
  ote_sdk/ote_sdk/tests/entities/shapes/test_rectangle.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_shape.py
Labels: SDK, tests

#757 Hotfix to Address Model Optimizing Error for Anomaly Tasks
  external/anomaly/anomaly_classification/openvino.py
Labels: tasks

#740 OTE_SDK. Increase code coverage. entities/model_template.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
Labels: SDK, tests

#750 OTE_SDK. Increase code coverage. entities/metrics.py, entities/graph.py
  ote_sdk/ote_sdk/tests/configuration/enums/test_model_lifecycle.py
  ote_sdk/ote_sdk/tests/entities/interfaces/test_graph_interface.py
  ote_sdk/ote_sdk/tests/entities/test_graph.py
  ote_sdk/ote_sdk/tests/entities/test_id.py
  ote_sdk/ote_sdk/tests/entities/test_metrics.py
  ote_sdk/ote_sdk/tests/usecases/tasks/interfaces/test_interfaces.py
Labels: SDK, tests

#759 Ik/updated docs
  CONTRIBUTING.md
  QUICK_START_GUIDE.md
  README.md
  external/README.md
  ote_cli/README.md
  ote_sdk/README.md
  tests/ote_cli/test_docs.py
Labels: SDK, CLI, tests

#760 OTE_SDK. Increase code coverage label_schema.py, train_parameters.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema_entity.py
  ote_sdk/ote_sdk/tests/entities/test_train_parameters.py
Labels: SDK, tests

#772 Fix segmentation results processing
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/shapes/polygon.py
  ote_sdk/ote_sdk/entities/shapes/rectangle.py
  ote_sdk/ote_sdk/entities/shapes/shape.py
  ote_sdk/ote_sdk/utils/segmentation_utils.py
Labels: SDK

#786 Add exportable code files to package_data
  ote_sdk/setup.py
Labels: SDK

#784 [EXPORTABLE_CODE] Fix annotation converters
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: SDK

#787 add exportable code adapter to model
  ote_sdk/ote_sdk/entities/model.py
  ote_sdk/ote_sdk/usecases/adapters/model_adapter.py
Labels: SDK

#776 [ANOMALY_CLASSIFICATION] temporal workaround to test anomaly
  external/anomaly/init_venv.sh
  tests/run_model_templates_tests.sh
Labels: tests

#794 [OTE SDK] Input validation for numeric configurable parameters
  ote_sdk/ote_sdk/configuration/elements/primitive_parameters.py
  ote_sdk/ote_sdk/configuration/elements/utils.py
Labels: SDK

#782 [ANOMALY_CLASSIFICATION] Anomalib model api
  .gitignore
  .pylintrc
  external/anomaly/anomaly_classification/configs/configuration_enums.py
  external/anomaly/anomaly_classification/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/anomaly_classification/task.py
  external/anomaly/constraints.txt
  external/anomaly/init_venv.sh
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/exportable_code/__init__.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_classification.py
  external/anomaly/requirements.txt
  external/anomaly/setup.py
  external/anomaly/tests/helpers/dataset.py
  external/anomaly/tests/helpers/dummy_dataset.py
  external/anomaly/tests/helpers/train.py
  external/anomaly/tests/test_ote_anomaly_classification.py
  ote_cli/ote_cli/datasets/__init__.py
  ote_cli/ote_cli/datasets/anomaly/__init__.py
  ote_cli/ote_cli/datasets/anomaly/dataset.py
  ote_cli/ote_cli/tools/train.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/ote_cli/test_ote_cli_tools_anomaly_classification.py
  tests/run_model_templates_tests.sh
Labels: tasks

#783 [OTE_SDK] Update networkx requirements.txt
  ote_sdk/ote_sdk/tests/entities/test_graph.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
  ote_sdk/requirements.txt
Labels: SDK

#801 [OTE_SDK_TESTS] Increase code coverage dataset_item.py, datasets.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
  ote_sdk/ote_sdk/tests/entities/test_datasets.py
Labels: SDK, tests

#797 [OTE_SDK_TESTS] Increase code coverage. utils/shape_drawer.py
  ote_sdk/ote_sdk/tests/entities/test_result_media.py
  ote_sdk/ote_sdk/tests/entities/test_tensor.py
  ote_sdk/ote_sdk/tests/utils/test_shape_drawer.py
Labels: SDK, tests

#815 [ANOMALY_CLASSIFICATION] Anomalib POT configs
  external/anomaly/anomaly_classification/configs/padim/pot_optimization_config.json
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/requirements.txt
Labels: NNCF

#799 [OTE_CLI] enable HPO for OTE_cli
  QUICK_START_GUIDE.md
  ote_cli/ote_cli/tools/train.py
  ote_cli/ote_cli/utils/hpo.py
  ote_cli/requirements.txt
  tests/ote_cli/test_ote_cli_tools_classification.py
  tests/ote_cli/test_ote_cli_tools_detection.py
Labels: CLI

#818 [OTE_SDK_TESTS] Increase code coverage f_measure.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_f_measure.py
Labels: SDK, tests
