Repository open-edge-platform/training_extensions, pull requests merged in 2021-11, with the labels that each got.

#717 Adds zero-area polygon filtering in OTE_SDK for OTESegm
  ote_sdk/ote_sdk/utils/segmentation_utils.py
Labels: SDK

#716 Ik/ote demo
  ote_cli/ote_cli/tools/demo.py
  ote_cli/ote_cli/tools/ote.py
  ote_cli/ote_cli/tools/utils/__init__.py
  ote_cli/ote_cli/tools/utils/demo/__init__.py
  ote_cli/ote_cli/tools/utils/demo/images_capture.py
  ote_cli/ote_cli/tools/utils/demo/visualization.py
  tests/ote_cli/test_ote_cli_tools_classification.py
  tests/ote_cli/test_ote_cli_tools_detection.py
  tests/ote_cli/test_ote_cli_tools_segmentation.py
Labels: CLI

#732 OTE_SDK. add ModelStatus.TRAINED_NO_STATS # 2
  ote_sdk/ote_sdk/entities/model.py
Labels: SDK

#735 Dick/anomaly label naming
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/__init__.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/tests/helpers/dataset.py
Labels: tasks

#718 OTE_SDK. Increase code coverage.
  .gitignore
  ote_sdk/ote_sdk/tests/entities/dummy_config.yaml
  ote_sdk/ote_sdk/tests/entities/dummy_template.yaml
  ote_sdk/ote_sdk/tests/entities/test_color.py
  ote_sdk/ote_sdk/tests/entities/test_label.py
  ote_sdk/ote_sdk/tests/entities/test_resultset.py
  ote_sdk/ote_sdk/tests/entities/test_scored_label.py
  ote_sdk/ote_sdk/tests/entities/test_task_environment.py
  ote_sdk/ote_sdk/tests/test_helpers.py
Labels: SDK, tests
