Repository open-edge-platform/training_extensions, pull requests merged in 2022-10, with the labels that each got.

#1291 [OTE] removed empty annotations
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
Labels: bug

#1301 Fix tiling bug
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1300 anomaly save_model bugfix
  external/anomaly/tasks/inference.py
  ote_cli/ote_cli/utils/hpo.py
Labels: CLI, tasks

#1303 [OTE] [SDL] upgrade networkx module version
  ote_sdk/requirements.txt
Labels: dependencies, SDK

#1307 Minor changes to setup
  requirements/base.txt
  setup.py
  tox.ini
Labels: dependencies

#1298 [OTX] Upgrade openvino requirements & Add detection integration test codes
  .github/workflows/pre_merge.yml
  otx/algorithms/common/adapters/mmcv/hooks.py
  otx/algorithms/detection/adapters/mmdet/data/dataset.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/model.py
  otx/algorithms/detection/init_venv.sh
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/cli/utils/tests.py
  requirements/base.txt
  requirements/detection.txt
  requirements/openvino.txt
  setup.py
  tests/integration/api/detection/test_api_detection.py
  tests/integration/cli/detection/test_detection.py
  tox.ini
Labels: dependencies, tests

#1320 Fix OTE SDK test
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  ote_sdk/ote_sdk/entities/model.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: SDK, tasks
