Repository open-edge-platform/training_extensions, pull requests merged in 2022-04, with the labels that each got.

#890 [OTE_SDK_TESTS] Added input parameters validation and tests. Part 1
  external/mmdetection/tests/test_ote_api.py
  external/mmsegmentation/tests/test_ote_api.py
  ote_cli/ote_cli/tools/demo.py
  ote_cli/ote_cli/tools/deploy.py
  ote_cli/ote_cli/tools/eval.py
  ote_cli/ote_cli/tools/export.py
  ote_cli/ote_cli/tools/optimize.py
  ote_sdk/ote_sdk/configuration/helper/create.py
  ote_sdk/ote_sdk/entities/annotation.py
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/datasets.py
  ote_sdk/ote_sdk/entities/image.py
  ote_sdk/ote_sdk/entities/label.py
  ote_sdk/ote_sdk/entities/label_schema.py
  ote_sdk/ote_sdk/entities/model.py
  ote_sdk/ote_sdk/entities/model_template.py
  ote_sdk/ote_sdk/entities/resultset.py
  ote_sdk/ote_sdk/entities/scored_label.py
  ote_sdk/ote_sdk/entities/shapes/rectangle.py
  ote_sdk/ote_sdk/entities/task_environment.py
  ote_sdk/ote_sdk/tests/entities/test_datasets.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
  ote_sdk/ote_sdk/tests/entities/test_metadata.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
  ote_sdk/ote_sdk/tests/entities/test_resultset.py
  ote_sdk/ote_sdk/tests/parameters_validation/test_input_parameters_validation.py
  ote_sdk/ote_sdk/tests/parameters_validation/test_shapes_input_parameters_validation.py
  ote_sdk/ote_sdk/tests/parameters_validation/validation_helper.py
  ote_sdk/ote_sdk/tests/usecases/adapters/test_model_adapter.py
  ote_sdk/ote_sdk/tests/utils/test_segmentation_utils.py
  ote_sdk/ote_sdk/utils/argument_checks.py
Labels: SDK, CLI, tasks

#1036 xfail test_nncf_eval for all cls templates
  external/deep-object-reid/tests/ote_cli/test_classification.py
Labels: tasks

#1032 [ANOMALY] Create MVTec AD annotation converter to JSON format
  external/anomaly/ote_anomalib/data/create_mvtec_ad_json_annotations.py
  external/anomaly/ote_anomalib/data/mvtec.py
Labels: tasks

#987 Added Multi-label dataset mlc_voc
  external/deep-object-reid/tests/expected_metrics/metrics_test_ote_training.yml
  external/deep-object-reid/tests/test_ote_training.py
Labels: tasks

#1045 [Anomaly Task] Change dataset to json based
  external/anomaly/ote_anomalib/data/create_mvtec_ad_json_annotations.py
  external/anomaly/ote_anomalib/data/dataset.py
  external/anomaly/ote_anomalib/tools/sample.py
  ote_cli/ote_cli/datasets/__init__.py
  ote_cli/ote_cli/datasets/anomaly/__init__.py
Labels: CLI, tasks

#1043 [DETECTION] CVS-82196, CVS-82366
  external/mmdetection/configs/custom-object-detection/cspdarknet_YOLOX/coco_data_pipeline.py
  external/mmdetection/tests/ote_cli/test_detection.py
Labels: tasks

#1057 Weight loading finite check
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
Labels: tasks

#1052 filter unvalid prediction
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
Labels: tasks

#1053 [IAI] CVS-79679 Add unassigned annotation subset to subset enum
  ote_sdk/ote_sdk/entities/subset.py
Labels: SDK

#1064 Revert "[IAI] CVS-79679 Add unassigned annotation subset to subset enum"
  ote_sdk/ote_sdk/entities/subset.py
Labels: SDK

#1066 HV/CVS-79679 add unassigned annotation subset
  ote_sdk/ote_sdk/entities/subset.py
Labels: SDK

#1048 Fix collect_env_vars to use both uppercase and lowercase env vars
  ote_cli/ote_cli/utils/tests.py
Labels: CLI

#1046 Fix OTEDetectionInferenceTask._load_model()
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
Labels: bug, tasks

#1056 [Anomaly] Move sample to root/tools
  external/anomaly/constraints.txt
  external/anomaly/tools/__init__.py
  external/anomaly/tools/sample.py
Labels: tasks, hotfix

#1068 Fix OTEDetectionInferenceTask._load_model()
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
Labels: tasks

#1067 Fix collect_env_vars to use both uppercase and lowercase env vars
  ote_cli/ote_cli/utils/tests.py
Labels: CLI

#1055 CVS-84033 [OTE] Set wrong learning rate when resuming training
  external/mmdetection/detection_tasks/extension/utils/hooks.py
Labels: tasks

#1051 [OTE SDK] Fix dataset_item.get_annotations label check
  ote_sdk/ote_sdk/entities/dataset_item.py
Labels: SDK

#1050 [CVS-83536] updated task configuarions
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_b0/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_large_075/template_experimental.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_large_1/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_small/template_experimental.yaml
  external/deep-object-reid/torchreid_tasks/configuration.yaml
  external/deep-object-reid/torchreid_tasks/parameters.py
  external/mmdetection/configs/custom-object-detection/gen3_mobilenetV2_ATSS/template.yaml
  external/mmdetection/configs/custom-object-detection/gen3_mobilenetV2_SSD/template.yaml
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18/template.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-s-mod2/template.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.yaml
Labels: bug, tasks

#1071 Merge temporary trunk branch to develop
  ote_sdk/ote_sdk/entities/subset.py
Labels: SDK

#1074 Update mmdetection nncf commit no.
  external/mmdetection/build/lib/detection_tasks/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/config_utils.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/configuration.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/configuration_enums.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/inference_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/model_wrappers/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/nncf_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/openvino_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/ote_utils.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/train_task.py
  external/mmdetection/build/lib/detection_tasks/extension/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/data_utils.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/mmdataset.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/hooks.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/pipelines.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/runner.py
  external/mmdetection/dist/detection_tasks-0.0.0-py3.8.egg
  external/mmdetection/tests/test_ote_api.py
Labels: tasks

#1075 Vinnamki/nncf update
  external/mmdetection/requirements.txt
  external/mmdetection/tests/reference/Custom_Object_Detection_Gen3_ATSS/nncf/nncf_quantization.dot
  external/mmdetection/tests/reference/Custom_Object_Detection_Gen3_SSD/nncf/nncf_quantization.dot
  external/mmdetection/tests/test_ote_api.py
Labels: dependencies, tasks

#1081 Re-apply #1066
  ote_sdk/ote_sdk/entities/subset.py
Labels: SDK

#1004 [OTE] Added mmsegmentation input parameters validation and tests
  external/mmsegmentation/segmentation_tasks/apis/segmentation/config_utils.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/inference_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/model_wrappers/blur.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/nncf_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/ote_utils.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/train_task.py
  external/mmsegmentation/segmentation_tasks/extension/datasets/mmdataset.py
  external/mmsegmentation/segmentation_tasks/extension/utils/hooks.py
  external/mmsegmentation/segmentation_tasks/extension/utils/pipelines.py
  external/mmsegmentation/segmentation_tasks/extension/utils/runner.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_blur_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_config_utils_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_hooks_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_inference_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_mmdataset_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_nncf_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_openvino_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_pipelines_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_runner_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_train_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_utils_params_validation.py
  external/mmsegmentation/tests/test_ote_api.py
  ote_sdk/ote_sdk/tests/parameters_validation/validation_helper.py
  ote_sdk/ote_sdk/utils/argument_checks.py
Labels: SDK, tasks

#1078 Add Instance Segmentation (object counting) training tests.
  external/mmdetection/tests/expected_metrics/metrics_test_ote_training.yml
  external/mmdetection/tests/test_ote_training.py
Labels: tasks
