Repository open-edge-platform/training_extensions, pull requests merged in 2022-08, with the labels that each got.

#1195 [MPA] CVS-89088 declare AL capabilities in mpa tasks
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/resnet50_vfnet_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
Labels: tasks

#1206 [OTE Enhancements] - Add `pydocstyle` to `pre-commit` configurations.
  .pre-commit-config.yaml
  external/anomaly/adapters/anomalib/callbacks/__init__.py
  external/anomaly/adapters/anomalib/callbacks/inference.py
  external/anomaly/adapters/anomalib/callbacks/progress.py
  external/anomaly/adapters/anomalib/callbacks/score_report.py
  external/anomaly/adapters/anomalib/config/__init__.py
  external/anomaly/adapters/anomalib/config/anomalib_config.py
  external/anomaly/adapters/anomalib/data/__init__.py
  external/anomaly/adapters/anomalib/data/data.py
  external/anomaly/adapters/anomalib/data/dataset.py
  external/anomaly/adapters/anomalib/data/mvtec.py
  external/anomaly/adapters/anomalib/logger/logger.py
  external/anomaly/configs/base/__init__.py
  external/anomaly/configs/base/configuration.py
  external/anomaly/configs/base/configuration_enums.py
  external/anomaly/configs/padim/__init__.py
  external/anomaly/configs/padim/configuration.py
  external/anomaly/configs/stfpm/__init__.py
  external/anomaly/configs/stfpm/configuration.py
  external/anomaly/setup.py
  external/anomaly/tasks/__init__.py
  external/anomaly/tasks/inference.py
  external/anomaly/tasks/nncf.py
  external/anomaly/tasks/openvino.py
  external/anomaly/tools/__init__.py
  external/anomaly/tools/sample.py
  pyproject.toml
Labels: dependencies, tasks

#1197 Add model link to tensor metadata output
  external/deep-object-reid/torchreid_tasks/inference_task.py
  external/deep-object-reid/torchreid_tasks/model_wrappers/classification.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/model_wrappers/blur.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
Labels: tasks

#1164 [OTE SDK] Prevent deepcopy of AnnotationScene instance inside DatasetItem to avoid ID sharing
  external/mmdetection/detection_tasks/extension/datasets/mmdataset.py
  ote_sdk/ote_sdk/entities/dataset_item.py
Labels: SDK, tasks

#1185 Fix links to d-o-r experimental templates
  external/README.md
Labels: tasks

#1205 [HPO] fix bug occurred when running HPO without batch size in search space
  ote_cli/ote_cli/utils/hpo.py
Labels: CLI

#1215 Support hpo to multilabel and hierarchy classification
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/mpa_tasks/extensions/datasets/mpa_cls_dataset.py
Labels: tasks

#1208 update hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/hpo_config.yaml
Labels: tasks

#1219 [ANOMALY] Fix local anomaly segmentation performance bug
  ote_sdk/ote_sdk/utils/dataset_utils.py
Labels: SDK

#1204 Add no show flag to visualizer in exportable code
  ote_cli/ote_cli/utils/tests.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_visualization.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/README.md
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/sync_pipeline.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/synchronous.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/utils.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/__init__.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/anomaly_visualizer.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/visualizer.py
Labels: dependencies, SDK, CLI

#1228 [CVS-89912] Fixed config path computation
  external/anomaly/tasks/nncf.py
Labels: tasks

#1226 [CVS-88098] Remove initialize from export functions
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
Labels: tasks

#1211 [CVS-87823] Add train time graph in classification task for SC statistics
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#1229 Add @attrs decorator for base configs
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: tasks

#1221 [Anomaly Task] Change OpenVINO MO Command
  external/anomaly/tasks/inference.py
Labels: tasks

#1235 [Hot-Fix] subprocess call issue
  external/mmdetection/configs/horizontal-text-detection/tools/draw_recall_graph.py
Labels: tasks

#1237 Ludo/cvs 90428 update license file in exportable code
  ote_sdk/ote_sdk/usecases/exportable_code/demo/LICENSE
Labels: dependencies, SDK, CLI, tasks
