Repository open-edge-platform/training_extensions, pull requests merged in 2022-12, with the labels that each got.

#1379 Send full dataset to POT optimization function
  external/anomaly/tasks/openvino.py
  external/anomaly/tools/sample.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  external/model-preparation-algorithm/mpa_tasks/samples/cls_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/det_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/inst_seg_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/seg_cls_il_sample.py
  ote_sdk/ote_sdk/test_suite/training_tests_actions.py
Labels: SDK, tasks

#1412 [Bug-fix] Convert NaN to num to make visible in geti UI
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
Labels: tasks

#1404 [MISC] Radiology Image Compression
  misc/pytorch_toolkit/chest_xray_screening/README.md
  misc/pytorch_toolkit/chest_xray_screening/configs/download_configs.json
  misc/pytorch_toolkit/mammogram_screening/ReadMe.md
  misc/pytorch_toolkit/mammogram_screening/configs/download_configs.json
  misc/pytorch_toolkit/radiology_compression/.gitignore
  misc/pytorch_toolkit/radiology_compression/Readme.md
  misc/pytorch_toolkit/radiology_compression/configs/download_configs.json
  misc/pytorch_toolkit/radiology_compression/configs/phase1_config.json
  misc/pytorch_toolkit/radiology_compression/configs/phase2_config.json
  misc/pytorch_toolkit/radiology_compression/init_venv.sh
  misc/pytorch_toolkit/radiology_compression/media/arch_search.webp
  misc/pytorch_toolkit/radiology_compression/media/decoder_arch.webp
  misc/pytorch_toolkit/radiology_compression/media/encoder_arch.webp
  misc/pytorch_toolkit/radiology_compression/media/modality_specific_performance.png
  misc/pytorch_toolkit/radiology_compression/media/overall_arch.webp
  misc/pytorch_toolkit/radiology_compression/media/overall_performance.png
  misc/pytorch_toolkit/radiology_compression/media/sample_result.webp
  misc/pytorch_toolkit/radiology_compression/requirements.txt
  misc/pytorch_toolkit/radiology_compression/setup.py
  misc/pytorch_toolkit/radiology_compression/src/export.py
  misc/pytorch_toolkit/radiology_compression/src/inference.py
  misc/pytorch_toolkit/radiology_compression/src/train.py
  misc/pytorch_toolkit/radiology_compression/src/utils/dataloader.py
  misc/pytorch_toolkit/radiology_compression/src/utils/dataprep.py
  misc/pytorch_toolkit/radiology_compression/src/utils/downloader.py
  misc/pytorch_toolkit/radiology_compression/src/utils/evaluators.py
  misc/pytorch_toolkit/radiology_compression/src/utils/exporter.py
  misc/pytorch_toolkit/radiology_compression/src/utils/get_config.py
  misc/pytorch_toolkit/radiology_compression/src/utils/inference_utils.py
  misc/pytorch_toolkit/radiology_compression/src/utils/model.py
  misc/pytorch_toolkit/radiology_compression/src/utils/train_utils.py
  misc/pytorch_toolkit/radiology_compression/tests/test_export.py
  misc/pytorch_toolkit/radiology_compression/tests/test_inference.py
  misc/pytorch_toolkit/radiology_compression/tests/test_train.py
Labels: dependencies

#1395 [POT][develop] HRNet-x and HRNet-18-mod2 configs update
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/pot_optimization_config.json
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/pot_optimization_config.json
Labels: tasks

#1386 Add active score evaluation to the classification task
  external/deep-object-reid/torchreid_tasks/model_wrappers/classification.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/data_pipeline.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1403 [OTX] Enabling GPU execution for exported code
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/model_container.py
Labels: SDK

#1417 [release/0.4.0] Add active score evaluation to the classification task
  external/deep-object-reid/torchreid_tasks/model_wrappers/classification.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/data_pipeline.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1416 [release/0.4.0][OTX] Enabling GPU execution for exported code
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/model_container.py
Labels: SDK

#1423 [release/0.4.0][OTE][bugfix] Fix ote deploy failed tests
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
Labels: bug, dependencies, SDK

#1419 [POT][release] HRNet-x and HRNet-18-mod2 configs update
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/pot_optimization_config.json
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/pot_optimization_config.json
Labels: tasks

#1428 Fix model_container infer for cls, seg
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/model_container.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
Labels: dependencies, SDK

#1426 [feature/otx] Changes in available backbone output formats
  otx/cli/builder/builder.py
  otx/cli/builder/supported_backbone/mmcls.json
  otx/cli/builder/supported_backbone/mmdet.json
  otx/cli/builder/supported_backbone/mmseg.json
  otx/cli/builder/supported_backbone/torchvision.json
  otx/cli/registry/registry.py
  otx/cli/tools/find.py
  otx/cli/utils/importing.py
  otx/cli/utils/tests.py
  tests/integration/cli/test_cli.py
Labels: tests

#1447 [OTE][Releases] Align saliency map media creation over tasks
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/inference_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1421 [OTE][Develop][bugfix] Fix ote deploy failed tests
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
Labels: bug, dependencies, SDK

#1446 [OTE][Develop] Align saliency map media creation over tasks
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/inference_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1369 [OTX][XAI] OTX XAI integration
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/ActivationMap/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/ActivationMap/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/ActivationMap/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/ActivationMap/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/ActivationMap/multilabel/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/EigenCAM/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/EigenCAM/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/EigenCAM/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/EigenCAM/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficientNet-V2-S/EigenCAM/multilabel/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/ActivationMap/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/ActivationMap/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/ActivationMap/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/ActivationMap/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/ActivationMap/multilabel/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/EigenCAM/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/EigenCAM/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/EigenCAM/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/EigenCAM/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_EfficinetNet-B0/EigenCAM/multilabel/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/ActivationMap/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/ActivationMap/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/ActivationMap/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/ActivationMap/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/ActivationMap/multilabel/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/EigenCAM/default/intel_1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/EigenCAM/hierarchical/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/EigenCAM/hierarchical/Slide2_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/EigenCAM/multilabel/Slide1_saliency_map.png
  data/explain_samples/explain_Custom_Image_Classification_MobileNet-V3-large-1x/EigenCAM/multilabel/Slide2_saliency_map.png
  otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/openvino.py
  otx/algorithms/segmentation/tasks/train.py
  otx/api/utils/dataset_utils.py
  otx/cli/tools/explain.py
  otx/cli/utils/tests.py
  tests/integration/api/classification/test_api_classification.py
  tests/integration/api/detection/test_api_detection.py
  tests/integration/api/xai/test_api_xai_sanity.py
  tests/integration/api/xai/test_api_xai_validity.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
Labels: tests

#1459 [OTX] Fix Pre-commit
  otx/algorithms/detection/tasks/openvino.py
Labels: tasks

#1461 [feature/otx] Update sphinx version
  requirements/docs.txt
Labels: dependencies

#1398 [OTX/Semi-SL-Det] Enable training and evaluation for unbiased teacher structure
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/configs/base/models/unbiased_teacher.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/__init__.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/data_pipeline.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/model.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/__init__.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/data_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/__init__.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/data_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/model.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/nncf.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/detection/tools/detection_semisl_sample.py
  otx/cli/utils/tests.py
  tests/integration/cli/detection/test_detection.py
Labels: CLI, tasks, tests

#1455 [DEV] Fix deprecated np.bool issue from numpy==1.24.0
  CHANGELOG.md
  external/anomaly/requirements.txt
  external/deep-object-reid/requirements.txt
  external/mmsegmentation/requirements.txt
  external/model-preparation-algorithm/constraints.txt
  ote_cli/ote_cli/utils/tests.py
  ote_cli/requirements.txt
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
  ote_sdk/requirements.txt
  tests/ote_cli/misc/test_code_checks.py
  tests/run_model_templates_tests.py
Labels: dependencies, SDK, CLI, tasks, tests

#1456 [OTX] Fix deprecated np.bool issue from numpy==1.24.0
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/cli/utils/tests.py
  requirements/base.txt
Labels: dependencies, CLI

#1465 [OTX] Fix dependency issue on sphinx
  requirements/docs.txt
Labels: dependencies

#1392 [OTX] Enable multi-GPU training
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/anomaly/tasks/nncf.py
  otx/algorithms/classification/adapters/deep_object_reid/tasks/nncf.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/nncf.py
  otx/algorithms/common/adapters/mmcv/runner.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/nncf.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/algorithms/segmentation/tasks/nncf.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/cli/utils/multi_gpu.py
  otx/cli/utils/tests.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/segmentation/test_segmentation.py
Labels: CLI, tasks, tests
