Repository open-edge-platform/training_extensions, pull requests merged in 2022-11, with the labels that each got.

#1326 Forward CVS-94422 size bug fix PR to release branch
  data/car_tree_bug/annotations/hierarchical_default.json
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  ote_cli/ote_cli/utils/hpo.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_visualization.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/anomaly_visualizer.py
  ote_sdk/ote_sdk/utils/vis_utils.py
Labels: SDK, CLI, tasks

#1317 [Release branch] Valid POT configs for small HRNet models
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/pot_optimization_config.json
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/pot_optimization_config.json
Labels: tasks

#1319 [Release branch] Disable NNCF optimization for FP16 models
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
Labels: tasks

#1329 [RELEASE] CVS-95549 - Hierarchical classification training failed without obvious reason
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
Labels: tasks

#1313 Valid POT configs for small HRNet models
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/pot_optimization_config.json
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/pot_optimization_config.json
Labels: tasks

#1312 Disable NNCF optimization for FP16 models
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
Labels: tasks

#1308 [NNCF] Update test nncf_graph
  external/anomaly/tasks/inference.py
  external/anomaly/tests/anomaly_common.py
  external/anomaly/tests/reference/ote_anomaly_classification_padim/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_classification_stfpm/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_segmentation_padim/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_segmentation_stfpm/nncf/nncf_quantization.dot
  external/anomaly/tests/test_configurable_parameters.py
  external/anomaly/tests/test_ote_anomaly_classification_training.py
  external/anomaly/tests/test_ote_anomaly_segmentation_training.py
  ote_sdk/ote_sdk/test_suite/fixtures.py
  ote_sdk/ote_sdk/test_suite/training_tests_actions.py
  otx/algorithms/anomaly/tasks/inference.py
  tests/regression/anomaly/anomaly_common.py
  tests/regression/anomaly/reference/ote_anomaly_classification_padim/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/ote_anomaly_classification_stfpm/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/ote_anomaly_segmentation_padim/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/ote_anomaly_segmentation_stfpm/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/runs
  tests/regression/anomaly/test_ote_anomaly_classification_training.py
  tests/regression/anomaly/test_ote_anomaly_segmentation_training.py
Labels: SDK, tasks, tests

#1305 fliter object less than 1 pixel
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: SDK, tasks

#1338 Fix dataset length bug in mpa task
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
Labels: tasks

#1340 Fix drop_last key issue
  external/mmdetection/detection_tasks/extension/datasets/mmdataset.py
  external/mmsegmentation/segmentation_tasks/extension/datasets/mmdataset.py
Labels: tasks

#1345 [Hot-Fix] Fix OV inference issue
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: dependencies, SDK, CLI, tasks

#1346 Fix nncf model export bug
  external/anomaly/tasks/nncf.py
Labels: tasks

#1328 [OTX] Add action task
  otx/algorithms/action/__init__.py
  otx/algorithms/action/adapters/__init__.py
  otx/algorithms/action/adapters/mmaction/__init__.py
  otx/algorithms/action/adapters/mmaction/data/__init__.py
  otx/algorithms/action/adapters/mmaction/data/dataset.py
  otx/algorithms/action/adapters/mmaction/utils/__init__.py
  otx/algorithms/action/adapters/mmaction/utils/config_utils.py
  otx/algorithms/action/configs/__init__.py
  otx/algorithms/action/configs/base/__init__.py
  otx/algorithms/action/configs/base/configuration.py
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/classification/x3d/model.py
  otx/algorithms/action/configs/classification/x3d/template.yaml
  otx/algorithms/action/init_venv.sh
  otx/algorithms/action/tasks/__init__.py
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/action/tasks/train.py
  otx/algorithms/action/utils/data.py
  otx/algorithms/common/adapters/mmcv/utils.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/api/entities/label.py
  otx/api/entities/model_template.py
  otx/cli/datasets/__init__.py
  otx/cli/datasets/action_classification/__init__.py
  otx/cli/datasets/action_classification/dataset.py
  otx/cli/tools/eval.py
  otx/cli/tools/train.py
  requirements/action.txt
  setup.py
  tests/unit/api/entities/test_label.py
  tests/unit/api/entities/test_model_template.py
Labels: dependencies, tests

#1359 [HOTFIX] Fix merge error
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
Labels: tasks

#1354 Update evaluation iou_thr values
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/model.py
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/model.py
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/model.py
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/model.py
Labels: tasks

#1366 Fix pre-commit test
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/pot_optimization_config.json
Labels: tasks

#1360 Fix ote sdk related test failures
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
Labels: SDK

#1361 Fix OV Inference issues (tiling tests & detection tests)
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
Labels: tasks

#1262 Speedup reading images meta
  ote_sdk/ote_sdk/entities/image.py
  ote_sdk/requirements.txt
  otx/api/entities/image.py
  requirements/base.txt
Labels: dependencies, SDK

#1330 [NNCF] Update test nncf_graph (develop)
  external/anomaly/tests/anomaly_common.py
  external/anomaly/tests/reference/ote_anomaly_classification_padim/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_classification_stfpm/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_segmentation_padim/nncf/nncf_quantization.dot
  external/anomaly/tests/reference/ote_anomaly_segmentation_stfpm/nncf/nncf_quantization.dot
  external/anomaly/tests/test_configurable_parameters.py
  external/anomaly/tests/test_ote_anomaly_classification_training.py
  external/anomaly/tests/test_ote_anomaly_segmentation_training.py
  ote_sdk/ote_sdk/test_suite/fixtures.py
  ote_sdk/ote_sdk/test_suite/training_tests_actions.py
Labels: SDK, tasks

#1358 [OTX] Add sample code and test codes for action classification
  data/custom_action_recognition/custom_dataset/train_list_rawframes.txt
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/action/tools/sample_classification.py
  otx/algorithms/action/utils/data.py
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/cli/action/test_action_classification.py
Labels: tests

#1375 [Develop] Hot-fix OV inference issue in rotated detection
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
Labels: tasks

#1355 Enable model training and NNCF in mmdet
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
  external/mmdetection/detection_tasks/apis/detection/nncf_task.py
  external/mmdetection/detection_tasks/extension/utils/__init__.py
  external/model-preparation-algorithm/init_venv.sh
  otx/algorithms/common/adapters/mmcv/__init__.py
  otx/algorithms/common/adapters/mmcv/config_utils.py
  otx/algorithms/common/adapters/mmcv/data_cpu.py
  otx/algorithms/common/adapters/mmcv/nncf/hooks.py
  otx/algorithms/common/adapters/mmcv/nncf/patches.py
  otx/algorithms/common/adapters/mmcv/nncf/runners.py
  otx/algorithms/common/adapters/nncf/__init__.py
  otx/algorithms/common/adapters/nncf/compression.py
  otx/algorithms/common/adapters/nncf/config.py
  otx/algorithms/common/adapters/nncf/patchers/__init__.py
  otx/algorithms/common/adapters/nncf/patchers/patcher.py
  otx/algorithms/common/adapters/nncf/patchers/wrappers.py
  otx/algorithms/common/adapters/nncf/patches.py
  otx/algorithms/common/adapters/nncf/utils/__init__.py
  otx/algorithms/common/adapters/nncf/utils/utils.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/adapters/mmdet/data/dataset.py
  otx/algorithms/detection/adapters/mmdet/evaluation/__init__.py
  otx/algorithms/detection/adapters/mmdet/evaluation/mae.py
  otx/algorithms/detection/adapters/mmdet/evaluation/mean_ap_seg.py
  otx/algorithms/detection/adapters/mmdet/nncf/__init__.py
  otx/algorithms/detection/adapters/mmdet/nncf/compression.py
  otx/algorithms/detection/adapters/mmdet/nncf/model.py
  otx/algorithms/detection/adapters/mmdet/nncf/patches.py
  otx/algorithms/detection/adapters/mmdet/nncf/runners.py
  otx/algorithms/detection/adapters/mmdet/nncf/utils.py
  otx/algorithms/detection/adapters/mmdet/nncf/utils/__init__.py
  otx/algorithms/detection/adapters/mmdet/nncf/utils/fake_input.py
  otx/algorithms/detection/adapters/mmdet/nncf/utils/utils.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/data_pipeline.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/template.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/model.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/nncf.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/detection/utils/data.py
Labels: tasks

#1378 [ANOMALY] Update configs for padim model
  external/anomaly/configs/classification/padim/pot_optimization_config.json
  external/anomaly/configs/detection/padim/pot_optimization_config.json
  external/anomaly/configs/segmentation/padim/pot_optimization_config.json
Labels: tasks

#1397 [Develop] Updated QUICK_START_GUIDE.md
  QUICK_START_GUIDE.md
  tests/ote_cli/misc/test_docs.py
Labels: tests

#1396 [OTX} Fix optimization of anomaly models by POT
  external/anomaly/tools/sample.py
  external/deep-object-reid/tools/ote_sample.py
  external/mmdetection/detection_tasks/sample/sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/cls_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/det_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/inst_seg_cls_il_sample.py
  external/model-preparation-algorithm/mpa_tasks/samples/seg_cls_il_sample.py
  ote_sdk/ote_sdk/test_suite/training_tests_actions.py
  otx/algorithms/anomaly/configs/classification/padim/pot_optimization_config.json
  otx/algorithms/anomaly/configs/detection/padim/pot_optimization_config.json
  otx/algorithms/anomaly/configs/segmentation/padim/pot_optimization_config.json
  otx/algorithms/anomaly/tasks/openvino.py
  otx/algorithms/anomaly/tools/sample.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/classification/tools/sample.py
  otx/algorithms/detection/tasks/openvino.py
  otx/algorithms/detection/tools/detection_sample.py
  otx/algorithms/detection/tools/instance_segmentation_sample.py
  otx/algorithms/segmentation/tasks/openvino.py
  otx/algorithms/segmentation/tools/sample.py
  tests/test_suite/training_tests_actions.py
Labels: SDK, tasks, tests

#1394 align metrics
  external/model-preparation-algorithm/mpa_tasks/extensions/datasets/mpa_cls_dataset.py
Labels: tasks
