Repository open-edge-platform/training_extensions, pull requests merged in 2022-05, with the labels that each got.

#1087 [OTE] Added mmsegmentation input parameters validation and tests
  external/mmsegmentation/segmentation_tasks/apis/segmentation/config_utils.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/inference_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/model_wrappers/blur.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/nncf_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/ote_utils.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/train_task.py
  external/mmsegmentation/segmentation_tasks/extension/datasets/mmdataset.py
  external/mmsegmentation/segmentation_tasks/extension/utils/hooks.py
  external/mmsegmentation/segmentation_tasks/extension/utils/pipelines.py
  external/mmsegmentation/segmentation_tasks/extension/utils/runner.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_blur_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_config_utils_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_hooks_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_inference_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_mmdataset_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_nncf_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_openvino_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_pipelines_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_runner_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_train_task_params_validation.py
  external/mmsegmentation/tests/ote_params_validation/test_ote_utils_params_validation.py
  external/mmsegmentation/tests/test_ote_api.py
  ote_sdk/ote_sdk/tests/parameters_validation/validation_helper.py
  ote_sdk/ote_sdk/utils/argument_checks.py
Labels: SDK, tasks

#1090 Align test file convention
  external/mmdetection/tests/expected_metrics/metrics_test_ote_training.yml
  external/model-preparation-algorithm/tests/ote_cli/test_cls_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_det_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_seg_cls_il.py
  ote_sdk/ote_sdk/test_suite/training_tests_actions.py
Labels: SDK, tasks

#1097 sstrehlk/Extended conftest configuration for anomaly backend.
  external/anomaly/tests/conftest.py
Labels: tasks

#1094 Add nncf graph references for tests
  external/mmdetection/tests/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/nncf/nncf_quantization.dot
  external/mmdetection/tests/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/nncf/nncf_quantization.dot
Labels: tasks

#1093 Remove build directory
  .gitignore
  external/mmdetection/build/lib/detection_tasks/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/config_utils.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/configuration.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/configuration_enums.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/inference_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/model_wrappers/__init__.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/nncf_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/openvino_task.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/ote_utils.py
  external/mmdetection/build/lib/detection_tasks/apis/detection/train_task.py
  external/mmdetection/build/lib/detection_tasks/extension/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/data_utils.py
  external/mmdetection/build/lib/detection_tasks/extension/datasets/mmdataset.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/__init__.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/hooks.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/pipelines.py
  external/mmdetection/build/lib/detection_tasks/extension/utils/runner.py
  external/mmdetection/dist/detection_tasks-0.0.0-py3.8.egg
Labels: tasks

#1098 Disable MPA model template
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/detection/resnet50_vfnet_cls_incr/template_experimental.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-cls-incr/template_experimental.yaml
  external/model-preparation-algorithm/tests/test_ote_api.py
Labels: tasks

#1108 Enable multilabel classification in mobilenetV3_small
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_small/main_model_multilabel.yaml
Labels: tasks

#1110 [Anomaly Task] Add additional check for early stopping parameter
  external/anomaly/tests/test_ote_training.py
Labels: tasks

#999 [OTE] Added deep-object-reid input parameters validation and tests
  external/anomaly/ote_tests_pytest.ini
  external/deep-object-reid/tests/sc_input_params_validation/helpers.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_classification_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_inference_task_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_monitors_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_nncf_task_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_openvino_task_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_train_task_input_params_validation.py
  external/deep-object-reid/tests/sc_input_params_validation/test_ote_utils_input_params_validation.py
  external/deep-object-reid/tests/test_ote_api.py
  external/deep-object-reid/torchreid_tasks/inference_task.py
  external/deep-object-reid/torchreid_tasks/model_wrappers/classification.py
  external/deep-object-reid/torchreid_tasks/monitors.py
  external/deep-object-reid/torchreid_tasks/nncf_task.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/deep-object-reid/torchreid_tasks/train_task.py
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#1101 [OTE_SDK] Removed labels from shape and update append labels method
  ote_sdk/ote_sdk/entities/annotation.py
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/datasets.py
  ote_sdk/ote_sdk/entities/shapes/ellipse.py
  ote_sdk/ote_sdk/entities/shapes/polygon.py
  ote_sdk/ote_sdk/entities/shapes/rectangle.py
  ote_sdk/ote_sdk/entities/shapes/shape.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_ellipse.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_rectangle.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_shape.py
  ote_sdk/ote_sdk/tests/entities/test_subset.py
Labels: SDK

#1104 [OTE_SDK] Append label to dataset item fix
  ote_sdk/ote_sdk/entities/annotation.py
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/datasets.py
  ote_sdk/ote_sdk/entities/shapes/ellipse.py
  ote_sdk/ote_sdk/entities/shapes/polygon.py
  ote_sdk/ote_sdk/entities/shapes/rectangle.py
  ote_sdk/ote_sdk/entities/shapes/shape.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_ellipse.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_rectangle.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_shape.py
Labels: SDK

#1114 Added a getter and a setter for __metadata
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
  ote_sdk/ote_sdk/tests/entities/test_metadata.py
  ote_sdk/ote_sdk/utils/dataset_utils.py
Labels: SDK

#1116 nncf versionn upgrade
  external/anomaly/constraints.txt
  external/deep-object-reid/requirements.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
Labels: dependencies, tasks

#1112 Vsaltykovx/add mmdetection input parameters validation 2
  external/mmdetection/detection_tasks/apis/detection/config_utils.py
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
  external/mmdetection/detection_tasks/apis/detection/nncf_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/ote_utils.py
  external/mmdetection/detection_tasks/apis/detection/train_task.py
  external/mmdetection/detection_tasks/extension/datasets/data_utils.py
  external/mmdetection/detection_tasks/extension/datasets/mmdataset.py
  external/mmdetection/detection_tasks/extension/utils/hooks.py
  external/mmdetection/detection_tasks/extension/utils/pipelines.py
  external/mmdetection/detection_tasks/extension/utils/runner.py
  external/mmdetection/tests/ote_params_validation/test_ote_config_utils_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_data_utils_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_hooks_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_inference_task_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_mmdataset_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_nncf_task_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_openvino_task_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_ote_utils_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_pipelines_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_runner_params_validation.py
  external/mmdetection/tests/ote_params_validation/test_ote_train_task_params_validation.py
  external/mmdetection/tests/test_ote_api.py
  ote_sdk/ote_sdk/utils/argument_checks.py
Labels: SDK, tasks

#1117 nncf versionn upgrade
  external/anomaly/constraints.txt
  external/deep-object-reid/requirements.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
Labels: dependencies, tasks

#1120 [ANOMALY] Use is_anomalous attribute instead of string matching
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: SDK

#1118 [Anomaly Task] Fix non deterministic + sample.py
  external/anomaly/ote_anomalib/data/create_mvtec_ad_json_annotations.py
  external/anomaly/ote_anomalib/train_task.py
  external/anomaly/tests/test_ote_training.py
  external/anomaly/tools/README.md
  external/anomaly/tools/sample.py
Labels: tasks

#1113 [ANOMALY] Fix: exportable code for anomaly tasks
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/utils.py
Labels: SDK
