Repository open-edge-platform/training_extensions, pull requests merged in 2022-07, with the labels that each got.

#1146 Fix CI dependency issues regarding numpy/networkx version
  external/deep-object-reid/constraints.txt
  external/deep-object-reid/requirements.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
  ote_sdk/requirements.txt
Labels: dependencies, SDK, tasks

#1149 Bugfix for on_epoch_end function of TrainingProgressCallback.
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#901 [MISC] Mammogram screening model
  misc/pytorch_toolkit/chest_xray_screening/chest_xray_screening/export.py
  misc/pytorch_toolkit/mammogram_screening/ReadMe.md
  misc/pytorch_toolkit/mammogram_screening/configs/download_configs.json
  misc/pytorch_toolkit/mammogram_screening/configs/network_stage1_configs.json
  misc/pytorch_toolkit/mammogram_screening/configs/network_stage2_configs.json
  misc/pytorch_toolkit/mammogram_screening/init_venv.sh
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/__init__.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage1/__init__.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage1/data_prep_rbis.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage1/inference_mass_localization.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage1/train_stage1.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage2/__init__.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage2/inference_stage2.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage2/step2_get_predictions_for_all.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage2/step3_get_patches.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/stage2/train_stage2.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/__init__.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/dataloader.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/downloader.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/export.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/get_config.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/loss_functions.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/models.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/train_function.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/transforms.py
  misc/pytorch_toolkit/mammogram_screening/mammogram_screening/train_utils/val_function.py
  misc/pytorch_toolkit/mammogram_screening/media/mil_pipeline.png
  misc/pytorch_toolkit/mammogram_screening/media/mil_stage1_arch.png
  misc/pytorch_toolkit/mammogram_screening/media/mil_stage2_arch.png
  misc/pytorch_toolkit/mammogram_screening/requirements.txt
  misc/pytorch_toolkit/mammogram_screening/setup.py
  misc/pytorch_toolkit/mammogram_screening/tests/test_1_export.py
  misc/pytorch_toolkit/mammogram_screening/tests/test_2_train.py
  misc/pytorch_toolkit/mammogram_screening/tests/test_3_inference.py
Labels: dependencies, model, misc

#1147 [CLASSIFICATION] Invert classification saliency map
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#1153 [MPA] Modify template path of API test in CI
  external/model-preparation-algorithm/tests/test_ote_api.py
Labels: tasks

#1157 Enable NNCF for MPA C-IL model templates
  external/deep-object-reid/constraints.txt
  external/deep-object-reid/tests/ote_cli/test_classification.py
  external/deep-object-reid/tests/test_ote_api.py
  external/deep-object-reid/torchreid_tasks/utils.py
  external/mmdetection/configs/custom-object-detection/gen3_resnet50_VFNet/template_depricated.yaml
  external/mmdetection/detection_tasks/apis/detection/nncf_task.py
  external/mmdetection/tests/test_ote_api.py
  external/mmsegmentation/tests/ote_cli/test_segmentation.py
  external/mmsegmentation/tests/test_ote_api.py
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/classification/__init__.py
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/__init__.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/__init__.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
  external/model-preparation-algorithm/tests/ote_cli/test_det_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_seg_cls_il.py
  ote_sdk/ote_sdk/entities/model_template.py
Labels: SDK, tasks

#1152 [Anomaly Task] Move to learning parameters
  external/anomaly/configs/anomaly_classification/padim/configuration.yaml
  external/anomaly/configs/anomaly_classification/stfpm/configuration.yaml
  external/anomaly/configs/anomaly_classification/stfpm/hpo_config.yaml
  external/anomaly/configs/anomaly_classification/stfpm/template.yaml
  external/anomaly/configs/anomaly_detection/padim/configuration.yaml
  external/anomaly/configs/anomaly_detection/stfpm/configuration.yaml
  external/anomaly/configs/anomaly_detection/stfpm/hpo_config.yaml
  external/anomaly/configs/anomaly_detection/stfpm/template.yaml
  external/anomaly/configs/anomaly_segmentation/padim/configuration.yaml
  external/anomaly/configs/anomaly_segmentation/stfpm/configuration.yaml
  external/anomaly/configs/anomaly_segmentation/stfpm/hpo_config.yaml
  external/anomaly/configs/anomaly_segmentation/stfpm/template.yaml
  external/anomaly/constraints.txt
  external/anomaly/ote_anomalib/configs/anomalib_config.py
  external/anomaly/ote_anomalib/configs/base/configuration.py
  external/anomaly/ote_anomalib/configs/stfpm/configuration.py
  external/anomaly/tests/test_ote_anomaly_classification_training.py
  external/anomaly/tests/test_ote_anomaly_segmentation_training.py
  external/anomaly/tests/test_ote_task.py
  ote_cli/ote_cli/utils/hpo.py
Labels: CLI, tasks

#1163 Change model stats and optimization hyper-params
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/resnet50_vfnet_cls_incr/template_experimental.yaml
Labels: tasks

#1165 Resnet50-MaskRCNN for instance-segmentation config change
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
Labels: tasks

#1162 [Detection] Fix OpenVINO backward incompatibility
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
Labels: tasks

#1155 [MPA Detection] enable saliency map detection
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
Labels: tasks

#1171 [mmseg] Remove OCR/Auxiliary heads
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/model.py
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18/model.py
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-s-mod2/model.py
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-x-mod3/model.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/config_utils.py
Labels: tasks

#1173 [PreCommit Fix] MPA precommit fail issue fix
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
  external/model-preparation-algorithm/tests/expected_metrics/metrics_test_ote_training.yml
  external/model-preparation-algorithm/tests/test_ote_api.py
  external/model-preparation-algorithm/tests/test_ote_training.py
Labels: tasks

#1174 [OTE] Comment out time.sleep(2) in EpochRunnerWithCancel
  external/mmdetection/detection_tasks/extension/utils/runner.py
  external/mmsegmentation/segmentation_tasks/extension/utils/runner.py
  external/model-preparation-algorithm/mpa_tasks/utils/runner.py
Labels: tasks

#1168 [HPO] Update configurations for MPA
  external/deep-object-reid/torchreid_tasks/utils.py
  external/mmdetection/detection_tasks/apis/detection/ote_utils.py
  external/mmdetection/detection_tasks/extension/utils/runner.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/ote_utils.py
  external/mmsegmentation/segmentation_tasks/extension/utils/runner.py
  external/model-preparation-algorithm/configs/classification/configuration.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_075_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_small_cls_incr/template_experiment.yaml
  external/model-preparation-algorithm/configs/detection/configuration.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/hpo_config.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/hpo_config.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/configuration.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/hpo_config.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/hpo_config.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
  external/model-preparation-algorithm/mpa_tasks/utils/__init__.py
  external/model-preparation-algorithm/mpa_tasks/utils/runner.py
  ote_cli/ote_cli/utils/hpo.py
Labels: CLI, tasks

#1176 [CVS-88098] Resolve Backend default value issue
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: tasks

#1178 Resolve model_id mismatch issue
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
Labels: tasks

#1177 [Deployment] Improve post-process speed by prefiltering score
  external/mmdetection/detection_tasks/apis/detection/model_wrappers/openvino_models.py
Labels: tasks

#1179 CVS-88175 Resolve issue when warmup_iters=0
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/detection/task.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
Labels: tasks

#1182 [CVS-88321] Classification training fails in detection -> classification projects
  external/model-preparation-algorithm/mpa_tasks/utils/data_utils.py
Labels: tasks

#1183 Alleviate error scope when aux model pretrained dict not provided
  external/deep-object-reid/torchreid_tasks/nncf_task.py
Labels: tasks

#1184 fix bug about override_configs in MPA task
  external/model-preparation-algorithm/mpa_tasks/apis/task.py
Labels: tasks
