Repository open-edge-platform/training_extensions, pull requests merged in 2022-02, with the labels that each got.

#881 [OTE_CLI] added support of deployment to OTE CLI
  external/anomaly/anomaly_classification/openvino.py
  ote_cli/ote_cli/tools/demo.py
  ote_cli/ote_cli/tools/deploy.py
  ote_cli/ote_cli/tools/eval.py
  ote_cli/ote_cli/tools/export.py
  ote_cli/ote_cli/utils/io.py
  tests/ote_cli/common.py
  tests/ote_cli/test_ote_cli_tools_anomaly_classification.py
  tests/ote_cli/test_ote_cli_tools_classification.py
  tests/ote_cli/test_ote_cli_tools_detection.py
  tests/ote_cli/test_ote_cli_tools_segmentation.py
Labels: CLI

#885 [OTE CI] Add e2e decorators to OTE CLI tests
  ote_sdk/ote_sdk/test_suite/e2e_test_system.py
  ote_sdk/ote_sdk/tests/conftest.py
  tests/ote_cli/conftest.py
  tests/ote_cli/pytest.ini
  tests/ote_cli/test_docs.py
  tests/ote_cli/test_ote_cli_tools_anomaly_classification.py
  tests/ote_cli/test_ote_cli_tools_classification.py
  tests/ote_cli/test_ote_cli_tools_detection.py
  tests/ote_cli/test_ote_cli_tools_segmentation.py
  tests/ote_cli/test_template_files.py
Labels: SDK, CLI

#888 [OTE_SDK] CVS-77228 Remove label exclusivity
  ote_cli/ote_cli/utils/io.py
  ote_sdk/ote_sdk/entities/label_schema.py
  ote_sdk/ote_sdk/serialization/label_mapper.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
  ote_sdk/ote_sdk/tests/serialization/test_label_mapper.py
  ote_sdk/ote_sdk/tests/test_helpers.py
Labels: SDK

#887 [OTE SDK] Add auto hpo configuration flags to configurable parameters
  ote_sdk/ote_sdk/configuration/elements/metadata_keys.py
  ote_sdk/ote_sdk/configuration/elements/parameter_group.py
  ote_sdk/ote_sdk/configuration/elements/primitive_parameters.py
  ote_sdk/ote_sdk/configuration/enums/__init__.py
  ote_sdk/ote_sdk/configuration/enums/auto_hpo_state.py
  ote_sdk/ote_sdk/configuration/helper/convert.py
  ote_sdk/ote_sdk/configuration/helper/create.py
  ote_sdk/ote_sdk/configuration/helper/utils.py
  ote_sdk/ote_sdk/tests/configuration/dummy_config.py
  ote_sdk/ote_sdk/tests/configuration/dummy_config.yaml
  ote_sdk/ote_sdk/tests/configuration/elements/test_primitive_parameters.py
  ote_sdk/ote_sdk/tests/configuration/test_configurable_parameters.py
  ote_sdk/ote_sdk/tests/configuration/test_configuration_helper.py
Labels: SDK

#899 [MISC] Remove image classification
  README.md
  misc/pytorch_toolkit/text_recognition/requirements.txt
  models/image_classification/.gitignore
  models/image_classification/README.md
  models/image_classification/constraints.txt
  models/image_classification/init_venv.sh
  models/image_classification/model_templates/custom-classification/README.md
  models/image_classification/model_templates/custom-classification/efficientnet_b0/main_model.yaml
  models/image_classification/model_templates/custom-classification/efficientnet_b0/modules.yaml
  models/image_classification/model_templates/custom-classification/efficientnet_b0/template.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_075/aux_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_075/main_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_075/modules.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_075/template.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_1/aux_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_1/compression_config.json
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_1/main_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_1/modules.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_large_1/template.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_small/aux_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_small/compression_config.json
  models/image_classification/model_templates/custom-classification/mobilenet_v3_small/main_model.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_small/modules.yaml
  models/image_classification/model_templates/custom-classification/mobilenet_v3_small/template.yaml
  models/image_classification/model_templates/requirements.txt
  models/image_classification/requirements.txt
  models/image_classification/tests/common/image_classification_test_case.py
  models/image_classification/tests/expected_outputs/imagenet-classification/efficientnet-b0.json
  models/image_classification/tests/expected_outputs/imagenet-classification/mobilenet-v3-large-075.json
  models/image_classification/tests/expected_outputs/imagenet-classification/mobilenet-v3-large-1.json
  models/image_classification/tests/expected_outputs/imagenet-classification/mobilenet-v3-small.json
  models/image_classification/tests/export_tests_custom_classification.py
  models/image_classification/tests/nncf_tests_custom_classification.py
  models/image_classification/tests/train_tests_custom_classification.py
  tests/accuracy_validation/ote_accuracy_validation.json
  tests/run_model_templates_tests.py
Labels: dependencies, model, tests, misc

#819 [MISC] Fix the default dir path for external
  ote/ote/__init__.py
Labels: misc

#928 Update README.md
  ote_cli/README.md
Labels: CLI

#931 add is_anomalous flag to OTE label
  ote_sdk/ote_sdk/entities/label.py
Labels: SDK

#920 Remove timeit decorator
  ote_sdk/ote_sdk/utils/segmentation_utils.py
Labels: SDK

#935 relaxed tests
  tests/ote_cli/common.py
  tests/ote_cli/test_ote_cli_tools_anomaly_classification.py
  tests/ote_cli/test_ote_cli_tools_classification.py
  tests/ote_cli/test_ote_cli_tools_detection.py
  tests/ote_cli/test_ote_cli_tools_instance_segmentation.py
  tests/ote_cli/test_ote_cli_tools_rotated_detection.py
  tests/ote_cli/test_ote_cli_tools_segmentation.py
Labels: tests

#919 [HPO] enable HPO with segmentation
  ote_cli/ote_cli/utils/hpo.py
  tests/ote_cli/test_ote_cli_tools_segmentation.py
Labels: CLI, tests

#925 [OTE_SDK] CVS-78747 rename .id to .id_
  ote_sdk/ote_sdk/entities/annotation.py
  ote_sdk/ote_sdk/entities/datasets.py
  ote_sdk/ote_sdk/entities/label.py
  ote_sdk/ote_sdk/entities/label_schema.py
  ote_sdk/ote_sdk/entities/model.py
  ote_sdk/ote_sdk/entities/resultset.py
  ote_sdk/ote_sdk/entities/scored_label.py
  ote_sdk/ote_sdk/serialization/label_mapper.py
  ote_sdk/ote_sdk/tests/entities/test_annotation.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
  ote_sdk/ote_sdk/tests/entities/test_datasets.py
  ote_sdk/ote_sdk/tests/entities/test_label.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
  ote_sdk/ote_sdk/tests/entities/test_model.py
  ote_sdk/ote_sdk/tests/entities/test_resultset.py
  ote_sdk/ote_sdk/tests/serialization/test_id_mapper.py
  ote_sdk/ote_sdk/tests/serialization/test_label_mapper.py
  ote_sdk/ote_sdk/tests/test_helpers.py
Labels: SDK

#947 update attrs requirements version
  ote_sdk/requirements.txt
Labels: dependencies, SDK

#950 [Anomaly Segmentation] Reduce requests version
  external/anomaly/anomaly_classification/configs/padim/configuration.py
  external/anomaly/anomaly_classification/configs/stfpm/configuration.py
  external/anomaly/anomaly_classification/exportable_code/__init__.py
  external/anomaly/anomaly_segmentation/configs/configuration.py
  external/anomaly/anomaly_segmentation/configs/padim/configuration.py
  external/anomaly/anomaly_segmentation/configs/padim/template.yaml
  external/anomaly/anomaly_segmentation/configs/stfpm/configuration.py
  external/anomaly/anomaly_segmentation/configs/stfpm/template.yaml
  external/anomaly/anomaly_segmentation/exportable_code/__init__.py
  external/anomaly/constraints.txt
  external/anomaly/ote_anomalib/__init__.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/callbacks/progress.py
  external/anomaly/ote_anomalib/configs/configuration.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/exportable_code/__init__.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_classification.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_segmentation.py
  external/anomaly/ote_anomalib/openvino.py
  external/anomaly/ote_anomalib/task.py
  external/anomaly/tests/test_configurable_parameters.py
  external/anomaly/tests/test_ote_task.py
  ote_cli/ote_cli/datasets/anomaly/dataset.py
  ote_cli/ote_cli/utils/io.py
Labels: CLI, tasks

#929 [OTE_SDK] Add label resolver to label schema
  ote_sdk/ote_sdk/entities/label_schema.py
  ote_sdk/ote_sdk/tests/entities/test_label_schema.py
Labels: SDK

#943 [Anomaly] Use Dict instead of DictConfig in openvino task
  external/anomaly/anomaly_classification/openvino.py
Labels: tasks
