Repository open-edge-platform/training_extensions, pull requests merged in 2022-06, with the labels that each got.

#1099 [HPO] Enabling ote_anomalib report score for hpopt
  external/anomaly/ote_anomalib/callbacks/__init__.py
  external/anomaly/ote_anomalib/callbacks/score_report.py
  external/anomaly/ote_anomalib/train_task.py
Labels: tasks

#1123 add protobuf constraint
  external/anomaly/constraints.txt
  external/mmsegmentation/constraints.txt
Labels: tasks

#1111 Sstrehlk/anomaly segmentation train
  external/anomaly/constraints.txt
  external/anomaly/ote_anomalib/data/mvtec.py
  external/anomaly/ote_anomalib/inference_task.py
  external/anomaly/ote_tests_pytest.ini
  external/anomaly/tests/anomaly_common.py
  external/anomaly/tests/conftest.py
  external/anomaly/tests/expected_metrics/metrics_test_ote_training.yml
  external/anomaly/tests/test_ote_anomaly_classification_training.py
  external/anomaly/tests/test_ote_anomaly_segmentation_training.py
  external/anomaly/tests/test_ote_task.py
  external/mmsegmentation/constraints.txt
Labels: tasks

#1124 [Anomaly Task] Set nncf version
  external/anomaly/constraints.txt
  external/anomaly/init_venv.sh
  external/anomaly/requirements.txt
  external/anomaly/tests/conftest.py
Labels: dependencies, tasks

#1125 make protobuf constraint less strict
  external/mmsegmentation/constraints.txt
Labels: tasks

#1119 Fix hierarchical exportable code
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#1126 nncf version upgrade
  external/deep-object-reid/requirements.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
  ote_sdk/requirements.txt
Labels: dependencies, SDK, tasks

#1131 Fliter NaN score prediction in inference
  external/deep-object-reid/torchreid_tasks/inference_task.py
  external/deep-object-reid/torchreid_tasks/utils.py
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
  ote_sdk/ote_sdk/entities/scored_label.py
Labels: SDK, tasks

#1134 [OTE][MPA] Apply ignored_labels to C-IL for semantic segmentation
  external/mmsegmentation/segmentation_tasks/extension/datasets/mmdataset.py
  external/model-preparation-algorithm/mpa_tasks/apis/segmentation/task.py
  external/model-preparation-algorithm/mpa_tasks/samples/seg_cls_il_sample.py
Labels: tasks

#1141 CVS-86379 Fix NaN inference output from classification task
  external/deep-object-reid/torchreid_tasks/inference_task.py
  external/deep-object-reid/torchreid_tasks/utils.py
  external/mmdetection/detection_tasks/apis/detection/inference_task.py
  ote_sdk/ote_sdk/entities/scored_label.py
Labels: SDK, tasks

#1136 Assign best score in segmentation train task
  external/mmsegmentation/segmentation_tasks/apis/segmentation/train_task.py
Labels: tasks

#1140 CVS-86379 Enhance numerical stability for numpy_softmax() in classification task
  external/deep-object-reid/torchreid_tasks/utils.py
Labels: tasks

#1138 Add label source to scored label
  ote_sdk/ote_sdk/entities/scored_label.py
  ote_sdk/ote_sdk/tests/entities/test_annotation.py
  ote_sdk/ote_sdk/tests/entities/test_scored_label.py
Labels: SDK
