Repository open-edge-platform/training_extensions, pull requests merged in 2022-03, with the labels that each got.

#953 minor
  external/anomaly/tests/test_configurable_parameters.py
  external/anomaly/tests/test_ote_task.py
Labels: tasks

#944 [OTE_SDK] Excludes invalid Shapely versions
  ote_sdk/requirements.txt
Labels: dependencies, SDK

#955 [OTE SDK] CVS-78677 Replace ModelConfiguration.label_schema with get method
  ote_sdk/ote_sdk/entities/model.py
  ote_sdk/ote_sdk/tests/entities/test_model.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_f_measure.py
  ote_sdk/ote_sdk/usecases/evaluation/accuracy.py
  ote_sdk/ote_sdk/usecases/evaluation/dice.py
  ote_sdk/ote_sdk/usecases/evaluation/f_measure.py
Labels: SDK

#957 [OTE_SDK] Add attribute ignored_labels to DatasetItemEntity
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
Labels: SDK

#960 Add test suite architecture description
  ote_sdk/ote_sdk/test_suite/ARCHITECTURE.md
Labels: SDK

#961 OTE landing page
  OTE_landing_page.md
  training_extensions_framework.png
Labels: Do not Merge!

#967 [ANOMALY TASKS] Fix IndexError in adaptive threshold computation
  external/anomaly/requirements.txt
Labels: dependencies, tasks

#968 Da/anomaly segmentation dashboard metrics (minor)
  external/anomaly/ote_anomalib/task.py
Labels: tasks

#966 [ANOMALY SEGMENTATION] Remove dashboard metrics for anomaly segmentation
  external/anomaly/ote_anomalib/task.py
Labels: tasks

#976 Ik/selective testing
  .pre-commit-config.yaml
  tests/ote_cli/common.py
  tests/ote_cli/external/anomaly/test_ote_cli_tools_anomaly_classification.py
  tests/ote_cli/external/anomaly/test_ote_cli_tools_anomaly_segmentation.py
  tests/ote_cli/external/deep-object-reid/test_ote_cli_tools_classification.py
  tests/ote_cli/external/mmdetection/test_ote_cli_tools_detection.py
  tests/ote_cli/external/mmdetection/test_ote_cli_tools_instance_segmentation.py
  tests/ote_cli/external/mmdetection/test_ote_cli_tools_rotated_detection.py
  tests/ote_cli/external/mmsegmentation/test_ote_cli_tools_segmentation.py
  tests/ote_cli/misc/test_docs.py
  tests/ote_cli/misc/test_template_files.py
  tests/run_model_templates_tests.py
  tests/run_model_templates_tests.sh
Labels: tests

#974 [OTE SDK] Added supports_auto_hpo flag to ModelTemplate
  ote_sdk/ote_sdk/entities/model_template.py
Labels: SDK

#978 use shared venv
  ote_cli/notebooks/train.ipynb
  tests/ote_cli/common.py
  tests/ote_cli/external/mmdetection/test_ote_cli_tools_detection.py
Labels: tests

#975 [ANOMALY SEGMENTATION] Use only polygon annotations for evaluation
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/data/utils.py
  external/anomaly/ote_anomalib/openvino.py
  external/anomaly/ote_anomalib/task.py
  ote_cli/ote_cli/tools/utils/demo/visualization.py
Labels: CLI, tasks

#980 [OTE_SDK] expand ModelTemplate.is_global
  ote_sdk/ote_sdk/entities/model_template.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
Labels: SDK

#984 Added Rotated detection
  ote_sdk/ote_sdk/entities/model_template.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
Labels: SDK

#979 [ANOMALY DETECTION] - Add Anomaly Detection Task.
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/exportable_code/__init__.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_detection.py
  external/anomaly/ote_anomalib/openvino.py
  external/anomaly/ote_anomalib/task.py
  ote_cli/ote_cli/datasets/__init__.py
  ote_cli/ote_cli/tools/utils/demo/visualization.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/utils/anomaly_utils.py
  tests/ote_cli/common.py
  tests/ote_cli/external/anomaly/test_ote_cli_tools_anomaly_detection.py
Labels: SDK, CLI, tasks, tests

#977 update_openvino
  external/anomaly/constraints.txt
  external/anomaly/requirements.txt
  external/deep-object-reid/requirements.txt
  external/mmdetection/constraints.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
  ote_sdk/ote_sdk/tests/requirements.txt
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
Labels: dependencies, SDK, tasks

#994 [mmseg] update reference nncf graph
  external/mmsegmentation/tests/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/nncf/nncf_quantization.dot
Labels: tasks

#964 [NNCF] Remove ability to enable model pruning in UI
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_b0/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_large_075/template_experimental.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_large_1/template.yaml
  external/deep-object-reid/configs/ote_custom_classification/mobilenet_v3_small/template_experimental.yaml
  external/deep-object-reid/torchreid_tasks/configuration.yaml
  external/deep-object-reid/torchreid_tasks/parameters.py
  external/mmdetection/configs/custom-counting-instance-seg/efficientnetb2b_maskrcnn/template.yaml
  external/mmdetection/configs/custom-counting-instance-seg/resnet50_maskrcnn/template.yaml
  external/mmdetection/configs/custom-object-detection/cspdarknet_YOLOX/template.yaml
  external/mmdetection/configs/custom-object-detection/gen3_mobilenetV2_ATSS/template.yaml
  external/mmdetection/configs/custom-object-detection/gen3_mobilenetV2_SSD/template.yaml
  external/mmdetection/configs/custom-object-detection/gen3_resnet50_VFNet/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0200/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0202/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0204/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0205/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0206/template_experimental.yaml
  external/mmdetection/configs/face-detection/face-detection-0207/template_experimental.yaml
  external/mmdetection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  external/mmdetection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18/template.yaml
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.yaml
Labels: tasks

#959 [NNCF/POT] POT and NNCF parameter group UI hiding
  external/anomaly/anomaly_classification/configs/padim/configuration.yaml
  external/anomaly/anomaly_classification/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_segmentation/configs/configuration.py
  external/anomaly/anomaly_segmentation/configs/padim/configuration.yaml
  external/anomaly/anomaly_segmentation/configs/stfpm/configuration.yaml
  external/anomaly/ote_anomalib/configs/configuration.py
  external/deep-object-reid/torchreid_tasks/configuration.yaml
  external/deep-object-reid/torchreid_tasks/parameters.py
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.yaml
Labels: tasks

#983 [OTE_SDK] updated TaskType enum
  ote_sdk/ote_sdk/entities/label.py
  ote_sdk/ote_sdk/entities/model_template.py
  ote_sdk/ote_sdk/tests/entities/test_label.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
Labels: SDK

#990 [SEGMENTATION] Fix OTESeg tests
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.yaml
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration_enums.py
  external/mmsegmentation/segmentation_tasks/sample/sample.py
  external/mmsegmentation/segmentation_tasks/sample/sample_nncf.py
  external/mmsegmentation/tests/expected_metrics/metrics_test_ote_training.yml
  external/mmsegmentation/tests/test_ote_api.py
  external/mmsegmentation/tests/test_ote_training.py
  tests/ote_cli/external/mmsegmentation/test_ote_cli_tools_segmentation.py
Labels: tasks, tests

#1000 [OTE_SDK] Improve configurable parameter on-setattr validation
  ote_sdk/ote_sdk/configuration/elements/primitive_parameters.py
  ote_sdk/ote_sdk/tests/configuration/elements/test_primitive_parameters.py
  ote_sdk/ote_sdk/tests/configuration/test_configurable_parameters.py
  ote_sdk/ote_sdk/tests/configuration/test_configuration_helper.py
Labels: SDK

#991 [ANOMALY DETECTION] Add Anomaly Detection task
  data/anomaly/detection/test.json
  data/anomaly/detection/train.json
  data/anomaly/detection/val.json
  external/README.md
  external/anomaly/anomaly_detection/__init__.py
  external/anomaly/anomaly_detection/configs/__init__.py
  external/anomaly/anomaly_detection/configs/padim/__init__.py
  external/anomaly/anomaly_detection/configs/padim/configuration.py
  external/anomaly/anomaly_detection/configs/padim/configuration.yaml
  external/anomaly/anomaly_detection/configs/padim/pot_optimization_config.json
  external/anomaly/anomaly_detection/configs/padim/template.yaml
  external/anomaly/anomaly_detection/configs/stfpm/__init__.py
  external/anomaly/anomaly_detection/configs/stfpm/configuration.py
  external/anomaly/anomaly_detection/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_detection/configs/stfpm/template.yaml
  external/anomaly/anomaly_segmentation/configs/configuration.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/exportable_code/__init__.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_detection.py
  external/anomaly/ote_anomalib/openvino.py
  external/anomaly/ote_anomalib/task.py
  ote_cli/ote_cli/datasets/__init__.py
  ote_cli/ote_cli/datasets/anomaly/dataset.py
  ote_cli/ote_cli/tools/utils/demo/visualization.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/utils/anomaly_utils.py
  tests/ote_cli/common.py
  tests/ote_cli/external/anomaly/test_ote_cli_tools_anomaly_detection.py
Labels: SDK, CLI, tasks, tests

#1010 Replace yaml.full_load with yaml.safe_load
  external/mmdetection/detection_tasks/apis/detection/ote_utils.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/ote_utils.py
  ote_sdk/ote_sdk/tests/entities/test_model_template.py
Labels: SDK, tasks

#1006 Ik/move cli tests
  QUICK_START_GUIDE.md
  external/anomaly/init_venv.sh
  external/anomaly/tests/ote_cli/test_anomaly_classification.py
  external/anomaly/tests/ote_cli/test_anomaly_detection.py
  external/anomaly/tests/ote_cli/test_anomaly_segmentation.py
  external/deep-object-reid/tests/conftest.py
  external/deep-object-reid/tests/ote_cli/test_classification.py
  external/mmdetection/tests/ote_cli/test_detection.py
  external/mmdetection/tests/ote_cli/test_instance_segmentation.py
  external/mmdetection/tests/ote_cli/test_rotated_detection.py
  external/mmsegmentation/tests/ote_cli/test_segmentation.py
  ote_cli/ote_cli/utils/tests.py
  tests/ote_cli/common.py
  tests/ote_cli/external/anomaly/ote_cli
  tests/ote_cli/external/deep-object-reid/ote_cli
  tests/ote_cli/external/mmdetection/ote_cli
  tests/ote_cli/external/mmsegmentation/ote_cli
  tests/ote_cli/misc/test_code_checks.py
  tests/run_model_templates_tests.py
  tests/run_model_templates_tests.sh
Labels: CLI, tasks, tests

#1002 updating default task configurations
  external/deep-object-reid/torchreid_tasks/configuration.yaml
  external/deep-object-reid/torchreid_tasks/parameters.py
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/configuration.yaml
Labels: tasks

#1007 Speed up yolox training on small datasets
  external/mmdetection/configs/custom-object-detection/cspdarknet_YOLOX/coco_data_pipeline.py
  external/mmdetection/detection_tasks/apis/detection/config_utils.py
Labels: tasks

#1013 [SEGMENTATION] Enabled the small template
  external/README.md
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-s-mod2/template.yaml
Labels: tasks

#963 [ANOMALY] Add nncf_task
  .pylintrc
  external/anomaly/anomaly_classification/configs/padim/compression_config.json
  external/anomaly/anomaly_classification/configs/padim/configuration.yaml
  external/anomaly/anomaly_classification/configs/padim/template.yaml
  external/anomaly/anomaly_classification/configs/stfpm/compression_config.json
  external/anomaly/anomaly_classification/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_classification/configs/stfpm/template.yaml
  external/anomaly/anomaly_detection/configs/padim/compression_config.json
  external/anomaly/anomaly_detection/configs/padim/configuration.yaml
  external/anomaly/anomaly_detection/configs/padim/template.yaml
  external/anomaly/anomaly_detection/configs/stfpm/compression_config.json
  external/anomaly/anomaly_detection/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_detection/configs/stfpm/template.yaml
  external/anomaly/anomaly_segmentation/configs/padim/compression_config.json
  external/anomaly/anomaly_segmentation/configs/padim/configuration.yaml
  external/anomaly/anomaly_segmentation/configs/padim/template.yaml
  external/anomaly/anomaly_segmentation/configs/stfpm/compression_config.json
  external/anomaly/anomaly_segmentation/configs/stfpm/configuration.yaml
  external/anomaly/anomaly_segmentation/configs/stfpm/template.yaml
  external/anomaly/constraints.txt
  external/anomaly/init_venv.sh
  external/anomaly/ote_anomalib/__init__.py
  external/anomaly/ote_anomalib/configs/anomalib_config.py
  external/anomaly/ote_anomalib/configs/configuration.py
  external/anomaly/ote_anomalib/inference_task.py
  external/anomaly/ote_anomalib/nncf_task.py
  external/anomaly/ote_anomalib/tools/sample.py
  external/anomaly/ote_anomalib/train_task.py
  external/anomaly/requirements.txt
  external/anomaly/tests/ote_cli/test_anomaly_classification.py
  external/anomaly/tests/ote_cli/test_anomaly_detection.py
  external/anomaly/tests/ote_cli/test_anomaly_segmentation.py
  external/anomaly/tests/test_ote_task.py
  ote_sdk/ote_sdk/configuration/elements/parameter_group.py
  ote_sdk/ote_sdk/configuration/elements/primitive_parameters.py
  ote_sdk/ote_sdk/entities/metrics.py
  ote_sdk/ote_sdk/utils/shape_drawer.py
Labels: dependencies, SDK, tasks

#1018 xfail test_nncf_eval Custom_Image_Classification_EfficientNet-V2-S
  external/deep-object-reid/tests/ote_cli/test_classification.py
Labels: tasks

#1015 Ik/update openvino
  external/anomaly/constraints.txt
  external/anomaly/requirements.txt
  external/deep-object-reid/requirements.txt
  external/mmdetection/constraints.txt
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
  ote_sdk/ote_sdk/tests/requirements.txt
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
Labels: dependencies, SDK, tasks

#1021 fix
  .pre-commit-config.yaml
  ote_sdk/ote_sdk/entities/shapes/ellipse.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_accuracy.py
Labels: SDK

#1020 xfail yolox
  external/mmdetection/tests/ote_cli/test_detection.py
Labels: tasks

#1016 remove FP16 config on CPU mode
  external/mmdetection/detection_tasks/apis/detection/config_utils.py
Labels: tasks

#997 [POT] Progress bar support
  external/anomaly/ote_anomalib/openvino.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  ote_cli/ote_cli/tools/optimize.py
Labels: CLI, tasks

#1025 xfail anomaly
  external/anomaly/tests/ote_cli/test_anomaly_classification.py
  external/anomaly/tests/ote_cli/test_anomaly_detection.py
  external/anomaly/tests/ote_cli/test_anomaly_segmentation.py
Labels: tasks

#1024 XFail ote_api tests for instance segmentation
  external/mmdetection/tests/test_ote_api.py
Labels: tasks

#1026 Disable POT tests for segmentation in CLI
  external/mmsegmentation/tests/ote_cli/test_segmentation.py
Labels: tasks

#1023 [OTE_SDK] Fix calculation of auto hpo support in ModelTemplate
  ote_sdk/ote_sdk/entities/model_template.py
Labels: SDK

#1008 [OTE_SDK] CVS-82641 Update datasetitem to take ignored_labels into account
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/model_template.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
Labels: SDK

#844 [EXPORTABLE_CODE] Update structure of package
  external/anomaly/ote_anomalib/openvino.py
  external/anomaly/requirements.txt
  external/deep-object-reid/requirements.txt
  external/deep-object-reid/tests/ote_cli/test_classification.py
  external/deep-object-reid/torchreid_tasks/model_wrappers/classification.py
  external/deep-object-reid/torchreid_tasks/openvino_task.py
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmdetection/requirements.txt
  external/mmsegmentation/requirements.txt
  external/mmsegmentation/segmentation_tasks/apis/segmentation/openvino_task.py
  ote_cli/ote_cli/utils/io.py
  ote_cli/ote_cli/utils/tests.py
  ote_sdk/ote_sdk/tests/requirements.txt
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_streamer.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_visualization.py
  ote_sdk/ote_sdk/tests/utils/test_shape_drawer.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/README.md
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/__init__.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/__init__.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/sync_pipeline.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/executors/synchronous.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/model_container.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/sync.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/demo_package/utils.py
  ote_sdk/ote_sdk/usecases/exportable_code/demo/requirements.txt
  ote_sdk/ote_sdk/usecases/exportable_code/streamer/__init__.py
  ote_sdk/ote_sdk/usecases/exportable_code/streamer/streamer.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/__init__.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/anomaly_visualizer.py
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/visualizer.py
  ote_sdk/ote_sdk/utils/shape_drawer.py
Labels: dependencies, SDK, CLI, tasks

#1030 fixed pytest version
  external/mmsegmentation/tests/ote_cli/test_segmentation.py
  ote_sdk/ote_sdk/tests/requirements.txt
  tests/run_code_checks.sh
Labels: dependencies, SDK, tasks, tests

#993 [ANOMALY SEGMENTATION] Add multi-metric support to OTE SDK for anomaly tasks
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/data.py
  external/anomaly/ote_anomalib/data/utils.py
  external/anomaly/ote_anomalib/inference_task.py
  external/anomaly/ote_anomalib/openvino.py
  ote_cli/ote_cli/datasets/anomaly/dataset.py
  ote_sdk/ote_sdk/entities/metrics.py
  ote_sdk/ote_sdk/tests/entities/test_metrics.py
  ote_sdk/ote_sdk/usecases/evaluation/anomaly_metrics.py
  ote_sdk/ote_sdk/usecases/evaluation/metrics_helper.py
  ote_sdk/ote_sdk/utils/dataset_utils.py
Labels: SDK, CLI, tasks
