Repository open-edge-platform/training_extensions, pull requests merged in 2022-01, with the labels that each got.

#827 [OTE_SDK_TESTS] Increase code coverage accuracy.py
  ote_sdk/ote_sdk/tests/configuration/helper/test_config_element_mapping.py
  ote_sdk/ote_sdk/tests/configuration/test_configurable_parameters.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_accuracy.py
  ote_sdk/ote_sdk/tests/usecases/reporting/test_callback.py
  ote_sdk/ote_sdk/tests/usecases/reporting/test_time_monitor_callback.py
Labels: SDK, tests

#834 [OTE_SDK_TESTS] Increase code coverage segmentation_utils.py, basic_operations.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_ellipse.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_basic_operations.py
  ote_sdk/ote_sdk/tests/utils/test_segmentation_utils.py
Labels: SDK, tests

#836 [OTE_SDK] Axis labels for F-measure charts
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_f_measure.py
  ote_sdk/ote_sdk/usecases/evaluation/f_measure.py
Labels: SDK

#842 [OTE_SDK_TESTS] Increase stability test_ellipse.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_ellipse.py
Labels: SDK, tests

#837 [OTE_SDK] Default hotkey for empty label
  ote_sdk/ote_sdk/entities/label.py
  ote_sdk/ote_sdk/tests/entities/test_annotation.py
  ote_sdk/ote_sdk/tests/entities/test_label.py
  ote_sdk/ote_sdk/tests/entities/test_scored_label.py
  ote_sdk/ote_sdk/tests/entities/test_task_environment.py
Labels: SDK

#830 [ANOMALY_CLASSIFICATION] Min-max normalization
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/anomaly_classification/task.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_classification.py
  external/anomaly/requirements.txt
  external/anomaly/tests/test_ote_anomaly_classification.py
  ote_cli/ote_cli/utils/io.py
  ote_sdk/ote_sdk/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: enhancement, CLI, tasks

#779 [MISC] Add Handwritten English Text Recognition Model
  data/handwritten_text_recognition/1.jpg
  data/handwritten_text_recognition/10.jpg
  data/handwritten_text_recognition/2.jpg
  data/handwritten_text_recognition/3.jpg
  data/handwritten_text_recognition/4.jpg
  data/handwritten_text_recognition/5.jpg
  data/handwritten_text_recognition/6.jpg
  data/handwritten_text_recognition/7.jpg
  data/handwritten_text_recognition/8.jpg
  data/handwritten_text_recognition/9.jpg
  data/handwritten_text_recognition/README.md
  data/handwritten_text_recognition/create_lmdb_dataset.py
  data/handwritten_text_recognition/gt.txt
  data/handwritten_text_recognition/handwritten_sample/data.mdb
  data/handwritten_text_recognition/handwritten_sample/lock.mdb
  data/handwritten_text_recognition/reshape.py
  misc/pytorch_toolkit/text_recognition/README.md
  misc/pytorch_toolkit/text_recognition/configs/handwritten-english-recognition-0001.yml
  misc/pytorch_toolkit/text_recognition/requirements.txt
  misc/pytorch_toolkit/text_recognition/tests/expected_outputs/handwritten_recognition/hetr.json
  misc/pytorch_toolkit/text_recognition/tests/test_eval.py
  misc/pytorch_toolkit/text_recognition/tests/test_export.py
  misc/pytorch_toolkit/text_recognition/tests/test_train.py
  misc/pytorch_toolkit/text_recognition/text_recognition/data/utils.py
  misc/pytorch_toolkit/text_recognition/text_recognition/data/vocab.py
  misc/pytorch_toolkit/text_recognition/text_recognition/datasets/dataset.py
  misc/pytorch_toolkit/text_recognition/text_recognition/models/backbones/hetr.py
  misc/pytorch_toolkit/text_recognition/text_recognition/models/model.py
  misc/pytorch_toolkit/text_recognition/text_recognition/models/text_recognition_heads/ctc_lstm_based.py
  misc/pytorch_toolkit/text_recognition/text_recognition/utils/evaluator.py
  misc/pytorch_toolkit/text_recognition/text_recognition/utils/exporter.py
  misc/pytorch_toolkit/text_recognition/text_recognition/utils/trainer.py
  misc/pytorch_toolkit/text_recognition/vocabs/vocab_gnhk.json
Labels: dependencies, model, misc

#849 [OTE CLI] Add `if __name__ == "__main__"` to `ote-cli` tools
  ote_cli/ote_cli/tools/demo.py
  ote_cli/ote_cli/tools/deploy.py
  ote_cli/ote_cli/tools/eval.py
  ote_cli/ote_cli/tools/export.py
  ote_cli/ote_cli/tools/ote.py
  ote_cli/ote_cli/tools/train.py
  ote_cli/ote_cli/utils/hpo.py
Labels: CLI

#845 [OTE_SDK_TESTS] Finalizing test_f_measure.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_f_measure.py
Labels: SDK, tests

#851 [ANOMALY CLASSIFICATION] - Fix logger in task and openvino
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/anomaly_classification/task.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  external/anomaly/ote_anomalib/data/data.py
Labels: tasks

#853 CVS-75678 Fix bug in shape intersection
  ote_sdk/ote_sdk/entities/dataset_item.py
  ote_sdk/ote_sdk/entities/shapes/shape.py
  ote_sdk/ote_sdk/tests/entities/shapes/test_shape.py
  ote_sdk/ote_sdk/tests/entities/test_dataset_item.py
Labels: SDK

#854 [EXPORTABLE CODE] Update README for demo package
  ote_sdk/ote_sdk/usecases/exportable_code/demo/README.md
Labels: SDK

#850 [Anomaly Classification] Refactor exportable code
  external/anomaly/anomaly_classification/openvino.py
  external/anomaly/ote_anomalib/exportable_code/anomaly_classification.py
Labels: tasks

#866 [ANOMALY CLASSIFICATION] Improve early stopping for STFPM
  external/anomaly/anomaly_classification/configs/configuration_enums.py
  external/anomaly/anomaly_classification/configs/padim/configuration.yaml
  external/anomaly/anomaly_classification/configs/stfpm/configuration.py
  external/anomaly/anomaly_classification/configs/stfpm/configuration.yaml
Labels: tasks

#869 hotfix
  ote_sdk/ote_sdk/usecases/exportable_code/utils.py
Labels: SDK

#872 [ANOMALY CLASSIFICATION] - Remove logging nvidia-smi after initializing the task. (release)
  external/anomaly/anomaly_classification/task.py
Labels: tasks

#877 [ANOMALY_CLASSIFICATION] Fix labels
  external/anomaly/anomaly_classification/task.py
  external/anomaly/ote_anomalib/callbacks/inference.py
  ote_cli/ote_cli/datasets/anomaly/dataset.py
  ote_cli/ote_cli/utils/io.py
Labels: CLI, tasks

#855 [OTE_SDK_TESTS] Increase code coverage dice.py, config_element_type.py, label_mapper.py, visualization.py, prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/tests/configuration/enums/test_config_element_type.py
  ote_sdk/ote_sdk/tests/requirements.txt
  ote_sdk/ote_sdk/tests/serialization/test_label_mapper.py
  ote_sdk/ote_sdk/tests/usecases/evaluation/test_dice.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_prediction_to_annotation_converter.py
  ote_sdk/ote_sdk/tests/usecases/exportable_code/test_visualization.py
Labels: SDK, tests

#788 [OTE_SDK_TESTS] Increase code coverage against entities classes part1
  ote_sdk/ote_sdk/tests/entities/test_coordinate.py
  ote_sdk/ote_sdk/tests/entities/test_image.py
  ote_sdk/ote_sdk/tests/entities/test_media.py
  ote_sdk/ote_sdk/tests/entities/test_metadata.py
Labels: SDK, tests

#789 [OTE_SDK_TESTS] Increase code coverage against entities classes part2
  ote_sdk/ote_sdk/tests/entities/test_inference_parameters.py
  ote_sdk/ote_sdk/tests/entities/test_optimization_parameters.py
  ote_sdk/ote_sdk/tests/entities/test_subset.py
Labels: SDK, tests

#867 [OTE_SDK_TESTS] Increase code coverage utils.py, url.py, etc
  ote_sdk/ote_sdk/tests/configuration/elements/test_elements_utils.py
  ote_sdk/ote_sdk/tests/configuration/elements/test_metadata_keys.py
  ote_sdk/ote_sdk/tests/configuration/elements/test_primitive_parameters.py
  ote_sdk/ote_sdk/tests/configuration/enums/test_enum_utils.py
  ote_sdk/ote_sdk/tests/configuration/helper/test_helper_utils.py
  ote_sdk/ote_sdk/tests/entities/test_url.py
  ote_sdk/ote_sdk/tests/serialization/test_datetime_mapper.py
  ote_sdk/ote_sdk/tests/usecases/adapters/test_model_adapter.py
Labels: SDK, tests

#870 [OTE_SDK_TESTS] Increase code coverage create.py
  ote_sdk/ote_sdk/tests/configuration/helper/test_create.py
Labels: SDK, tests
