Repository open-edge-platform/training_extensions, pull requests merged in 2022-09, with the labels that each got.

#1223 🐞 [Anomaly Task] Fix progress bar
  external/anomaly/adapters/anomalib/callbacks/__init__.py
  external/anomaly/adapters/anomalib/callbacks/progress.py
  external/anomaly/adapters/anomalib/callbacks/score_report.py
  external/anomaly/tasks/train.py
Labels: tasks

#1244 [CVS-90555] Fix NaN value in classification
  external/model-preparation-algorithm/mpa_tasks/extensions/datasets/mpa_cls_dataset.py
Labels: tasks

#1240 Align HPO search space to new default hyper parameter
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/hpo_config.yaml
Labels: tasks

#1247 [Feature/OTX] Code Quality Checks
  .github/workflows/pre_merge.yml
  ote_sdk/ote_sdk/usecases/exportable_code/visualizers/visualizer.py
  otx/algorithms/anomaly/adapters/anomalib/callbacks/progress.py
  otx/algorithms/anomaly/configs/draem/configuration.py
  otx/algorithms/anomaly/configs/padim/configuration.py
  otx/algorithms/anomaly/configs/stfpm/configuration.py
  otx/algorithms/anomaly/tasks/openvino.py
  otx/algorithms/anomaly/tools/sample.py
  otx/api/entities/optimization_parameters.py
  requirements/dev.txt
  tox.ini
Labels: SDK

#1248 [CVS-90400, CVS-91015] NNCF pruning supported tweaks
  external/anomaly/configs/draem/configuration.yaml
  external/anomaly/configs/padim/configuration.yaml
  external/anomaly/configs/stfpm/configuration.yaml
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/template_experimental.yaml
Labels: tasks

#1250 [Feature/OTX] 🔨 Fix openvino tests
  setup.py
Labels: dependencies

#1254 [OTX] Merge develop and add xfail to dataset tests
  ote_sdk/ote_sdk/usecases/exportable_code/demo/LICENSE
  otx/api/usecases/exportable_code/demo/LICENSE
  tests/conftest.py
  tests/unit/api/entities/test_dataset_item.py
Labels: SDK, tests

#1261 NNCF config for hrnet18-mod2 was updated
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/compression_config.json
Labels: tasks

#1263 [CVS-91472] Add pruning_supported value
  external/model-preparation-algorithm/configs/classification/configuration.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/configuration.yaml
  external/model-preparation-algorithm/configs/detection/cspdarknet_yolox_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_atss_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/detection/mobilenetv2_ssd_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/configuration.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-s-mod2/template.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-x-mod3/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: tasks

#1255 [Feature/OTX] Add Dockerfile + Containerize CI
  .ci/Dockerfile
  .ci/README.md
  .dockerignore
  .github/workflows/docs.yml
  .github/workflows/pre_merge.yml
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
Labels: tests

#1265 [Feature/otx] Markdown lint + Docker lint
  .ci/Dockerfile
  .mdlrc
  .pre-commit-config.yaml
  CONTRIBUTING.md
  OTE_landing_page.md
  QUICK_START_GUIDE.md
  README.md
  data/bitvehicle/README.md
  data/coco/README.md
  external/mmdetection/configs/face-detection/datasets.md
  external/mmdetection/configs/horizontal-text-detection/datasets.md
  external/mmdetection/configs/vehicle-detection/datasets.md
  markdownlint.rb
  otx/api/usecases/exportable_code/demo/README.md
Labels: tasks

#1264 [CVS-91469] Add a deprecated sseg model template to support compatibility
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/hpo_config.yaml
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/model.py
  external/model-preparation-algorithm/configs/segmentation/ocr-lite-hrnet-18/template.yaml
Labels: tasks

#1256 Pruning supported tweaks
  external/anomaly/configs/classification/draem/configuration.yaml
  external/anomaly/configs/classification/padim/configuration.yaml
  external/anomaly/configs/classification/stfpm/configuration.yaml
  external/anomaly/configs/detection/draem/configuration.yaml
  external/anomaly/configs/detection/padim/configuration.yaml
  external/anomaly/configs/detection/stfpm/configuration.yaml
  external/anomaly/configs/segmentation/draem/configuration.yaml
  external/anomaly/configs/segmentation/padim/configuration.yaml
  external/anomaly/configs/segmentation/stfpm/configuration.yaml
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/compression_config.json
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/template_experimental.yaml
Labels: tasks

#1269 Revert "[CVS-90400, CVS-91015] NNCF pruning supported tweaks"
  external/anomaly/configs/draem/configuration.yaml
  external/anomaly/configs/padim/configuration.yaml
  external/anomaly/configs/stfpm/configuration.yaml
  external/deep-object-reid/configs/ote_custom_classification/efficientnet_v2_s/template_experimental.yaml
Labels: tasks

#1267 [CVS-91441] Rename EfficientNet template ID
  external/README.md
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/tests/expected_metrics/metrics_test_ote_training.yml
  external/model-preparation-algorithm/tests/test_ote_training.py
Labels: tasks

#1270 [Feature/otx] shellcheck
  .pre-commit-config.yaml
  external/anomaly/init_venv.sh
  external/deep-object-reid/init_venv.sh
  external/mmdetection/init_venv.sh
  external/mmsegmentation/init_venv.sh
  external/model-preparation-algorithm/init_venv.sh
  tests/run_code_checks.sh
  tests/run_model_templates_tests.sh
Labels: tasks, tests

#1220 [OTE-TEST] Disable obsolete test cases
  .pre-commit-config.yaml
  data/car_tree_bug/annotations/hierarchical_default.json
  external/deep-object-reid/constraints.txt
  external/deep-object-reid/tests/ote_cli/test_classification.py
  external/deep-object-reid/tests/test_ote_api.py
  external/deep-object-reid/tests/test_ote_training.py
  external/mmdetection/tests/ote_cli/test_detection.py
  external/mmdetection/tests/ote_cli/test_instance_segmentation.py
  external/mmdetection/tests/ote_cli/test_rotated_detection.py
  external/mmdetection/tests/test_ote_api.py
  external/mmdetection/tests/test_ote_training.py
  external/mmsegmentation/tests/ote_cli/test_segmentation.py
  external/mmsegmentation/tests/test_ote_api.py
  external/mmsegmentation/tests/test_ote_configuration.py
  external/mmsegmentation/tests/test_ote_training.py
  external/model-preparation-algorithm/constraints.txt
  external/model-preparation-algorithm/init_venv.sh
  external/model-preparation-algorithm/ote_tests_pytest.ini
  external/model-preparation-algorithm/tests/__init__.py
  external/model-preparation-algorithm/tests/api_tests/test_ote_classification_api.py
  external/model-preparation-algorithm/tests/api_tests/test_ote_detection_api.py
  external/model-preparation-algorithm/tests/api_tests/test_ote_segmentation_api.py
  external/model-preparation-algorithm/tests/config.py
  external/model-preparation-algorithm/tests/conftest.py
  external/model-preparation-algorithm/tests/mpa_common.py
  external/model-preparation-algorithm/tests/ote_cli/test_classification.py
  external/model-preparation-algorithm/tests/ote_cli/test_detection.py
  external/model-preparation-algorithm/tests/ote_cli/test_hierarchical_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_ins_seg_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_instance_segmentation.py
  external/model-preparation-algorithm/tests/ote_cli/test_seg_cls_il.py
  external/model-preparation-algorithm/tests/ote_cli/test_segmentation.py
  external/model-preparation-algorithm/tests/test_ote_api.py
  external/model-preparation-algorithm/tests/test_ote_classification_training.py
  external/model-preparation-algorithm/tests/test_ote_detection_training.py
  external/model-preparation-algorithm/tests/test_ote_segmentation_training.py
  external/model-preparation-algorithm/tests/test_ote_training.py
  ote_cli/ote_cli/utils/hpo.py
  tests/ote_cli/external/deep-object-reid/ote_cli
  tests/ote_cli/external/mmdetection/ote_cli
  tests/ote_cli/external/mmsegmentation/ote_cli
  tests/ote_cli/misc/test_template_files.py
  tests/ote_cli/pytest.ini
Labels: enhancement, CLI, tasks, tests

#1273 [OTE-TEST] hot-fix for MPA performance tests
  external/anomaly/tests/conftest.py
  external/model-preparation-algorithm/ote_tests_pytest.ini
  external/model-preparation-algorithm/tests/config.py
  external/model-preparation-algorithm/tests/conftest.py
  external/model-preparation-algorithm/tests/test_ote_classification_training.py
  external/model-preparation-algorithm/tests/test_ote_detection_training.py
  external/model-preparation-algorithm/tests/test_ote_segmentation_training.py
Labels: tasks

#1243 [Anomaly Task] ✨ Upgrade anomalib
  external/anomaly/adapters/anomalib/callbacks/inference.py
  external/anomaly/requirements.txt
  external/anomaly/tasks/inference.py
Labels: dependencies, tasks

#1275 [Feature/OTX] Upgrade anomalib version in otx
  .ci/Dockerfile
  external/anomaly/requirements.txt
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/anomaly/tasks/nncf.py
  requirements/anomaly.txt
Labels: dependencies, tasks

#1278 [CVS-91906] [POT] High RAM footprint fix
  external/mmdetection/configs/custom-counting-instance-seg/efficientnetb2b_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/custom-counting-instance-seg/resnet50_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/rotated_detection/efficientnetb2b_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/rotated_detection/resnet50_maskrcnn/template_experimental.yaml
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/model-preparation-algorithm/configs/detection/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/configuration.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: tasks

#1279 [Anomaly Task] 🚨 Fix nncf keys
  external/anomaly/tasks/nncf.py
Labels: tasks

#1271 Fix non-capital letter in train type parameter description
  external/model-preparation-algorithm/configs/classification/configuration.yaml
  external/model-preparation-algorithm/configs/detection/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/rotated-detection/configuration.yaml
  external/model-preparation-algorithm/configs/segmentation/configuration.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: tasks

#1281 Resolve training progress bug for multi-label classification
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/model_multilabel.py
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/model_multilabel.py
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/model_multilabel.py
Labels: tasks

#1239 [CVS-82892] Removed xfail test decorator
  external/deep-object-reid/tests/ote_cli/test_classification.py
Labels: tasks

#1274 Updated NNCF config for hrnet18-mod2
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/compression_config.json
Labels: tasks

#1286 Apply changes from v0.3.0-sc1.2-rc2
  CHANGELOG.md
  external/anomaly/adapters/anomalib/callbacks/inference.py
  external/anomaly/requirements.txt
  external/anomaly/tasks/inference.py
  external/anomaly/tasks/nncf.py
  external/mmdetection/configs/custom-counting-instance-seg/efficientnetb2b_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/custom-counting-instance-seg/resnet50_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/rotated_detection/efficientnetb2b_maskrcnn/template_experimental.yaml
  external/mmdetection/configs/rotated_detection/resnet50_maskrcnn/template_experimental.yaml
  external/mmdetection/detection_tasks/apis/detection/configuration.py
  external/mmdetection/detection_tasks/apis/detection/configuration.yaml
  external/mmdetection/detection_tasks/apis/detection/openvino_task.py
  external/mmsegmentation/configs/custom-sematic-segmentation/ocr-lite-hrnet-18-mod2/compression_config.json
  external/model-preparation-algorithm/configs/classification/configuration.yaml
  external/model-preparation-algorithm/configs/detection/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/configuration.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/instance-segmentation/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/configuration.yaml
  external/model-preparation-algorithm/configs/rotated-detection/efficientnetb2b_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/rotated-detection/resnet50_maskrcnn/template.yaml
  external/model-preparation-algorithm/configs/segmentation/configuration.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/config.py
Labels: dependencies, tasks
