Repository open-edge-platform/training_extensions, pull requests merged in 2023-09, with the labels that each got.

#2466 Bump datumaro version
  requirements/base.txt
Labels: DEPENDENCY

#2470 Bump datumaro version to 1.5.0rc0
  requirements/base.txt
Labels: DEPENDENCY

#2471 Set tox version constraint
  requirements/dev.txt
Labels: DEPENDENCY

#2472 Set tox version constraint
  requirements/dev.txt
Labels: DEPENDENCY

#2468 Add utilization of the unlabeled subset in PTQ optimization
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/api/entities/datasets.py
  src/otx/cli/tools/optimize.py
  tests/unit/api/entities/test_datasets.py
Labels: API, CLI, ALGO, TEST

#2474 Remove unnecessary workflows
  .github/workflows/docs_cleanup.yml
  .github/workflows/docs_test.yml
  .github/workflows/upload_coverage.yml
Labels: BUILD

#2464 Mergeback 1.4.2rc2
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/classification/utils/__init__.py
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/ptq_optimization_config.py
  src/otx/cli/utils/io.py
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: CLI, ALGO, TEST

#2477 Added quantization configs for SegNext T S B
  src/otx/algorithms/segmentation/configs/ham_segnext_b/ptq_optimization_config.py
  src/otx/algorithms/segmentation/configs/ham_segnext_b/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_s/ptq_optimization_config.py
  src/otx/algorithms/segmentation/configs/ham_segnext_s/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_t/ptq_optimization_config.py
  src/otx/algorithms/segmentation/configs/ham_segnext_t/template.yaml
Labels: ALGO

#2467 Bug fix for albumentations
  src/otx/algorithms/anomaly/tasks/openvino.py
Labels: ALGO

#2476 Update regression criteria for anomaly task
  tests/regression/regression_config.json
Labels: TEST

#2478 Fix some issues on cls regression tests
  tests/regression/classification/test_classification.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
Labels: TEST

#2480 Adjust PTQ fq target
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_t/compressed_model.yml
Labels: TEST

#2481 Fix some bugs for reg tests
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/regression_config.json
Labels: TEST

#2483 Add a dummy hierarchical config required by MAPI
  src/otx/algorithms/classification/adapters/openvino/task.py
Labels: ALGO

#2482 Fix sampler degradation issue
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/otx_sampler.py
Labels: ALGO, FIX

#2454 Make MaskRCNN-SwinT from experimental to production
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/template.yaml
Labels: ALGO

#2488 Fix some regression test issues for segmentation
  src/otx/recipes/stages/segmentation/supcon.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/regression/regression_config.json
  tests/regression/semantic_segmentation/test_segmentation.py
Labels: TEST

#2484 Re-organization of configurer
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/common/adapters/mmcv/clsincr_mixin.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/semisl_mixin.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST

#2485 Model revamp for Geti - Object Detection
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/yolox_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/deployment.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/hpo_config.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template.yaml
  src/otx/algorithms/detection/configs/detection/resnet50_deformable_detr/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/resnet50_dino/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template.yaml
  src/otx/cli/tools/find.py
  tests/e2e/cli/detection/reference/Object_Detection_ResNeXt101_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_L/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_S/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_X/compressed_model.yml
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: CLI, ALGO, TEST, DOC

#2490 Fix e2e tests for xai_sanity_classification
  src/otx/algorithms/classification/adapters/openvino/task.py
Labels: ALGO, FIX

#2492 Fix object detection e2e tests
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/data_pipeline.py
  tests/e2e/cli/detection/reference/Object_Detection_ResNeXt101_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_L/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_S/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_X/compressed_model.yml
Labels: ALGO, TEST

#2487 Add Semi-SL Instance Segmentation Documentation
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/model.py
Labels: ALGO, DOC

#2491 Update unit tests for XAI
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: TEST, FIX

#2494 Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: BUILD

#2493 Align batch size in instance segmentation task for Semi-SL to avoid OOM error
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2495 Fix unit tests for XAI
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: TEST, FIX

#2496 Update inst-seg end2end test fake quantization
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_SwinT_FP16/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
Labels: TEST

#2500 Add new argument to track CPU&GPU utilization and memory usage
  CHANGELOG.md
  requirements/base.txt
  src/otx/cli/tools/train.py
  src/otx/cli/utils/experiment.py
  tests/unit/cli/utils/test_experiment.py
Labels: DEPENDENCY, CLI, TEST, DOC

#2501 Fix a bug that `fp16` key error is raised when training without GPU
  requirements/base.txt
  src/otx/algorithms/common/adapters/mmcv/configurer.py
Labels: DEPENDENCY, ALGO, FIX

#2498 Move configuration of configs in task.py to configurer.py
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/nncf/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/utils/__init__.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/tasks/nncf_task.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/nncf/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/nncf/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST

#2502 Bump datumaro version
  requirements/base.txt
  tests/unit/core/data/test_helpers.py
Labels: DEPENDENCY, TEST

#2503 Fix reg summary bug
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/conftest.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/regression/summarize_test_results.py
Labels: TEST

#2459 Upgrade nncf version for 1.4 release
  requirements/openvino.txt
  src/otx/algorithms/common/tasks/nncf_task.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
Labels: DEPENDENCY, ALGO, TEST

#2507 Update version for release 1.4.2rc5
  docs/source/conf.py
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2489 Set mem-cache-1G as a default training
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/pipelines/loads.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/core/data/caching/mem_cache_handler.py
  tests/unit/core/data/test_caching.py
Labels: ALGO, TEST

#2215 Add Self-SL configs for SegNext
  CHANGELOG.md
  src/otx/algorithms/segmentation/configs/ham_segnext_b/selfsl/__init__.py
  src/otx/algorithms/segmentation/configs/ham_segnext_b/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_b/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_b/selfsl/model.py
  src/otx/algorithms/segmentation/configs/ham_segnext_s/selfsl/__init__.py
  src/otx/algorithms/segmentation/configs/ham_segnext_s/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_s/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_s/selfsl/model.py
  src/otx/algorithms/segmentation/configs/ham_segnext_t/selfsl/__init__.py
  src/otx/algorithms/segmentation/configs/ham_segnext_t/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_t/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_t/selfsl/model.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/regression/semantic_segmentation/test_segmentation.py
Labels: ALGO, TEST, DOC

#2506 Update Inst Seg Model Revamp
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/deployment_tile_classifier.py
Labels: ALGO

#2508 Add human right disclaimer in README.md
  README.md
Labels: DOC

#2509 Fix e2e failed case of visual prompting task
  src/otx/algorithms/visual_prompting/tasks/inference.py
  src/otx/algorithms/visual_prompting/tasks/train.py
  tests/unit/algorithms/visual_prompting/tasks/test_inference.py
Labels: ALGO, TEST

#2465 Support torch==2.0.1
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  CHANGELOG.md
  docs/source/guide/get_started/installation.rst
  requirements/action.txt
  requirements/anomaly.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/pipelines/test_torchvision2mmdet.py
  tox.ini
Labels: DEPENDENCY, FEATURE, TEST, BUILD, DOC

#2511 Mergeback 1.4.2rc5
  CHANGELOG.md
  docs/source/conf.py
  requirements/base.txt
  requirements/openvino.txt
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/common/tasks/nncf_task.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/unit/core/data/test_helpers.py
Labels: DEPENDENCY, API, ALGO, TEST, DOC

#2499 Adapt input size automatically based on dataset statistics
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/config_input_size.rst
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/configs/configuration_enums.py
  src/otx/algorithms/common/utils/data.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/utils/data.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_hooks.py
  tests/unit/algorithms/common/adapters/mmcv/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/common/configs/__init__.py
  tests/unit/algorithms/common/configs/test_configuration_enums.py
  tests/unit/algorithms/common/utils/test_data.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: FEATURE, ALGO, TEST, DOC

#2512 Fix rotated detection
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/data_pipeline.py
  tests/integration/cli/instance_segmentation/test_rotated_detection.py
Labels: ALGO, FIX

#2514 Update for 1.4.2
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, CLI, ALGO, TEST, BUILD, DOC

#2517 Adjust FQ criteria in anomaly/instance seg tasks
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_SwinT_FP16/compressed_model.yml
Labels: TEST

#2515 Set "Auto" as default input size mode
  CHANGELOG.md
  README.md
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/configs/configuration.yaml
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/unit/algorithms/common/adapters/mmcv/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
Labels: ENHANCE, ALGO, TEST, DOC

#2516 Correct artifact csv name
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD

#2520 Fix E2E tests for detection
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_yolo_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/data_pipeline.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
Labels: ALGO, TEST, FIX

#2521 Add skips to E2E detection tests
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
Labels: TEST

#2519 Enable PTQ for visual prompting model
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/ptq_optimization_config.py
  src/otx/algorithms/visual_prompting/tasks/inference.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/e2e/cli/visual_prompting/reference/Visual_Prompting_SAM_ViT_B/compressed_decoder.yml
  tests/e2e/cli/visual_prompting/reference/Visual_Prompting_SAM_ViT_B/compressed_image_encoder.yml
  tests/e2e/cli/visual_prompting/reference/Visual_Prompting_SAM_ViT_B/compressed_model.yml
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: ALGO, TEST

#2527 Update reg test for Swin-T model
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/conftest.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tests/regression/semantic_segmentation/test_segmentation.py
Labels: TEST
