Repository open-edge-platform/training_extensions, pull requests merged in 2023-04, with the labels that each got.

#1958 Refactor DetCon logic & Update SupCon for seg recipes
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  otx/algorithms/segmentation/adapters/mmseg/models/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/detcon_head.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/detcon_loss.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/model.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/heads/test_detcon_head.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/test_detcon_loss.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
Labels: ALGO, TEST, DOC

#1963 Remove hotkey from MMDetectionTask
  otx/algorithms/detection/adapters/mmdet/task.py
Labels: ALGO, HOTFIX

#1964 Remove `dataset.with_empty_annotations()` to keep original input structure
  otx/algorithms/classification/tasks/inference.py
Labels: ALGO, HOTFIX, FIX, RELEASE

#1965 Fix OV batch inference (saliency map generation)
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/detection/tasks/openvino.py
  otx/api/entities/result_media.py
Labels: API, ALGO, HOTFIX, RELEASE

#1967 Fix classification model download logic to resolve zip issue
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/tasks/stage.py
  otx/algorithms/common/adapters/mmcv/models/backbones/efficientnet.py
  requirements/classification.txt
  requirements/segmentation.txt
Labels: DEPENDENCY, ALGO, HOTFIX, DOC, FIX, RELEASE

#1939 Support multi GPU training using torchrun
  otx/algorithms/common/adapters/mmcv/tasks/stage.py
  otx/algorithms/common/tasks/base_task.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/cli/utils/multi_gpu.py
  tests/unit/cli/utils/test_hpo.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, ALGO, TEST

#1969 Update ocr_lite_hrnet_18 self-sl recipe
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/selfsl/model.py
Labels: ALGO

#1966 Add has_xai attribute to ModelEntity
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/api/entities/model.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  tests/unit/algorithms/action/tasks/test_action_inference.py
  tests/unit/algorithms/anomaly/tasks/test_inference.py
  tests/unit/algorithms/classification/tasks/test_classification_inference.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_inference.py
Labels: FEATURE, API, ALGO, TEST

#1968 Updated pre-commit hooks
  .ci/README.md
  .markdownlint.yaml
  .mdlrc
  .pre-commit-config.yaml
  README.md
  docs/source/conf.py
  markdownlint.rb
  otx/algorithms/anomaly/adapters/anomalib/config/anomalib_config.py
  otx/algorithms/anomaly/tasks/nncf.py
  otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  otx/algorithms/classification/adapters/mmcls/models/classifiers/byol.py
  otx/algorithms/classification/adapters/mmcls/models/classifiers/sam_classifier.py
  otx/algorithms/classification/adapters/mmcls/models/heads/conv_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/semisl_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/semisl_multilabel_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/supcon_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/losses/asymmetric_angular_loss_with_ignore.py
  otx/algorithms/classification/adapters/mmcls/models/losses/asymmetric_loss_with_ignore.py
  otx/algorithms/classification/utils/convert_coco_to_multilabel.py
  otx/algorithms/common/adapters/mmcv/hooks/composed_dataloaders_hook.py
  otx/algorithms/common/adapters/mmcv/hooks/early_stopping_hook.py
  otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  otx/algorithms/common/adapters/mmcv/models/backbones/efficientnet.py
  otx/algorithms/common/tasks/base_task.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/common/utils/logger.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/evaluation/mean_ap_seg.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_single_stage_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_yolox_detector.py
  otx/algorithms/detection/adapters/mmdet/models/heads/cross_dataset_detector_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_roi_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_ssd_head.py
  otx/algorithms/detection/adapters/mmdet/models/losses/cross_focal_loss.py
  otx/algorithms/detection/task.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/mixin.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/class_incr_encoder_decoder.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/mixin.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/otx_encoder_decoder.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/api/configuration/helper/create.py
  otx/cli/utils/config.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  otx/core/ov/ops/builder.py
  otx/core/ov/ops/infrastructures.py
  otx/core/ov/ops/op.py
  otx/core/patcher.py
  otx/hpo/hpo_base.py
  otx/hpo/hyperband.py
  pyproject.toml
  setup.py
  tests/test_suite/ARCHITECTURE.md
Labels: DEPENDENCY, API, CLI, ALGO, TEST, BUILD, DOC, CI

#1971 Merge back bug fixes in release 1.1.2
  CHANGELOG.md
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/adapters/mmcls/tasks/stage.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/common/adapters/mmcv/models/backbones/efficientnet.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/api/entities/result_media.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  requirements/classification.txt
  requirements/segmentation.txt
Labels: DEPENDENCY, API, ALGO, DOC, FIX, RELEASE

#1973 Updates to data.yaml usage
  otx/cli/manager/config_manager.py
  otx/cli/tools/eval.py
Labels: ENHANCE, CLI, FIX

#1975 Fix linters in explain.py
  otx/cli/tools/explain.py
Labels: CLI, HOTFIX

#1974 Add unit test for new task
  otx/algorithms/detection/adapters/mmdet/task.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_exporter.py
  tests/unit/algorithms/detection/adapters/mmdet/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/pipelines/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/pipelines/test_torchvision2mmdet.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/test_detection_dataset.py
  tests/unit/algorithms/detection/adapters/mmdet/hooks/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/hooks/test_det_class_probability_map_hook.py
  tests/unit/algorithms/detection/adapters/mmdet/models/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/backones/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/backones/test_ov_mmdet_mmov_backbone.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_ov_mmdet_mmov_rpn_head.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_ov_mmdet_mmov_ssd_head.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_ov_mmdet_mmov_yolov3_head.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_atss_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_single_stage_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_two_stage_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_vfnet_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/losses/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/losses/test_cross_focal_loss.py
  tests/unit/algorithms/detection/adapters/mmdet/models/losses/test_l2sp_loss.py
  tests/unit/algorithms/detection/adapters/mmdet/models/necks/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/necks/test_ov_mmdet_mmov_ssd_neck.py
  tests/unit/algorithms/detection/adapters/mmdet/models/roi_heads/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/roi_heads/roi_extractors/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/roi_heads/roi_extractors/test_ov_mmdet_single_level_roi_extractor.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_mmdet_nncf_builder.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_mmdet_nncf_patches.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_detection_dataset_params_validation.py
  tests/unit/algorithms/detection/adapters/mmdet/test_detection_pipelines_params_validation.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_detection_builder.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_detection_config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_exporter.py
  tests/unit/algorithms/detection/adapters/openvino/test_task.py
  tests/unit/algorithms/detection/test_helpers.py
  tests/unit/algorithms/detection/test_task.py
Labels: ALGO, TEST

#1978 Support multiple python versions up to 3.10
  CHANGELOG.md
  docs/source/guide/get_started/quick_start_guide/installation.rst
  setup.py
  tests/unit/api/entities/shapes/test_rectangle.py
  tests/unit/api/entities/test_metadata.py
  tox.ini
Labels: DEPENDENCY, FEATURE, TEST, BUILD, DOC, CI

#1970 Add legacy ssd-like IRs support
  CHANGELOG.md
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
Labels: ALGO, DOC, FIX

#1984 Fix e2e tests for classification
  tests/e2e/test_api_xai_sanity.py
  tests/integration/api/classification/test_api_classification.py
Labels: TEST

#1977 Segmentation refactoring
  CHANGELOG.md
  docs/source/guide/reference/algorithm/segmentation/tasks.rst
  otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/lr_updater_hook.py
  otx/algorithms/segmentation/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/datasets/dataset.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/incremental/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/incremental/inferrer.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/incremental/stage.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/incremental/trainer.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/inferrer.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/semisl/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/semisl/exporter.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/semisl/inferrer.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/semisl/stage.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/semisl/trainer.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/stage.py
  otx/algorithms/segmentation/adapters/mmseg/tasks/trainer.py
  otx/algorithms/segmentation/adapters/mmseg/utils/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  otx/algorithms/segmentation/adapters/openvino/__init__.py
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  otx/algorithms/segmentation/task.py
  otx/algorithms/segmentation/tasks/__init__.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/algorithms/segmentation/tasks/train.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_hooks.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/incremental/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/incremental/test_seg_incremental_stage.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/semisl/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/semisl/test_seg_semisl_inferrer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/semisl/test_seg_semisl_stage.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/test_seg_exporter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/test_seg_inferrer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/test_seg_stage.py
  tests/unit/algorithms/segmentation/adapters/mmseg/tasks/test_seg_trainer.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_inference.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_inference_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_nncf.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_nncf_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_openvino.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_openvino_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_train.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_train_task_params_validation.py
Labels: ALGO, TEST, DOC

#1979 Upgrade default python version to 3.10
  .ci/Dockerfile
  .ci/build.sh
  .github/workflows/pre_merge.yml
  tests/unit/algorithms/anomaly/tasks/test_inference.py
  tests/unit/algorithms/anomaly/tasks/test_nncf.py
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
  tests/unit/algorithms/anomaly/tasks/test_train.py
  tox.ini
Labels: ENHANCE, TEST, BUILD, CI

#1983 Change model builder for exporting nncf model
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/exporter.py
Labels: ALGO

#1986 Split Unittest job for multiple python version
  .github/workflows/pre_merge.yml
  tox.ini
Labels: CI

#1989 Fix compression.yaml for YOLOX
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
Labels: TEST

#1987 Add unit tests for refactored segmentation & prevent saving .dot in root
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/compression_config.json
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/compression_config.json
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/compression_config.json
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/compression_config.json
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/compression_config.json
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/compression_config.json
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/compression_config.json
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/compression_config.json
  otx/algorithms/detection/configs/detection/resnet50_vfnet/compression_config.json
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/compression_config.json
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/compression_config.json
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/compression_config.json
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/compression_config.json
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/compression_config.json
  otx/algorithms/segmentation/task.py
  tests/unit/algorithms/classification/adapters/mmcls/nncf/test_mmcls_nncf_builder.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_lr_updater_hook.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_helpers.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_mmcv_nncf_hooks.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_mmcv_nncf_utils.py
  tests/unit/algorithms/common/adapters/nncf/test_nncf_config.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_mmdet_nncf_builder.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_builder.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_task.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_exporter.py
  tests/unit/algorithms/segmentation/adapters/openvino/model_wrappers/test_blur_params_validation.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_task.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_task_params_validation.py
  tests/unit/algorithms/segmentation/adapters/test_otx_segmentation_task.py
  tests/unit/algorithms/segmentation/tasks/__init__.py
  tests/unit/algorithms/segmentation/test_task.py
Labels: ALGO, TEST, FIX

#1985 Add training loss dynamics exportation feature for multi-class classification task
  otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  otx/algorithms/classification/adapters/mmcls/models/classifiers/mixin.py
  otx/algorithms/classification/adapters/mmcls/models/classifiers/sam_classifier.py
  otx/algorithms/classification/adapters/mmcls/models/classifiers/sam_classifier_mixin.py
  otx/algorithms/classification/adapters/mmcls/models/losses/ib_loss.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/adapters/mmcls/utils/config_utils.py
  otx/algorithms/classification/configs/base/configuration.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/api/entities/dataset_item.py
  otx/api/entities/datasets.py
  otx/core/data/adapter/classification_dataset_adapter.py
  otx/core/data/noisy_label_detection/__init__.py
  otx/core/data/noisy_label_detection/base.py
  otx/core/data/noisy_label_detection/loss_dynamics_tracking_hook.py
  otx/core/data/pipelines/load_image_from_otx_dataset.py
  tests/integration/cli/classification/test_classification.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_sam_classifier.py
  tests/unit/algorithms/classification/conftest.py
Labels: FEATURE, API, ALGO, TEST

#1991 Fix dict type to mmcv config for mmX Compatibility
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/common/adapters/mmcv/tasks/stage.py
  otx/algorithms/common/adapters/mmcv/utils/builder.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
Labels: ALGO

#1996 Update code-scan workflow
  .github/workflows/code_scan.yml
Labels: BUILD

#1990 Cleanup tox testenv and updated daily workflow
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  tox.ini
Labels: BUILD

#1994 Fix num_class update in semantic segmentation
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
Labels: ALGO, FIX

#1992 Updated ci workflows to setup python 3.10 as default
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/docs_test.yml
  .github/workflows/weekly.yml
Labels: BUILD

#1998 Fix wrong byte units
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/cli/tools/train.py
  otx/cli/utils/parser.py
  tests/unit/cli/utils/test_parser.py
Labels: BUG, CLI, TEST, DOC

#1976 Add onnx to the resulting ModelEntity in export()
  CHANGELOG.md
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/task.py
  otx/algorithms/common/adapters/mmcv/tasks/exporter.py
  otx/algorithms/common/adapters/mmcv/tasks/exporter_mixin.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/task.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/action/tasks/test_action_inference.py
  tests/unit/algorithms/segmentation/test_task.py
Labels: ALGO, TEST, DOC

#1980 Re enable multi GPU test cases
  otx/algorithms/classification/task.py
  otx/algorithms/detection/task.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/detcon_loss.py
  otx/algorithms/segmentation/task.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/cli/utils/multi_gpu.py
  otx/cli/utils/report.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/test_detcon_loss.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, ALGO, TEST

#1997 Split export function and _export_model function for detection task
  CHANGELOG.md
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/test_helpers.py
  tests/unit/algorithms/detection/test_task.py
Labels: ALGO, TEST, DOC

#1993 Refactor action tasks and remove unused modules
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/__init__.py
  otx/algorithms/action/adapters/mmaction/data/cls_dataset.py
  otx/algorithms/action/adapters/mmaction/data/det_dataset.py
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/adapters/mmaction/utils/__init__.py
  otx/algorithms/action/adapters/mmaction/utils/config_utils.py
  otx/algorithms/action/adapters/openvino/task.py
  otx/algorithms/action/configs/base/configuration.py
  otx/algorithms/action/configs/classification/base/supervised.py
  otx/algorithms/action/configs/classification/movinet/data_pipeline.py
  otx/algorithms/action/configs/classification/movinet/model.py
  otx/algorithms/action/configs/classification/movinet/template.yaml
  otx/algorithms/action/configs/classification/x3d/model.py
  otx/algorithms/action/configs/classification/x3d/template.yaml
  otx/algorithms/action/configs/detection/base/supervised.py
  otx/algorithms/action/configs/detection/x3d_fast_rcnn/model.py
  otx/algorithms/action/configs/detection/x3d_fast_rcnn/template.yaml
  otx/algorithms/action/task.py
  otx/algorithms/action/tasks/__init__.py
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/action/tasks/train.py
  otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/workflow_hook.py
  otx/algorithms/common/adapters/mmcv/tasks/__init__.py
  otx/algorithms/common/adapters/mmcv/tasks/builder.py
  otx/algorithms/common/adapters/mmcv/tasks/exporter_mixin.py
  otx/algorithms/common/adapters/mmcv/tasks/registry.py
  otx/algorithms/common/adapters/mmcv/tasks/stage.py
  otx/algorithms/common/adapters/mmcv/tasks/workflow.py
  otx/algorithms/common/tasks/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_config_utils.py
  tests/unit/algorithms/action/adapters/openvino/test_task.py
  tests/unit/algorithms/action/tasks/__init__.py
  tests/unit/algorithms/action/tasks/test_action_inference.py
  tests/unit/algorithms/action/tasks/test_action_train.py
  tests/unit/algorithms/action/test_helpers.py
  tests/unit/algorithms/classification/tasks/test_classification_nncf.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_workflow_hooks.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_builder.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_export_mixin.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_stage.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_workflow.py
Labels: ALGO, TEST, DOC

#2000 Updated workflows to set python 3.10 with quote
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/docs_test.yml
  .github/workflows/weekly.yml
Labels: BUILD

#2006 Remove deprecated base task and fix e2e issue
  otx/algorithms/common/tasks/nncf_base.py
  otx/algorithms/common/tasks/training_base.py
  tests/integration/api/classification/test_api_classification.py
Labels: ALGO, TEST

#2004 Fix wrap() for missing positional argument problem in Geti
  otx/api/entities/dataset_item.py
  tests/unit/api/entities/test_dataset_item.py
Labels: API, TEST, FIX

#2007 Move the import checks from otx __init__.py to each algorithm
  otx/__init__.py
  otx/algorithms/action/__init__.py
  otx/algorithms/classification/__init__.py
  otx/algorithms/classification/adapters/mmcls/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  otx/algorithms/detection/__init__.py
  otx/algorithms/segmentation/__init__.py
  otx/cli/__init__.py
Labels: CLI, ALGO

#2001 Divide i-seg tests from detection tests
  .github/workflows/pre_merge.yml
  tests/e2e/cli/instance_segmentation/__init__.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/e2e/cli/semantic_segmentation/__init__.py
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/cli/instance_segmentation/__init__.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/semantic_segmentation/__init__.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/regression/instance_segmentation/__init__.py
  tests/regression/instance_segmentation/test_instnace_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/regression/semantic_segmentation/__init__.py
  tests/regression/semantic_segmentation/test_segmentation.py
Labels: TEST, BUILD, CI

#1891 Add Tile Classifier to enhance efficiency of tiny object detection
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/tasks/exporter.py
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/algorithms/common/adapters/mmdeploy/apis.py
  otx/algorithms/common/adapters/mmdeploy/utils/__init__.py
  otx/algorithms/common/adapters/mmdeploy/utils/onnx.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/nncf/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/tile_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/deployment_tile_classifier.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/deployment_tile_classifier.py
  otx/algorithms/detection/task.py
  otx/api/configuration/helper/__init__.py
  otx/api/configuration/helper/utils.py
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  otx/api/utils/__init__.py
  otx/api/utils/async_pipeline.py
  otx/api/utils/nms.py
  otx/api/utils/tiler.py
  otx/cli/utils/io.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_helpers.py
  tests/unit/algorithms/common/adapters/mmdeploy/utils/test_deploy_utils_onnx.py
  tests/unit/algorithms/detection/adapters/openvino/model_wrappers/test_detection_openvino_models.py
  tests/unit/algorithms/detection/adapters/openvino/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: ENHANCE, FEATURE, API, CLI, ALGO, TEST, DOC

#2003 Seperate explain function for detection
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/task.py
Labels: ALGO

#2002 Change config for initialization of deploy_cfg
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/test_tiling_detection.py
Labels: ALGO, TEST

#2010 Disable ignore mode in CLI
  otx/cli/manager/config_manager.py
Labels: FIX

#2011 HOT-FIX: Revert segmentation model's ignore mode in CLI
  otx/cli/manager/config_manager.py
Labels: CLI, HOTFIX, RELEASE

#2012 HOT-FIX: Revert segmentation model's ignore mode in CLI (Develop)
  otx/cli/manager/config_manager.py
Labels: CLI, HOTFIX

#2008 Fix reg tests
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instnace_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
Labels: TEST, VALIDATION, RELEASE

#2015 Fix openvino import error due to Tiler init import
  otx/algorithms/detection/adapters/openvino/task.py
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  otx/api/utils/__init__.py
Labels: HOTFIX, RELEASE

#2016 Bump up version to 1.3.0rc0
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  otx/__init__.py
Labels: DOC

#2017 Bump up version to 1.2.0
  README.md
  docs/source/guide/release_notes/index.rst
  otx/__init__.py
Labels: DOC, RELEASE

#2019 Add missing __init__.py
  otx/algorithms/action/configs/classification/base/__init__.py
Labels: ALGO, RELEASE

#2023 Fix issue that str2bool not being applied in certain cases
  otx/cli/utils/parser.py
Labels: CLI, FIX

#2032 Fix E2E tests
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
Labels: TEST, CI, VALIDATION

#2026 Merge back 1.2.0rc1
  .github/workflows/code_scan.yml
  otx/algorithms/action/configs/classification/base/__init__.py
  otx/algorithms/common/tasks/nncf_task.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/__init__.py
  otx/cli/utils/parser.py
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instnace_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
Labels: API, CLI, ALGO, TEST, BUILD, RELEASE

#2020 Optimize data preprocessing time and enhance overall performance in semantic segmentation
  CHANGELOG.md
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/adapters/mmseg/utils/builder.py
  otx/algorithms/segmentation/configs/base/data/data_pipeline.py
  otx/recipes/stages/_base_/data/pipelines/incr_seg.py
Labels: ENHANCE, ALGO, DOC, REFACTOR, RELEASE

#2009 Add storage cache in Apache Arrow format using Datumaro
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/models/classifiers/mixin.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/configs/configuration_enums.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/segmentation/configs/configuration.yaml
  otx/api/entities/image.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/train.py
  otx/core/data/adapter/__init__.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/classification_dataset_adapter.py
  otx/core/data/adapter/detection_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  otx/core/data/caching/__init__.py
  otx/core/data/caching/storage_cache.py
  otx/core/data/manager/dataset_manager.py
  requirements/base.txt
  tests/unit/core/data/manager/test_dataset_manager.py
  tests/unit/core/data/test_helpers.py
  tests/unit/core/data/test_storage_caching.py
Labels: DEPENDENCY, FEATURE, API, CLI, ALGO, TEST, DOC, RELEASE

#2030 Fix tiling config loading bug
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
Labels: ALGO

#2033 Make multi gpu child processes finish right after evaluation
  otx/cli/tools/train.py
Labels: CLI, FIX

#2014 Remove unused LabelGraph class
  otx/api/entities/label_schema.py
  otx/api/serialization/label_mapper.py
  tests/unit/api/entities/test_label_schema.py
  tests/unit/api/serialization/test_label_mapper.py
Labels: REFACTOR

#2031 Fixes in exportable code
  otx/algorithms/action/adapters/openvino/task.py
  otx/algorithms/anomaly/tasks/openvino.py
  otx/algorithms/classification/adapters/openvino/task.py
  otx/algorithms/common/utils/utils.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/api/usecases/exportable_code/demo/demo.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/sync_pipeline.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/synchronous.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/vis_utils.py
  otx/cli/tools/demo.py
  otx/cli/tools/utils/demo/visualization.py
Labels: BUG, API, CLI, ALGO, RELEASE

#2034 Add documentation for the noisy label detection feature
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/additional_features/noisy_label_detection.rst
Labels: DOC

#2036 Remove skip tests, fix regression tests
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/regression/regression_command.py
Labels: TEST, RELEASE

#2037 Hide internal options from external GUI
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/segmentation/configs/configuration.yaml
Labels: ALGO, FIX, RELEASE

#2035 Add unit test for classification task and configurer
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: TEST, RELEASE

#2038 Reduce the depth of aumix process
  otx/algorithms/classification/configs/base/data/data_pipeline.py
Labels: ENHANCE, ALGO, RELEASE

#2041 Change samples_per_gpu in _infer_model(Detection)
  otx/algorithms/detection/adapters/mmdet/task.py
Labels: ALGO

#2022 Decrease batch size if CUDA OOM occurs
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/adapters/mmcv/utils/__init__.py
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  otx/algorithms/common/adapters/torch/utils/__init__.py
  otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/configs/configuration.yaml
  otx/cli/utils/hpo.py
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/unit/algorithms/common/adapters/mmcv/utils/__init__.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/__init__.py
  tests/unit/algorithms/common/adapters/torch/utils/__init__.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: ENHANCE, CLI, ALGO, TEST, DOC

#2044 Upgrade mmdeploy==0.14.0 from official PyPI
  requirements/action.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
Labels: ENHANCE, DEPENDENCY

#2047 Upgrade mmdeploy==0.14.0 from official PyPI
  requirements/action.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
Labels: ENHANCE, DEPENDENCY, FIX, RELEASE

#2048 Bugfix: workspace is made by all of processes when multi GPU training with torchrun
  otx/cli/manager/config_manager.py
  otx/cli/utils/multi_gpu.py
Labels: CLI

#2053 Bug fix: value of validation variable is changed after auto decrease batch size
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO, FIX, RELEASE

#2054 Bug fix: value of validation variable is changed after auto decrease batch size
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO, FIX

#2043 Add tests for `--output` parameter for demo (CLI and exportable)
  otx/api/usecases/exportable_code/demo/requirements.txt
  tests/test_suite/run_test_command.py
Labels: API, TEST

#2056 Modify e2e tests properly
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
Labels: TEST

#2055 Integrate new ignored loss in semantic segmentation
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_fcn_head.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/cross_entropy_loss_with_ignore.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/otx_encoder_decoder.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/model.py
  otx/algorithms/segmentation/task.py
  otx/cli/manager/config_manager.py
  otx/recipes/stages/_base_/models/segmentors/seg_class_incr.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/test_cross_entropy_loss_with_ignore.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_builder.py
Labels: FEATURE, CLI, ALGO, TEST, REFACTOR

#2057 Action task supports multi GPU training
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/task.py
  otx/algorithms/common/tasks/base_task.py
  otx/cli/tools/train.py
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/integration/cli/action/test_action_classification.py
Labels: CLI, ALGO, TEST, DOC

#2065 Integrate new ignored loss in semantic segmentation
  CHANGELOG.md
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_fcn_head.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/cross_entropy_loss_with_ignore.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/otx_encoder_decoder.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/semisl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/model.py
  otx/algorithms/segmentation/task.py
  otx/cli/manager/config_manager.py
  otx/recipes/stages/_base_/models/segmentors/seg_class_incr.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/test_cross_entropy_loss_with_ignore.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_builder.py
Labels: ENHANCE, CLI, ALGO, TEST, DOC, REFACTOR

#2067 Remove unused modules in semantic segmentation (develop)
  otx/algorithms/segmentation/adapters/mmseg/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/models/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/models/heads/mixin.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/base_pixel_loss.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/base_weighted_loss.py
  otx/algorithms/segmentation/adapters/mmseg/models/losses/otx_pixel_base.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/class_incr_encoder_decoder.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/mixin.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_config_utils.py
Labels: ALGO, TEST, REFACTOR

#2069 Add doc for fast data loading
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/additional_features/noisy_label_detection.rst
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
Labels: DOC

#2071 Bug fix: set gpu_ids properly
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
Labels: ALGO, FIX, RELEASE

#2074 Bug fix: Progress goes 100% and back 0 % repeatedly during auto decrease bs in Geti
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: ALGO, FIX, RELEASE

#2072 Bug fix: set gpu_ids properly (develop)
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
Labels: ALGO, FIX

#2076 Fix model API task type name segmentation->Segmentation
  otx/algorithms/segmentation/utils/metadata.py
Labels: ALGO

#2080 [HOT FIX] Fix HRNet18
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/model.py
Labels: ALGO, HOTFIX

#2078 Fix tiling 0 stride issue in parameter adapter
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/utils/data.py
Labels: ALGO, FIX

#2082 Update instance-segmentation tutorial documentation
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: ENHANCE, DOC

#2075 Optimize YOLOX data pipeline and add unit test for get_subset of Datu…
  otx/algorithms/detection/adapters/mmdet/datasets/pipelines/load_pipelines.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/data_pipeline.py
  otx/core/data/adapter/base_dataset_adapter.py
  tests/unit/core/data/adapter/test_detection_adapter.py
Labels: ALGO, TEST

#1921 Support direct annotation argument (--train/val-ann-files)
  CHANGELOG.md
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/core/data/adapter/__init__.py
  otx/core/data/adapter/action_dataset_adapter.py
  otx/core/data/adapter/anomaly_dataset_adapter.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  otx/core/data/manager/dataset_manager.py
  tests/assets/car_tree_bug/annotations/instances_train_5_imgs.json
  tests/assets/car_tree_bug/annotations/instances_val_1_imgs.json
  tests/assets/unlabeled_dataset/0.jpg
  tests/assets/unlabeled_dataset/1.jpg
  tests/assets/unlabeled_dataset/2.jpg
  tests/assets/unlabeled_dataset/3.jpg
  tests/assets/unlabeled_dataset/4.jpg
  tests/assets/unlabeled_dataset/5.jpg
  tests/assets/unlabeled_dataset/6.jpg
  tests/assets/unlabeled_dataset/a/0.jpg
  tests/assets/unlabeled_dataset/a/1.jpg
  tests/assets/unlabeled_dataset/a/2.jpg
  tests/assets/unlabeled_dataset/a/3.jpg
  tests/assets/unlabeled_dataset/a/4.jpg
  tests/assets/unlabeled_dataset/a/5.jpg
  tests/assets/unlabeled_dataset/a/6.jpg
  tests/assets/unlabeled_dataset/unlabeled_file_list.txt
  tests/unit/cli/manager/test_config_manager.py
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/manager/test_dataset_manager.py
Labels: FEATURE, CLI, TEST, DOC

#2083 Add seed, deterministic commands for otx train
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/task.py
  otx/algorithms/anomaly/tasks/train.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/task.py
  otx/algorithms/common/tasks/base_task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/task.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/train.py
Labels: ENHANCE, CLI, ALGO, DOC

#2052 Tiling Spatial Concatenation for OpenVINO IR
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/deployment.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/deployment.py
  otx/api/utils/tiler.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: ENHANCE, API, ALGO, TEST, RELEASE

#2084 Add deterministic to training test and Add Github issue link to skip reason
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/regression/action/test_action_classification.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/test_suite/run_test_command.py
Labels: TEST

#2088 Fix statistic collection error for TileClassifier
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
Labels: ALGO, FIX
