Repository open-edge-platform/training_extensions, pull requests merged in 2023-06, with the labels that each got.

#2210 Update test cases of common_semantic_segmentation_dataset
  tests/assets/common_semantic_segmentation_dataset/train/images/0001.png
  tests/assets/common_semantic_segmentation_dataset/train/images/0002.png
  tests/assets/common_semantic_segmentation_dataset/train/images/0003.png
  tests/assets/common_semantic_segmentation_dataset/train/masks/0001.png
  tests/assets/common_semantic_segmentation_dataset/train/masks/0002.png
  tests/assets/common_semantic_segmentation_dataset/train/masks/0003.png
Labels: TEST

#2214 Fix ellipse load
  otx/algorithms/detection/task.py
Labels: ALGO, HOTFIX, RELEASE

#2205 Introduce channel last to improve the OTX tasks
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/recipes/stages/classification/train.yaml
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
Labels: ENHANCE, ALGO, TEST, DOC

#2216 Fix GT vs prediction order mismatch due to different sorting result
  otx/api/usecases/evaluation/f_measure.py
Labels: API, HOTFIX, RELEASE

#2213 Set segmentation num_workers to 2
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
  otx/algorithms/segmentation/configs/configuration.yaml
Labels: ALGO

#2209 Support encrypted dataset training
  CHANGELOG.md
  otx/cli/manager/config_manager.py
  otx/cli/tools/train.py
  otx/core/data/adapter/action_dataset_adapter.py
  otx/core/data/adapter/anomaly_dataset_adapter.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/unit/cli/manager/test_config_manager.py
  tests/unit/core/data/adapter/test_segmentation_adapter.py
Labels: CLI, TEST, DOC

#2211 [Anomaly] 🐞 NNCF e2e bugfix
  otx/algorithms/anomaly/tasks/nncf.py
Labels: ALGO

#2217 Return raw anomaly maps as metadata
  CHANGELOG.md
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
  otx/algorithms/anomaly/tasks/openvino.py
Labels: ALGO, HOTFIX, DOC, FIX, RELEASE

#2206 Change _MMInitializeDataLoader.get_inputs() output format
  otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  otx/algorithms/common/adapters/mmcv/nncf/utils.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
  tests/integration/cli/classification/test_classification.py
Labels: ALGO, TEST

#2195 Auto train type detection (Extension for auto-config functionality)
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/train.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
  tests/unit/cli/manager/test_config_manager.py
Labels: CLI, TEST

#2221 Fix for detection e2e
  otx/algorithms/detection/adapters/mmdet/nncf/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_task.py
Labels: ALGO, TEST

#2222 Fix Iseg E2E Test
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
Labels: TEST

#2226 Upgrade reqs in exportable code
  otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API

#2220 Assign label information to heatmap in resultmedia
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
  otx/algorithms/anomaly/tasks/openvino.py
Labels: ALGO, FIX

#2223 Decrease a time for making a workspace
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
Labels: ALGO, DOC

#2228 Add custom max iou assigner to prevent CPU OOM in training phase
  CHANGELOG.md
  otx/algorithms/detection/adapters/mmdet/models/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/assigners/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/assigners/custom_max_iou_assigner.py
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  tests/unit/algorithms/detection/adapters/mmdet/models/assigners/test_custom_max_iou_assigner.py
Labels: ALGO, TEST, DOC

#2225 [FIX] Fix e2e tests segmentation and classification SelfSL
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
Labels: TEST, FIX

#2224 Set persistent_workers and pin_memory as True
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
Labels: ALGO, DOC

#2229 Waivering some bandit issues
  .ci/ipas_default.config
  otx/algorithms/action/utils/convert_public_data_to_cvat.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/adapters/mmcls/datasets/pipelines/transforms/augmix.py
  otx/algorithms/classification/adapters/mmcls/datasets/pipelines/transforms/otx_transforms.py
  otx/algorithms/classification/adapters/mmcls/datasets/pipelines/transforms/random_augment.py
  otx/algorithms/common/adapters/mmcv/pipelines/transforms/augments.py
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/algorithms/detection/tools/detection_semisl_sample.py
  otx/api/entities/color.py
  tests/test_helpers.py
  tests/unit/api/entities/test_pickle.py
  tests/unit/api/serialization/test_label_mapper.py
  tox.ini
Labels: API, ALGO, TEST, BUILD

#2230 Write a documentation about auto adapt bs and auto adapt num_workers
  docs/source/guide/explanation/additional_features/auto_configuration.rst
Labels: DOC

#2231 Remove deepcopy(self._data_cfg)
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO

#2219 Added Self-SL adapter for classification to handle case when only images for train data provided + Documentation update
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/tutorials/advanced/self_sl.rst
  docs/source/guide/tutorials/advanced/semi_sl.rst
  otx/cli/tools/train.py
  otx/core/data/adapter/__init__.py
  otx/core/data/adapter/classification_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/unit/core/data/adapter/test_classification_adapter.py
Labels: CLI, TEST, DOC

#2233 Bring explain confidence threshold from task
  otx/algorithms/detection/task.py
Labels: ALGO

#2235 Temporary skip nncf eval TC for instance segmentation
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2238 Temporary skip deployment evaluation test for segnext_s
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
Labels: TEST

#2241 Edit the docs
  README.md
  docs/source/guide/get_started/installation.rst
Labels: DOC

#2242 Fix wrong anomaly map shape in inference task
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
Labels: ALGO

#2244 Get rid of random inference in SegNext
  otx/algorithms/segmentation/adapters/mmseg/models/heads/light_ham.py
  otx/algorithms/segmentation/configs/ham_segnext_b/model.py
  otx/algorithms/segmentation/configs/ham_segnext_b/semisl/model.py
  otx/algorithms/segmentation/configs/ham_segnext_s/model.py
  otx/algorithms/segmentation/configs/ham_segnext_s/semisl/model.py
  otx/algorithms/segmentation/configs/ham_segnext_t/model.py
  otx/algorithms/segmentation/configs/ham_segnext_t/semisl/model.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
Labels: ALGO, TEST, FIX

#2243 Increase number of async requests for tiling
  otx/algorithms/detection/adapters/openvino/task.py
Labels: ALGO

#2227 Per-class saliency maps for M-RCNN
  otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/task.py
  otx/api/utils/dataset_utils.py
  tests/e2e/test_api_xai_sanity.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/detection/test_api_detection.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: API, ALGO, TEST

#2251 Fix improper issue output in ConfigManager
  otx/cli/manager/config_manager.py
  tests/unit/cli/manager/test_config_manager.py
Labels: CLI, TEST

#2256 Updated tests section on installation page
  docs/source/guide/get_started/installation.rst
Labels: DOC

#2255 Remove unused functions in config_utils.py
  otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/segmentation/adapters/mmseg/utils/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_detection_config_utils.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_config_utils.py
Labels: ALGO, TEST

#2257 Bug fix: saving and loading a weight are executed at the same time
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/common/tasks/base_task.py
  otx/algorithms/common/utils/__init__.py
  otx/algorithms/common/utils/dist_utils.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/task.py
  tests/unit/algorithms/common/utils/test_dist_utils.py
Labels: ALGO, TEST, FIX

#2254 bugfix: enabling lr scale during distributed training
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/recipes/stages/segmentation/incremental.py
  otx/recipes/stages/segmentation/selfsl.py
  otx/recipes/stages/segmentation/semisl.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST, DOC, FIX

#2258 Update CI test report format from xml to csv
  .github/workflows/run_tests_in_tox.yml
  requirements/dev.txt
  tox.ini
Labels: DEPENDENCY, BUILD

#2249 Enable DINO to OTX - Step 1. Enable Deformable DETR to OTX
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/__init__.py
  otx/algorithms/common/adapters/mmcv/ops/__init__.py
  otx/algorithms/common/adapters/mmcv/ops/multi_scale_deformable_attn_pytorch.py
  otx/algorithms/common/adapters/mmdeploy/__init__.py
  otx/algorithms/common/adapters/mmdeploy/ops/__init__.py
  otx/algorithms/common/adapters/mmdeploy/ops/custom_ops.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_deformable_detr_detector.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/configs/detection/resnet50_deformable-detr/data_pipeline.py
  otx/algorithms/detection/configs/detection/resnet50_deformable-detr/deployment.py
  otx/algorithms/detection/configs/detection/resnet50_deformable-detr/model.py
  otx/algorithms/detection/configs/detection/resnet50_deformable-detr/template_experimental.yaml
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/common/adapters/mmcv/ops/__init__.py
  tests/unit/algorithms/common/adapters/mmcv/ops/test_multi_scale_deformable_attn_pytorch.py
  tests/unit/algorithms/common/adapters/mmdeploy/ops/__init__.py
  tests/unit/algorithms/common/adapters/mmdeploy/ops/test_custom_ops.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_deformable_detr_detector.py
Labels: ALGO, TEST, DOC

#2247 Mask Evaluaiton Optimization
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/evaluation/__init__.py
  otx/algorithms/detection/adapters/mmdet/evaluation/evaluator.py
  otx/algorithms/detection/adapters/mmdet/evaluation/mean_ap_seg.py
  otx/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_fcn_mask_head.py
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/model.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/model.py
  otx/algorithms/detection/task.py
  otx/algorithms/detection/utils/__init__.py
  otx/algorithms/detection/utils/utils.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/test_detection_dataset.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: ALGO, TEST

#2263 Add readme recipro cam
  misc/pytorch_toolkit/recipro_cam/README.md
  misc/pytorch_toolkit/recipro_cam/res/aircraft_statue.jpg
  misc/pytorch_toolkit/recipro_cam/res/recipro-cam-structure.jpg
  misc/pytorch_toolkit/recipro_cam/res/stop_sign.jpg
Labels: DOC

#2262 Add the summarized regression test result files to the CI artifact
  .github/workflows/run_tests_in_tox.yml
Labels: TEST, BUILD, CI

#2267 Fix a side effect in CI
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD, CI

#2269 Add skip for tiling max annotation
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: TEST

#2264 Change the level tile related log: print --> debug
  otx/api/utils/tiler.py
Labels: ENHANCE, API

#2270 Bump-up Datumaro 1.2.0rc3 --> 1.3.2 and resolve errors
  requirements/base.txt
  tests/assets/cityscapes_dataset/dataset/leftImg8bit/test/defaultcity/defaultcity_000001_000031_leftImg8bit.png
  tests/assets/cityscapes_dataset/dataset/leftImg8bit/test/defaultcity/defaultcity_000001_000032_leftImg8bit.png
  tests/assets/cityscapes_dataset/dataset/leftImg8bit/train/defaultcity/defaultcity_000002_000045_leftImg8bit.png
  tests/assets/cityscapes_dataset/dataset/leftImg8bit/val/defaultcity/defaultcity_000001_000019_leftImg8bit.png
  tests/assets/cityscapes_dataset/train_dataset/leftImg8bit/train/defaultcity/defaultcity_000001_000019_leftImg8bit.png
  tests/assets/cityscapes_dataset/train_dataset/leftImg8bit/train/defaultcity/defaultcity_000001_000031_leftImg8bit.png
  tests/assets/cityscapes_dataset/train_dataset/leftImg8bit/train/defaultcity/defaultcity_000001_000032_leftImg8bit.png
  tests/assets/cityscapes_dataset/train_dataset/leftImg8bit/train/defaultcity/defaultcity_000002_000045_leftImg8bit.png
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/manager/test_dataset_manager.py
Labels: DEPENDENCY, TEST

#2266 Enable DINO to OTX - Step 2. Upgrade Deformable DETR to DINO
  CHANGELOG.md
  otx/algorithms/detection/adapters/mmdet/models/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_dino_detector.py
  otx/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_dino_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/detr_head.py
  otx/algorithms/detection/adapters/mmdet/models/layers/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/layers/dino.py
  otx/algorithms/detection/adapters/mmdet/models/layers/dino_layers.py
  otx/algorithms/detection/configs/detection/resnet50_dino/data_pipeline.py
  otx/algorithms/detection/configs/detection/resnet50_dino/deployment.py
  otx/algorithms/detection/configs/detection/resnet50_dino/model.py
  otx/algorithms/detection/configs/detection/resnet50_dino/template_experimental.yaml
  requirements/detection.txt
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_dino_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/test_custom_dino_head.py
Labels: DEPENDENCY, ALGO, TEST, DOC

#2271 Multi-GPU unit test regardless of real GPU and environment variable
  tests/unit/cli/utils/test_multi_gpu.py
Labels: TEST

#2272 Add tiling-related fields to model info
  otx/algorithms/detection/task.py
  otx/algorithms/detection/utils/utils.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: ALGO, TEST

#2273 Remove randomness in DINO unit tests
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/test_custom_dino_head.py
Labels: TEST

#2277 Remove unstable unit tests
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/test_custom_dino_head.py
Labels: TEST

#2280 Disable semantic segmentation soft prediction processing (by default)
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/algorithms/segmentation/task.py
Labels: ALGO, RELEASE

#2281 Cherry pick from PR#2227. Enable XAI fix to release/1.3.2
  CHANGELOG.md
  README.md
  docs/source/conf.py
  otx/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/task.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/dataset_utils.py
  tests/e2e/test_api_xai_sanity.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/detection/test_api_detection.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: API, ALGO, TEST, DOC, RELEASE

#2284 Fix for detection e2e
  otx/algorithms/detection/adapters/mmdet/nncf/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_task.py
Labels: ALGO, TEST
