Repository open-edge-platform/training_extensions, pull requests merged in 2023-02, with the labels that each got.

#1578 Update references for validation FQs
  otx/algorithms/anomaly/configs/classification/padim/pot_optimization_config.json
  otx/algorithms/anomaly/configs/detection/padim/pot_optimization_config.json
  otx/algorithms/anomaly/configs/segmentation/padim/pot_optimization_config.json
  tests/regression/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/regression/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
Labels: tasks, tests

#1608 [Hot-Fix]Fix pre-commit issue
  tests/run_model_templates_tests.py
Labels: tests

#1510 [OTX] Update OTX detection requirements
  otx/cli/tools/train.py
  requirements/detection.txt
Labels: dependencies, CLI

#1615 Add pylint disable use-dict-literal & broad-exception-raised check
  otx/algorithms/action/adapters/mmaction/utils/export_utils.py
  otx/algorithms/action/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/common/adapters/mmcv/models/backbones/efficientnet.py
  pyproject.toml
Labels: DEPENDENCY, ALGO, BUILD

#1613 [BUILD] Refine installation
  otx/__init__.py
  otx/algorithms/action/init_venv.sh
  otx/algorithms/classification/init_venv.sh
  otx/algorithms/detection/init_venv.sh
  otx/algorithms/init_venv.sh
  otx/algorithms/segmentation/init_venv.sh
  pyproject.toml
  requirements/detection.txt
  setup.py
Labels: DEPENDENCY, ALGO, BUILD

#1606 [OTX] Fix SSD pruning
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/compression_config.json
Labels: ALGO

#1507 [ENHANCE] Fix numpy_softmax NaN issue
  otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
Labels: ALGO

#1620 Remove samplers for segmentation
  otx/mpa/modules/samplers/max_pooling_pixel_sampler.py
  otx/mpa/seg/__init__.py
  otx/mpa/seg/stage.py
  otx/recipes/stages/_base_/models/segmentors/seg_class_incr.py
  pyproject.toml
  setup.py
Labels: DEPENDENCY, BUILD

#1625 [CI] Fix DOC labeler setting
  .github/labeler.yml
Labels: BUILD

#1567 [Develop] Applying new Hpopt
  otx/algorithms/anomaly/adapters/anomalib/callbacks/progress.py
  otx/algorithms/common/utils/callback.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/cli/utils/tests.py
  otx/mpa/modules/hooks/adaptive_training_hooks.py
  otx/mpa/modules/hooks/checkpoint_hook.py
  otx/mpa/modules/hooks/save_initial_weight_hook.py
  requirements/base.txt
  tests/unit/cli/utils/test_hpo.py
  tox.ini
Labels: DEPENDENCY, CLI, ALGO, TEST, BUILD

#1628 [OTX][HOT-FIX] Fix Class Type input to object in API tests
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/api/action/test_api_action_detection.py
  tests/integration/api/classification/test_api_classification.py
  tests/integration/api/detection/test_api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/integration/api/xai/test_api_xai_sanity.py
Labels: TEST

#1623 [DEV] Hot fix for test api XAI
  tests/integration/api/xai/test_api_xai_validity.py
Labels: TEST

#1629 Enable tests for action
  otx/algorithms/action/adapters/mmaction/utils/export_utils.py
  otx/algorithms/action/configs/classification/x3d/data_pipeline.py
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/action/tools/sample_classification.py
  otx/algorithms/action/tools/sample_detection.py
  tests/e2e/cli/action/test_action_detection.py
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/api/action/test_api_action_detection.py
  tests/integration/cli/action/test_action_detection.py
Labels: ALGO, TEST

#1617 [OTX] Fixes to h-cls
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/algorithms/classification/tasks/inference.py
  otx/cli/utils/io.py
  otx/mpa/modules/models/heads/custom_hierarchical_linear_cls_head.py
  otx/mpa/modules/models/heads/custom_hierarchical_non_linear_cls_head.py
  otx/mpa/modules/models/heads/custom_multi_label_linear_cls_head.py
  otx/mpa/modules/models/heads/custom_multi_label_non_linear_cls_head.py
Labels: CLI, ALGO

#1605 [OTX][Unit-test]Add unit tests for checking otx.algorithms.action.adapters.mmaction.models
  otx/algorithms/action/adapters/mmaction/models/backbones/__init__.py
  otx/algorithms/action/adapters/mmaction/models/backbones/x3d.py
  otx/algorithms/action/adapters/mmaction/models/detectors/fast_rcnn.py
  tests/unit/algorithms/action/adapters/mmaction/models/backbones/test_action_register_backbone.py
  tests/unit/algorithms/action/adapters/mmaction/models/detectors/test_action_fast_rcnn.py
  tests/unit/algorithms/action/adapters/mmaction/models/heads/test_action_roi_head.py
Labels: ALGO, TEST

#1618 [OTX][Unit Test]Add unit tests for otx.algorithms.action.adapters.mmaction.utils.
  otx/algorithms/action/adapters/mmaction/utils/config_utils.py
  otx/algorithms/action/adapters/mmaction/utils/det_eval_utils.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_config_utils.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_det_eval_utils.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_export_utils.py
Labels: ALGO, TEST

#1596 [CI] Enable coverage report with Codecov
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/weekly.yml
  README.md
  otx/__init__.py
  tox.ini
Labels: BUILD, DOC

#1589 [OTX][Unit Test] Tiling Detection UnitTest
  otx/algorithms/detection/tasks/openvino.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection_unittest.py
Labels: ALGO, TEST

#1633 [OTX][HOT-FIX] Fix passing mmdeploy issue with otx build
  otx/cli/builder/builder.py
Labels: CLI

#1636 [CI] Fixed typo to the target branch name
  .github/workflows/daily.yml
  .github/workflows/weekly.yml
Labels: BUILD

#1610 Update ignored scopes for segmentation models
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/pot_optimization_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/pot_optimization_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/pot_optimization_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/pot_optimization_config.json
Labels: ALGO

#1635 Remove xfail for 83124
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
Labels: TEST

#1600 [OTX][Unit-Test] Add unit tests for otx.algorithms.action.adapters.mmaction.data
  otx/algorithms/action/adapters/mmaction/data/det_dataset.py
  otx/algorithms/action/adapters/mmaction/data/pipelines/loading.py
  tests/unit/algorithms/action/adapters/mmaction/data/pipelines/test_action_loading.py
  tests/unit/algorithms/action/adapters/mmaction/data/test_action_cls_dataset.py
  tests/unit/algorithms/action/adapters/mmaction/data/test_action_det_dataset.py
  tests/unit/algorithms/action/test_helpers.py
Labels: ALGO, TEST

#1574 [OTX] Let AccuracyAwareRunner manage training and evaluation
  otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  otx/algorithms/common/adapters/mmcv/nncf/patches.py
  otx/algorithms/common/adapters/mmcv/nncf/runners.py
  otx/algorithms/common/adapters/nncf/patchers/patcher.py
  otx/algorithms/common/tasks/nncf_base.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
Labels: ALGO

#1614 [OTX][Unit-test] Unit tests for otx/mpa/seg
  otx/mpa/seg/__init__.py
  otx/mpa/seg/evaluator.py
  otx/mpa/seg/inferrer.py
  otx/mpa/seg/trainer.py
  otx/recipes/stages/_base_/data/custom_seg.py
  otx/recipes/stages/segmentation/incremental.py
  tests/unit/mpa/seg/incremental/test_seg_incremental_stage.py
  tests/unit/mpa/seg/semisl/test_seg_semisl_inferrer.py
  tests/unit/mpa/seg/semisl/test_seg_semisl_stage.py
  tests/unit/mpa/seg/test_seg_exporter.py
  tests/unit/mpa/seg/test_seg_inferrer.py
  tests/unit/mpa/seg/test_seg_stage.py
  tests/unit/mpa/seg/test_seg_trainer.py
Labels: TEST

#1639 [OTX][Hot-fix] Fix conflicts of same module names in test by adding init file
  tests/unit/algorithms/action/__init__.py
  tests/unit/algorithms/segmentation/__init__.py
Labels: TEST

#1616 [ENHANCE] Upgrade torch version to 1.13.1
  otx/algorithms/action/adapters/mmaction/utils/export_utils.py
  otx/algorithms/action/configs/classification/x3d/data_pipeline.py
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/action/tools/sample_classification.py
  otx/algorithms/action/tools/sample_detection.py
  otx/algorithms/common/adapters/mmcv/models/backbones/torchvision_backbones.py
  otx/algorithms/init_venv.sh
  otx/mpa/modules/samplers/max_pooling_pixel_sampler.py
  otx/mpa/seg/__init__.py
  otx/mpa/seg/stage.py
  otx/recipes/stages/_base_/models/segmentors/seg_class_incr.py
  pyproject.toml
  requirements/action.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/openvino.txt
  requirements/segmentation.txt
  setup.py
  tests/e2e/cli/action/test_action_detection.py
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/api/action/test_api_action_detection.py
  tests/integration/cli/action/test_action_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_export_utils.py
  tox.ini
Labels: DEPENDENCY, ALGO, TEST, BUILD

#1619 [DEV] Videoframe caching
  otx/algorithms/classification/adapters/mmcls/data/pipelines.py
  otx/algorithms/common/utils/__init__.py
  otx/algorithms/common/utils/data.py
  otx/algorithms/detection/adapters/mmdet/data/pipelines.py
  otx/algorithms/segmentation/adapters/mmseg/data/pipelines.py
Labels: ALGO

#1566 [DOCUMENTATION][feature/otx] Explanation section. PR 2
  docs/source/explanation/additional_features/auto_configuration.rst
  docs/source/explanation/additional_features/models_optimization.rst
  docs/source/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/explanation/algorithms/index.rst
  docs/source/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/utils/images/instance_seg_example.png
  docs/utils/images/semantic_seg_example.png
Labels: DOC

#1643 [HOTFIX] Replace otx.mpa.logger with mmcv.logger in otx.algorithms.common.utils
  otx/algorithms/common/utils/data.py
Labels: ALGO

#1646 [DEV][HOTFIX] Add accuracy metric in multi label classification
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
Labels: ALGO

#1645 Enabled telemetry
  .github/workflows/pre_merge.yml
  otx/cli/tools/build.py
  otx/cli/tools/cli.py
  otx/cli/tools/demo.py
  otx/cli/tools/deploy.py
  otx/cli/tools/eval.py
  otx/cli/tools/explain.py
  otx/cli/tools/export.py
  otx/cli/tools/find.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
  otx/cli/utils/telemetry.py
  requirements/openvino.txt
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/utils/test_telemetry.py
  tox.ini
Labels: DEPENDENCY, CLI, TEST, BUILD

#1650 [CI] Add code scan workflow
  .github/workflows/code_scan.yml
Labels: BUILD

#1652 [CI] Add tests artifact uploading step to daily workflow
  .github/workflows/daily.yml
  tox.ini
Labels: BUILD

#1601 [OTX][Unit Test] Self-supervised learning for classification and semantic segmentation
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  tests/unit/algorithms/classification/__init__.py
  tests/unit/algorithms/classification/adapters/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/data/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/data/test_datasets.py
  tests/unit/algorithms/classification/adapters/mmcls/data/test_pipelines.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_byol.py
  tests/unit/algorithms/classification/adapters/mmcls/models/heads/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/models/heads/test_contrastive_head.py
  tests/unit/algorithms/classification/adapters/mmcls/models/necks/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/models/necks/test_selfsl_mlp.py
  tests/unit/algorithms/segmentation/adapters/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/data/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/data/test_pipelines.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/losses/test_detcon_loss.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/necks/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/necks/test_selfsl_mlp.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
Labels: ALGO, TEST

#1621 [OTX][UNIT-TEST] Add OTX cli side unit test (dataset & registry)
  otx/cli/datasets/rotated_detection/dataset.py
  tests/unit/cli/datasets/test_cli_datasets.py
  tests/unit/cli/registry/test_cli_registry.py
  tests/unit/cli/utils/test_importing.py
Labels: CLI, TEST

#1630 [DEV] Multi-gpu unit test implementation
  otx/cli/utils/multi_gpu.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, TEST

#1641 [OTX] OTX CLI draft refactoring & training with auto-configuration
  otx/cli/builder/builder.py
  otx/cli/manager/__init__.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/demo.py
  otx/cli/tools/deploy.py
  otx/cli/tools/eval.py
  otx/cli/tools/explain.py
  otx/cli/tools/export.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
  otx/cli/utils/config.py
  otx/cli/utils/parser.py
  otx/cli/utils/tests.py
  otx/core/config/__init__.py
  otx/core/config/manager.py
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/api/action/test_api_action_detection.py
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/action/test_action_detection.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/builder/test_cli_builder.py
Labels: CLI, TEST

#1655 [CI] Updated workflow
  .github/workflows/daily.yml
  .github/workflows/weekly.yml
Labels: BUILD

#1638 [DEV] Unit tests for classification
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/algorithms/classification/utils/__init__.py
  otx/algorithms/classification/utils/data.py
  otx/algorithms/classification/utils/labels_utils.py
  otx/cli/datasets/__init__.py
  otx/cli/datasets/image_classification/__init__.py
  otx/cli/datasets/image_classification/dataset.py
  tests/integration/api/classification/test_api_classification.py
  tests/unit/algorithms/classification/adapters/mmcls/test_cls_config_builder.py
  tests/unit/algorithms/classification/adapters/mmcls/test_dataset.py
  tests/unit/algorithms/classification/tasks/test_classification_inference.py
  tests/unit/algorithms/classification/utils/test_classification_utils_params_validation.py
Labels: CLI, ALGO, TEST

#1657 [DEV][HOTFIX] Update mask dimension in `test_detcon.py`
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
Labels: TEST

#1654 [DEV] Remove CLI datsaets not used anymore
  otx/cli/datasets/__init__.py
  otx/cli/datasets/action_classification/__init__.py
  otx/cli/datasets/action_classification/dataset.py
  otx/cli/datasets/action_detection/__init__.py
  otx/cli/datasets/action_detection/dataset.py
  otx/cli/datasets/instance_segmentation/__init__.py
  otx/cli/datasets/instance_segmentation/dataset.py
  otx/cli/datasets/object_detection/__init__.py
  otx/cli/datasets/object_detection/dataset.py
  otx/cli/datasets/rotated_detection/__init__.py
  otx/cli/datasets/rotated_detection/dataset.py
  otx/cli/datasets/semantic_segmentation/__init__.py
  otx/cli/datasets/semantic_segmentation/dataset.py
  tests/unit/cli/datasets/test_cli_datasets.py
Labels: CLI, TEST

#1659 [OTX][Unit Test] otx.mpa.deploy
  otx/mpa/cls/exporter.py
  otx/mpa/deploy/apis.py
  otx/mpa/deploy/utils/__init__.py
  otx/mpa/deploy/utils/mmdet_symbolic.py
  otx/mpa/deploy/utils/utils.py
  otx/mpa/det/exporter.py
  otx/mpa/exporter_mixin.py
  otx/mpa/seg/exporter.py
  otx/mpa/utils/mo_wrapper.py
  tests/unit/mpa/deploy/test_deploy_apis.py
  tests/unit/mpa/deploy/test_helpers.py
  tests/unit/mpa/deploy/utils/test_deploy_utils_mmdeploy.py
  tests/unit/mpa/deploy/utils/test_deploy_utils_operations_domain.py
  tests/unit/mpa/deploy/utils/test_deploy_utils_utils.py
Labels: TEST

#1661 Update README.md
  README.md
Labels: DOC

#1667 [HOT-FIX] Resolve Self-SL e2e test issue
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/hparam.yaml
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/e2e/cli/test_cli.py
Labels: ALGO, TEST

#1668 [ENHANCE] Improved otx find and build commands
  otx/cli/builder/builder.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/find.py
  otx/cli/utils/tests.py
Labels: CLI

#1671 [FIX] Wrong opencv version criteria
  requirements/base.txt
Labels: DEPENDENCY

#1666 [ENHANCE] Consolidate hpopt into OTX
  otx/algorithms/common/utils/utils.py
  otx/cli/utils/hpo.py
  otx/hpo/__init__.py
  otx/hpo/hpo_base.py
  otx/hpo/hpo_runner.py
  otx/hpo/hyperband.py
  otx/hpo/resource_manager.py
  otx/hpo/search_space.py
  requirements/base.txt
  tests/unit/cli/utils/test_hpo.py
  tests/unit/hpo/test_hpo_base.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
  tests/unit/hpo/test_search_space.py
Labels: DEPENDENCY, CLI, ALGO, TEST

#1672 [TEST] Unittests for otx.core.data.datasetmanager
  otx/cli/manager/config_manager.py
  otx/core/data/manager/dataset_manager.py
  tests/unit/core/data/__init__.py
  tests/unit/core/data/manager/test_dataset_manager.py
  tests/unit/core/data/test_helpers.py
Labels: CLI, TEST

#1651 [ENHANCE] Support model partition for mmdeploy export
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/mpa/deploy/apis.py
  otx/mpa/deploy/utils/__init__.py
  otx/mpa/deploy/utils/mmdeploy.py
  otx/mpa/deploy/utils/onnx.py
  otx/mpa/exporter_mixin.py
  otx/mpa/modules/models/detectors/custom_atss_detector.py
  otx/mpa/modules/models/detectors/custom_maskrcnn_detector.py
  otx/mpa/modules/models/detectors/custom_single_stage_detector.py
  otx/mpa/modules/models/detectors/custom_yolox_detector.py
  otx/mpa/utils/mo_wrapper.py
  tests/unit/mpa/deploy/test_deploy_apis.py
  tests/unit/mpa/deploy/test_helpers.py
  tests/unit/mpa/deploy/utils/test_deploy_utils_onnx.py
Labels: ALGO, TEST

#1673 [ENHANCE] Support otx build for Action & Anomaly
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/eval.py
  otx/cli/tools/find.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
Labels: CLI

#1662 [FIX] Restore compatibility with latest Anomalib
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
  otx/algorithms/anomaly/adapters/anomalib/data/create_mvtec_ad_json_annotations.py
  otx/algorithms/anomaly/adapters/anomalib/data/data.py
  otx/algorithms/anomaly/adapters/anomalib/data/mvtec.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/anomaly/tasks/nncf.py
  otx/algorithms/anomaly/tasks/train.py
  requirements/anomaly.txt
  tox.ini
Labels: DEPENDENCY, ALGO, BUILD

#1677 [Anomaly] Bump anomalib version
  requirements/anomaly.txt
Labels: DEPENDENCY

#1622 Remove feature/otx in develop branch & Update OTX typos
  CONTRIBUTING.md
  README.md
  docs/source/reference/algorithm/index.rst
Labels: DOC

#1664 [TEST] Unit Test: SupCon for semantic segmentation
  otx/algorithms/common/adapters/mmcv/hooks.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  tests/unit/algorithms/common/__init__.py
  tests/unit/algorithms/common/adapters/__init__.py
  tests/unit/algorithms/common/adapters/mmcv/__init__.py
  tests/unit/algorithms/common/adapters/mmcv/test_hooks.py
  tests/unit/algorithms/segmentation/adapters/mmseg/data/test_pipelines.py
  tests/unit/algorithms/segmentation/adapters/mmseg/models/segmentors/test_detcon.py
  tests/unit/mpa/modules/__init__.py
  tests/unit/mpa/modules/datasets/__init__.py
  tests/unit/mpa/modules/datasets/pipelines/__init__.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/__init__.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_seg_custom_pipelines.py
Labels: ALGO, TEST

#1676 [Fix] Missing config.json
  otx/algorithms/detection/tasks/openvino.py
  pyproject.toml
Labels: DEPENDENCY, ALGO, BUILD

#1680 [TEST] Add unit tests for otx.algorithms.action.tools
  tests/unit/algorithms/action/tools/test_action_sample_classification.py
  tests/unit/algorithms/action/tools/test_action_sample_detection.py
Labels: TEST

#1675 [TEST] Unit-tests for otx.core.data.adapter
  otx/core/data/adapter/base_dataset_adapter.py
  tests/unit/core/data/adapter/test_action_adapter.py
  tests/unit/core/data/adapter/test_anomaly_adapter.py
  tests/unit/core/data/adapter/test_classification_adapter.py
  tests/unit/core/data/adapter/test_detection_adapter.py
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/adapter/test_segmentation_adapter.py
  tests/unit/core/data/test_helpers.py
Labels: TEST

#1679 [TEST] Add unit tests for otx.algorithms.action.tasks
  otx/algorithms/action/tasks/inference.py
  tests/unit/algorithms/action/tasks/test_action_inference.py
  tests/unit/algorithms/action/tasks/test_action_openvino.py
  tests/unit/algorithms/action/tasks/test_action_train.py
  tests/unit/algorithms/action/test_helpers.py
Labels: ALGO, TEST

#1678 [TEST] Unit tests for otx.mpa.det
  otx/mpa/det/stage.py
  tests/unit/mpa/det/incremental/test_det_incremental_stage.py
  tests/unit/mpa/det/semisl/test_det_semisl_stage.py
  tests/unit/mpa/det/test_det_exporter.py
  tests/unit/mpa/det/test_det_inferrer.py
  tests/unit/mpa/det/test_det_stage.py
  tests/unit/mpa/det/test_det_trainer.py
Labels: TEST

#1642 [TEST][Classification] Unit tests for Train task, OpenVINO task, Model Adapter, utils
  otx/algorithms/classification/utils/convert_coco_to_multilabel.py
  tests/unit/algorithms/classification/adapters/openvino/test_openvino_models.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/classification/tasks/test_classification_train_task.py
  tests/unit/algorithms/classification/test_helper.py
  tests/unit/algorithms/classification/utils/test_utils.py
Labels: ALGO, TEST

#1598 [TEST] Segmentation adapters unit-tests
  tests/unit/algorithms/segmentation/adapters/mmseg/test_config_utils.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_config_utils_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_data_utils.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_data_utils_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_dataset.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_dataset_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_pipelines.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_pipelines_params_validation.py
  tests/unit/algorithms/segmentation/adapters/openvino/model_wrappers/test_blur.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_blur_params_validation.py
Labels: TEST

#1681 [ENHANCE] Rebuild OTX workspace
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/train.py
  otx/cli/utils/tests.py
  tests/integration/cli/test_cli.py
Labels: CLI, TEST

#1670 [CI] Updated snyk-scan workflow
  .github/workflows/code_scan.yml
  requirements/base.txt
  requirements/openvino.txt
  tox.ini
Labels: DEPENDENCY, BUILD

#1682 [Test] Add unit tests for otx.algorithms.action.utils
  tests/unit/algorithms/action/utils/test_action_convert_public_data_to_cvat.py
  tests/unit/algorithms/action/utils/test_action_data.py
Labels: TEST

#1686 [TEST] Unit tests for otx.cli.utils
  otx/cli/manager/config_manager.py
  otx/cli/utils/config.py
  otx/cli/utils/io.py
  otx/cli/utils/nncf.py
  otx/cli/utils/parser.py
  tests/unit/cli/utils/conftest.py
  tests/unit/cli/utils/test_config.py
  tests/unit/cli/utils/test_io.py
  tests/unit/cli/utils/test_nncf.py
  tests/unit/cli/utils/test_parser.py
Labels: CLI, TEST

#1687 [FIX] Avoid duplicate stacking for used_labels in Seg, Det
  otx/core/data/adapter/detection_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/assets/voc_dataset/voc_dataset2/Annotations/@.xml
  tests/assets/voc_dataset/voc_dataset2/Annotations/a.xml
  tests/assets/voc_dataset/voc_dataset2/Annotations/b.xml
  tests/assets/voc_dataset/voc_dataset2/Annotations/c.xml
  tests/assets/voc_dataset/voc_dataset2/Annotations/d.xml
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Action/trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Layout/trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/aeroplane_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/background_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/bicycle_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/bird_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/boat_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/bottle_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/bus_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/car_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/cat_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/chair_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/cow_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/diningtable_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/dog_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/horse_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/ignored_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/motorbike_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/person_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/pottedplant_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/sheep_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/sofa_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/train.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/train_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Main/tvmonitor_trainval.txt
  tests/assets/voc_dataset/voc_dataset2/ImageSets/Segmentation/trainval.txt
  tests/assets/voc_dataset/voc_dataset2/JPEGImages/2007_000001.jpg
  tests/assets/voc_dataset/voc_dataset2/labelmap.txt
  tests/assets/voc_dataset/voc_dataset3/Annotations/2007_000001.xml
Labels: TEST

#1690 [FIX] Move mmdeploy requirement from openvino to tasks
  requirements/classification.txt
  requirements/detection.txt
  requirements/openvino.txt
  requirements/segmentation.txt
Labels: DEPENDENCY

#1692 [TEST][Bugfix] Make test passed regardless of order of the list
  tests/unit/cli/utils/test_io.py
Labels: TEST

#1688 [ENHANCE] Upgrade ONNX to v1.13.0 for security issue
  .github/workflows/code_scan.yml
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/weekly.yml
  requirements/base.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/dev.txt
  requirements/openvino.txt
  requirements/segmentation.txt
  tox.ini
Labels: DEPENDENCY, BUILD

#1663 [TEST] Refactor classification unit tests
  tests/unit/algorithms/classification/adapters/mmcls/data/test_datasets.py
  tests/unit/algorithms/classification/adapters/mmcls/test_dataset.py
  tests/unit/algorithms/classification/tasks/test_classification_inference.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/classification/tasks/test_classification_train_task.py
  tests/unit/algorithms/classification/test_helper.py
Labels: TEST

#1695 [CI] Update config for the coverage
  .github/workflows/daily.yml
  pyproject.toml
  tox.ini
Labels: DEPENDENCY, BUILD

#1693 [FIX] Remove mmcv dependency in OTX CLI
  otx/algorithms/common/utils/data.py
  otx/algorithms/common/utils/mask_to_bbox.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/utils/hpo.py
  otx/cli/utils/tests.py
  otx/core/data/adapter/anomaly_dataset_adapter.py
  tests/unit/algorithms/detection/utils/test_detection_mask_to_bbox.py
Labels: CLI, ALGO, TEST

#1691 [TEST] Move otx/cli/utils/tests.py to tests/test_suite/run_test_command.py
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/action/test_action_detection.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/integration/cli/test_cli.py
  tests/run_model_templates_tests.py
  tests/test_suite/run_test_command.py
Labels: TEST

#1698 [FIX] Fix otx train --help issue
  otx/cli/manager/config_manager.py
  otx/cli/tools/train.py
  otx/cli/utils/parser.py
Labels: CLI

#1697 [FIX] Revisit rotated detection templates
  otx/algorithms/detection/configs/instance_segmentation/__init__.py
  otx/algorithms/detection/configs/rotated_detection/__init__.py
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/__init__.py
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/compression_config.json
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/data_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/deployment.py
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/hpo_config.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/model.py
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/__init__.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/compression_config.json
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/data_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/deployment.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/hpo_config.yaml
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/model.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: ALGO

#1701 [ENHANCE] Add --data args to otx train to use custom path of data.yaml
  otx/cli/manager/config_manager.py
  otx/cli/tools/train.py
  otx/cli/utils/parser.py
Labels: CLI

#1699 [FIX] Add yaml recipes to package_data
  MANIFEST.in
  setup.py
Labels: DEPENDENCY, BUILD

#1611 [DOCUMENTATION] Classification Tutorials
  docs/source/tutorials/base/how_to_train/classification.rst
  docs/utils/images/flowers.jpg
Labels: DOC

#1685 [TEST][CLASSIFICATION] MPA unit tests for classification task
  tests/unit/algorithms/classification/test_helper.py
  tests/unit/mpa/cls/incremental/test_cls_incremental_stage.py
  tests/unit/mpa/cls/semisl/test_cls_semisl_stage.py
  tests/unit/mpa/cls/test_cls_evaluator.py
  tests/unit/mpa/cls/test_cls_explanier.py
  tests/unit/mpa/cls/test_cls_exporter.py
  tests/unit/mpa/cls/test_cls_inferrer.py
  tests/unit/mpa/cls/test_cls_stage.py
  tests/unit/mpa/cls/test_cls_trainer.py
Labels: TEST

#1704 [FIX] Bug fix in E2E CLI tests
  tests/e2e/cli/test_cli.py
Labels: TEST

#1696 [ENHANCE] Use FastBiasCorrection for OCR_HRNET_18_MOD2
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/pot_optimization_config.json
Labels: ALGO

#1700 [ENHANCE] Refine installation & dev environment
  QUICK_START_GUIDE.md
  otx/algorithms/init_venv.sh
  otx/algorithms/segmentation/__init__.py
  otx/algorithms/segmentation/tasks/train.py
  requirements/dev.txt
  setup.py
  tox.ini
Labels: DEPENDENCY, ALGO, BUILD, DOC

#1703 [FIX] Bugfix for classification & align filename for samples
  otx/algorithms/classification/tools/classification_sample.py
  otx/algorithms/detection/tools/detection_sample.py
  otx/algorithms/detection/tools/detection_semisl_sample.py
  otx/algorithms/detection/tools/instance_segmentation_sample.py
  otx/algorithms/segmentation/tools/segmentation_sample.py
Labels: ALGO

#1702 [ENHANCE] Implement to get progress of hpo
  otx/hpo/hyperband.py
  tests/unit/hpo/test_hyperband.py
Labels: TEST

#1669 [TEST] nncf unit test
  otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  otx/algorithms/classification/tasks/nncf.py
  otx/algorithms/common/adapters/mmcv/nncf/__init__.py
  otx/algorithms/common/adapters/mmcv/nncf/patches.py
  otx/algorithms/common/adapters/mmcv/nncf/runners.py
  otx/algorithms/common/adapters/mmcv/nncf/utils.py
  otx/algorithms/common/adapters/mmcv/utils/_builder_build_data_parallel.py
  otx/algorithms/common/adapters/nncf/__init__.py
  otx/algorithms/common/adapters/nncf/compression.py
  otx/algorithms/common/adapters/nncf/patchers/__init__.py
  otx/algorithms/common/adapters/nncf/patchers/wrappers.py
  otx/algorithms/common/adapters/nncf/patches.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/detection/adapters/mmdet/nncf/patches.py
  otx/algorithms/detection/tasks/nncf.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
  otx/algorithms/segmentation/tasks/nncf.py
  otx/core/patcher.py
  tests/unit/algorithms/classification/adapters/mmcls/nncf/test_mmcls_nncf_builder.py
  tests/unit/algorithms/classification/adapters/mmcls/nncf/test_mmcls_nncf_patches.py
  tests/unit/algorithms/classification/adapters/mmcls/nncf/test_mmcls_nncf_registers.py
  tests/unit/algorithms/classification/tasks/test_classification_nncf.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_helpers.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_mmcv_nncf_hooks.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_mmcv_nncf_runners.py
  tests/unit/algorithms/common/adapters/mmcv/nncf/test_mmcv_nncf_utils.py
  tests/unit/algorithms/common/adapters/nncf/test_nncf_compression.py
  tests/unit/algorithms/common/adapters/nncf/test_nncf_config.py
  tests/unit/algorithms/common/adapters/nncf/test_nncf_patches.py
  tests/unit/algorithms/common/adapters/nncf/test_nncf_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_mmdet_nncf_builder.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_mmdet_nncf_patches.py
  tests/unit/algorithms/detection/tasks/test_detection_nncf.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_builder.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_hooks.py
  tests/unit/algorithms/segmentation/adapters/mmseg/nncf/test_mmseg_nncf_patches.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_nncf.py
  tests/unit/core/test_core_patcher.py
Labels: ALGO, TEST

#1706 [TEST] Skip deployment & other backbone configs
  pyproject.toml
Labels: DEPENDENCY, BUILD

#1713 [CI] Updated tox for pre-merge testenv
  tox.ini
Labels: BUILD

#1710 [FIX] Add missing __init__.py for segmentation
  otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/segmentation/adapters/__init__.py
  otx/algorithms/segmentation/adapters/mmseg/data/dataset.py
  otx/algorithms/segmentation/adapters/mmseg/models/segmentors/detcon.py
  otx/algorithms/segmentation/adapters/openvino/model_wrappers/blur.py
  otx/algorithms/segmentation/configs/__init__.py
  otx/algorithms/segmentation/configs/base/data/semisl/__init__.py
  otx/algorithms/segmentation/configs/base/deployments/__init__.py
Labels: ALGO

#1712 [FIX] Data configuration path in data.yaml to absolute path
  otx/cli/utils/config.py
  tests/unit/cli/utils/test_config.py
  tests/unit/cli/utils/test_parser.py
Labels: CLI, TEST

#1716 [FIX] Fix unit test and test data asset in segmentation
  tests/assets/voc_dataset/voc_dataset1/ImageSets/Segmentation/val.txt
  tests/unit/algorithms/segmentation/adapters/openvino/model_wrappers/test_blur.py
Labels: TEST

#1717 [ENHANCE] Refine dependency versions and requirement structure
  QUICK_START_GUIDE.md
  requirements/action.txt
  requirements/api.txt
  requirements/base.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
  setup.py
  tox.ini
Labels: DEPENDENCY, BUILD, DOC

#1722 [UNITTEST] Added simple unittest for otx.tools.cli
  QUICK_START_GUIDE.md
  otx/cli/tools/cli.py
  tests/unit/cli/tools/test_cli.py
Labels: CLI, TEST, DOC

#1715 [Tests] Add Unit tests for schedulers
  otx/mpa/modules/models/scalar_schedulers/base.py
  otx/mpa/modules/models/scalar_schedulers/constant.py
  otx/mpa/modules/models/scalar_schedulers/poly.py
  otx/mpa/modules/models/scalar_schedulers/step.py
  tests/unit/mpa/modules/models/__init__.py
  tests/unit/mpa/modules/models/scalar_schedulers/__init__.py
  tests/unit/mpa/modules/models/scalar_schedulers/test_schedulers.py
Labels: TEST

#1720 [TEST] Implement unit tests for export.py and deploy.py in cli
  tests/unit/cli/conftest.py
  tests/unit/cli/tools/test_deploy.py
  tests/unit/cli/tools/test_export.py
Labels: TEST

#1718 [TEST] UnitTests: mpa.modules.optimizer
  tests/unit/mpa/modules/optimizer/__init__.py
  tests/unit/mpa/modules/optimizer/test_lars.py
  tests/unit/mpa/test_helpers.py
Labels: TEST

#1721 [FIX] Resolve FQ issue, Minor refactoring for DatasetAdapter
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/nncf/nncf_quantization.dot
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_stfpm/nncf/nncf_quantization.dot
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/nncf/nncf_quantization.dot
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/nncf/nncf_quantization.dot
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/nncf/nncf_quantization.dot
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/nncf/nncf_quantization.dot
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/test_suite/run_test_command.py
Labels: TEST

#1723 [TEST] Remove unused files in mpa/modules
  otx/algorithms/classification/adapters/mmcls/__init__.py
  otx/algorithms/classification/adapters/mmcls/data/__init__.py
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/algorithms/classification/adapters/mmcls/utils/config_utils.py
  otx/algorithms/classification/configs/base/data/data_pipeline.py
  otx/algorithms/classification/configs/base/data/semisl/data_pipeline.py
  otx/algorithms/classification/configs/base/data/supcon/data_pipeline.py
  otx/algorithms/classification/tasks/inference.py
  otx/mpa/cls/__init__.py
  otx/mpa/cls/incremental/stage.py
  otx/mpa/cls/inferrer.py
  otx/mpa/modules/datasets/cls_dir_dataset.py
  otx/mpa/modules/datasets/pipelines/torchvision2mmdet.py
  otx/mpa/modules/datasets/pipelines/transforms/ote_transforms.py
  otx/mpa/modules/datasets/pipelines/transforms/random_augment.py
  otx/mpa/modules/datasets/samplers/distributed_sampler.py
  otx/mpa/modules/hooks/freeze_layers_hook.py
  otx/mpa/modules/models/backbones/efficientnet.py
  otx/mpa/modules/models/backbones/efficientnetv2.py
  otx/mpa/modules/models/backbones/mobilenetv3.py
  otx/mpa/modules/models/classifiers/__init__.py
  otx/mpa/modules/models/classifiers/task_incremental_classifier.py
  otx/mpa/modules/models/heads/multi_classifier_head.py
  otx/mpa/modules/models/heads/task_incremental_classifier_head.py
  otx/mpa/modules/utils/task_adapt.py
  otx/recipes/stages/_base_/data/twocrop_data.py
  tests/unit/algorithms/classification/adapters/mmcls/data/test_datasets.py
  tests/unit/algorithms/classification/adapters/mmcls/test_mmcls_data_params_validation.py
  tests/unit/algorithms/classification/test_helper.py
  tests/unit/mpa/cls/test_cls_explanier.py
  tests/unit/mpa/cls/test_cls_inferrer.py
Labels: ALGO, TEST

#1728 [DOC] Update third-party-program.txt
  third-party-programs.txt
Labels: DOC

#1732 [TEST] Ignore samples from coverage computation
  pyproject.toml
Labels: DEPENDENCY, BUILD

#1730 [FIX] data adpater and test cases
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/detection_dataset_adapter.py
  tests/unit/core/data/adapter/test_action_adapter.py
  tests/unit/core/data/adapter/test_anomaly_adapter.py
  tests/unit/core/data/adapter/test_classification_adapter.py
  tests/unit/core/data/adapter/test_detection_adapter.py
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/adapter/test_segmentation_adapter.py
Labels: TEST

#1709 [TEST] Add unit tests for MPA classification-related losses and heads
  otx/mpa/modules/models/heads/custom_hierarchical_linear_cls_head.py
  otx/mpa/modules/models/heads/custom_hierarchical_non_linear_cls_head.py
  otx/mpa/modules/models/heads/non_linear_cls_head.py
  otx/mpa/modules/models/losses/cross_entropy_loss.py
  tests/unit/mpa/modules/heads/__init__.py
  tests/unit/mpa/modules/heads/test_custom_cls_head.py
  tests/unit/mpa/modules/heads/test_custom_hierarchical_cls_head.py
  tests/unit/mpa/modules/heads/test_custom_multilabel_cls_head.py
  tests/unit/mpa/modules/losses/__init__.py
  tests/unit/mpa/modules/losses/test_asymmetric_multilabel.py
  tests/unit/mpa/modules/losses/test_cross_entropy.py
Labels: TEST

#1731 [TEST] Add Unit test code for OTX CLI side
  tests/unit/cli/builder/test_cli_builder.py
  tests/unit/cli/manager/test_config_manager.py
  tests/unit/cli/tools/test_build.py
  tests/unit/cli/tools/test_eval.py
  tests/unit/cli/tools/test_find.py
  tests/unit/cli/tools/test_optimize.py
  tests/unit/cli/tools/test_train.py
Labels: TEST

#1734 [FIX]Fix coco to Datumaro multilabel converter
  otx/algorithms/classification/utils/convert_coco_to_multilabel.py
Labels: ALGO

#1714 [FIX] unpatch recursive patcher
  otx/core/patcher.py
  tests/unit/core/test_core_patcher.py
Labels: TEST

#1739 [FIX] Keep `ote_config_helper` name for external backward compatibility
  otx/api/configuration/__init__.py
  otx/api/configuration/elements/utils.py
  otx/api/entities/task_environment.py
  tests/unit/api/configuration/test_configuration_helper.py
  tests/unit/api/entities/test_model.py
  tests/unit/api/entities/test_task_environment.py
Labels: API, TEST

#1735 [FIX] Resolve input parameter override issue with sub train types
  otx/cli/manager/config_manager.py
  otx/cli/tools/demo.py
  otx/cli/tools/eval.py
  otx/cli/tools/explain.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
  otx/cli/utils/parser.py
  tests/unit/cli/tools/test_eval.py
  tests/unit/cli/tools/test_optimize.py
  tests/unit/cli/tools/test_train.py
  tests/unit/cli/utils/test_parser.py
Labels: CLI, TEST

#1747 [FIX] Add kornia==0.6.9 in requirements/anomaly.txt
  requirements/anomaly.txt
Labels: DEPENDENCY

#1751 [Doc] Disable doc links in readme files
  README.md
  docs/README.rst
Labels: DOC

#1736 [DOC] Convert Quick start guide to .rst format. Add main page to docs + some changes
  OTE_landing_page.md
  README.md
  docs/source/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/get_started/index.rst
  docs/source/get_started/installation.rst
  docs/source/get_started/introduction.rst
  docs/source/get_started/quick_start_guide.rst
  docs/source/index.rst
  docs/source/release_notes/index.rst
  docs/source/tutorials/base/how_to_train/classification.rst
  docs/source/tutorials/base/how_to_train/detection.rst
  docs/utils/images/otx-logo-black.png
  training_extensions_framework.png
Labels: DOC

#1750 [FIX] Resolved an issue with rebuilding on backbone replacement
  otx/cli/manager/config_manager.py
Labels: CLI

#1744 [TEST] Unit tests for mpa/modules/datasets/samplers
  otx/mpa/modules/datasets/samplers/balanced_sampler.py
  otx/mpa/modules/datasets/samplers/cls_incr_sampler.py
  tests/unit/mpa/modules/datasets/samplers/test_balanced_sampler.py
  tests/unit/mpa/modules/datasets/samplers/test_cls_incr_sampler.py
Labels: TEST

#1737 [TEST] Unit test for otx/mpa/*.py
  tests/unit/mpa/test_builder.py
  tests/unit/mpa/test_export_mixin.py
  tests/unit/mpa/test_stage.py
  tests/unit/mpa/test_version.py
  tests/unit/mpa/test_workflow.py
Labels: TEST

#1749 [DOC] Semi-SL for multi-class classification algorithm description part
  docs/source/explanation/algorithms/classification/multi_class_classification.rst
Labels: DOC

#1743 [TEST] Remove unused files: mae.py in detection & FreezeLayers in segmentation
  otx/algorithms/detection/adapters/mmdet/evaluation/__init__.py
  otx/algorithms/detection/adapters/mmdet/evaluation/mae.py
  otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/algorithms/segmentation/tools/segmentation_sample.py
  otx/mpa/modules/hooks/__init__.py
  otx/mpa/modules/hooks/freeze_layers_hook.py
  otx/recipes/stages/segmentation/train.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_config_utils.py
Labels: ALGO, TEST

#1725 [DOC] Self-SL & SupCon for classification
  docs/source/explanation/algorithms/classification/multi_class_classification.rst
  docs/utils/images/multi_cls_selfsl_performance_CIFAR10.png
  docs/utils/images/multi_cls_selfsl_performance_CIFAR100.png
  docs/utils/images/multi_cls_selfsl_performance_Food-101.png
Labels: DOC

#1738 [FIX] Integer based sort for label.id_ in label_schema instead of string
  otx/api/entities/label_schema.py
Labels: API

#1752 [DOC] Backbone Replacement Tutorial & Fix some wrong path in docs
  docs/source/get_started/quick_start_guide.rst
  docs/source/index.rst
  docs/source/reference/algorithm/anomaly/configs.rst
  docs/source/tutorials/advanced/backbones.rst
  docs/source/tutorials/base/how_to_train/detection.rst
Labels: DOC

#1746 [DOC] Self-SL & SupCon for semantic segmentation
  docs/source/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

#1741 [DOC] Action classification explanation part
  docs/source/explanation/algorithms/action/action_classification.rst
Labels: DOC

#1754 [TEST] - Add unit tests for mpa modules dataset pipelines
  tests/unit/mpa/modules/datasets/pipelines/test_compose.py
  tests/unit/mpa/modules/datasets/pipelines/test_torchvision2mmdet.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_augments.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_augmix.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_ote_transforms.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_random_augment.py
  tests/unit/mpa/modules/datasets/pipelines/transforms/test_twocrop_transform.py
Labels: TEST

#1753 [FIX] Add hparams.yaml in supcon for OTX workspace
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/supcon/hparam.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/supcon/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/supcon/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/supcon/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/hparam.yaml
Labels: ALGO

#1755 [DOC] Add Deploy and Demo Tutorial (copying #1565)
  docs/source/tutorials/base/demo.rst
  docs/source/tutorials/base/deploy.rst
  docs/source/tutorials/base/how_to_train/detection.rst
  docs/utils/images/wgisd_dataset_sample.jpg
  docs/utils/images/wgisd_pr2_sample.jpg
  docs/utils/images/wgisd_pr_sample.jpg
Labels: DOC

#1745 [FIX] Tiling multiprocessing issue
  otx/algorithms/detection/adapters/mmdet/data/tiling.py
Labels: ALGO

#1756 [DOC] Modify table column in SupCon for classification
  docs/source/explanation/algorithms/classification/multi_class_classification.rst
Labels: DOC

#1733 [TEST] MPA unit tests for modules/classifiers
  tests/unit/mpa/modules/models/classifiers/__init__.py
  tests/unit/mpa/modules/models/classifiers/test_sam_classifier.py
  tests/unit/mpa/modules/models/classifiers/test_semisl_classifier.py
  tests/unit/mpa/modules/models/classifiers/test_supcon_classifier.py
Labels: TEST

#1761 [Tests] Add tests for losses
  tests/unit/mpa/modules/losses/test_cross_focal_loss.py
  tests/unit/mpa/modules/losses/test_l2sp_loss.py
  tests/unit/mpa/modules/losses/test_utils.py
Labels: TEST

#1763 [FIX] Incorporated some review comments in docs
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/tutorials/advanced/backbones.rst
Labels: DOC

#1759 [FIX] Change self-sl for cls batch size from 256 to 64
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/selfsl/hparam.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/selfsl/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/selfsl/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/selfsl/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/selfsl/hparam.yaml
Labels: ALGO

#1764 [FIX] Remove 'abstract' constraint from IMedia2D.path interface
  otx/api/entities/media.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  tests/unit/api/entities/test_media.py
Labels: API, TEST

#1740 [ENHANCE] Support HMDB51/UCF101 converting to CVAT format for action classification
  otx/algorithms/action/utils/convert_public_data_to_cvat.py
  tests/unit/algorithms/action/utils/test_action_convert_public_data_to_cvat.py
Labels: ALGO, TEST

#1758 HRNet IS for POT update
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/pot_optimization_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/pot_optimization_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/pot_optimization_config.json
Labels: ALGO

#1770 [DOC] Revert logos
  docs/source/conf.py
  docs/source/guide/explanation/algorithms/index.rst
  docs/source/guide/get_started/introduction.rst
Labels: DOC

#1674 [FIX] Add `SelfSLSegmentationDatasetAdapter`
  otx/algorithms/action/tools/sample_classification.py
  otx/algorithms/action/tools/sample_detection.py
  otx/cli/manager/config_manager.py
  otx/cli/utils/hpo.py
  otx/core/data/adapter/__init__.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/unit/algorithms/action/tools/test_action_sample_classification.py
  tests/unit/algorithms/action/tools/test_action_sample_detection.py
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/adapter/test_segmentation_adapter.py
Labels: CLI, ALGO, TEST

#1724 [ENHANCE] Parametrize: (1) saliency map postprocessing and (2) explain targets
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/openvino.py
  otx/api/entities/inference_parameters.py
  otx/api/utils/dataset_utils.py
  otx/api/utils/vis_utils.py
  otx/cli/tools/explain.py
  otx/cli/utils/io.py
  otx/mpa/cls/explainer.py
  otx/mpa/det/explainer.py
  tests/integration/api/xai/test_api_xai_sanity.py
  tests/integration/api/xai/test_api_xai_validity.py
  tests/unit/api/entities/test_inference_parameters.py
  tests/unit/cli/utils/test_io.py
  tests/unit/mpa/cls/test_cls_explanier.py
Labels: API, CLI, ALGO, TEST

#1774 [CI] Align doc build env w/ test env for API reference
  .github/workflows/docs.yml
  tox.ini
Labels: BUILD

#1771 [DOC] Add tutorial for action classification
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
Labels: DOC

#1708 [ENHANCE] Parametrize saliency maps dumping in export parametrizable
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/deployment.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/deployment.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/deployment.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/deployment.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/deployment.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/deployment.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/api/usecases/tasks/interfaces/export_interface.py
  otx/cli/tools/export.py
  otx/mpa/modules/models/classifiers/sam_classifier.py
  otx/mpa/modules/models/detectors/custom_atss_detector.py
  otx/mpa/modules/models/detectors/custom_maskrcnn_detector.py
  otx/mpa/modules/models/detectors/custom_single_stage_detector.py
  otx/mpa/modules/models/detectors/custom_yolox_detector.py
  tests/test_suite/run_test_command.py
  tests/unit/cli/tools/test_export.py
Labels: API, CLI, ALGO, TEST

#1772 [FIX] Enable Semi-SL + Auto-split
  otx/cli/manager/config_manager.py
  tests/unit/cli/manager/test_config_manager.py
Labels: CLI, TEST

#1765 [DOC] Reflect comments of Self-SL & SupCon for classification and semantic segmentation
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

#1762 [DOC] added api tutorials
  docs/source/guide/tutorials/advanced/api_tutorial.rst
  docs/source/guide/tutorials/advanced/datumaro.rst
  docs/source/guide/tutorials/advanced/index.rst
  notebooks/train.ipynb
Labels: DOC

#1781 [FIX] Move imagesize dep from base to api requirement
  requirements/api.txt
  requirements/base.txt
Labels: DEPENDENCY

#1767 [DOC] Add document for action detection explanation
  docs/source/guide/explanation/algorithms/action/action_detection.rst
Labels: DOC

#1768 [DOC] Add document for semi-sl object detection
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
Labels: DOC

#1766 [DOC] Tutorial for semantic segmentation
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/utils/images/voc_example.png
Labels: DOC

#1787 [DOC] Rename OTX to OpenVINO™ Training Extensions
  docs/source/_static/logos/otx-logo-black-mini.png
  docs/source/_static/logos/otx-logo-black.png
  docs/source/_static/logos/otx-logo-mini.png
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/models_optimization.rst
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/index.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/index.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  docs/source/guide/get_started/quick_start_guide/installation.rst
  docs/source/guide/reference/algorithm/anomaly/adapters/index.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/api_tutorial.rst
  docs/source/guide/tutorials/advanced/backbones.rst
  docs/source/guide/tutorials/advanced/semi_sl.rst
  docs/source/guide/tutorials/base/demo.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/index.rst
Labels: DOC

#1789 [DOC] Updated changelog for 1.0 release
  CHANGELOG.md
Labels: DOC

#1795 [CI] Enable pre-merge tests & doc build on release branch
  .github/workflows/docs.yml
  .github/workflows/pre_merge.yml
Labels: BUILD

#1785 [DOC][FIX] Fix action docs
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/reference/algorithm/action/adapters/mmaction.rst
  docs/source/guide/reference/algorithm/action/adapters/openvino.rst
Labels: DOC

#1777 [DOC] Add instance segmentation tutorial
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/utils/images/car_tree_bug_gt_sample.png
Labels: DOC
