Repository open-edge-platform/training_extensions, pull requests merged in 2023-05, with the labels that each got.

#2089 Add spatial concatenation to deployment demo
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
Labels: API

#2085 Daily and Pre-merge workflows updates
  .ci/README.md
  .ci/build.sh
  .ci/start-runner.sh
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
  docs/source/guide/get_started/quick_start_guide/installation.rst
  tox.ini
Labels: BUILD, DOC

#2086 Merge back 1.2.1 RC1 & RC2
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/additional_features/noisy_label_detection.rst
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/datasets/pipelines/load_pipelines.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/data_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/deployment.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/deployment.py
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/utils/data.py
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/tiler.py
  otx/core/data/adapter/base_dataset_adapter.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/core/data/adapter/test_detection_adapter.py
Labels: API, ALGO, TEST, DOC

#2081 Fix Tiling NNCF
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  tests/assets/small_objects/annotations/instances_test.json
  tests/assets/small_objects/annotations/instances_train.json
  tests/assets/small_objects/annotations/instances_val.json
  tests/assets/small_objects/images/test/sample_0.jpg
  tests/assets/small_objects/images/test/sample_1.jpg
  tests/assets/small_objects/images/train/sample_2.jpg
  tests/assets/small_objects/images/train/sample_3.jpg
  tests/assets/small_objects/images/train/sample_4.jpg
  tests/assets/small_objects/images/train/sample_6.jpg
  tests/assets/small_objects/images/train/sample_7.jpg
  tests/assets/small_objects/images/train/sample_9.jpg
  tests/assets/small_objects/images/val/sample_5.jpg
  tests/assets/small_objects/images/val/sample_8.jpg
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
Labels: ALGO, TEST

#2087 Support storage cache for action task
  CHANGELOG.md
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/segmentation/configs/configuration.yaml
  otx/core/data/adapter/action_dataset_adapter.py
  otx/core/data/adapter/base_dataset_adapter.py
Labels: FEATURE, ALGO, DOC, REFACTOR

#2097 Update documentation
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/get_started/quick_start_guide/index.rst
  docs/source/guide/index.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/backbones.rst
  docs/source/guide/tutorials/advanced/hpo_tutorial.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/self_sl.rst
  docs/source/guide/tutorials/advanced/semi_sl.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/index.rst
  docs/source/guide/tutorials/index.rst
Labels: DOC

#2101 Modify action sample codes
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/tools/sample_classification.py
  otx/algorithms/action/tools/sample_detection.py
  tests/unit/algorithms/action/tools/test_action_sample_classification.py
  tests/unit/algorithms/action/tools/test_action_sample_detection.py
Labels: ALGO, TEST

#2096 Add use_adaptive_interval in Semi-SL for classification hparams
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/semisl/hparam.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/semisl/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/semisl/hparam.yaml
Labels: ALGO

#2106 Update concurrency settings for pre-merge
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
Labels: BUILD

#2102 Fix train-type assign in ConfigManager
  otx/cli/manager/config_manager.py
Labels: CLI, HOTFIX

#2108 Bugfix : remove early stop hook while decreasing batch size
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: ALGO, FIX

#2113 Set fail-fast to false to avoid canceling on parallel jobs
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
Labels: BUILD

#2107 Change configuration value for Instance-Segmentation optimization
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/cli/tools/train.py
Labels: CLI, ALGO

#2114 Fixed some broken links in README.md
  README.md
Labels: DOC

#2111 Clean up `CustomStepLrUpdateHook`
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/lr_updater_hook.py
  otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/compression_config.json
  otx/recipes/stages/segmentation/selfsl.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_lr_updater_hook.py
Labels: BUG, ALGO, TEST, DOC, REFACTOR, RELEASE

#2095 Fix and enhance regression tests
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/summarize_test_results.py
Labels: BUG, TEST

#2120 Fix storage cache-able subset error
  otx/core/data/adapter/base_dataset_adapter.py
Labels: BUG

#2091 New metadata field 'step_size' for float configurable parameters
  otx/api/configuration/elements/metadata_keys.py
  otx/api/configuration/elements/primitive_parameters.py
  tests/unit/api/configuration/elements/test_primitive_parameters.py
Labels: API, TEST

#2121 Resolve CLI build bug with lower case
  otx/cli/registry/registry.py
Labels: FIX

#2126 Merge back 1.2.1 RC3~5
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  otx/algorithms/common/adapters/mmcv/hooks/lr_updater_hook.py
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/compression_config.json
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/compression_config.json
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/cli/manager/config_manager.py
  otx/recipes/stages/segmentation/selfsl.py
  tests/assets/small_objects/annotations/instances_test.json
  tests/assets/small_objects/annotations/instances_train.json
  tests/assets/small_objects/annotations/instances_val.json
  tests/assets/small_objects/images/test/sample_0.jpg
  tests/assets/small_objects/images/test/sample_1.jpg
  tests/assets/small_objects/images/train/sample_2.jpg
  tests/assets/small_objects/images/train/sample_3.jpg
  tests/assets/small_objects/images/train/sample_4.jpg
  tests/assets/small_objects/images/train/sample_6.jpg
  tests/assets/small_objects/images/train/sample_7.jpg
  tests/assets/small_objects/images/train/sample_9.jpg
  tests/assets/small_objects/images/val/sample_5.jpg
  tests/assets/small_objects/images/val/sample_8.jpg
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_lr_updater_hook.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: API, CLI, ALGO, TEST, DOC, RELEASE

#2112 Clean up `CustomStepLrUpdateHook` for develop branch
  otx/algorithms/segmentation/configs/ham_segnext_b/compression_config.json
  otx/algorithms/segmentation/configs/ham_segnext_s/compression_config.json
  otx/algorithms/segmentation/configs/ham_segnext_t/compression_config.json
Labels: BUG, ALGO

#2125 Enabled regression testing workflow
  .ci/Dockerfile
  .ci/build.sh
  .ci/start-runner.sh
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/weekly.yml
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tox.ini
Labels: TEST, BUILD

#2064 Add greedy labels resolver
  CHANGELOG.md
  otx/api/entities/label_schema.py
  tests/unit/api/entities/test_label_schema.py
Labels: API, TEST, DOC

#2131 Do not update parameters for adaptive phase
  otx/core/ov/ops/normalizations.py
Labels: BUG

#2130 Load IR scale factor
  otx/algorithms/detection/task.py
Labels: ALGO

#2128 Update PR template
  .github/pull_request_template.md
Labels: BUILD

#2132 Match categories between training dataset and validation dataset via name sorting for action task
  otx/core/data/adapter/action_dataset_adapter.py
Labels: BUG, ALGO

#2051 Enhances in exportable code
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  otx/algorithms/action/adapters/openvino/task.py
  otx/algorithms/anomaly/tasks/openvino.py
  otx/algorithms/classification/adapters/openvino/task.py
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/api/usecases/exportable_code/demo/README.md
  otx/api/usecases/exportable_code/demo/demo.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/sync_pipeline.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/synchronous.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/usecases/exportable_code/streamer/__init__.py
  otx/api/usecases/exportable_code/streamer/streamer.py
  otx/api/usecases/exportable_code/visualizers/visualizer.py
Labels: ENHANCE, API, ALGO, DOC

#2135 Fixed an issue where seeds were not properly reflected in CLI reports
  otx/algorithms/common/tasks/base_task.py
  otx/cli/tools/train.py
Labels: CLI, ALGO, FIX

#2137 Fixing bug on patching data_path from regression config
  tests/regression/regression_test_helpers.py
Labels: TEST

#2138 Fixed wrong data_path patching for anomalib regression tests
  tests/regression/regression_test_helpers.py
Labels: BUG, TEST

#2109 Add training loss dynamics exportation feature for detection task
  otx/algorithms/classification/adapters/mmcls/models/classifiers/mixin.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/pipelines/load_pipelines.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_atss_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/loss_dynamics_mixin.py
  otx/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
  otx/algorithms/detection/adapters/mmdet/models/loss_dyns.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/configs/base/configuration.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/api/entities/dataset_item.py
  otx/core/data/adapter/detection_dataset_adapter.py
  otx/core/data/noisy_label_detection/base.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_loss_dynamics_tracking_heads.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_atss_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_loss_dynamics_tracking.py
  tests/unit/algorithms/detection/conftest.py
  tests/unit/algorithms/detection/test_helpers.py
Labels: API, ALGO, TEST

#2119 Auto adapting batch size
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  otx/algorithms/common/adapters/torch/utils/__init__.py
  otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  otx/algorithms/common/configs/configuration_enums.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/configs/configuration.yaml
  otx/cli/utils/hpo.py
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: CLI, ALGO, TEST, DOC

#2142 Add timm version
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
Labels: DEPENDENCY

#2145 Fix: ActivationMapHook process backbone instead of neck output
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
Labels: DEPENDENCY, ALGO

#2139 Add sampling tiling dataset method
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/hooks/__init__.py
  otx/algorithms/detection/adapters/mmdet/hooks/tile_sampling_hook.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  tests/unit/algorithms/detection/adapters/mmdet/hooks/test_tile_sampling_hook.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: ALGO, TEST

#2144 [Draft] Tiling Speed Improvement
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/tile_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/tile_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/tile_pipeline.py
  otx/algorithms/detection/configs/detection/resnet50_vfnet/tile_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/task.py
Labels: ALGO

#2143 Fix OV wrapper backward compatibility for IS models
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
Labels: ALGO, HOTFIX

#2149 Support hierarchical label in classification task
  CHANGELOG.md
  otx/api/entities/label_schema.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/classification_dataset_adapter.py
Labels: ENHANCE, API, DOC

#2136 Add dumping hierarchical information to M-API config
  otx/algorithms/classification/utils/cls_utils.py
  tests/unit/algorithms/classification/utils/test_utils.py
Labels: ALGO, TEST

#2148 Fix coordinates normalization for segmentation (release)
  otx/algorithms/detection/task.py
  otx/algorithms/detection/tools/instance_segmentation_sample.py
  otx/algorithms/segmentation/adapters/mmseg/utils/data_utils.py
  otx/algorithms/segmentation/tools/segmentation_sample.py
  otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  otx/api/utils/segmentation_utils.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
  tests/unit/api/utils/test_segmentation_utils.py
Labels: API, ALGO, TEST

#2141 Fix optimization feature backward compatibility issue
  otx/algorithms/common/tasks/nncf_task.py
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
Labels: ALGO

#2115 Support loss dynamics tracking for CustomSingleStageDetector
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_single_stage_detector.py
  otx/algorithms/detection/adapters/mmdet/models/heads/cross_dataset_detector_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_ssd_head.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_loss_dynamics_tracking_heads.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_single_stage_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_loss_dynamics_tracking.py
Labels: ALGO, TEST

#2152 Add unit test for enabled hierarchy label support
  CHANGELOG.md
  tests/unit/core/data/adapter/test_classification_adapter.py
Labels: TEST, DOC

#2103 Remove Skip mark for Issue#2060(NNCF Tiling)
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
Labels: TEST

#2157 Modify action regression test
  tests/regression/action/test_action_classification.py
  tests/regression/regression_config.json
Labels: TEST

#2158 Merge back 1.2.1rc6
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/tasks/nncf_task.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/task.py
  otx/algorithms/detection/tools/instance_segmentation_sample.py
  otx/algorithms/segmentation/adapters/mmseg/utils/data_utils.py
  otx/algorithms/segmentation/configs/configuration.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  otx/algorithms/segmentation/tools/segmentation_sample.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  otx/api/utils/segmentation_utils.py
  otx/cli/utils/parser.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
  tests/unit/api/utils/test_segmentation_utils.py
Labels: API, CLI, ALGO, TEST, FIX, RELEASE

#2093 Add DeiT template for OTX classification task
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/configurer.py
  otx/algorithms/classification/adapters/mmcls/models/heads/__init__.py
  otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_linear_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_non_linear_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/custom_multi_label_linear_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/custom_multi_label_non_linear_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/custom_vision_transformer_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/mixin.py
  otx/algorithms/classification/adapters/mmcls/models/heads/semisl_cls_head.py
  otx/algorithms/classification/adapters/mmcls/models/heads/semisl_multilabel_cls_head.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/configs/base/models/deit.py
  otx/algorithms/classification/configs/deit_tiny/__init__.py
  otx/algorithms/classification/configs/deit_tiny/data_pipeline.py
  otx/algorithms/classification/configs/deit_tiny/deployment.py
  otx/algorithms/classification/configs/deit_tiny/hpo_config.yaml
  otx/algorithms/classification/configs/deit_tiny/model.py
  otx/algorithms/classification/configs/deit_tiny/model_hierarchical.py
  otx/algorithms/classification/configs/deit_tiny/model_multilabel.py
  otx/algorithms/classification/configs/deit_tiny/semisl/__init__.py
  otx/algorithms/classification/configs/deit_tiny/semisl/data_pipeline.py
  otx/algorithms/classification/configs/deit_tiny/semisl/hparam.yaml
  otx/algorithms/classification/configs/deit_tiny/semisl/model.py
  otx/algorithms/classification/configs/deit_tiny/semisl/model_multilabel.py
  otx/algorithms/classification/configs/deit_tiny/template_experimental.yaml
  otx/recipes/stages/_base_/models/classifiers/classifier.py
  tests/e2e/cli/classification/test_classification.py
  tests/integration/cli/classification/test_classification.py
  tests/unit/algorithms/classification/adapters/mmcls/models/heads/text_mixin.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
Labels: ALGO, TEST, DOC

#2161 Modify regression tests
  tests/regression/instance_segmentation/test_instnace_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instnace_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
Labels: TEST

#2154 Fix async demo in exportable code
  CHANGELOG.md
  otx/api/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/vis_utils.py
  tests/test_suite/run_test_command.py
Labels: API, TEST, DOC, FIX

#2160 XAI: Add softmax activation for cls head output in DetClassProbabilityMapHook
  otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: ALGO, TEST

#2123 Support loss dynamics tracking for CustomVFNet and CustomYOLOX
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_vfnet_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_yolox_detector.py
  otx/algorithms/detection/adapters/mmdet/models/heads/cross_dataset_detector_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_vfnet_head.py
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_yolox_head.py
  otx/algorithms/detection/adapters/mmdet/models/loss_dyns.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/dense_heads/test_loss_dynamics_tracking_heads.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_vfnet_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_loss_dynamics_tracking.py
Labels: ALGO, TEST

#2105 Async inference in OV tasks
  CHANGELOG.md
  otx/algorithms/classification/adapters/openvino/task.py
  otx/algorithms/common/utils/utils.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/api/entities/inference_parameters.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/detection/adapters/openvino/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_task.py
  tests/unit/api/entities/test_inference_parameters.py
Labels: API, ALGO, TEST, DOC

#2168 Skip HPO test in e2e i-seg tiling task
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
Labels: TEST

#2165 Auto adapting num_workers
  CHANGELOG.md
  otx/algorithms/action/configs/classification/configuration.yaml
  otx/algorithms/action/configs/detection/configuration.yaml
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/segmentation/configs/configuration.yaml
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: ALGO, TEST, DOC

#2169 Fix e2e
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2155 Standalone onnx export
  CHANGELOG.md
  otx/algorithms/action/adapters/mmaction/task.py
  otx/algorithms/action/adapters/mmaction/utils/export_utils.py
  otx/algorithms/action/task.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/classification/adapters/mmcls/utils/exporter.py
  otx/algorithms/classification/task.py
  otx/algorithms/common/adapters/mmcv/hooks/checkpoint_hook.py
  otx/algorithms/common/adapters/mmcv/tasks/exporter.py
  otx/algorithms/common/adapters/mmdeploy/apis.py
  otx/algorithms/common/tasks/base_task.py
  otx/algorithms/common/utils/mask_to_bbox.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/exporter.py
  otx/algorithms/detection/task.py
  otx/algorithms/segmentation/adapters/mmseg/configurer.py
  otx/algorithms/segmentation/adapters/mmseg/task.py
  otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  otx/algorithms/segmentation/task.py
  otx/algorithms/segmentation/utils/metadata.py
  otx/api/configuration/elements/parameter_group.py
  otx/api/entities/model.py
  otx/api/usecases/tasks/interfaces/export_interface.py
  otx/cli/tools/export.py
  requirements/dev.txt
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/action/test_action_detection.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_export_utils.py
  tests/unit/algorithms/anomaly/tasks/test_inference.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/common/adapters/mmcv/tasks/test_exporter.py
  tests/unit/algorithms/common/adapters/mmdeploy/test_deploy_apis.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_exporter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_exporter.py
  tests/unit/algorithms/segmentation/test_task.py
  tests/unit/api/entities/test_model.py
  tests/unit/api/usecases/tasks/interfaces/test_interfaces.py
  tests/unit/cli/tools/test_export.py
Labels: DEPENDENCY, API, CLI, ALGO, TEST, DOC, REFACTOR

#2173 Fix iseg e2e
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2172 Optimize counting train & inference speed and memory consumption
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/hooks/__init__.py
  otx/algorithms/detection/adapters/mmdet/hooks/tile_sampling_hook.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/tile_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/tile_pipeline.py
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/tile_pipeline.py
  otx/algorithms/detection/configs/detection/resnet50_vfnet/tile_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/deployment.py
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/deployment.py
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  otx/algorithms/detection/task.py
  otx/algorithms/detection/utils/data.py
  otx/api/configuration/helper/convert.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/sync_pipeline.py
  otx/api/usecases/exportable_code/demo/demo_package/executors/synchronous.py
  otx/api/usecases/exportable_code/demo/demo_package/utils.py
  otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  otx/api/utils/tiler.py
  otx/cli/tools/train.py
  otx/core/data/adapter/base_dataset_adapter.py
  tests/unit/algorithms/detection/adapters/mmdet/hooks/test_tile_sampling_hook.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: API, CLI, ALGO, TEST

#2186 Update regression test config
  tests/regression/regression_config.json
Labels: TEST

#2188 Fix for anomaly regression test
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
Labels: TEST

#2190 Fix iseg regression
  tests/regression/regression_config.json
Labels: TEST

#2174 Do not skip full img tile classifier + Fix Sequencial Export Issue
  otx/algorithms/common/adapters/mmcv/tasks/exporter.py
  otx/algorithms/common/adapters/mmdeploy/apis.py
  otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/api/configuration/helper/convert.py
Labels: API, ALGO, HOTFIX, FIX

#2193 Add warning message to tiling parameter
  CHANGELOG.md
  otx/algorithms/common/configs/training_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, ALGO, DOC

#2185 Set path to save pseudo masks into workspace
  otx/cli/manager/config_manager.py
  otx/core/data/adapter/base_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/unit/core/data/adapter/test_init.py
  tests/unit/core/data/adapter/test_segmentation_adapter.py
Labels: CLI, TEST

#2187 Temporary fix override_configs bug
  otx/recipes/stages/segmentation/supcon.py
Labels: BUG

#2182 bugfix: using auto adapt batch size with IterBasedRunner
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
Labels: ALGO, TEST, DOC, FIX

#2181 Update MAPI classification config
  otx/algorithms/classification/utils/cls_utils.py
Labels: ALGO

#2196 Cleaned up skip/xfail TCs on the classification e2e tests
  tests/e2e/cli/classification/test_classification.py
Labels: TEST

#2178 Added csv output to export dependencies
  .ci/csv.tmpl
  .github/workflows/code_scan.yml
  tox.ini
Labels: BUILD

#2198 Fix typo and enlarge the threshold for KPI tests
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/regression_command.py
Labels: TEST, RELEASE

#2199 bugfix: auto adapt batch size doesn't work with cls incr case
  CHANGELOG.md
  otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
Labels: ALGO, TEST, DOC

#2201 Update documentation. Semi-SL semantic segmentation.
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

#2197 Fix for ssd
  CHANGELOG.md
  otx/algorithms/detection/adapters/mmdet/configurer.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  otx/recipes/stages/detection/incremental.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: ALGO, TEST, DOC

#2191 Upgrade Anomalib Version
  otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_classification.py
  otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_detection.py
  otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_segmentation.py
  otx/algorithms/anomaly/adapters/anomalib/exportable_code/base.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/anomaly/tasks/openvino.py
  otx/cli/utils/io.py
  requirements/anomaly.txt
  tests/unit/cli/utils/test_io.py
Labels: DEPENDENCY, CLI, ALGO, TEST

#2207 Updated weekly workflow
  .github/workflows/weekly.yml
Labels: BUILD

#2208 Turn off persistent worker if num_worker is zero in classification task
  CHANGELOG.md
  otx/algorithms/classification/adapters/mmcls/task.py
Labels: ALGO, DOC

#2212 Fix possible bw issue in exportable code
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: API
