Repository open-edge-platform/training_extensions, pull requests merged in 2023-11, with the labels that each got.

#2594 Fix DeiT-Tiny model regression during class incremental training
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_vision_transformer_head.py
Labels: ALGO, DOC

#2591 Add label ids to model xml in release 1.5
  src/otx/algorithms/anomaly/tasks/inference.py
Labels: ALGO

#2595 Fix DeiT-Tiny regression test for release/1.4.0
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_vision_transformer_head.py
Labels: BUG, ALGO, DOC

#2593 Refactor Dataset API structure
  src/otx/v2/adapters/torch/dataset.py
  src/otx/v2/adapters/torch/lightning/anomalib/dataset.py
  src/otx/v2/adapters/torch/lightning/dataset.py
  src/otx/v2/adapters/torch/mmengine/dataset.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/dataset.py
  tests/v2/unit/adapters/torch/lightning/test_dataset.py
  tests/v2/unit/adapters/torch/mmengine/mmpretrain/test_dataset.py
  tests/v2/unit/api/core/test_auto_runner.py
Labels: TEST, OTX 2.0

#2589 Move the location of task-specific config update function
  src/otx/v2/adapters/torch/mmengine/engine.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/engine.py
  src/otx/v2/adapters/torch/mmengine/utils/runner_config.py
  src/otx/v2/cli/cli.py
  tests/v2/unit/adapters/torch/mmengine/test_engine.py
  tests/v2/unit/adapters/torch/mmengine/utils/test_runner_config.py
Labels: TEST, OTX 2.0

#2599 Fix issues in mmengine adapter & CLI side
  src/otx/v2/adapters/torch/dataset.py
  src/otx/v2/adapters/torch/mmengine/dataset.py
  src/otx/v2/adapters/torch/mmengine/engine.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/dataset.py
  src/otx/v2/cli/cli.py
  tests/v2/unit/adapters/torch/mmengine/mmpretrain/test_dataset.py
  tests/v2/unit/adapters/torch/mmengine/test_engine.py
Labels: OTX 2.0

#2601 Fix mmcls bug not wrapping model in DataParallel on CPUs
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/task.py
Labels: ALGO, DOC, FIX, RELEASE

#2604 Fix h-label loss normalization issue w/ exclusive label group of singe label
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_linear_cls_head.py
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_non_linear_cls_head.py
Labels: ALGO, DOC, FIX

#2586 Boost up Image numpy accessing speed through PIL
  CHANGELOG.md
  src/otx/api/entities/image.py
Labels: API, DOC

#2610 Add missing import pathlib for cls e2e testing
  tests/e2e/cli/classification/test_classification.py
Labels: TEST

#2606 Fix division by zero in class incremental learning for classification
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  src/otx/algorithms/classification/adapters/mmcls/models/losses/ib_loss.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  tests/assets/classification_dataset_class_incremental/3/.gitignore
Labels: ALGO, DOC, FIX

#2611 Fix importing issue with mock importing in unit-test
  tests/v2/unit/api/utils/test_auto_utils.py
Labels: TEST, OTX 2.0

#2605 Refactor MMXEngine._update_config
  src/otx/v2/adapters/torch/mmengine/engine.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/engine.py
  src/otx/v2/adapters/torch/mmengine/utils/__init__.py
  src/otx/v2/adapters/torch/mmengine/utils/runner_config.py
  src/otx/v2/api/core/auto_runner.py
  src/otx/v2/cli/cli.py
  tests/v2/unit/adapters/torch/mmengine/test_engine.py
  tests/v2/unit/adapters/torch/mmengine/utils/__init__.py
  tests/v2/unit/adapters/torch/mmengine/utils/test_runner_config.py
  tests/v2/unit/cli/test_cli.py
Labels: TEST, OTX 2.0

#2602 Merge develop & fix YOLOX inference in BFP16 on XPU
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_yolox_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_yolox_head.py
Labels: ALGO

#2609 Fix XAI algorithm for Detection
  CHANGELOG.md
  src/otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: ALGO, TEST, DOC

#2613 Fix data preprocessor loading
  src/otx/v2/adapters/torch/mmengine/engine.py
Labels: OTX 2.0

#2607 Tighten dependency constraint only adapting latest patches
  requirements/api.txt
  requirements/base.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/openvino.txt
  requirements/segmentation.txt
  requirements/visual_prompting.txt
Labels: DEPENDENCY

#2618 Add metadata to optimized model
  src/otx/algorithms/anomaly/tasks/openvino.py
Labels: ALGO

#2617 [release 1.5.0] Fix XAI algorithm for Detection
  src/otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: BUG, ALGO, TEST

#2608 Object Detection with Gaudi2
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/_builder_build_data_parallel.py
  src/otx/algorithms/common/utils/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/apis/train.py
  src/otx/algorithms/detection/adapters/mmdet/evaluation/evaluator.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_single_stage_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_roi_head.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_rpn_head.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_ssd_head.py
  src/otx/algorithms/detection/adapters/mmdet/models/heads/custom_yolox_head.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
Labels: ALGO

#2622 Update dependency constraint
  requirements/api.txt
  requirements/base.txt
Labels: DEPENDENCY

#2626 Fix h-label bug of missing parent labels in output
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  tests/assets/datumaro_h-label/annotations/train.json
  tests/assets/datumaro_h-label/annotations/valid.json
  tests/assets/datumaro_h-label_class_decremental/annotations/train.json
  tests/assets/datumaro_h-label_class_decremental/annotations/valid.json
Labels: ALGO, TEST, DOC, FIX, RELEASE

#2625 Update publish workflow
  .github/workflows/publish.yml
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, BUILD

#2628 Add code owner temporarily
  .github/CODEOWNERS
Labels: BUILD, OTX 2.0

#2620 Update export, export for reflecting the latest MMXFrameworks
  src/otx/v2/adapters/torch/mmengine/engine.py
  src/otx/v2/adapters/torch/mmengine/mmdeploy/exporter.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/engine.py
Labels: OTX 2.0

#2623 Update XPU detection
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/utils/utils.py
Labels: ALGO

#2630 [release 1.5.0] DeiT: enable tests + add ViTFeatureVectorHook
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  tests/e2e/cli/classification/test_classification.py
  tests/integration/cli/classification/test_classification.py
Labels: ALGO, TEST

#2624 Add `ModuleCacher` for HPU graphs
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_vision_transformer_head.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO

#2629 Mergeback 1.4.4 to releases/1.5.0
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/release_notes/index.rst
  requirements/api.txt
  requirements/base.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/openvino.txt
  requirements/segmentation.txt
  requirements/visual_prompting.txt
  src/otx/__init__.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_linear_cls_head.py
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_hierarchical_non_linear_cls_head.py
  src/otx/algorithms/classification/adapters/mmcls/models/losses/ib_loss.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/tasks/base_task.py
  src/otx/api/entities/image.py
  src/otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  src/otx/api/utils/tiler.py
  tests/assets/classification_dataset_class_incremental/3/.gitignore
  tests/assets/datumaro_h-label/annotations/train.json
  tests/assets/datumaro_h-label/annotations/valid.json
  tests/assets/datumaro_h-label_class_decremental/annotations/train.json
  tests/assets/datumaro_h-label_class_decremental/annotations/valid.json
  tests/e2e/test_api_xai_sanity.py
  tests/integration/cli/instance_segmentation/test_rotated_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  third-party-programs.txt
Labels: DEPENDENCY, API, ALGO, TEST, BUILD, DOC

#2603 Use DatumDataset instead of DatasetEntity
  src/otx/v2/adapters/datumaro/adapter/anomaly_dataset_adapter.py
  src/otx/v2/adapters/datumaro/adapter/classification_dataset_adapter.py
  src/otx/v2/adapters/datumaro/adapter/datumaro_dataset_adapter.py
  src/otx/v2/adapters/datumaro/adapter/segmentation_dataset_adapter.py
  src/otx/v2/adapters/datumaro/adapter/visual_prompting_dataset_adapter.py
  src/otx/v2/adapters/datumaro/pipelines/load_image_from_otx_dataset.py
  src/otx/v2/adapters/torch/lightning/anomalib/dataset.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/callbacks/inference.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/data.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/dataset.py
  src/otx/v2/adapters/torch/lightning/dataset.py
  src/otx/v2/adapters/torch/lightning/modules/datasets/pipelines/transforms.py
  src/otx/v2/adapters/torch/lightning/modules/datasets/visual_prompting_dataset.py
  src/otx/v2/adapters/torch/mmengine/dataset.py
  src/otx/v2/adapters/torch/mmengine/mmpretrain/modules/datasets/otx_datasets.py
  src/otx/v2/api/core/dataset.py
  src/otx/v2/api/entities/utils/data_utils.py
  src/otx/v2/api/entities/utils/dataset_utils.py
  tests/v2/integration/api/visual_prompt/test_visual_prompt.py
  tests/v2/unit/adapters/datumaro/adapter/test_anomaly_adapter.py
  tests/v2/unit/adapters/datumaro/adapter/test_classification_adapter.py
  tests/v2/unit/adapters/datumaro/adapter/test_visual_prompting_adapter.py
  tests/v2/unit/adapters/torch/lightning/anomalib/helpers/dummy_dataset.py
  tests/v2/unit/adapters/torch/lightning/modules/datasets/pipelines/test_transforms.py
  tests/v2/unit/adapters/torch/lightning/modules/datasets/test_dataset.py
  tests/v2/unit/adapters/torch/lightning/test_dataset.py
  tests/v2/unit/adapters/torch/lightning/test_helpers.py
  tests/v2/unit/adapters/torch/mmengine/mmpretrain/test_dataset.py
Labels: TEST, OTX 2.0

#2636 Disable QAT for newly added models
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/template.yaml
Labels: ALGO

#2637 Update release note and readme
  .github/workflows/publish_internal.yml
  README.md
  docs/source/guide/release_notes/index.rst
Labels: BUILD, DOC

#2635 Update debug branch for IPEX integration
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/apis/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/apis/simple_train_xpu.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
Labels: ALGO

#2638 Implement simplified version of train_segmentor for easy debugging
  src/otx/algorithms/segmentation/adapters/mmseg/apis/__init__.py
  src/otx/algorithms/segmentation/adapters/mmseg/apis/simple_train_xpu.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO

#2614 Migrate default segmentation model to OTXv2
  pyproject.toml
  src/otx/v2/adapters/__init__.py
  src/otx/v2/adapters/datumaro/adapter/segmentation_dataset_adapter.py
  src/otx/v2/adapters/datumaro/adapter/visual_prompting_dataset_adapter.py
  src/otx/v2/adapters/datumaro/pipelines/load_image_from_otx_dataset.py
  src/otx/v2/adapters/torch/mmengine/__init__.py
  src/otx/v2/adapters/torch/mmengine/engine.py
  src/otx/v2/adapters/torch/mmengine/mmseg/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/dataset.py
  src/otx/v2/adapters/torch/mmengine/mmseg/engine.py
  src/otx/v2/adapters/torch/mmengine/mmseg/model.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/datasets/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/datasets/otx_datasets.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/datasets/pipeline.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/heads/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/heads/otx_fcn_head.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/backbones/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/backbones/litehrnet.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/__init__.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/aggregator.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/asymmetric_position_attention.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/channel_shuffle.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/local_attention.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/normalize.py
  src/otx/v2/adapters/torch/mmengine/mmseg/modules/models/utils/psp_layer.py
  src/otx/v2/adapters/torch/mmengine/mmseg/registry.py
  src/otx/v2/adapters/torch/mmengine/modules/pipelines/__init__.py
  src/otx/v2/api/core/auto_runner.py
  src/otx/v2/api/core/dataset.py
  src/otx/v2/cli/utils/env.py
  src/otx/v2/cli/utils/install.py
  src/otx/v2/configs/segmentation/models/otx_lite_hrnet_s_mod2.yaml
  src/otx/v2/configs/segmentation/otx_mmseg_default.yaml
  tests/v2/integration/api/auto_runner/test_auto_runner.py
  tests/v2/integration/api/segmentation/__init__.py
  tests/v2/integration/api/segmentation/test_mmseg.py
  tests/v2/integration/cli/test_cli.py
  tests/v2/integration/test_helper.py
  tests/v2/unit/adapters/datumaro/adapter/test_segmentation_adapter.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2642 Mergeback 1.5.0 to develop
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/template.yaml
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
Labels: DEPENDENCY, ALGO, TEST, BUILD, DOC

#2645 Revert "Mergeback 1.5.0 to develop"
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/template.yaml
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
Labels: DEPENDENCY, ALGO, TEST, BUILD, DOC

#2646 Mergeback/1.5.0
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/template.yaml
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
Labels: DEPENDENCY, ALGO, TEST, BUILD, DOC

#2651 Add a tool to help conduct experiments
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/cli/tools/eval.py
  tools/experiment.py
Labels: CLI, ALGO

#2647 Make `max_num_detections` configurable
  CHANGELOG.md
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/base/configuration.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/task.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
Labels: ENHANCE, ALGO, TEST, DOC, FIX, RELEASE

#2648 Revert inference batch size to 1 for instance segmentation
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experimental.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
Labels: ALGO, FIX

#2655 Fix CPU training issue on non-CUDA system
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
Labels: ALGO, TEST, HOTFIX, RELEASE

#2653 Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD, OTX 2.0

#2658 Remove unnecessary log while building a model
  src/otx/algorithms/classification/adapters/mmcls/utils/builder.py
  src/otx/algorithms/detection/adapters/mmdet/utils/builder.py
Labels: ALGO

#2659 Mergeback from 1.4.0 to 1.5.0
  CHANGELOG.md
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/base/configuration.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/task.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
Labels: ALGO, TEST, DOC

#2665 Not check avg_time_per_image during test
  tests/regression/regression_command.py
  tests/test_suite/run_test_command.py
  tools/experiment.py
Labels: TEST

#2663 Mergeback releases/1.5.0 to develop
  CHANGELOG.md
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/base/configuration.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/model.py
  src/otx/algorithms/detection/task.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
Labels: ALGO, TEST, DOC

#2672 Update PTQ docs
  docs/source/guide/explanation/additional_features/models_optimization.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/advanced/semi_sl.rst
  docs/source/guide/tutorials/base/deploy.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  src/otx/cli/tools/eval.py
Labels: CLI, DOC

#2652 Update regression tests for develop
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/weekly.yml
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/conftest.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/regression/summarize_test_results.py
  tests/test_suite/run_test_command.py
  tox.ini
Labels: TEST, BUILD

#2671 Update OTX explain CLI arguments
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/cli/tools/explain.py
  src/otx/cli/tools/utils/demo/visualization.py
  tests/test_suite/run_test_command.py
Labels: CLI, TEST, DOC

#2668 Fix mixed & lower precision training
  src/otx/algorithms/classification/adapters/mmcls/apis/train.py
  src/otx/algorithms/classification/configs/deit_tiny/model.py
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/model.py
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/model.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  src/otx/algorithms/common/adapters/mmcv/hooks/xpu_optimizer_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/fp16_utils.py
  src/otx/algorithms/common/adapters/torch/amp/__init__.py
  src/otx/algorithms/common/adapters/torch/amp/xpu_grad_scaler.py
  src/otx/algorithms/common/utils/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/apis/train.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_yolox_detector.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: ALGO

#2677 Add XPU support to anomaly task
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/xpu.py
  src/otx/algorithms/anomaly/tasks/train.py
Labels: ALGO
