Repository open-edge-platform/training_extensions, pull requests merged in 2023-03, with the labels that each got.

#1845 [FIX] Resolve pre-commit issue
  otx/api/usecases/tasks/interfaces/export_interface.py
Labels: API

#1844 [ENHANCE] Raise ValueError otx build with wrong training type
  otx/cli/manager/config_manager.py
Labels: CLI

#1835 [ENHANCE] Update backbone lists
  otx/cli/builder/supported_backbone/mmcls.json
  otx/cli/builder/supported_backbone/mmdet.json
  otx/cli/builder/supported_backbone/mmseg.json
  otx/cli/builder/supported_backbone/omz.mmcls.json
  otx/cli/builder/supported_backbone/otx.json
  otx/cli/builder/supported_backbone/torchvision.json
  otx/cli/tools/build.py
  otx/cli/tools/find.py
Labels: CLI

#1840 [DOC][CI] Added workflow for docs clean up
  .github/workflows/docs_cleanup.yml
Labels: BUILD

#1847 [DOC] Proofread readme
  README.md
Labels: DOC

#1843 [FIX] Align export cli
  otx/cli/tools/export.py
  tests/test_suite/run_test_command.py
Labels: CLI, TEST

#1849 [RELEASE][DOC] Fix wrong info in documentation
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

#1855 Generalized OTXMoViNet state dict hooks to work within other modules
  otx/algorithms/action/adapters/mmaction/models/recognizers/recognizer_3d.py
Labels: ALGO

#1853 [CI] Changed .sh file's mode
  .ci/build.sh
  .ci/check-runner.sh
  .ci/start-runner.sh
  .ci/stop-runner.sh
Labels: BUILD

#546 [MISC] Ultrasound simulation model
  misc/pytorch_toolkit/breast_ultrasound_simulation/ReadMe.md
  misc/pytorch_toolkit/breast_ultrasound_simulation/__init__.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/PolarPseudoBMode2D.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/__init__.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/final_dataset_images_and_masks.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/original_images_and_masks.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/__init__.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/dataloader.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/demo_kernel_dilation.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/exporter.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/infer.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/metric.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/model.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/solve.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/train.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/utils/__init__.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/utils/download_mdl_tdataset.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/src/utils/read_config.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/breast_ultrasound_simulation/stage1/stage_0_masks.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/configs/download_config.json
  misc/pytorch_toolkit/breast_ultrasound_simulation/configs/net_config.json
  misc/pytorch_toolkit/breast_ultrasound_simulation/init_venv.sh
  misc/pytorch_toolkit/breast_ultrasound_simulation/media/kd_example.png
  misc/pytorch_toolkit/breast_ultrasound_simulation/media/kd_p_vs_dil.png
  misc/pytorch_toolkit/breast_ultrasound_simulation/media/kd_p_vs_freq.png
  misc/pytorch_toolkit/breast_ultrasound_simulation/media/kd_pipeline.png
  misc/pytorch_toolkit/breast_ultrasound_simulation/media/kd_results.png
  misc/pytorch_toolkit/breast_ultrasound_simulation/requirements.txt
  misc/pytorch_toolkit/breast_ultrasound_simulation/setup.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/tests/test_1_train.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/tests/test_2_export.py
  misc/pytorch_toolkit/breast_ultrasound_simulation/tests/test_3_inference.py
  misc/pytorch_toolkit/chest_xray_screening/chest_xray_screening/inference.py
  misc/pytorch_toolkit/chest_xray_screening/media/class0.jpg
  misc/pytorch_toolkit/chest_xray_screening/media/class1.jpg
  misc/pytorch_toolkit/chest_xray_screening/media/class2.jpg
  misc/pytorch_toolkit/chest_xray_screening/media/efficientnet.png
Labels: DEPENDENCY, MISC

#1858 [DOC] Add ref results on multilabel datasets
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
Labels: DOC

#1857 [Test] Add --test-work-dir option to pytest argparser
  tests/conftest.py
  tests/test_suite/pytest_insertions.py
Labels: TEST

#1856 [Enhance] Separate installation for each tasks
  otx/__init__.py
  otx/cli/__init__.py
  otx/mpa/det/explainer.py
  otx/mpa/det/inferrer.py
  otx/mpa/modules/hooks/__init__.py
  otx/mpa/modules/hooks/det_saliency_map_hook.py
  otx/mpa/modules/hooks/recording_forward_hooks.py
  otx/mpa/modules/models/detectors/custom_atss_detector.py
  otx/mpa/modules/models/detectors/custom_single_stage_detector.py
  otx/mpa/modules/models/detectors/custom_yolox_detector.py
  requirements/detection.txt
  requirements/segmentation.txt
  tests/unit/mpa/modules/hooks/test_det_saliency_map_hook.py
  tests/unit/mpa/modules/hooks/test_mpa_recording_forward_hooks.py
Labels: DEPENDENCY, CLI, TEST

#1851 [FIX] Fix label mismatch of evaluation and validation with large dataset in semantic segmentation
  otx/algorithms/segmentation/adapters/mmseg/data/dataset.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/api/usecases/evaluation/basic_operations.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_dataset.py
Labels: API, ALGO, TEST

#1859 [Enhance] Run integration test on each task's environment
  .github/workflows/pre_merge.yml
  requirements/base.txt
  tox.ini
Labels: DEPENDENCY, BUILD

#1863 [CI][SDL] Added Bandit scanning job to code-scan wf
  .github/workflows/code_scan.yml
  ipas_default.config
  tox.ini
Labels: BUILD

#1868 [FIX] hang issue when tracing a stack in certain scenario
  otx/algorithms/detection/adapters/mmdet/nncf/patches.py
Labels: ALGO

#1869 [Enhance] Separate installation for each tasks on release task
  .github/workflows/pre_merge.yml
  otx/__init__.py
  otx/cli/__init__.py
  otx/mpa/det/explainer.py
  otx/mpa/det/inferrer.py
  otx/mpa/modules/hooks/__init__.py
  otx/mpa/modules/hooks/det_saliency_map_hook.py
  otx/mpa/modules/hooks/recording_forward_hooks.py
  otx/mpa/modules/models/detectors/custom_atss_detector.py
  otx/mpa/modules/models/detectors/custom_single_stage_detector.py
  otx/mpa/modules/models/detectors/custom_yolox_detector.py
  requirements/base.txt
  requirements/detection.txt
  requirements/segmentation.txt
  tests/unit/mpa/modules/hooks/test_det_saliency_map_hook.py
  tests/unit/mpa/modules/hooks/test_mpa_recording_forward_hooks.py
  tox.ini
Labels: DEPENDENCY, CLI, TEST, BUILD

#1870 [FIX][POT] Set stat_requests_number parameter to 1
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
Labels: ALGO

#1860 [Docs] Add in-memory caching guide to quick_start_guide/cli_commands
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  docs/source/guide/index.rst
Labels: DOC

#1864 [FIX] Match keys of `required` and `options`
  otx/cli/builder/supported_backbone/mmcls.json
  otx/cli/builder/supported_backbone/mmdet.json
Labels: CLI

#1850 [DOC] fix docs
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

#1848 [ENHANCE] Bring mmdeploy to action recognition model export & Test optimization of action tasks
  otx/algorithms/action/adapters/mmaction/__init__.py
  otx/algorithms/action/adapters/mmaction/models/detectors/fast_rcnn.py
  otx/algorithms/action/adapters/mmaction/utils/__init__.py
  otx/algorithms/action/adapters/mmaction/utils/export_utils.py
  otx/algorithms/action/configs/classification/base/base_classification_dynamic.py
  otx/algorithms/action/configs/classification/base/base_classification_static.py
  otx/algorithms/action/configs/classification/x3d/deployment.py
  otx/algorithms/action/configs/detection/base/base_detection_dynamic.py
  otx/algorithms/action/configs/detection/base/base_detection_static.py
  otx/algorithms/action/configs/detection/x3d_fast_rcnn/deployment.py
  otx/algorithms/action/tasks/inference.py
  requirements/action.txt
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/action/test_action_detection.py
  tests/unit/algorithms/action/adapters/mmaction/models/detectors/test_action_fast_rcnn.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_export_utils.py
  tests/unit/algorithms/action/tasks/test_action_inference.py
Labels: DEPENDENCY, ALGO, TEST

#1842 [FEATURE] Add embedding of inference configuration to IR for classification
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/classification/utils/__init__.py
  otx/algorithms/classification/utils/cls_utils.py
  otx/algorithms/common/utils/__init__.py
  otx/algorithms/common/utils/ir.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/utils/__init__.py
  otx/algorithms/detection/utils/utils.py
  otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  tests/unit/algorithms/classification/adapters/openvino/test_openvino_models.py
  tests/unit/algorithms/classification/tasks/test_classification_inference.py
  tests/unit/algorithms/classification/utils/test_utils.py
  tests/unit/algorithms/detection/tasks/test_detection_inference.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: API, ALGO, TEST

#1689 [TEST] Weekly Test
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/__init__.py
  tests/regression/anomaly/anomaly_common.py
  tests/regression/anomaly/conftest.py
  tests/regression/anomaly/expected_metrics/metrics_test_ote_training.yml
  tests/regression/anomaly/helpers/__init__.py
  tests/regression/anomaly/helpers/config.py
  tests/regression/anomaly/helpers/dummy_dataset.py
  tests/regression/anomaly/helpers/shapes.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/anomaly/test_configurable_parameters.py
  tests/regression/anomaly/test_ote_anomaly_classification_training.py
  tests/regression/anomaly/test_ote_anomaly_segmentation_training.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_instnace_segmentation.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/detection/test_tiling_instnace_segmentation.py
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tests/regression/segmentation/test_segmentation.py
  tests/regression/summarize_test_results.py
  tests/test_suite/run_test_command.py
  tox.ini
Labels: TEST, BUILD

#1876 [FIX] Add config.runner.type condition in runner replacing logic
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
Labels: ALGO

#1742 [FEATURE] Add MoViNet template for action classification
  otx/algorithms/action/adapters/mmaction/models/__init__.py
  otx/algorithms/action/adapters/mmaction/models/backbones/__init__.py
  otx/algorithms/action/adapters/mmaction/models/backbones/movinet.py
  otx/algorithms/action/adapters/mmaction/models/heads/__init__.py
  otx/algorithms/action/adapters/mmaction/models/heads/movinet_head.py
  otx/algorithms/action/adapters/mmaction/models/recognizers/__init__.py
  otx/algorithms/action/adapters/mmaction/models/recognizers/movinet_recognizer.py
  otx/algorithms/action/configs/classification/movinet/__init__.py
  otx/algorithms/action/configs/classification/movinet/data_pipeline.py
  otx/algorithms/action/configs/classification/movinet/deployment.py
  otx/algorithms/action/configs/classification/movinet/model.py
  otx/algorithms/action/configs/classification/movinet/template.yaml
  pyproject.toml
  tests/unit/algorithms/action/adapters/mmaction/models/backbones/test_action_movinet.py
  tests/unit/algorithms/action/adapters/mmaction/models/backbones/test_action_register_backbone.py
  tests/unit/algorithms/action/adapters/mmaction/models/heads/test_action_movinet_head.py
  tests/unit/algorithms/action/adapters/mmaction/models/recognizers/__init__.py
  tests/unit/algorithms/action/adapters/mmaction/models/recognizers/test_action_movinet_recognizer.py
Labels: DEPENDENCY, ALGO, TEST, BUILD

#1881 [Enhance] Add PR template
  .github/pull_request_template.md
Labels: ENHANCE, BUILD

#1874 [FEATURE] Add train-type parameter to otx train
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/cli/manager/config_manager.py
  otx/cli/tools/train.py
Labels: CLI, DOC

#1882 [FIX] Replace deprecated task_type to task in ConfigManager message
  otx/cli/manager/config_manager.py
Labels: CLI

#1878 [FIX] Add SKIP mark and edit eval threshold for E2E tests
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/detection/test_instance_segmentation.py
Labels: TEST

#1885 [FIX][REL1.0] Fix Geti integration issues
  otx/algorithms/detection/adapters/mmdet/nncf/patches.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  otx/api/configuration/__init__.py
  otx/mpa/modules/models/heads/custom_atss_head.py
  otx/mpa/stage.py
  requirements/base.txt
  setup.py
Labels: DEPENDENCY, API, ALGO, BUILD

#1886 [FIX] Modify wrong configs path
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/model_multilabel.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/model_multilabel.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model_hierarchical.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model_multilabel.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/model_multilabel.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/model.py
Labels: ALGO

#1884 [TEST] Adding fuzzing test
  otx/cli/tools/cli.py
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/operations.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/helper.py
  tox.ini
Labels: CLI, TEST, BUILD

#1887 [FIX] Error message is printed after otx train is done
  otx/cli/tools/train.py
  otx/cli/utils/multi_gpu.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, TEST

#1889 [ENHANCE] Add skip mark to MoviNet POT, Instance-seg and Adjust export threshold
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/detection/test_instance_segmentation.py
Labels: TEST

#1873 [FIX] Dataset Adapter: Avoid duplicated annotation and permit empty image
  otx/core/data/adapter/detection_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/assets/car_tree_bug/annotations/instances_val.json
  tests/assets/car_tree_bug/images/val/Slide4.PNG
  tests/assets/car_tree_bug/images/val/Slide5.PNG
  tests/unit/core/data/adapter/test_detection_adapter.py
Labels: TEST, FIX

#1890 [FIX] Update selfsl args in test_classification.py
  tests/e2e/cli/classification/test_classification.py
Labels: TEST

#1883 [FIX] Fix the condition of supcon for seg
  otx/algorithms/segmentation/tasks/inference.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_inference.py
Labels: ALGO, TEST

#1534 [FEATURE] Integrate multi-gpu training for semi-supervised learning and self-supervised learning
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/algorithms/classification/adapters/mmcls/models/classifiers/byol.py
  otx/mpa/modules/models/detectors/unbiased_teacher.py
  otx/recipes/stages/detection/semisl.py
  otx/recipes/stages/segmentation/semisl.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/segmentation/test_segmentation.py
Labels: ALGO, TEST, DOC

#1895 [FIX][RELEASE1.0] Remove cfg dump in ckpt
  otx/algorithms/common/tasks/nncf_base.py
  otx/algorithms/detection/tasks/nncf.py
Labels: ALGO

#1896 [FIX] Prevent torch 2.0.0 installation
  requirements/anomaly.txt
Labels: DEPENDENCY

#1897 [CI] Ignore coverage upload failure
  .github/workflows/pre_merge.yml
Labels: BUILD

#1898 [FIX] Add skip instance segmentation deploy E2E tests
  tests/e2e/cli/detection/test_instance_segmentation.py
Labels: TEST

#1888 [ENHANCE] Parametrize saliency maps dumping in export (part 2)
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/deployment.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/deployment.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/deployment.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/deployment.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/api/usecases/tasks/interfaces/export_interface.py
  otx/mpa/modules/models/segmentors/otx_encoder_decoder.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
Labels: ENHANCE, API, ALGO, TEST, DOC

#1899 [RELEASE] Merge back v1.0.1
  CHANGELOG.md
  README.md
  otx/algorithms/common/tasks/nncf_base.py
  otx/algorithms/detection/configs/detection/configuration.yaml
  otx/algorithms/detection/tasks/nncf.py
  otx/api/configuration/__init__.py
  requirements/base.txt
  setup.py
  tox.ini
Labels: DEPENDENCY, API, ALGO, BUILD, DOC

#1900 [FIX] Fix typo for backbone list
  otx/cli/builder/supported_backbone/omz.mmcls.json
  otx/cli/builder/supported_backbone/otx.json
Labels: CLI

#1892 [FIX] Handle unpickable update_progress_callback
  otx/api/entities/train_parameters.py
  otx/api/usecases/reporting/time_monitor_callback.py
  tests/unit/api/usecases/reporting/test_time_monitor_callback.py
Labels: API, TEST

#1907 [FIX] re-bugfix: ATSS head loss
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
Labels: ALGO

#1902 [FIX] Wrong test temp directory path
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_config_utils.py
Labels: TEST

#1916 Remove temp hot key values
  otx/algorithms/classification/tasks/train.py
  otx/algorithms/common/tasks/nncf_base.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/segmentation/tasks/train.py
Labels: ALGO, DO NOT MERGE, HOTFIX, FIX, RELEASE

#1910 Fix OTX1.1 -> Geti1.4 integration issues
  otx/api/entities/media.py
  requirements/api.txt
Labels: DEPENDENCY, API, HOTFIX, FIX, RELEASE

#1901 Add stability to explain detection
  otx/algorithms/detection/adapters/mmdet/models/heads/custom_atss_head.py
  otx/mpa/det/explainer.py
Labels: ALGO, FIX, RELEASE

#1918 Fix e2e tests FQ references
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
Labels: TEST, FIX, RELEASE

#1908 Add mmcls.VisionTransformer backbone support
  otx/algorithms/__init__.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/common/configs/training_base.py
  otx/cli/builder/builder.py
  otx/cli/builder/supported_backbone/mmcls.json
  otx/mpa/cls/inferrer.py
  otx/mpa/cls/stage.py
Labels: ENHANCE, CLI, ALGO, RELEASE

#1919 Add custom exception class for CLI
  otx/cli/manager/config_manager.py
  otx/cli/utils/errors.py
  tests/fuzzing/cli_fuzzing.py
  tests/unit/cli/manager/test_config_manager.py
  tox.ini
Labels: CLI, TEST, BUILD

#1934 Add github icon link in doc head
  docs/source/_static/logos/github_icon.png
  docs/source/conf.py
Labels: DOC, RELEASE

#1937 Fix invalid temp_dir inside unit tests
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_config_utils.py
  tests/unit/algorithms/action/utils/test_action_convert_public_data_to_cvat.py
Labels: TEST, FIX

#1940 Change docs for action recognition
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

#1942 [CVS-106621] Change InferenceParameters for demo
  otx/cli/tools/demo.py
Labels: CLI

#1943 Change num_iters for e2e object detection test
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
Labels: TEST

#1933 Release 1.1.0
  CHANGELOG.md
  README.md
  otx/__init__.py
  otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC, RELEASE

#1915 Add fp16 export tests
  otx/algorithms/common/tasks/training_base.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
Labels: ALGO, TEST

#1950 Update regression tests
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/regression/action/test_action_classification.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_instnace_segmentation.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/detection/test_tiling_instnace_segmentation.py
  tests/regression/regression_config.json
  tests/regression/segmentation/test_segmentation.py
Labels: TEST

#1952 Fix model API task type name classification->Classification
  otx/algorithms/classification/utils/cls_utils.py
Labels: ALGO, FIX

#1946 Clean up and refactor the output of the OTX CLI
  docs/source/guide/get_started/quick_start_guide/cli_commands.rst
  docs/source/guide/tutorials/advanced/self_sl.rst
  docs/source/guide/tutorials/advanced/semi_sl.rst
  docs/source/guide/tutorials/base/deploy.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  otx/algorithms/common/tasks/training_base.py
  otx/cli/manager/config_manager.py
  otx/cli/tools/build.py
  otx/cli/tools/demo.py
  otx/cli/tools/deploy.py
  otx/cli/tools/eval.py
  otx/cli/tools/explain.py
  otx/cli/tools/export.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
  otx/cli/utils/hpo.py
  otx/cli/utils/multi_gpu.py
  tests/conftest.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/integration/cli/test_cli.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_instnace_segmentation.py
  tests/regression/segmentation/test_segmentation.py
  tests/test_suite/pytest_insertions.py
  tests/test_suite/run_test_command.py
  tests/unit/cli/tools/test_build.py
  tests/unit/cli/tools/test_deploy.py
  tests/unit/cli/tools/test_eval.py
  tests/unit/cli/tools/test_export.py
  tests/unit/cli/tools/test_optimize.py
  tests/unit/cli/tools/test_train.py
  tests/unit/cli/utils/test_hpo.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: ENHANCE, CLI, ALGO, TEST, DOC

#1945 Removed nncf_quantization_pruning part from efficientnet_v2 compression config
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/compression_config.json
Labels: ALGO, FIX

#1954 Merge back 1.1.1 changes
  CHANGELOG.md
  docs/source/conf.py
  docs/source/guide/release_notes/index.rst
  otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC, FIX, RELEASE

#1957 Resolve segmentation ckpt indent issue in supcon and selfsl
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/model.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/model.py
Labels: ALGO, FIX

#1956 Remove doubled logger in action & fix API test failure
  otx/algorithms/action/adapters/mmaction/utils/config_utils.py
  otx/algorithms/action/tasks/train.py
  tests/integration/api/action/test_api_action_classification.py
  tests/integration/api/action/test_api_action_detection.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_config_utils.py
Labels: ALGO, TEST

#1960 Replace remained OTE to OTX
  otx/algorithms/action/tasks/train.py
  otx/algorithms/anomaly/configs/classification/draem/template_experimental.yaml
  otx/algorithms/anomaly/configs/classification/padim/template.yaml
  otx/algorithms/anomaly/configs/classification/stfpm/template.yaml
  otx/algorithms/anomaly/configs/detection/draem/template_experimental.yaml
  otx/algorithms/anomaly/configs/detection/draem/transform_config.yaml
  otx/algorithms/anomaly/configs/detection/padim/template.yaml
  otx/algorithms/anomaly/configs/detection/stfpm/template.yaml
  otx/algorithms/anomaly/configs/segmentation/draem/template_experimental.yaml
  otx/algorithms/anomaly/configs/segmentation/padim/template.yaml
  otx/algorithms/anomaly/configs/segmentation/stfpm/template.yaml
  otx/algorithms/anomaly/tasks/train.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/template.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/template.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/template_experiment.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/template.yaml
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/template_experiment.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/template.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/template.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/template.yaml
  otx/algorithms/detection/configs/detection/resnet50_vfnet/template_experimental.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  tests/integration/api/detection/test_api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
Labels: ALGO, TEST

#1959 Generate OTX cli_report.log in output folder (otx train only)
  CHANGELOG.md
  otx/cli/tools/train.py
  otx/cli/utils/report.py
  tests/unit/cli/tools/test_train.py
  tests/unit/cli/utils/test_report.py
Labels: CLI, TEST, DOC
