Repository open-edge-platform/training_extensions, pull requests merged in 2023-12, with the labels that each got.

#2678 Initialize classification for the v2
  pyproject.toml
  src/otx/algo/classification/model/__init__.py
  src/otx/algo/classification/model/backbones/__init__.py
  src/otx/algo/classification/model/backbones/otx_efficientnet.py
  src/otx/algo/classification/model/backbones/otx_efficientnet_v2.py
  src/otx/algo/classification/model/backbones/otx_mobilenet_v3.py
  src/otx/algo/model/__init__.py
  src/otx/config/base/classification.yaml
  src/otx/config/data/mmpretrain.yaml
  src/otx/config/model/mmpretrain.yaml
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/module/classification.py
  src/otx/core/types/transformer_libs.py
  src/otx/core/utils/build.py
  src/otx/recipe/classification/otx_deit_tiny.yaml
  src/otx/recipe/classification/otx_efficientnet_b0.yaml
  src/otx/recipe/classification/otx_efficientnet_v2.yaml
  src/otx/recipe/classification/otx_mobilenet_v3_large.yaml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2681 Fix e2e tests for explain
  tests/test_suite/run_test_command.py
Labels: TEST, FIX

#2687 Fix coverage error on CI
  .coveragerc
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2689 Fix tox configuration in CI
  .github/workflows/docs_stable.yaml
  .github/workflows/pre_merge.yaml
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2688 Add README.md for experiment.py
  tools/README.md
Labels: DOC

#2686 Add memory caching
  pyproject.toml
  src/otx/config/data/default.yaml
  src/otx/config/data/mmdet.yaml
  src/otx/config/data/mmpretrain.yaml
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  tests/assets/car_tree_bug/annotations/instances_test.json
  tests/assets/car_tree_bug/images/test/Slide20.PNG
  tests/assets/car_tree_bug/images/test/Slide3.PNG
  tests/unit/core/data/test_mem_cache.py
  tests/unit/core/data/test_module.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2690 Migrate Geti object detection models
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/algo/classification/__init__.py
  src/otx/algo/classification/model/__init__.py
  src/otx/algo/detection/__init__.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/config/model/mmdet.yaml
  src/otx/core/data/module.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/module/detection.py
  src/otx/core/utils/build.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2694 Update recipe data subsets (hot-fix)
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: OTX 2.0

#2691 Fix typo in reg test cmd
  tests/regression/regression_command.py
Labels: TEST

#2696 Select more proper model weight file according to commands run just before
  tools/README.md
  tools/experiment.py
Labels: DOC

#2683 Disable mixed precision training on XPU
  src/otx/algorithms/classification/adapters/mmcls/apis/train.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/nncf/utils.py
  src/otx/algorithms/common/adapters/mmcv/utils/_builder_build_data_parallel.py
  src/otx/algorithms/detection/adapters/mmdet/apis/train.py
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: ALGO

#2700 Turn on setting seed and deterministic flags
  for_developers/setup_guide.md
  pyproject.toml
  src/otx/config/train.yaml
  src/otx/core/config/__init__.py
  src/otx/core/engine/train.py
Labels: DEPENDENCY, BUILD, DOC, OTX 2.0

#2699 Change docstring location and learning hyperparams for object detection
  src/otx/algo/detection/__init__.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: OTX 2.0

#2693 Add semantic segmentation models to new design
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/algo/segmentation/__init__.py
  src/otx/algo/segmentation/model/__init__.py
  src/otx/algo/segmentation/model/backbones/__init__.py
  src/otx/algo/segmentation/model/backbones/litehrnet.py
  src/otx/algo/segmentation/model/utils/__init__.py
  src/otx/algo/segmentation/model/utils/utils.py
  src/otx/config/base/segmentation.yaml
  src/otx/config/data/segmentation.yaml
  src/otx/config/model/mmseg.yaml
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/types/task.py
  src/otx/core/types/transformer_libs.py
  src/otx/core/utils/build.py
  src/otx/recipe/segmentation/__init__.py
  src/otx/recipe/segmentation/litehrnet_18.yaml
  src/otx/recipe/segmentation/litehrnet_s.yaml
  src/otx/recipe/segmentation/litehrnet_x.yaml
  src/otx/recipe/segmentation/segnext_b.yaml
  src/otx/recipe/segmentation/segnext_s.yaml
  src/otx/recipe/segmentation/segnext_t.yaml
  tests/assets/common_semantic_segmentation_dataset/supervised/train/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/train/images/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/train/images/0002.png
  tests/assets/common_semantic_segmentation_dataset/supervised/train/images/0003.png
  tests/assets/common_semantic_segmentation_dataset/supervised/train/masks/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/train/masks/0002.png
  tests/assets/common_semantic_segmentation_dataset/supervised/train/masks/0003.png
  tests/assets/common_semantic_segmentation_dataset/supervised/val/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/val/images/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/val/images/0002.png
  tests/assets/common_semantic_segmentation_dataset/supervised/val/masks/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/val/masks/0002.png
  tests/assets/common_semantic_segmentation_dataset/train/detcon_mask/0001.png
  tests/assets/common_semantic_segmentation_dataset/train/detcon_mask/0002.png
  tests/assets/common_semantic_segmentation_dataset/train/detcon_mask/0003.png
  tests/assets/common_semantic_segmentation_dataset/train/detcon_mask/dataset_meta.json
  tests/integration/cli/test_cli.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2701 Fix integration test config settings
  src/otx/config/debug/intg_test.yaml
  src/otx/core/config/__init__.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/segmentation.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_helper.py
Labels: TEST, OTX 2.0

#2702 Mem cache with resize
  src/otx/config/data/default.yaml
  src/otx/config/data/mmpretrain.yaml
  src/otx/core/config/__init__.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
  tests/unit/test_dummy.py
Labels: TEST, OTX 2.0

#2707 Add 'otx test' command
  for_developers/setup_guide.md
  src/otx/cli/__init__.py
  src/otx/cli/test.py
  src/otx/cli/train.py
  src/otx/config/test.yaml
  src/otx/config/train.yaml
  src/otx/core/config/__init__.py
  src/otx/core/engine/test.py
  src/otx/core/engine/train.py
  tests/assets/common_semantic_segmentation_dataset/supervised/test/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/test/images/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/test/images/0002.png
  tests/assets/common_semantic_segmentation_dataset/supervised/test/masks/0001.png
  tests/assets/common_semantic_segmentation_dataset/supervised/test/masks/0002.png
  tests/integration/cli/test_cli.py
Labels: TEST, DOC, OTX 2.0

#2697 Update anomaly XPU integration
  src/otx/algorithms/anomaly/adapters/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/accelerators/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/accelerators/xpu.py
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/xpu.py
  src/otx/algorithms/anomaly/adapters/anomalib/strategies/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/strategies/xpu_single.py
  src/otx/algorithms/anomaly/tasks/train.py
Labels: ALGO

#2709 Add torchvision v2 transform
  for_developers/helpers.py
  for_developers/torchvision.ipynb
  pyproject.toml
  src/otx/config/data/torchvision_cls.yaml
  src/otx/core/config/__init__.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/factory.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/config/__init__.py
  tests/unit/core/config/test_resolver.py
  tests/unit/core/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_transform_libs.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#2711 Add unit tests for otx/algo/detection and otx/core/data/(base, detection)
  src/otx/core/model/module/detection.py
  tests/unit/algo/detection/__init__.py
  tests/unit/algo/detection/backbones/__init__.py
  tests/unit/algo/detection/backbones/test_pytorchcv_backbones.py
  tests/unit/algo/detection/heads/__init__.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/core/data/entity/__init__.py
  tests/unit/core/data/entity/conftest.py
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/entity/test_detection.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/transform_libs/__init__.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
Labels: TEST, OTX 2.0

#2698 Add Instance Segmentation models to new design
  src/otx/config/base/instance_segmentation.yaml
  src/otx/config/callbacks/instance_segmentation.yaml
  src/otx/config/data/mmdet_inst_seg.yaml
  src/otx/config/model/mmdet_inst_seg.yaml
  src/otx/core/config/__init__.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/types/task.py
  src/otx/core/types/transformer_libs.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2676 Fix unsupported dtype in ov graph constant converter
  src/otx/core/ov/ops/infrastructures.py
  src/otx/core/ov/ops/type_conversions.py
  tests/unit/core/ov/graph/test_ov_graph_utils.py
Labels: TEST

#2712 Add custom model example
  for_developers/add_custom_model.ipynb
  for_developers/contribution_guide.md
  src/otx/cli/train.py
  src/otx/core/config/__init__.py
  src/otx/core/engine/train.py
Labels: DOC, OTX 2.0

#2716 Change the cls head to make them same with the otx1.5
  src/otx/recipe/classification/efficientnet_b0_light.yaml
  src/otx/recipe/classification/efficientnet_v2_light.yaml
  src/otx/recipe/classification/mobilenet_v3_large_light.yaml
Labels: OTX 2.0

#2717 Skip failure TC with adding issue number ref.
  tests/e2e/cli/detection/test_detection.py
Labels: TEST

#2718 Add regression test workflow
  .gitignore
  for_developers/regression_test/Dockerfile
  for_developers/regression_test/README.md
  for_developers/regression_test/build.sh
  for_developers/regression_test/docker-compose.yml
  for_developers/regression_test/images/mlflow_dashboard.png
  for_developers/regression_test/images/mlflow_filtering.png
  for_developers/regression_test/images/mlflow_metrics_and_tags.png
  pyproject.toml
  src/otx/cli/train.py
  src/otx/config/callbacks/classification.yaml
  src/otx/core/model/module/classification.py
  tests/regression/__init__.py
  tests/regression/conftest.py
  tests/regression/test_regression.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#2720 Fix otx_train
  src/otx/cli/train.py
Labels: OTX 2.0

#2719 Fix visual prompting e2e test
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
Labels: TEST

#2721 Add learning rate monitor
  src/otx/config/callbacks/default.yaml
Labels: OTX 2.0

#2722 Add testmetric to the log file
  src/otx/core/engine/train.py
Labels: OTX 2.0

#2723 Revise cli unit test
  src/otx/cli/train.py
  src/otx/core/engine/__init__.py
  tests/unit/cli/test_cli.py
Labels: TEST, OTX 2.0

#2714 Add XPU mixed precision plugin for lightning
  src/otx/algorithms/anomaly/adapters/anomalib/plugins/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/plugins/xpu_precision.py
  src/otx/algorithms/anomaly/tasks/train.py
Labels: ALGO

#2704 Update code to support other features than 'train' on XPU
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/detection/adapters/mmdet/apis/train.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/mmdet/utils/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  src/otx/cli/utils/hpo.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/hpo/test_resource_manager.py
Labels: CLI, ALGO, TEST

#2710 Enhance detection & instance segmentation experiment
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/task.py
  src/otx/api/usecases/evaluation/f_measure.py
  src/otx/cli/tools/eval.py
  src/otx/core/data/adapter/base_dataset_adapter.py
  src/otx/core/data/adapter/detection_dataset_adapter.py
  tools/experiment.py
Labels: API, CLI, ALGO

#2726 Fix regression test guide doc
  for_developers/regression_test/README.md
Labels: DOC

#2730 Update MAPI version
  requirements/openvino.txt
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
Labels: DEPENDENCY, API, ALGO

#2656 Upgrade NNCF & OpenVINO
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  CHANGELOG.md
  requirements/base.txt
  requirements/openvino.txt
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/compression_config.json
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/compression_config.json
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_task.py
Labels: DEPENDENCY, API, ALGO, TEST, BUILD, DOC

#2732 Update dependency for exportable code
  .gitignore
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/core/ov/ops/infrastructures.py
  src/otx/core/ov/ops/type_conversions.py
  tests/unit/core/ov/graph/test_ov_graph_utils.py
Labels: API, TEST

#2735 Enable ruff-format into v2
  .pre-commit-config.yaml
  pyproject.toml
  src/otx/algo/callbacks/iteration_timer.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/segmentation/model/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/cli/__init__.py
  src/otx/cli/install.py
  src/otx/cli/test.py
  src/otx/cli/train.py
  src/otx/core/config/base.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/factory.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/engine/test.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/utils/build.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/detection/conftest.py
  tests/integration/detection/test_model.py
  tests/unit/algo/callbacks/test_iteration_timer.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/segmentation/backbones/litehrnet.py
  tests/unit/cli/test_install.py
  tests/unit/cli/utils/test_hydra.py
  tests/unit/cli/utils/test_installation.py
  tests/unit/core/data/entity/test_detection.py
  tests/unit/core/data/test_mem_cache.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/model/entity/test_segmentation.py
  tests/unit/core/model/module/test_segmentation.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2736 Fix multilabel classification class index
  src/otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
Labels: ALGO

#2737 Enable action classification for v2
  pyproject.toml
  src/otx/cli/utils/installation.py
  src/otx/config/base/action_classification.yaml
  src/otx/config/callbacks/action_classification.yaml
  src/otx/config/data/mmaction.yaml
  src/otx/config/model/mmaction.yaml
  src/otx/core/data/dataset/action.py
  src/otx/core/data/entity/action.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/types/task.py
  src/otx/core/types/transformer_libs.py
  src/otx/core/utils/build.py
  src/otx/recipe/action_classification/__init__.py
  src/otx/recipe/action_classification/x3d.yaml
  tests/assets/action_classification_dataset/test.csv
  tests/assets/action_classification_dataset/test/0.mp4
  tests/assets/action_classification_dataset/test/1.mp4
  tests/assets/action_classification_dataset/train.csv
  tests/assets/action_classification_dataset/train/0.mp4
  tests/assets/action_classification_dataset/train/1.mp4
  tests/assets/action_classification_dataset/val.csv
  tests/assets/action_classification_dataset/val/0.mp4
  tests/assets/action_classification_dataset/val/1.mp4
  tests/integration/cli/test_cli.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2729 Make mean teacher algorithm consider distributed training
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/mean_teacher.py
  tests/e2e/cli/detection/test_detection.py
Labels: ALGO, TEST

#2733 Initialize product design doc and add design proposal process to contribution guide
  for_developers/contribution_guide.md
  for_developers/images/contribution_guide/ask_review.png
  for_developers/images/contribution_guide/copy_link.png
  for_developers/images/contribution_guide/design_proposal.png
  for_developers/images/contribution_guide/design_req.png
  for_developers/product_design.md
Labels: DOC

#2744 Fix MM*DataPreProcessor issue with a more elegant way
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
Labels: OTX 2.0

#2745 Mergeback 1.4.4 to 1.5.0
  .gitignore
  requirements/openvino.txt
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  src/otx/core/ov/ops/infrastructures.py
  src/otx/core/ov/ops/type_conversions.py
  tests/unit/core/ov/graph/test_ov_graph_utils.py
Labels: DEPENDENCY, API, ALGO, TEST

#2746 Fix bug by resetting timer every epoch begins
  src/otx/algo/callbacks/iteration_timer.py
  tests/unit/algo/callbacks/test_iteration_timer.py
Labels: BUG, TEST, OTX 2.0

#2742 Automate performance benchmark
  CHANGELOG.md
  tests/perf/__init__.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmenatation.py
  tests/perf/test_semantic_segmentation.py
  tools/experiment.py
Labels: TEST, DOC

#2740 Deal with dynamic input shape on XPU
  src/otx/algorithms/common/utils/__init__.py
  src/otx/algorithms/common/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline_xpu.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model_xpy.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/data_pipeline_xpu.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/data_pipeline_xpu.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/data_pipeline_xpu.py
  src/otx/algorithms/detection/task.py
  src/otx/cli/manager/config_manager.py
  src/otx/utils/utils.py
Labels: CLI, ALGO
