Repository open-edge-platform/training_extensions, pull requests merged in 2023-07, with the labels that each got.

#2288 Disable semantic segmentation soft prediction processing (by default)
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/algorithms/segmentation/task.py
Labels: ALGO

#2283 Fix incorrect matching of device in semisl_head
  otx/algorithms/classification/adapters/mmcls/models/heads/semisl_cls_head.py
Labels: ALGO, FIX

#2285 Auto num worker edge case
  otx/algorithms/classification/adapters/mmcls/task.py
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
Labels: ALGO, TEST

#2278 Enable DINO to OTX - Step 2.5. Finalize productization of DINO
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_deformable_detr_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_dino_detector.py
  otx/algorithms/detection/configs/detection/resnet50_deformable_detr/__init__.py
  otx/algorithms/detection/configs/detection/resnet50_deformable_detr/data_pipeline.py
  otx/algorithms/detection/configs/detection/resnet50_deformable_detr/deployment.py
  otx/algorithms/detection/configs/detection/resnet50_deformable_detr/model.py
  otx/algorithms/detection/configs/detection/resnet50_deformable_detr/template_experimental.yaml
  otx/algorithms/detection/configs/detection/resnet50_dino/__init__.py
  otx/algorithms/detection/configs/detection/resnet50_dino/model.py
  otx/algorithms/detection/configs/detection/resnet50_dino/template_experimental.yaml
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_deformable_detr_detector.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_custom_dino_detector.py
Labels: ALGO, TEST

#2293 Remove mmcv dependency in otx/core
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/__init__.py
  src/otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  src/otx/algorithms/common/adapters/mmcv/hooks/loss_dynamics_tracking_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/mem_cache_hook.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/core/data/caching/__init__.py
  src/otx/core/data/caching/mem_cache_handler.py
  src/otx/core/data/noisy_label_detection/__init__.py
Labels: ALGO

#2294 bump 'scikit-learn' dependency
  requirements/api.txt
Labels: DEPENDENCY

#2295 Remove mmcv pre-install in anomaly tox test environment
  tox.ini
Labels: BUILD

#2240 Implement XAI for tiling detection
  CHANGELOG.md
  src/otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  src/otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_atss_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_deformable_detr_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_dino_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_single_stage_detector.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_yolox_detector.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/api/utils/dataset_utils.py
  src/otx/api/utils/tiler.py
  src/otx/cli/manager/config_manager.py
  tests/e2e/test_api_xai_sanity.py
  tests/integration/api/detection/api_detection.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_recording_forward_hooks.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: API, CLI, ALGO, TEST, DOC

#2299 Fix export bug for Geti
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: ALGO, TEST

#2302 Disable semantic segmentation soft prediction processing
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/algorithms/segmentation/task.py
Labels: BUG, ALGO, HOTFIX, RELEASE

#2301 Per-class saliency maps for M-RCNN
  otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_detector.py
  otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  otx/algorithms/detection/adapters/mmdet/task.py
  otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/detection/adapters/openvino/task.py
  otx/algorithms/detection/task.py
  otx/api/utils/dataset_utils.py
  tests/e2e/test_api_xai_sanity.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/detection/test_api_detection.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: API, ALGO, TEST, HOTFIX, RELEASE

#2300 Fix 'None' node issue in label schema mapping in case of label deletion
  otx/api/serialization/label_mapper.py
  tests/unit/api/serialization/test_label_mapper.py
Labels: API, TEST, HOTFIX, FIX, RELEASE

#2303 Fix visual prompting template file name
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/template_experimental.yaml
  src/otx/algorithms/visual_prompting/tasks/__init__.py
  tests/integration/cli/visual_prompting/test_visual_prompting.py
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: ALGO, TEST

#2306 Update export and nncf hyperparameters
  otx/algorithms/detection/adapters/mmdet/nncf/task.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/nncf/test_task.py
Labels: ALGO, TEST

#2304 Fix e2e tiling tests
  src/otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  src/otx/api/utils/tiler.py
Labels: API, ALGO, FIX

#2307 Bug fix: difference between "otx eval" score and evaluation while training
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/segmentation/task.py
  src/otx/api/usecases/evaluation/dice.py
  src/otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/test_dataset.py
  tests/unit/algorithms/segmentation/adapters/test_otx_segmentation_task.py
Labels: API, ALGO, TEST, FIX

#2314 [Bug] Fix eval segm multiprocess spawn issue
  src/otx/algorithms/detection/adapters/mmdet/evaluation/evaluator.py
Labels: ALGO

#2268 Introducing adaptive LR schedule to Classification task
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/early_stopping_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/recipes/stages/_base_/schedules/cos_anneal.py
  src/otx/recipes/stages/classification/incremental.yaml
  src/otx/recipes/stages/classification/train.yaml
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_training_hooks.py
Labels: ALGO, TEST

#2292 MaskRCNN-ConvNeXt Instance Segmentation
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/__init__.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/deployment.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/deployment_tile_classifier.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/hpo_config.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/template_experiment.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/tile_pipeline.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ConvNeXt/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
Labels: ALGO, TEST, DOC

#2310 [FIX] Squeeze anomaly maps in metadata
  otx/algorithms/anomaly/adapters/anomalib/callbacks/inference.py
Labels: ALGO

#2282 Enable deit_tiny template by default
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/configs/deit_tiny/template.yaml
  tests/e2e/cli/classification/test_classification.py
  tests/integration/cli/classification/test_classification.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
Labels: ALGO, TEST

#2308 Fix 'None' node issue in label schema mapping in case of label deletion (develop)
  src/otx/api/serialization/label_mapper.py
  tests/unit/api/serialization/test_label_mapper.py
Labels: API, TEST, FIX

#2316 Fix export issue in Geti
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: ALGO, TEST

#2309 Add ResNeXt101-ATSS as a Experimental model
  CHANGELOG.md
  src/otx/algorithms/detection/configs/detection/resnext101_atss/__init__.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/compression_config.json
  src/otx/algorithms/detection/configs/detection/resnext101_atss/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/deployment.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/hpo_config.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/resnext101_atss/tile_pipeline.py
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/integration/cli/detection/test_detection.py
  tests/unit/algorithms/visual_prompting/adapters/openvino/test_model_wrappers.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: ALGO, TEST, DOC

#2317 Modified tox env for unittest
  tox.ini
Labels: BUILD

#2320 Added publish workflow
  .github/workflows/publish.yml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2321 Fix semantic segmentation soft prediction dtype
  otx/algorithms/segmentation/adapters/openvino/task.py
  otx/algorithms/segmentation/task.py
Labels: HOTFIX, RELEASE

#2325 added publish workflow
  .github/workflows/publish.yml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2323 Skip openvino integration test
  tests/integration/cli/visual_prompting/test_visual_prompting.py
Labels: TEST

#2324 Fix import dm.DatasetSubset
  tests/unit/core/data/manager/test_dataset_manager.py
Labels: TEST, RELEASE

#2322 Fix semantic segmentation soft prediction dtype
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/segmentation/task.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: ALGO, TEST, RELEASE

#2319 POT->PTQ renaming in tests
  src/otx/algorithms/anomaly/tools/README.md
  src/otx/cli/tools/optimize.py
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ConvNeXt/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/regression/summarize_test_results.py
  tests/test_suite/run_test_command.py
Labels: CLI, ALGO, TEST, DOC

#2328 Contrain yapf verison lesser than 0.40.0
  requirements/action.txt
  requirements/classification.txt
  requirements/detection.txt
  requirements/segmentation.txt
Labels: DEPENDENCY, FIX

#2327 Fix detection e2e tests
  tests/e2e/cli/detection/test_detection.py
Labels: TEST, RELEASE

#2329 Update the version of the openvino badge
  README.md
Labels: DOC

#2331 Update version and release note
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  otx/__init__.py
  otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2332 Bump datumaro up to 1.4.0rc2
  requirements/base.txt
Labels: DEPENDENCY

#2333 Tiling Doc for releases 1.4.0
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/utils/images/dota_tiling_example.jpg
Labels: DOC

#2338 Relax reference saliency values check
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: TEST

#2341 Bump otx version to 1.4.0rc2
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API

#2340 added fix-cpu numbers option
  .ci/start-runner.sh
Labels: BUILD, CI

#2350 Bump albumentations version in anomaly requirements
  requirements/anomaly.txt
Labels: DEPENDENCY, HOTFIX

#2346 Update action detection
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  tests/e2e/cli/action/test_action_detection.py
Labels: TEST, DOC

#2336 Fix tiling unittest and random max select logic
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: ALGO, TEST

#2352 Update incorrect license header
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/semisl_multilabel_classifier.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/deployment_tile_classifier.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/deployment_tile_classifier.py
  src/otx/core/ov/__init__.py
  src/otx/core/ov/graph/__init__.py
  src/otx/core/ov/graph/graph.py
  src/otx/core/ov/graph/parsers/__init__.py
  src/otx/core/ov/graph/parsers/builder.py
  src/otx/core/ov/graph/parsers/cls/__init__.py
  src/otx/core/ov/graph/parsers/cls/cls_base_parser.py
  src/otx/core/ov/graph/parsers/parser.py
  src/otx/core/ov/graph/utils.py
  src/otx/core/ov/models/__init__.py
  src/otx/core/ov/models/mmov_model.py
  src/otx/core/ov/models/ov_model.py
  src/otx/core/ov/models/parser_mixin.py
  src/otx/core/ov/omz_wrapper.py
  src/otx/core/ov/ops/__init__.py
  src/otx/core/ov/ops/activations.py
  src/otx/core/ov/ops/arithmetics.py
  src/otx/core/ov/ops/builder.py
  src/otx/core/ov/ops/convolutions.py
  src/otx/core/ov/ops/generation.py
  src/otx/core/ov/ops/image_processings.py
  src/otx/core/ov/ops/infrastructures.py
  src/otx/core/ov/ops/matmuls.py
  src/otx/core/ov/ops/modules/__init__.py
  src/otx/core/ov/ops/modules/op_module.py
  src/otx/core/ov/ops/movements.py
  src/otx/core/ov/ops/normalizations.py
  src/otx/core/ov/ops/object_detections.py
  src/otx/core/ov/ops/op.py
  src/otx/core/ov/ops/poolings.py
  src/otx/core/ov/ops/reductions.py
  src/otx/core/ov/ops/shape_manipulations.py
  src/otx/core/ov/ops/sorting_maximization.py
  src/otx/core/ov/ops/type_conversions.py
  src/otx/core/ov/ops/utils.py
  src/otx/core/ov/registry.py
  src/otx/core/ov/utils.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_semisl_classifier.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_semisl_mlc_classifier.py
  tests/unit/algorithms/classification/adapters/mmcls/models/heads/test_multilabel_semisl.py
  tests/unit/algorithms/common/adapters/mmdeploy/__init__.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
  tests/unit/mpa/deploy/__init__.py
Labels: ALGO, TEST

#2347 Update ModelAPI in 1.4 release
  requirements/openvino.txt
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/api/usecases/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  src/otx/api/utils/tiler.py
  tests/unit/algorithms/action/adapters/openvino/test_action_openvino_models.py
  tests/unit/algorithms/detection/adapters/openvino/model_wrappers/test_detection_openvino_models.py
Labels: DEPENDENCY, API, ALGO, TEST

#2318 Add OTX optimize for visual prompting task
  CHANGELOG.md
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/config/visual_prompting_config.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/datasets/pipelines/sam_transforms.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/segment_anything.py
  src/otx/algorithms/visual_prompting/configs/base/configuration.py
  src/otx/algorithms/visual_prompting/configs/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/config.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/configuration.yaml
  src/otx/algorithms/visual_prompting/tasks/inference.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/cli/tools/optimize.py
  tests/unit/algorithms/visual_prompting/adapters/openvino/model_wrappers/test_openvino_models.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/config/test_visual_prompting_config.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/datasets/pipelines/test_sam_transforms.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: CLI, ALGO, TEST, DOC

#2335 Update detection docs
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/__init__.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/deployment.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/template.yaml
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/tile_pipeline.py
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_MobileNetV2_ATSS/compressed_model.yml
  tests/e2e/test_api_xai_sanity.py
  tests/integration/cli/test_cli.py
  tests/regression/regression_config.json
  tests/unit/algorithms/detection/test_xai_detection_validity.py
  tests/unit/cli/manager/test_config_manager.py
Labels: ALGO, TEST, DOC

#2354 Add visual prompting documentation
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
Labels: DOC

#2359 Remove custom modelapi patch in visual prompting
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/openvino_adapters.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/unit/algorithms/visual_prompting/adapters/openvino/model_wrappers/test_openvino_models.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: ALGO, TEST

#2357 Fixing XAI tests
  tests/e2e/cli/classification/test_api_xai_sanity_classification.py
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
  tests/e2e/cli/instance_segmentation/test_api_xai_sanity_instance_segmentation.py
  tests/e2e/test_api_xai_sanity.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: TEST

#2356 Fix graph metric order and label issues
  src/otx/algorithms/common/adapters/mmcv/hooks/logger_hook.py
Labels: ALGO, FIX

#2358 Update multi-label document and conversion script
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  src/otx/algorithms/classification/utils/convert_coco_to_multilabel.py
Labels: ALGO, DOC, FIX, RELEASE

#2365 Update third party programs
  third-party-programs.txt
Labels: DOC

#2337 Change IR scale factor to 1.0 if tile size is too big
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/utils/data.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: ALGO, TEST

#2368 Fixing detection saliency map for one class case
  src/otx/algorithms/detection/adapters/mmdet/hooks/det_class_probability_map_hook.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
  tests/unit/algorithms/detection/test_xai_detection_validity.py
Labels: BUG, ALGO, TEST, RELEASE

#2360 Add e2e test for visual prompting
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  requirements/visual_prompting.txt
  setup.py
  src/otx/algorithms/visual_prompting/configs/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/ptq_optimization_config.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/core/data/adapter/visual_prompting_dataset_adapter.py
  tests/e2e/cli/visual_prompting/__init__.py
  tests/e2e/cli/visual_prompting/reference/Visual_Prompting_SAM_ViT_B/compressed_model.yml
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/test_suite/run_test_command.py
  tests/unit/core/data/adapter/test_visual_prompting_adapter.py
  tox.ini
Labels: DEPENDENCY, ALGO, TEST, BUILD

#2366 Fix e2e
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
Labels: ALGO, TEST

#2344 Add Dino head unit tests
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/test_custom_dino_head.py
Labels: TEST

#2362 Add model category attributes to model template
  src/otx/algorithms/anomaly/configs/classification/padim/template.yaml
  src/otx/algorithms/anomaly/configs/classification/stfpm/template.yaml
  src/otx/algorithms/anomaly/configs/detection/padim/template.yaml
  src/otx/algorithms/anomaly/configs/detection/stfpm/template.yaml
  src/otx/algorithms/anomaly/configs/segmentation/padim/template.yaml
  src/otx/algorithms/anomaly/configs/segmentation/stfpm/template.yaml
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/template.yaml
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/template.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox/template.yaml
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/template.yaml
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  src/otx/api/entities/model_template.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_rotated_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
  tests/unit/api/entities/test_model_template.py
Labels: FEATURE, API, ALGO, TEST

#2371 Fix F1 auto-threshold to choose best largest confidence
  CHANGELOG.md
  src/otx/api/usecases/evaluation/f_measure.py
  tests/unit/api/usecases/evaluation/test_f_measure.py
Labels: API, TEST, DOC, FIX

#2370 Update for release 1.4.0rc2
  requirements/base.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  tests/unit/algorithms/detection/adapters/mmdet/models/heads/test_custom_dino_head.py
Labels: DEPENDENCY, API, TEST

#2373 Fix NNCF training on CPU
  src/otx/algorithms/common/adapters/mmcv/nncf/runners.py
Labels: ALGO

#2369 Align label order between Geti and OTX
  CHANGELOG.md
  src/otx/api/entities/label_schema.py
  tests/unit/api/entities/test_label_schema.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: API, TEST, DOC, FIX

#2375 Remove CenterCrop from Classification test pipeline and editing missing docs link
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  tests/e2e/cli/classification/test_classification.py
Labels: ALGO, TEST, DOC, RELEASE

#2379 Add model type to deit ptq config
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/configs/deit_tiny/ptq_optimization_config.py
  src/otx/cli/tools/demo.py
Labels: CLI, ALGO

#2380 Update for release 1.4
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, DOC, RELEASE

#2374 Switch to PTQ for sseg
  src/otx/algorithms/action/adapters/openvino/task.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/ptq_optimization_config.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/ptq_optimization_config.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/ptq_optimization_config.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
Labels: ALGO, FIX

#2382 Add description & remove unused configurable parameters
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/configs/base/configuration.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_b/template_experimental.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_s/template_experimental.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_t/template_experimental.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/hparam.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
Labels: ENHANCE, ALGO, TEST

#2383 Fix invalid import structures in otx.api
  src/otx/api/utils/tiler.py
Labels: API, HOTFIX

#2385 Update for 1.4.0rc4
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, CLI, ALGO, TEST, BUILD, DOC

#2378 Add onnx metadata to classification models
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/utils/utils.py
  tests/integration/cli/classification/test_classification.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/common/utils/test_utils.py
Labels: ALGO, TEST

#2389 Update exportable code README (to develop)
  src/otx/api/usecases/exportable_code/demo/README.md
Labels: API, DOC

#2384 Rename `SAMImageClassifier` -> `CustomImageClassifier`
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/models/__init__.py
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/__init__.py
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/custom_image_classifier.py
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/semisl_classifier.py
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/semisl_multilabel_classifier.py
  src/otx/algorithms/classification/configs/deit_tiny/model.py
  src/otx/algorithms/classification/configs/deit_tiny/model_hierarchical.py
  src/otx/algorithms/classification/configs/deit_tiny/model_multilabel.py
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/model.py
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/model_hierarchical.py
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/model_multilabel.py
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/model.py
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/model_hierarchical.py
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/model_multilabel.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/model.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/model_hierarchical.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/model_multilabel.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model_hierarchical.py
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/model_multilabel.py
  src/otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/model.py
  src/otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/model_hierarchical.py
  src/otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/model_multilabel.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_custom_image_classifier.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_semisl_classifier.py
  tests/unit/algorithms/classification/adapters/mmcls/models/classifiers/test_semisl_mlc_classifier.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
Labels: ALGO, TEST, REFACTOR

#2393 Update version string of the OTX
  README.md
  docs/source/conf.py
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2391 [develop] XAI: Return saliency maps for Mask RCNN IR async infer
  src/otx/algorithms/detection/adapters/openvino/task.py
Labels: ALGO, FIX

#2395 [release 1.4.0] XAI: Return saliency maps for Mask RCNN IR async infer
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/cli/utils/importing.py
Labels: CLI, ALGO, FIX, RELEASE

#2361 Enable `deterministic` for anomalib and visual prompting
  src/otx/algorithms/anomaly/tasks/train.py
  src/otx/algorithms/visual_prompting/tasks/train.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/visual_prompting/test_visual_prompting.py
Labels: ALGO, TEST

#2399 Update for release 1.4.0
  CHANGELOG.md
  requirements/base.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, DOC

#2398 Fix a performance drop while training EfficientNetV2 with multi-GPU
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/torch/utils/__init__.py
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
  tests/unit/algorithms/common/adapters/torch/utils/test_utils.py
Labels: ALGO, TEST, FIX

#2401 Change POT to PTQ in test code
  tests/regression/regression_test_helpers.py
  tests/regression/summarize_test_results.py
  tests/test_suite/run_test_command.py
Labels: TEST, FIX

#2388 Enable configurable confidence threshold for ov export and inference
  CHANGELOG.md
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/task.py
  src/otx/cli/tools/demo.py
  src/otx/cli/tools/eval.py
  src/otx/cli/tools/explain.py
  src/otx/cli/tools/export.py
  src/otx/cli/tools/optimize.py
  src/otx/cli/tools/train.py
  src/otx/cli/utils/parser.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/cli/tools/test_export.py
Labels: CLI, ALGO, TEST, DOC

#2404 Fix e2e
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
Labels: TEST

#2402 Add YOLOX variants to OTX
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/deployment.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/hpo_config.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/deployment.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/hpo_config.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/deployment.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/hpo_config.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/template_experimental.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/tile_pipeline.py
  tests/integration/cli/detection/test_detection.py
Labels: ALGO, TEST, DOC

#2405 Fix broken links in documentation
  CHANGELOG.md
  README.md
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC
