Repository open-edge-platform/training_extensions, pull requests merged in 2023-01, with the labels that each got.

#1460 [OTX] otx find & build with OMZ backbones + Refactor codes
  otx/algorithms/common/adapters/mmcv/models/backbones/torchvision_backbones.py
  otx/cli/builder/builder.py
  otx/cli/builder/supported_backbone/mmdet.json
  otx/cli/builder/supported_backbone/mmseg.json
  otx/cli/builder/supported_backbone/omz.mmcls.json
  otx/cli/builder/supported_backbone/otx.json
  otx/cli/builder/supported_backbone/torchvision.json
  otx/cli/registry/registry.py
  otx/cli/tools/find.py
  otx/cli/utils/importing.py
  otx/cli/utils/tests.py
  otx/mpa/modules/hooks/recording_forward_hooks.py
  tests/integration/cli/test_cli.py
Labels: CLI, tasks, tests

#1475 [OTX] Bugfix: multi GPU raise error when num_workers isn't set as 0.
  otx/cli/utils/multi_gpu.py
Labels: CLI

#1472 [OTX] Evaluate a model before training starts
  otx/algorithms/common/tasks/training_base.py
  otx/mpa/modules/hooks/__init__.py
  otx/mpa/modules/hooks/eval_before_train_hook.py
Labels: tasks

#1490 [DEV] Enable filelock in videoframe cache
  external/mmdetection/detection_tasks/extension/utils/pipelines.py
  external/mmsegmentation/segmentation_tasks/extension/utils/pipelines.py
  external/model-preparation-algorithm/mpa_tasks/extensions/datasets/pipelines/mpa_cls_pipeline.py
  external/model-preparation-algorithm/mpa_tasks/utils/data_utils.py
Labels: tasks

#1483 [OTX] Make test code use pytest temporary directory
  tests/integration/cli/action/test_action_classification.py
  tests/integration/cli/action/test_action_detection.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: tests

#1491 [DEV] Save numpy array as compressed npz in videoframe cache & Exception handling
  external/mmdetection/detection_tasks/extension/utils/pipelines.py
  external/mmsegmentation/segmentation_tasks/extension/utils/pipelines.py
  external/model-preparation-algorithm/mpa_tasks/extensions/datasets/pipelines/mpa_cls_pipeline.py
  external/model-preparation-algorithm/mpa_tasks/utils/data_utils.py
Labels: tasks

#1477 [OTX] Cythonize AugMixAugment
  .gitignore
  MANIFEST.in
  otx/mpa/modules/datasets/pipelines/transforms/augments.py
  otx/mpa/modules/datasets/pipelines/transforms/augmix.py
  otx/mpa/modules/datasets/pipelines/transforms/cython_augments/__init__.py
  otx/mpa/modules/datasets/pipelines/transforms/cython_augments/cv_augment.pyx
  otx/mpa/modules/datasets/pipelines/transforms/cython_augments/pil_augment.pyx
  pyproject.toml
  setup.py
  tests/unit/mpa/__init__.py
  tests/unit/mpa/test_augments.py
Labels: dependencies, tests

#1485 [OTX] Align data pipeline configs & OTX build with sub train type
  otx/algorithms/action/configs/classification/x3d/data_pipeline.py
  otx/algorithms/action/configs/classification/x3d/model.py
  otx/algorithms/action/configs/detection/x3d_fast_rcnn/data_pipeline.py
  otx/algorithms/action/configs/detection/x3d_fast_rcnn/model.py
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/selfsl/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/template.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/selfsl/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/template.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/selfsl/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/template_experiment.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/selfsl/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/template.yaml
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/selfsl/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/template_experiment.yaml
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/common/adapters/mmcv/utils.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/semisl/hparam.yaml
  otx/algorithms/detection/configs/detection/cspdarknet_yolox/template.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/hparam.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_atss/template.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/hparam.yaml
  otx/algorithms/detection/configs/detection/mobilenetv2_ssd/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/nncf.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/selfsl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/selfsl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/semisl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/semisl/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/semisl/data_pipeline.py
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/semisl/hparam.yaml
  otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  otx/algorithms/segmentation/tasks/inference.py
  otx/algorithms/segmentation/tasks/nncf.py
  otx/api/entities/model_template.py
  otx/cli/builder/builder.py
  otx/cli/tools/build.py
Labels: CLI, tasks

#1474 [OTX][Test] Move parameter validation unit test code into tests/unit/algorithms
  otx/algorithms/classification/adapters/deep_object_reid/tasks/nncf.py
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/classification/tasks/openvino.py
  otx/algorithms/classification/tasks/train.py
  otx/algorithms/common/adapters/mmcv/utils.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/algorithms/segmentation/tasks/train.py
  tests/integration/api/detection/test_api_detection.py
  tests/unit/algorithms/classification/adapters/deep_object_reid/test_dor_monitors_params_validation.py
  tests/unit/algorithms/classification/adapters/deep_object_reid/test_dor_utils_params_validation.py
  tests/unit/algorithms/classification/adapters/mmcls/test_mmcls_data_params_validation.py
  tests/unit/algorithms/classification/adapters/openvino/test_openvino_models_params_validation.py
  tests/unit/algorithms/classification/tasks/test_classification_inference_task_params_validation.py
  tests/unit/algorithms/classification/tasks/test_classification_nncf_task_params_validation.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task_params_validation.py
  tests/unit/algorithms/classification/tasks/test_classification_train_task_params_validation.py
  tests/unit/algorithms/classification/utils/test_classification_utils_params_validation.py
  tests/unit/algorithms/common/adapters/mmcv/test_mmcv_hooks_params_validation.py
  tests/unit/algorithms/common/adapters/mmcv/test_mmcv_runner_params_validation.py
  tests/unit/algorithms/common/adapters/mmcv/test_mmcv_utils_params_validation.py
  tests/unit/algorithms/common/utils/test_common_utils_params_validation.py
  tests/unit/algorithms/detection/adapters/mmdet/test_mmdet_dataset_params_validation.py
  tests/unit/algorithms/detection/adapters/mmdet/test_mmdet_pipelines_params_validation.py
  tests/unit/algorithms/detection/tasks/test_detection_inference_task_params_validation.py
  tests/unit/algorithms/detection/tasks/test_detection_nncf_task_params_validation.py
  tests/unit/algorithms/detection/tasks/test_detection_openvino_task_params_validation.py
  tests/unit/algorithms/detection/tasks/test_detection_train_task_params_validation.py
  tests/unit/algorithms/detection/utils/test_detection_config_utils_params_validation.py
  tests/unit/algorithms/detection/utils/test_detection_data_utils_params_validation.py
  tests/unit/algorithms/detection/utils/test_detection_utils_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_config_utils_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_data_utils_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_dataset_params_validation.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_pipelines_params_validation.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_blur_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_inference_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_nncf_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_openvino_task_params_validation.py
  tests/unit/algorithms/segmentation/tasks/test_segmentation_train_task_params_validation.py
Labels: tasks, tests

#1406 [feature/otx]: Supervised Contrastive Loss for Multiclass classification
  otx/algorithms/classification/configs/base/data/supcon/__init__.py
  otx/algorithms/classification/configs/base/data/supcon/data_pipeline.py
  otx/algorithms/classification/configs/configuration.yaml
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/supcon/__init__.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/supcon/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/supcon/model.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/supcon/__init__.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/supcon/data_pipeline.py
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/supcon/model.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/supcon/__init__.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/supcon/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/supcon/model.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/supcon/__init__.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/supcon/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/supcon/model.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/supcon/__init__.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/supcon/data_pipeline.py
  otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/supcon/model.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/common/configs/training_base.py
  tests/integration/cli/classification/test_classification.py
Labels: tasks, tests

#1470 [OTX] Enable resume
  QUICK_START_GUIDE.md
  otx/algorithms/classification/tasks/train.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/segmentation/tasks/train.py
  otx/cli/tools/train.py
  otx/cli/utils/tests.py
  otx/mpa/cls/exporter.py
  otx/mpa/det/exporter.py
  otx/mpa/seg/exporter.py
  otx/mpa/stage.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
Labels: CLI, tasks, tests

#1518 [OTX] Fix error during inference in SupCon
  otx/algorithms/classification/configs/base/data/supcon/data_pipeline.py
Labels: tasks

#1520 [OTX] consider multi GPU when setting drop last
  otx/algorithms/classification/tasks/inference.py
  otx/mpa/cls/trainer.py
  tests/integration/cli/classification/test_classification.py
Labels: tasks, tests

#1528 [OTX][HOT-FIX] Keep pre-installed torch
  otx/algorithms/init_venv.sh
Labels: tasks

#1527 [OTX][TEST] Disable multi gpu test temporary
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/segmentation/test_segmentation.py
Labels: tests

#1439 [OTX] add tests to validate FQs in compressed models
  external/anomaly/tests/test_ote_anomaly_segmentation_training.py
  external/deep-object-reid/tests/reference/Custom_Image_Classification_EfficinetNet-B0/pot/reference.json
  otx/algorithms/anomaly/configs/classification/padim/compression_config.json
  otx/algorithms/anomaly/configs/detection/padim/compression_config.json
  otx/algorithms/anomaly/configs/segmentation/padim/compression_config.json
  otx/cli/utils/nncf.py
  otx/cli/utils/tests.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
  tests/regression/anomaly/anomaly_common.py
  tests/regression/anomaly/conftest.py
  tests/regression/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/regression/anomaly/reference/ote_anomaly_classification_stfpm/compressed_model.yml
  tests/regression/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/regression/anomaly/reference/ote_anomaly_detection_padim/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/regression/anomaly/reference/ote_anomaly_detection_stfpm/nncf/nncf_quantization.dot
  tests/regression/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/regression/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/regression/anomaly/reference/runs
  tests/regression/anomaly/test_ote_anomaly_classification_training.py
  tests/regression/anomaly/test_ote_anomaly_segmentation_training.py
  tests/regression/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/regression/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/regression/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/regression/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/regression/detection/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/regression/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/regression/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/regression/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/regression/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/regression/segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/test_suite/training_tests_actions.py
Labels: CLI, tasks, tests

#1530 [OTX][HOT-FIX] Revert otx cli tools with data.yaml check
  otx/cli/tools/eval.py
  otx/cli/tools/optimize.py
  otx/cli/tools/train.py
Labels: CLI

#1519 [OTX][TEST] Add unit test for `otx.cli.builder`
  otx/cli/builder/builder.py
  otx/cli/tools/build.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/unit/cli/builder/test_cli_builder.py
Labels: CLI, tests

#1505 [OTX] Set Cython code path more directive
  MANIFEST.in
  setup.py
Labels: dependencies

#1542 [OTX] remove temporary work directory after training
  otx/algorithms/action/tasks/inference.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/cli/tools/train.py
Labels: CLI, tasks

#1544 [OTX][Hotfix] Remove base_path in semisl hparam.yaml
  otx/algorithms/classification/configs/efficientnet_b0_cls_incr/semisl/hparam.yaml
  otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/semisl/hparam.yaml
  otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/semisl/hparam.yaml
Labels: tasks

#1538 [OTX] Refactor stage structure in classification
  otx/algorithms/classification/tasks/inference.py
  otx/mpa/cls/__init__.py
  otx/mpa/cls/incremental/__init__.py
  otx/mpa/cls/incremental/inferrer.py
  otx/mpa/cls/incremental/stage.py
  otx/mpa/cls/incremental/trainer.py
  otx/mpa/cls/semisl/__init__.py
  otx/mpa/cls/semisl/inferrer.py
  otx/mpa/cls/semisl/stage.py
  otx/mpa/cls/semisl/trainer.py
  otx/mpa/cls/stage.py
Labels: tasks

#1556 [OTX] Fix a timing to compare score and add bad_count in ReduceLROnPlateauLrUpdaterHook
  otx/algorithms/common/adapters/mmcv/hooks.py
Labels: tasks

#1554 [OTX][Hot-fix] Add init_weights call in the custom atss head
  otx/algorithms/detection/adapters/mmdet/utils/builder.py
  otx/mpa/utils/logger.py
Labels: tasks

#1547 [OTX][TEST] Align TC for Integration Test & Move CLI tests to E2E
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_instance_segmentation.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/e2e/cli/detection/test_tiling_instseg.py
  tests/e2e/cli/segmentation/test_segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_instance_segmentation.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/detection/test_tiling_instseg.py
  tests/integration/cli/segmentation/test_segmentation.py
Labels: tests

#1559 [OTX][Hot-fix] Fix pre-commit and edit the tox.ini
  otx/algorithms/common/adapters/mmcv/hooks.py
  tox.ini
Labels: tasks

#1504 [OTX] Simple auto-config class design and implementation for classification task
  data/coco_dataset/coco_detection/annotations/instances_train.json
  data/coco_dataset/coco_detection/annotations/instances_val.json
  otx/cli/builder/builder.py
  otx/cli/tools/build.py
  otx/cli/utils/tests.py
  otx/core/config/__init__.py
  otx/core/config/manager.py
  otx/core/data/manager/__init__.py
  otx/core/data/manager/dataset_manager.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/builder/test_cli_builder.py
Labels: CLI, tests

#1537 [OTX][HOT-FIX] Make clear distinction between OTX and MPA
  otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  otx/algorithms/common/tasks/training_base.py
Labels: tasks

#1553 [OTX] Not to deepcopy twice
  otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  otx/algorithms/detection/adapters/mmdet/nncf/builder.py
  otx/algorithms/detection/adapters/mmdet/utils/builder.py
  otx/algorithms/segmentation/adapters/mmseg/nncf/builder.py
  otx/algorithms/segmentation/adapters/mmseg/utils/builder.py
  otx/mpa/modules/models/detectors/custom_maskrcnn_detector.py
Labels: tasks

#1563 [OTX][TEST] Move `test_helper.py` from `tests/unit/api` to `tests/`
  tests/integration/api/detection/test_api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/test_helpers.py
  tests/unit/api/entities/test_model.py
  tests/unit/api/entities/test_task_environment.py
  tests/unit/api/fixtures/general.py
  tests/unit/api/usecases/exportable_code/test_streamer.py
Labels: tests

#1543 [OTX] Tiling feature in OTX
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/adapters/mmdet/data/__init__.py
  otx/algorithms/detection/adapters/mmdet/data/dataset.py
  otx/algorithms/detection/adapters/mmdet/data/tiling.py
  otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/detection/tasks/train.py
  otx/algorithms/detection/utils/data.py
  otx/api/entities/tensor.py
  otx/api/usecases/exportable_code/demo/requirements.txt
  otx/api/utils/tiler.py
  otx/cli/utils/io.py
  otx/mpa/deploy/apis.py
  otx/mpa/det/__init__.py
  otx/mpa/det/explainer.py
  otx/mpa/det/inferrer.py
  otx/mpa/modules/datasets/det_tiling_dataset.py
  otx/mpa/modules/datasets/task_adapt_dataset.py
  otx/mpa/stage.py
  tests/run_code_checks.sh
Labels: CLI, tasks, tests

#1550 [OTX] copy fixes in classification from develop
  otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
  otx/algorithms/classification/tasks/inference.py
Labels: tasks

#1570 [OTX] Updated for fixing ci issues
  .ci/Dockerfile
  .ci/README.md
  .ci/build.sh
  .ci/check-runner.sh
  .ci/start-runner.sh
  .ci/stop-runner.sh
  .github/workflows/pre_merge.yml
  pyproject.toml
  requirements/action.txt
  requirements/base.txt
  requirements/detection.txt
  requirements/docs.txt
  requirements/segmentation.txt
  setup.py
  tests/unit/api/usecases/exportable_code/test_streamer.py
  tox.ini
Labels: dependencies, tests

#1573 [OTX] Execute cleanup function instead unload
  otx/algorithms/anomaly/tasks/inference.py
  otx/algorithms/classification/tasks/inference.py
  otx/algorithms/common/tasks/training_base.py
  otx/algorithms/detection/tasks/inference.py
  otx/algorithms/segmentation/tasks/inference.py
  otx/cli/tools/train.py
Labels: CLI, tasks

#1572 [OTX][Hot-fix] Inst-seg, Det + Simple-Autoconfig test Hotfix
  otx/cli/utils/tests.py
  otx/core/data/adapter/detection_dataset_adapter.py
  otx/core/data/adapter/segmentation_dataset_adapter.py
  tests/integration/cli/test_cli.py
Labels: CLI, tests

#1532 [OTX] Multi-GPU: run a thread to check parent process alive when child process starts
  otx/cli/utils/multi_gpu.py
  requirements/base.txt
Labels: dependencies, CLI

#1584 [OTX][HOT-FIX] Resolve replacement backbone issue
  otx/algorithms/common/adapters/mmcv/models/backbones/torchvision_backbones.py
  otx/cli/builder/builder.py
  otx/cli/tools/build.py
Labels: CLI, tasks

#1588 [OTX][HOT-FIX] Minor data_cfg missing issues with --task
  otx/cli/tools/build.py
  otx/cli/tools/find.py
  tests/unit/cli/builder/test_cli_builder.py
Labels: CLI, tests

#1594 [OTX][TEST] Switch `test_threaded_streamer` TC to xfail
  tests/unit/api/usecases/exportable_code/test_streamer.py
Labels: tests

#1525 [feature/otx] Changed activation naming for proper checkpoint handling, fixed unexpected accuracy range
  otx/algorithms/classification/adapters/mmcls/data/datasets.py
  otx/mpa/modules/models/heads/custom_multi_label_non_linear_cls_head.py
Labels: bug, tasks
