Repository open-edge-platform/training_extensions, pull requests merged in 2023-08, with the labels that each got.

#2408 Enable FeatureVectorHook for action tasks
  CHANGELOG.md
  src/otx/algorithms/action/adapters/mmaction/task.py
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
Labels: ALGO, TEST, DOC

#2400 Update Anomaly OpenVINO export for ModelAPI
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/common/utils/ir.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
Labels: ALGO, TEST

#2410 Fix bug that auto adaptive batch size raises an error if CUDA isn't available
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
Labels: ALGO, TEST, FIX

#2411 [release 1.4.0] Update exportable code README
  src/otx/api/usecases/exportable_code/demo/README.md
Labels: API, DOC, FIX, RELEASE

#2396 Check sal maps for async infer for M-RCNN
  tests/e2e/cli/instance_segmentation/test_api_xai_sanity_instance_segmentation.py
Labels: TEST

#2390 Switch to MAPI in classification and detection inference tasks
  requirements/openvino.txt
  src/otx/algorithms/action/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/action/adapters/openvino/task.py
  src/otx/algorithms/classification/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/classification/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/visual_prompting/configs/base/configuration.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/inference/__init__.py
  src/otx/api/usecases/exportable_code/inference/inference.py
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/action/adapters/openvino/test_action_openvino_models.py
  tests/unit/algorithms/action/adapters/openvino/test_task.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/classification/adapters/openvino/test_openvino_models.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/classification/test_helper.py
  tests/unit/algorithms/classification/utils/test_utils.py
  tests/unit/algorithms/detection/adapters/openvino/model_wrappers/test_detection_openvino_models.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: DEPENDENCY, API, ALGO, TEST

#2413 Mergeback 1.4.1 to develop
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  requirements/base.txt
  src/otx/cli/utils/importing.py
Labels: DEPENDENCY, CLI, DOC

#2403 Enable ViTReciproCAM for VisionTransformer backbone (cls task)
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/custom_image_classifier.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/hooks/recording_forward_hook.py
  tests/unit/algorithms/classification/test_xai_classification_validity.py
Labels: FEATURE, ALGO, TEST

#2418 Add onnx meta for sseg, iseg, and detection models
  CHANGELOG.md
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/common/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/deployments/base_instance_segmentation_dynamic.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/task.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/detection/test_tiling_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_tiling_instseg.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/unit/algorithms/segmentation/test_task.py
Labels: ALGO, TEST, DOC

#2414 Reduce amount of SSeg PTQ e2e tests
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
Labels: TEST

#2415 Refactor instance segmentation and tiling inference
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  src/otx/api/utils/tiler.py
  tests/unit/algorithms/detection/adapters/openvino/model_wrappers/test_detection_openvino_models.py
  tests/unit/algorithms/detection/adapters/openvino/test_task.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: API, ALGO, TEST

#2416 Refine input data in-memory caching
  CHANGELOG.md
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/pipelines/loads.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  src/otx/core/data/caching/mem_cache_handler.py
  src/otx/core/data/pipelines/load_image_from_otx_dataset.py
  tests/unit/algorithms/detection/adapters/mmdet/utils/test_detection_config_utils.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_config_utils.py
  tests/unit/core/data/test_caching.py
Labels: ALGO, TEST, DOC

#2420 Configurable input size
  CHANGELOG.md
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/adapters/mmcv/utils/__init__.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/configs/configuration_enums.py
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST, DOC

#2422 Adpat timeout value of torch.dist.init_process_group depending on elapsed time
  CHANGELOG.md
  src/otx/algorithms/common/tasks/base_task.py
  src/otx/cli/tools/train.py
  src/otx/cli/utils/multi_gpu.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, ALGO, TEST, DOC

#2421 Refactor semantic segmentation inference to use MAPI
  requirements/openvino.txt
  src/otx/algorithms/segmentation/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/segmentation/adapters/openvino/model_wrappers/blur.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/segmentation/configs/base/__init__.py
  src/otx/algorithms/segmentation/configs/base/configuration.py
  src/otx/algorithms/segmentation/configs/base/configuration_enums.py
  src/otx/algorithms/segmentation/task.py
  src/otx/algorithms/segmentation/utils/__init__.py
  src/otx/algorithms/segmentation/utils/metadata.py
  src/otx/algorithms/segmentation/utils/processing.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/segmentation/adapters/openvino/model_wrappers/test_blur.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_task.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: DEPENDENCY, API, ALGO, TEST

#2426 Update FQ refs for iseg models
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
Labels: TEST

#2425 Limit range of PTQ parameters
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/anomaly/configs/classification/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/classification/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/classification/stfpm/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/stfpm/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/stfpm/configuration.yaml
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/configuration.yaml
Labels: ALGO

#2424 Refactor configurer - Phase1
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/datasets/otx_datasets.py
  src/otx/algorithms/classification/adapters/mmcls/models/classifiers/supcon_classifier.py
  src/otx/algorithms/classification/adapters/mmcls/nncf/builder.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/adapters/mmcls/utils/config_utils.py
  src/otx/algorithms/classification/adapters/mmcls/utils/exporter.py
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/selfsl/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/semisl/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/supcon/data_pipeline.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/utils/__init__.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/detection/resnet50_vfnet/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnet50_vfnet/model.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/__init__.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/config_utils.py
  src/otx/algorithms/segmentation/configs/base/data/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/supcon/data_pipeline.py
  src/otx/recipes/stages/classification/train.yaml
  src/otx/recipes/stages/detection/train.py
  src/otx/recipes/stages/instance-segmentation/train.py
  src/otx/recipes/stages/segmentation/incremental.py
  src/otx/recipes/stages/segmentation/selfsl.py
  src/otx/recipes/stages/segmentation/semisl.py
  src/otx/recipes/stages/segmentation/train.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/utils/test_config_utils.py
Labels: ALGO, TEST

#2429 Upgrade ModelAPI
  requirements/openvino.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API

#2312 Move SegNext models from experimental to custom models
  src/otx/algorithms/segmentation/configs/ham_segnext_b/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_s/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_t/template.yaml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_B/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_s/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_t/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
Labels: ALGO, TEST

#2428 Introduce AdaptiveRepeatDataHook for the classification
  CHANGELOG.md
  docs/source/guide/explanation/additional_features/adaptive_training.rst
  docs/source/guide/explanation/additional_features/index.rst
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/adapters/mmcv/hooks/__init__.py
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_repeat_data_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/task_adapt_hook.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/__init__.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/cls_incr_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/otx_sampler.py
  src/otx/recipes/stages/classification/incremental.yaml
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_repeat_data_hook.py
  tests/unit/algorithms/common/adapters/torch/dataloaders/samplers/test_balanced_sampler.py
  tests/unit/algorithms/common/adapters/torch/dataloaders/samplers/test_cls_incr_sampler.py
  tests/unit/algorithms/common/adapters/torch/dataloaders/samplers/test_otx_sampler.py
Labels: ALGO, TEST, DOC

#2433 Write a docs and cover additional case about configurable input size
  docs/source/guide/explanation/additional_features/config_input_size.rst
  docs/source/guide/explanation/additional_features/index.rst
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST, DOC

#2437 Add workaround for the incorrect meta info M-RCNN (used for XAI)
  src/otx/algorithms/detection/adapters/openvino/model_wrappers/openvino_models.py
Labels: BUG, ALGO, RELEASE

#2439 Add model category attributes to model template (for releases/1.4.0)
  src/otx/algorithms/anomaly/configs/classification/padim/template.yaml
  src/otx/algorithms/anomaly/configs/classification/stfpm/template.yaml
  src/otx/algorithms/anomaly/configs/detection/padim/template.yaml
  src/otx/algorithms/anomaly/configs/detection/stfpm/template.yaml
  src/otx/algorithms/anomaly/configs/segmentation/padim/template.yaml
  src/otx/algorithms/anomaly/configs/segmentation/stfpm/template.yaml
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/template.yaml
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/template.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/template.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox/template.yaml
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/template.yaml
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/template.yaml
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/template.yaml
  src/otx/api/entities/model_template.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/detection/test_detection.py
  tests/integration/cli/instance_segmentation/test_instance_segmentation.py
  tests/integration/cli/instance_segmentation/test_rotated_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
  tests/unit/api/entities/test_model_template.py
Labels: API, ALGO, TEST, RELEASE

#2441 Update for 1.4.2rc1
  CHANGELOG.md
  README.md
  docs/source/conf.py
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2440 Fix label list order for h-label classification
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/classification/utils/__init__.py
  src/otx/algorithms/classification/utils/cls_utils.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
Labels: ALGO, TEST, FIX, RELEASE

#2445 Modified fq numbers for lite HRNET
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
Labels: TEST

#2446 Fix i-seg e2e test code
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2443 Stabilize multi GPU training
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/tasks/base_task.py
  src/otx/cli/utils/multi_gpu.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/cli/utils/test_multi_gpu.py
Labels: CLI, ALGO, TEST

#2438 Merge load / resize / cache to optimize data loading efficiency for classification
  src/otx/algorithms/classification/adapters/mmcls/datasets/pipelines/otx_pipelines.py
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/pipelines/load_pipelines.py
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/pipelines/loads.py
  src/otx/core/data/pipelines/load_image_from_otx_dataset.py
  tests/unit/algorithms/classification/adapters/mmcls/data/test_datasets.py
  tests/unit/algorithms/classification/adapters/mmcls/data/test_pipelines.py
  tests/unit/algorithms/common/adapters/mmcv/pipelines/test_load_image_from_otx_dataset.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/core/data/test_caching.py
Labels: ENHANCE, ALGO, TEST

#2449 Update PTQ ignored scope for hrnet 18 mod2
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/ptq_optimization_config.py
Labels: ALGO

#2450 Fix OpenVINO inference for legacy models
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/cli/utils/io.py
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
Labels: CLI, ALGO, TEST, HOTFIX, FIX

#2455 Update for 1.4.2rc2
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2452 Prevent zero-sized saliency map in tiling if tile size is too big
  src/otx/algorithms/detection/adapters/mmdet/datasets/tiling.py
  src/otx/api/utils/tiler.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: API, ALGO, TEST, FIX, RELEASE

#2456 Update pot fq reference number
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
Labels: TEST

#2453 Merge load / resize / cache to optimize data loading efficiency for detection & instance segmentation
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/pipelines/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/pipelines/load_pipelines.py
  src/otx/algorithms/detection/configs/base/data/atss_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/data_pipeline.py
  src/otx/core/data/caching/mem_cache_handler.py
  tests/unit/algorithms/common/adapters/mmcv/pipelines/test_load_image_from_otx_dataset.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/pipelines/test_load_pipelines.py
  tests/unit/algorithms/detection/test_helpers.py
Labels: ENHANCE, ALGO, TEST

#2458 Align resume batch size with train batch size in i-seg e2e test
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2460 Merge load / resize / cache to optimize data loading efficiency for semantic segmentation
  CHANGELOG.md
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/__init__.py
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/pipelines/__init__.py
  src/otx/algorithms/segmentation/adapters/mmseg/datasets/pipelines/loads.py
  src/otx/algorithms/segmentation/configs/base/data/data_pipeline.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/pipelines/test_loads.py
Labels: ALGO, TEST, DOC

#2463 Apply load+resize cache to validation pipelines
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/configs/base/data/atss_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/data_pipeline.py
Labels: ENHANCE, ALGO

#2457 Add a new object detector, Lite-DINO
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  src/otx/algorithms/common/adapters/mmcv/ops/multi_scale_deformable_attn_pytorch.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_lite_dino.py
  src/otx/algorithms/detection/adapters/mmdet/models/layers/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/models/layers/lite_detr_layers.py
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/__init__.py
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/deployment.py
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/model.py
  src/otx/algorithms/detection/configs/detection/resnet50_lite_dino/template_experimental.yaml
  tests/integration/cli/detection/test_detection.py
Labels: ALGO, TEST, DOC
