Repository open-edge-platform/training_extensions, pull requests merged in 2023-10, with the labels that each got.

#2510 Fix the incorrect progress information when AdaptiveRepeatDataHook is enabled
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/common/adapters/mmcv/clsincr_mixin.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_repeat_data_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/task_adapt_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/__init__.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/cls_incr_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/otx_sampler.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/recipes/stages/classification/multilabel/incremental.yaml
  src/otx/recipes/stages/classification/multilabel/train.yaml
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_repeat_data_hook.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/common/adapters/torch/dataloaders/samplers/test_otx_sampler.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
Labels: ALGO, TEST, FIX

#2432 Migrate anomaly exportable code to modelAPI
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_classification.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_detection.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_segmentation.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/base.py
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: API, ALGO, TEST, REFACTOR

#2535 Delete mem cache handler after training is done
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/segmentation/task.py
Labels: ALGO, FIX

#2533 Fix bug that auto batch size doesn't consider distributed training
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: ALGO, TEST, FIX

#2537 Fix nncf optimization
  src/otx/algorithms/anomaly/tasks/openvino.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
Labels: ALGO, TEST, FIX

#2539 Apply fix progress hook to release 1.5.0
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/common/adapters/mmcv/clsincr_mixin.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_repeat_data_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/task_adapt_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/__init__.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/cls_incr_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/otx_sampler.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/recipes/stages/classification/multilabel/incremental.yaml
  src/otx/recipes/stages/classification/multilabel/train.yaml
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_repeat_data_hook.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/common/adapters/torch/dataloaders/samplers/test_otx_sampler.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
Labels: ALGO, TEST, FIX, RELEASE

#2541 Re introduce adaptive scheduling for training
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_training_hooks.py
Labels: ALGO, TEST, FIX, RELEASE

#2536 Enable deit testing
  src/otx/algorithms/classification/adapters/mmcls/task.py
  tests/e2e/cli/classification/test_classification.py
  tests/integration/cli/classification/test_classification.py
Labels: ALGO, TEST

#2545 Remove unused HPO weight while HPO is running
  src/otx/cli/utils/hpo.py
  tests/unit/cli/utils/test_hpo.py
Labels: CLI, TEST

#2543 Re-introduce adaptive training
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_training_hooks.py
Labels: ALGO, TEST

#2530 Fix auto input size mismatch in eval & export
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/nncf/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/nncf/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/nncf/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/task.py
  tests/e2e/cli/classification/test_api_xai_sanity_classification.py
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/test_otx_segmentation_task.py
Labels: ALGO, TEST, FIX

#2546 Add option to attach host path to container's cache
  .ci/start-runner.sh
Labels: BUILD

#2538 Enable resuming with `weights.pth` saved by visual prompting
  src/otx/algorithms/visual_prompting/tasks/inference.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/config/test_visual_prompting_config.py
  tests/unit/algorithms/visual_prompting/tasks/test_inference.py
  tests/unit/algorithms/visual_prompting/tasks/test_train.py
Labels: ALGO, TEST

#2550 Skip e2e det tests by issue2548
  tests/e2e/cli/detection/test_detection.py
Labels: TEST

#2552 Add skip to chained TC for issue #2548
  tests/e2e/cli/detection/test_detection.py
Labels: TEST

#2551 Update for release 1.4.3
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2529 Upgrade MAPI to v 0.1.6
  requirements/openvino.txt
  src/otx/algorithms/action/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, ALGO

#2561 Add proxy env setting to ci script
  .ci/start-runner.sh
Labels: BUILD, CI

#2555 Update MAPI for 1.5 release
  requirements/openvino.txt
  src/otx/algorithms/action/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, ALGO

#2562 Mergeback 1.5.0rc1
  src/otx/algorithms/classification/adapters/mmcls/configurer.py
  src/otx/algorithms/classification/adapters/mmcls/nncf/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/task.py
  src/otx/algorithms/common/adapters/mmcv/configurer.py
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/task_adapt_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/cls_incr_sampler.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/common/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/nncf/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/configurer.py
  src/otx/algorithms/segmentation/adapters/mmseg/nncf/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/task.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/classification/test_api_xai_sanity_classification.py
  tests/e2e/cli/detection/test_api_xai_sanity_detection.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_adaptive_training_hooks.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_config_utils.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/segmentation/adapters/test_otx_segmentation_task.py
Labels: ALGO, TEST

#2556 Update regression tests
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_tiling_detection.py
  tests/regression/action/test_action_classification.py
  tests/regression/action/test_action_detection.py
  tests/regression/anomaly/test_anomaly_classificaiton.py
  tests/regression/anomaly/test_anomaly_detection.py
  tests/regression/anomaly/test_anomaly_segmentation.py
  tests/regression/classification/test_classification.py
  tests/regression/conftest.py
  tests/regression/detection/test_detection.py
  tests/regression/detection/test_tiling_detection.py
  tests/regression/instance_segmentation/test_instance_segmentation.py
  tests/regression/instance_segmentation/test_tiling_instance_segmentation.py
  tests/regression/regression_command.py
  tests/regression/regression_config.json
  tests/regression/regression_test_helpers.py
  tests/regression/semantic_segmentation/test_segmentation.py
  tests/regression/summarize_test_results.py
  tox.ini
Labels: ALGO, TEST, BUILD

#2564 Update ModelAPI configuration
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/utils/utils.py
  src/otx/algorithms/segmentation/utils/metadata.py
  tests/unit/algorithms/classification/utils/test_utils.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: ALGO, TEST

#2565 Disable QAT for SegNexts
  src/otx/algorithms/segmentation/configs/ham_segnext_b/pot_optimization_config.json
  src/otx/algorithms/segmentation/configs/ham_segnext_b/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_s/pot_optimization_config.json
  src/otx/algorithms/segmentation/configs/ham_segnext_s/template.yaml
  src/otx/algorithms/segmentation/configs/ham_segnext_t/pot_optimization_config.json
  src/otx/algorithms/segmentation/configs/ham_segnext_t/template.yaml
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/cli/classification/test_classification.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
  tests/test_suite/run_test_command.py
Labels: ALGO, TEST

#2566 Update for CI
  .ci/README.md
  .ci/start-runner.sh
Labels: BUILD

#2563 Add Anomaly modelAPI changes to releases/1.4.0
  requirements/openvino.txt
  src/otx/algorithms/action/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_classification.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_detection.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/anomaly_segmentation.py
  src/otx/algorithms/anomaly/adapters/anomalib/exportable_code/base.py
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/anomaly/tasks/train.py
  src/otx/algorithms/common/utils/ir.py
  src/otx/algorithms/common/utils/utils.py
  src/otx/algorithms/visual_prompting/configs/base/configuration.py
  src/otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/anomaly/test_anomaly_detection.py
  tests/e2e/cli/anomaly/test_anomaly_segmentation.py
  tests/integration/cli/anomaly/test_anomaly_classification.py
  tests/integration/cli/anomaly/test_anomaly_detection.py
  tests/integration/cli/anomaly/test_anomaly_segmentation.py
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: DEPENDENCY, API, ALGO, TEST

#2571 Fix the CustomNonLinearClsHead when the batch_size is set to 1
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_cls_head.py
Labels: ALGO, FIX, RELEASE

#2505 Update OV to 2023.1
  requirements/base.txt
  requirements/openvino.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
Labels: DEPENDENCY, API, TEST

#2568 Update ModelAPI configuration (#2564 from 1.4)
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/utils/utils.py
  src/otx/algorithms/segmentation/utils/metadata.py
  tests/unit/algorithms/classification/utils/test_utils.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: ALGO, TEST

#2572 Update for 1.4.4rc1
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#2570 Enable CI build with feature/v2 & Fix _update_config function bug
  .github/CODEOWNERS
  .github/workflows/pre_merge.yml
  .github/workflows/v2_pre_merge.yaml
  CODEOWNERS
  src/otx/v2/adapters/torch/mmengine/engine.py
  tox.ini
Labels: BUILD

#2577 Hotfix DatasetEntity.get_combined_subset function loop
  src/otx/api/entities/datasets.py
Labels: BUG, API

#2578 Split torch.anomalib into torch.lightning and torch.lightning.anomalib [v2]
  .github/CODEOWNERS
  src/otx/v2/adapters/__init__.py
  src/otx/v2/adapters/torch/lightning/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/dataset.py
  src/otx/v2/adapters/torch/lightning/anomalib/engine.py
  src/otx/v2/adapters/torch/lightning/anomalib/model.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/callbacks/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/callbacks/inference.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/callbacks/progress.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/create_mvtec_ad_json_annotations.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/data.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/dataset.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/data/mvtec.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/logger/__init__.py
  src/otx/v2/adapters/torch/lightning/anomalib/modules/logger/logger.py
  src/otx/v2/adapters/torch/lightning/anomalib/registry.py
  src/otx/v2/adapters/torch/lightning/dataset.py
  src/otx/v2/adapters/torch/lightning/engine.py
  src/otx/v2/adapters/torch/lightning/registry.py
  src/otx/v2/api/core/auto_runner.py
  src/otx/v2/cli/utils/env.py
  src/otx/v2/demo/demo_otx_api_anomalib.ipynb
  tests/v2/integration/api/anomaly/test_anomaly_apis.py
  tests/v2/integration/api/anomaly/test_anomaly_classification.py
  tests/v2/unit/adapters/torch/lightning/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/helpers/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/helpers/dummy_dataset.py
  tests/v2/unit/adapters/torch/lightning/anomalib/helpers/dummy_model.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/callbacks/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/callbacks/test_inference_callback.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/callbacks/test_progress_callback.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/data/__init__.py
  tests/v2/unit/adapters/torch/lightning/anomalib/modules/data/test_dataset.py
  tests/v2/unit/adapters/torch/lightning/test_dataset.py
  tests/v2/unit/adapters/torch/lightning/test_engine.py
  tests/v2/unit/adapters/torch/lightning/test_registry.py
  tests/v2/unit/api/core/test_auto_runner.py
Labels: TEST, BUILD

#2554 Fix and update Semi-SL Object Detection algorithms
  src/otx/algorithms/common/adapters/mmcv/hooks/dual_model_ema_hook.py
  src/otx/algorithms/common/adapters/mmcv/hooks/mean_teacher_hook.py
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/mean_teacher.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/data/semisl/base_semisl_det_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_eff_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_res_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_yolo_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/semisl/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/__init__.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/semisl/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/semisl/hparam.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/semisl/model.py
  src/otx/recipes/stages/detection/semisl.py
  src/otx/recipes/stages/instance-segmentation/semisl.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/test_mean_teacher.py
Labels: ALGO, TEST

#2576 Apply resize cache to non-default models & recipes
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/selfsl/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/semisl/data_pipeline.py
  src/otx/algorithms/classification/configs/base/data/supcon/data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/atss_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/detr_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/base_semisl_det_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_eff_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/semisl/semisl_is_res_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/yolox_data_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/base/data/supcon/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_b/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_s/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ham_segnext_t/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18/supcon/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_18_mod2/supcon/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_s_mod2/supcon/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/selfsl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/semisl/data_pipeline.py
  src/otx/algorithms/segmentation/configs/ocr_lite_hrnet_x_mod3/supcon/data_pipeline.py
Labels: ALGO

#2580 Revert default input size to `Default` due to YOLOX perf regression
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: ALGO

#2581 Upgrade torch version to 2.0.1 & pre-commit in v2
  .pre-commit-config.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2582 Fix tv nms check
  src/otx/algorithms/detection/adapters/mmdet/apis/train.py
Labels: ALGO

#2585 Fix for the degradation issue of the classification task
  src/otx/algorithms/classification/adapters/mmcls/utils/config_utils.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/recipes/stages/classification/incremental.yaml
Labels: ALGO, FIX, RELEASE

#2587 Bump datumaro version to 1.5.1rc3
  requirements/base.txt
Labels: DEPENDENCY

#2588 Update det e2e to skip unsupported train type
  tests/e2e/cli/classification/test_classification.py
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
Labels: TEST

#2590 Add label ids to anomaly OpenVINO model xml
  src/otx/algorithms/anomaly/tasks/inference.py
Labels: ALGO
