Repository open-edge-platform/training_extensions, pull requests merged in 2024-05, with the labels that each got.

#3412 MaskRCNN Native Exporter
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/deployment.py
  src/otx/algo/detection/heads/anchor_generator.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_random.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  tests/integration/api/test_xai.py
  tests/integration/cli/test_export_inference.py
  tests/perf/benchmark.py
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST, OTX 2.0

#3418 Fix data pipeline
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3430 Implement unit test for adaptive batch size
  pyproject.toml
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: DEPENDENCY, TEST, BUILD

#3436 Adjust multi-label classification parameters
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/model/base.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/core/metrics/test_accuracy.py
Labels: TEST, OTX 2.0

#3434 Remove code to patch nms and roi_align in mmXX for XPU
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/strategies/test_strategies.py
Labels: TEST, OTX 2.0

#3441 Change default fmeasure confidence_threshold from 0 to None
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3442 Modify label info comparison
  src/otx/engine/engine.py
Labels: OTX 2.0

#3445 Bump datumaro to 1.6.1
  requirements/base.txt
Labels: DEPENDENCY

#3425 Update segmentation documentation
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  src/otx/algo/segmentation/base_model.py
  src/otx/core/model/segmentation.py
Labels: DOC, OTX 2.0

#3444 Generate label info from v1 checkpoint
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/model/test_base.py
Labels: TEST, OTX 2.0

#3439 Add polygons support for semantic segmentation
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

#3447 Add unit tests for detectors' forward function
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

#3451 MaskRCNN backword compatibility
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

#3450 Decouple BaseModel
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
Labels: OTX 2.0

#3443 Change load_stat_dict to on_load_checkpoint
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
Labels: TEST, OTX 2.0

#3458 Fix Classification v1 checkpoint compatibility
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

#3459 Remove unnecessary model weights during HPO
  src/otx/cli/utils/hpo.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hyperband.py
  tests/unit/cli/utils/test_hpo.py
Labels: CLI, TEST

#3457 [Release] Change load_stat_dict to on_load_checkpoint
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
Labels: TEST, OTX 2.0

#3461 Consider loop type during adaptive batch size
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
Labels: TEST, OTX 2.0

#3448 Add try - except to keep running the remaining tests
  tests/perf/benchmark.py
Labels: TEST

#3452 Fix Score Computation
  src/otx/algo/anomaly/padim.py
  src/otx/core/model/anomaly.py
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#3460 Fix mixed training and validation subset items
  src/otx/algo/detection/__init__.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  tests/unit/algo/samplers/test_balanced_sampler.py
  tests/unit/algo/samplers/test_class_incremental_sampler.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/data/test_dataset.py
Labels: TEST, OTX 2.0

#3462 Fix e2e xai tests
  tests/e2e/cli/test_cli.py
Labels: TEST

#3466 Revert mrcnn for test_otx_explain_e2e_cli
  tests/e2e/cli/test_cli.py
Labels: TEST

#3440 Fix e2e xai tests
  tests/e2e/cli/test_cli.py
Labels: TEST

#3465 Add unit-test for otx.algo.modules
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_activation.py
  tests/unit/algo/modules/test_base_module.py
  tests/unit/algo/modules/test_conv.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_norm.py
  tests/unit/algo/modules/test_padding.py
  tests/unit/algo/modules/test_transformer.py
Labels: TEST, OTX 2.0

#3464 Update XPU plugin unit test
  src/otx/algo/plugins/xpu_precision.py
  tests/unit/algo/plugins/test_plugins.py
Labels: TEST, OTX 2.0

#3463 Add unit-test for classification
  tests/conftest.py
  tests/unit/algo/classification/losses/test_asymmetric_multilabel.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_efficientnet_v2.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/classification/utils/__init__.py
  tests/unit/algo/classification/utils/test_embed.py
  tests/unit/algo/classification/utils/test_swiglu_ffn.py
  tests/unit/core/model/test_classification.py
Labels: TEST

#3467 Add additional otx algo det unit tests
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_max_iou_assigner.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/instance_segmentation/conftest.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST, OTX 2.0

#3468 Add unit-test for mmengine & mmcv util functions
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/modules/scale.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/modules/test_scale.py
  tests/unit/algo/utils/test_mmengine_utils.py
Labels: TEST, OTX 2.0

#3469 Add unit tests for algo/segmentation
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
Labels: TEST

#3433 MMDet RTMDet Inst decoupling
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/algo/instance_segmentation/mmdeploy/__init__.py
  src/otx/algo/instance_segmentation/mmdeploy/base_detection.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn_swint.py
  src/otx/algo/instance_segmentation/mmdeploy/rtmdet_inst.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/roi_align.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/modules/norm.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/integration/api/test_xai.py
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
Labels: TEST, OTX 2.0

#3471 Add metrics to Anomaly OV Task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3473 Exclude exportable_code from unit test coverage
  pyproject.toml
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3474 Revert scheduling parameters for multi-label-cls model
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

#3435 Enable instance segmentation data pipeline
  src/otx/core/data/dataset/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3477 Fix anomaly export _get_values_from_transforms function
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3475 Update to use tiling dataset for instance tiling testing
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

#3478 Replace the Geti default model for rotated_det/ins_seg task from resnet50_maskrcnn to efficientnetb2b_maskrcnn
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
Labels: ALGO

#3480 Raise an error if dino is moved to XPU
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
Labels: OTX 2.0

#3476 Update docs & dependency and remove task dependency in otx.algo
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/configuration.rst
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/visual_prompting.py
  tests/unit/cli/test_install.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3483 Remove weight initialization arguments for ATSS
  src/otx/algo/detection/atss.py
Labels: OTX 2.0

#3481 Update OTX1.6.1 changelog
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

#3482 Fix VP test issue
  tests/e2e/cli/test_cli.py
Labels: TEST

#3479 Remove `pad_shape` in `ImageInfo`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  tests/conftest.py
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/entity/test_utils.py
Labels: TEST, OTX 2.0

#3486 Update benchmark
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
Labels: TEST, BUILD

#3484 Set stfpm precision to 32
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3485 Change OV model scales
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/anomaly.py
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3472 Decouple mmdet inst seg data pipeline
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
  tests/unit/algo/instance_segmentation/test_rtmdet_inst.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3487 Remove mmengine imports
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
Labels: OTX 2.0

#3490 Fix conflicts between develop and 2.0.0
  tests/e2e/cli/test_cli.py
Labels: TEST

#3498 🐞 Set metric threshold
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

#3501 Update image_decode_context flow with RGB
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

#3500 Update for security issues
  .ci/ipas_default.config
  .ci/requirements/benchmark/requirements.txt
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  pyproject.toml
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/utils/installation.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/model/visual_prompting.py
Labels: DEPENDENCY, BUILD, DOC, OTX 2.0

#3502 Fix maskrcnn accuracy drop on tiling
  src/otx/core/data/dataset/tile.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: TEST, OTX 2.0

#3506 Update instance_segmentation.py to resolve conflict with 2.0.0
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

#3508 Update dependencies for regression-test in for_developers folder
  .github/workflows/perf_benchmark.yaml
  for_developers/regression_test/requirements.txt
Labels: BUILD, DOC

#3505 Fix e2e xai instance segmentation tests
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

#3511 Fix ATSS recipes
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/perf/test_detection.py
Labels: TEST, OTX 2.0

#3509 Revert "Modify label info comparison (#3442)"
  src/otx/engine/engine.py
Labels: OTX 2.0

#3510 Revert #3501
  src/otx/core/data/dataset/base.py
  tests/unit/core/data/conftest.py
Labels: TEST, OTX 2.0

#3512 Remove LITMODULE_PER_TASK is No Longer Used
  src/otx/engine/engine.py
Labels: OTX 2.0

#3350 Revert #3291
  .github/workflows/pre_merge.yaml
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/cli/install.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/core/utils/jsonargparse.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
Labels: TEST, BUILD, OTX 2.0

#3503 Add a flag to enable OV inference on dGPU
  README.md
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  tests/integration/cli/test_cli.py
  tests/unit/core/model/test_base.py
Labels: TEST, DOC, OTX 2.0

#3514 Disable Resnext101_ATSS model on XPU
  pyproject.toml
  src/otx/algo/detection/atss.py
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3513 Mergeback 2.0.0 to develop
  .github/workflows/perf_benchmark.yaml
  for_developers/regression_test/requirements.txt
  src/otx/algo/detection/atss.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/perf/test_detection.py
Labels: TEST, BUILD, DOC, OTX 2.0

#3517 Remove invalid perf benchmark reference history for v2.0.0
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

#3518 Fix a bug that dino_v2 model can't be run w/ HPO
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/utils/utils.py
  tests/integration/cli/test_cli.py
  tests/unit/utils/test_utils.py
Labels: TEST, OTX 2.0

#3520 Fix detection export performance degradation
  src/otx/algo/detection/heads/base_head.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3519 Reenable previously failed integration XAI tests
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#3528 Revert metrics threshold
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

#3533 add augmentation detail page to docs
  docs/source/guide/explanation/additional_features/adaptive_training.rst
  docs/source/guide/explanation/additional_features/augmentations_per_model.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
Labels: DOC

#3530 Tile with full img optional
  src/otx/core/config/data.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/types/export.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: TEST, OTX 2.0

#3516 Update XPU install
  docs/source/guide/get_started/installation.rst
  pyproject.toml
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3532 Add a feature to adapt max value of HPO batch size search space
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST, OTX 2.0

#3537 Remove duplicates in get_idx_list_per_classes
  src/otx/core/utils/utils.py
Labels: OTX 2.0

#3536 Revisit Docker image build script
  docker/Dockerfile.cuda
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: TEST, OTX 2.0

#3535 Bump datumaro version to 1.6.1
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3539 Add F1 metric computation during detection tasks
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/ssd.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3534 Fix yolox export perf degradation
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/yolox.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
Labels: TEST, OTX 2.0

#3540 Fix MaskRCNN IR Accuracy Drop
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

#3549 Fix polygon mask
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

#3515 Add early stopping with warmup. Remove mandatory background label in semantic segmentation task
  src/otx/algo/callbacks/adaptive_early_stopping.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  tests/assets/common_semantic_segmentation_dataset/supervised/test/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/train/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/val/dataset_meta.json
  tests/unit/core/types/test_label.py
  tests/unit/tools/test_converter.py
Labels: TEST, OTX 2.0

#3543 Hotfix/geti integration
  src/otx/algo/modules/base_module.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/search_space.py
Labels: OTX 2.0

#3554 Fix vpm intg test error
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

#3555 Update for 1.6.2 release
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3557 Fix anomaly
  src/otx/algo/anomaly/openvino_model.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST, OTX 2.0

#3551 Sync rgb order between torch and ov inference of action classification task
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, OTX 2.0

#3558 Fix Anomaly OV export flag
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3556 Make Perf test available to load pervious Perf test to skip training stage
  src/otx/cli/cli.py
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3562 Fix accuracy drop in MaskRCNN
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

#3559 Update codeql workflow to generate a report
  .github/workflows/codeql.yaml
Labels: BUILD

#3560 Revert temporarily modified `scale_factor`
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3565 Fix & Refine HPO
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: TEST, OTX 2.0

#3561 Fix Optimize in Anomaly Task
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0
