Repository open-edge-platform/training_extensions, pull requests merged in 2024-11, with the labels that each got.

#4094 Add Keypoint Detection legacy template
  src/otx/core/model/keypoint_detection.py
  src/otx/tools/converter.py
  src/otx/tools/templates/keypoint_detection/configuration.yaml
  src/otx/tools/templates/keypoint_detection/rtmpose_tiny/template.yaml
Labels: OTX 2.0

#4096 Revert the old workaround for detection confidence threshold
  src/otx/core/model/detection.py
Labels: OTX 2.0

#4095 Merge back 2.3.0 to develop
  CHANGELOG.md
  src/otx/tools/templates/segmentation/configuration.yaml
Labels: DOC, OTX 2.0

#4099 OTX RC 2.2 version up
  CHANGELOG.md
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#4106 Add dummy XAI to RTDETR (export mode) & disable strong aug
  CHANGELOG.md
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: DOC, OTX 2.0

#4105 Fix task chain for Det -> Cls / Seg
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  tests/unit/core/data/dataset/test_base.py
Labels: TEST, OTX 2.0

#4107 Disable tiling classifier toggle in configurable parameters
  CHANGELOG.md
  src/otx/tools/templates/detection/instance_segmentation/configuration.yaml
Labels: DOC, OTX 2.0

#4114 Update keypoint detection template
  src/otx/tools/templates/keypoint_detection/rtmpose_tiny/template.yaml
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#4116 Minor update of the Changelog for the releases/2.2 branch
  CHANGELOG.md
Labels: DOC

#4117 Del OTX 2.0 label
  .github/labeler.yml
Labels: BUILD

#4098 Merge back 2.2
  CHANGELOG.md
  pyproject.toml
  src/otx/algo/detection/detectors/detection_transformer.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/diffusion.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/tools/converter.py
  src/otx/tools/templates/classification/efficientnet_b3/template.yaml
  src/otx/tools/templates/classification/efficientnet_v2_l/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/configuration.yaml
  src/otx/tools/templates/keypoint_detection/configuration.yaml
  src/otx/tools/templates/keypoint_detection/rtmpose_tiny/template.yaml
  tests/unit/core/data/dataset/test_base.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#4118 Add GPU memory monitoring callback and corresponding tests
  CHANGELOG.md
  src/otx/algo/callbacks/gpu_mem_monitor.py
  src/otx/recipe/_base_/train.yaml
  src/otx/tools/converter.py
  tests/unit/algo/callbacks/test_gpu_mem_monitor.py
Labels: TEST, DOC

#4113 Export static shape for detection/instance-segmentation models
  pyproject.toml
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolov9.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/integration/cli/test_export_inference.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#4048 XPU code update + PyTorch upgrade
  docs/source/guide/get_started/installation.rst
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/utils/assigners/sim_ota_assigner.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/core/config/hpo.py
  src/otx/core/metrics/mlc_map.py
  src/otx/core/utils/utils.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/resource_manager.py
  src/otx/utils/device.py
  src/otx/utils/utils.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/test_strategies.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#4124 Allow empty tile annotation
  CHANGELOG.md
  src/otx/core/data/dataset/tile.py
Labels: DOC, OTX 2.0

#4123 Upgrade OV and NNCF
  CHANGELOG.md
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, DOC

#4134 Update benchmark summary report
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.1.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.2.0/perf-benchmark-raw-all.csv
Labels: TEST
