Repository open-edge-platform/training_extensions, pull requests merged in 2024-02, with the labels that each got.

#2853 Update release notes and changelog for 1.4.5
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

#2862 Fix import error when launching a debugger
  src/otx/cli/__init__.py
Labels: OTX 2.0

#2856 Add list_models function to return a list of OTX available models & 'otx find' CLI command
  src/otx/cli/cli.py
  src/otx/engine/utils/api.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#2861 Add auto-config num_classes in CLI side
  src/otx/cli/cli.py
  src/otx/cli/utils/jsonargparse.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#2863 Add help verbosity with export & explain
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
Labels: OTX 2.0

#2857 Introduce warm-up and change the LRPlateau monitor value, Enable Early stopping
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/algo/schedulers/__init__.py
  src/otx/algo/schedulers/warmup_schedulers.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/model/module/action_detection.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/action/action_classification/x3d.yaml
  src/otx/recipe/action/action_detection/x3d_fastrcnn.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  tests/unit/algo/callbacks/test_adaptive_train_scheduling.py
  tests/unit/core/model/module/test_base.py
Labels: TEST, OTX 2.0

#2865 Fix CLI otx predict
  src/otx/engine/engine.py
Labels: CLI, OTX 2.0

#2871 Mergeback changes for 1.4.5 to releases/1.5.0
  .gitignore
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, ALGO, DOC

#2872 Fix openxlab version
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2823 Add data filtering
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/model/module/base.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#2864 Copy HPO algorithm into OTX 2.0
  pyproject.toml
  src/otx/hpo/__init__.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  src/otx/hpo/search_space.py
  src/otx/hpo/utils.py
  src/otx/utils/__init__.py
  src/otx/utils/utils.py
  tests/unit/hpo/__init__.py
  tests/unit/hpo/test_hpo_base.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
  tests/unit/hpo/test_search_space.py
  tests/unit/utils/test_utils.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2825 Add PTQ optimization
  pyproject.toml
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/cli/cli.py
  src/otx/core/model/entity/base.py
  src/otx/engine/engine.py
  tests/integration/test_export_inference.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2875 Hot-Fix conflict between nncf & openxlab
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2860 Support activation map
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/engine/engine.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: TEST, OTX 2.0

#2869 Enable export of DinoV2 models
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2.yaml
  tests/integration/test_export_inference.py
Labels: TEST, OTX 2.0

#2866 Transparent forwarding of deterministic parameter to trainer
  src/otx/engine/engine.py
  tests/integration/test_export_inference.py
Labels: TEST, OTX 2.0

#2878 Update year in PR template
  .github/pull_request_template.md
Labels: BUILD

#2858 Add regression test for zero-shot visual prompting
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2876 Add aggregator for LiteHRNet
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/mmconfigs/litehrnet_18.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_s.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_x.yaml
  src/otx/algo/utils/segmentation.py
  src/otx/algo/utils/support_otx_v1.py
  src/otx/core/model/entity/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
Labels: OTX 2.0

#2873 Add rotated detection
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/factory.py
  src/otx/core/model/entity/rotated_detection.py
  src/otx/core/model/module/rotated_detection.py
  src/otx/core/types/task.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#2880 Add force fp32 to focal loss forward
  src/otx/algo/detection/losses/cross_focal_loss.py
Labels: OTX 2.0

#2870 Add XAI hook for Mask-RCNN
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/engine/engine.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: ALGO, TEST, OTX 2.0

#2883 Add label_group information to the LabelInfo, Fix label_tree_edges information
  pyproject.toml
  src/otx/algo/metrices/__init__.py
  src/otx/algo/metrices/accuracy.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/entity/classification.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/module/classification.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2886 Resolve issue where the model configuration was missing in output configuration file
  src/otx/cli/cli.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2885 Change the setting of regression tests according to the introducing early-stopping
  src/otx/recipe/_base_/train.yaml
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2882 Set default wf permission to read-all
  .github/workflows/code_scan.yml
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/stale_marker.yml
  .github/workflows/weekly.yml
Labels: BUILD

#2888 Remedy token permission issue
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
Labels: BUILD

#2884 Add more convenient way to override callbacks and loggers per configuration file
  for_developers/cli_guide.md
  src/otx/cli/utils/jsonargparse.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  tests/unit/cli/utils/test_jsonargparse.py
Labels: TEST, DOC, OTX 2.0

#2806 Add mmdeploy export
  pyproject.toml
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/mmdeploy/__init__.py
  src/otx/algo/detection/mmdeploy/atss.py
  src/otx/algo/detection/mmdeploy/atss_r50_fpn.py
  src/otx/algo/detection/mmdeploy/base_detection.py
  src/otx/algo/detection/mmdeploy/rtmdet.py
  src/otx/algo/detection/mmdeploy/ssd_mobilenetv2.py
  src/otx/algo/detection/mmdeploy/yolox.py
  src/otx/algo/detection/mmdeploy/yolox_tiny.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/__init__.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn_swint.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/utils/utils.py
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  tests/integration/test_export_inference.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2889 Add progress callback interface to HPO
  src/otx/cli/utils/hpo.py
Labels: CLI

#2895 Hot-fix Exclude tiling model from export integration test
  tests/integration/test_export_inference.py
Labels: TEST, FIX

#2890 Add meta_info update in segmentation dataset class
  src/otx/cli/cli.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_auto_configuration.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#2894 Hot-fix regression test
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2868 Add dumping of hierarchical config on export
  src/otx/core/model/entity/classification.py
  src/otx/engine/engine.py
Labels: OTX 2.0

#2891 Restrict configurable parameters to avoid unreasonable cost for SaaS trial
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/anomaly/configs/base/configuration.py
  src/otx/algorithms/anomaly/configs/classification/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/classification/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/classification/stfpm/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/detection/stfpm/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/draem/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/segmentation/stfpm/configuration.yaml
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_075_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/classification/configs/mobilenet_v3_small_cls_incr/selfsl/hparam.yaml
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/configs/base/configuration.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_tiny_vit/configuration.yaml
Labels: ALGO

#2896 Add --open-subprocess option for integration tests
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/cli/utils.py
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

#2893 Fix more token-permission issues - part3
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/labeler.yml
  .github/workflows/publish_internal.yml
Labels: BUILD

#2897 Add Auto-Configuration for OVModel
  for_developers/add_custom_model.ipynb
  for_developers/cli_guide.md
  for_developers/engine_api_example.ipynb
  src/otx/cli/cli.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: TEST, DOC, OTX 2.0

#2907 Resolve pinned-dependency issues on publish_internal workflow
  .github/workflows/publish_internal.yml
Labels: BUILD

#2887 Forward unittest workloads to AWS
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
Labels: BUILD

#2877 Add Dice metric for semantic segmentation
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/engine/engine.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  tests/integration/cli/test_export_inference.py
Labels: TEST, OTX 2.0

#2904 Add workaround for h-cls inference
  src/otx/core/model/entity/classification.py
  tests/integration/cli/test_export_inference.py
Labels: TEST, OTX 2.0

#2898 Update data pipeline for DinoV2 cls
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2_linear_probe.yaml
  tests/integration/cli/test_export_inference.py
Labels: TEST, OTX 2.0

#2909 Resolve pinned dependency issues on workflows
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/labeler.yml
  .github/workflows/pre_merge.yml
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale_marker.yml
Labels: BUILD

#2911 Fix pinned-dependency issues - part2
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox_custom.yml
Labels: BUILD

#2914 Separate integration tests by task
  .github/workflows/pre_merge.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

#2903 Refine Tile Processing and Expand Tile Configuration
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/tile_adaptor.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/integration/detection/conftest.py
  tests/integration/test_tiling.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#2915 Migrate SSD anchor generator
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/utils/support_otx_v1.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/module/base.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/utils/test_support_otx_v1.py
Labels: TEST, OTX 2.0

#2919 Update pip install cmd to use hashes
  .github/workflows/code_scan.yml
  .github/workflows/pre_merge.yml
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
Labels: BUILD

#2921 [Release 1.5] Fix label order for h-cls
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: API, ALGO, TEST, FIX

#2913 Add entities for storing explain results
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/action_detection.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#2922 Revert MRCNN resize to state from 1.4
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline.py
Labels: ALGO

#2908 Fix HPO progress callback bug
  src/otx/cli/utils/hpo.py
Labels: BUG, CLI

#2912 Enable HPO in OTX 2.0
  src/otx/core/config/hpo.py
  src/otx/core/data/mem_cache.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/__init__.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/search_space.py
  src/otx/utils/__init__.py
  src/otx/utils/signal.py
  src/otx/utils/utils.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_search_space.py
  tests/unit/utils/test_signal.py
  tests/unit/utils/test_utils.py
Labels: TEST, OTX 2.0

#2923 Bump up MAPI version to 0.1.8 -> 0.1.9
  requirements/openvino.txt
Labels: DEPENDENCY

#2924 Move Linearwarmup scheduler from base to the algo
  src/otx/algo/schedulers/__init__.py
  src/otx/algo/schedulers/warmup_schedulers.py
  src/otx/core/model/module/base.py
  src/otx/recipe/action/action_classification/x3d.yaml
  src/otx/recipe/action/action_detection/x3d_fastrcnn.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/otx_mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  tests/unit/core/model/module/test_base.py
Labels: TEST, OTX 2.0

#2929 Fix pinned-dependencies issues
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/pre_merge.yml
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  requirements/gh-actions.txt
Labels: DEPENDENCY, BUILD

#2930 Remove unused test files
  tests/run_code_checks.sh
  tests/run_model_templates_tests.py
  tests/run_model_templates_tests.sh
Labels: TEST

#2920 Update weekly workflow to run perf tests
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
  .github/workflows/weekly.yml
  tests/perf/test_classification.py
Labels: TEST, BUILD

#2928 Fix SegNext data config
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

#2933 Adjust permission of documentation workflows from pages to contents for writing
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
Labels: BUILD

#2931 Enable auto_num_workers
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/utils/utils.py
  tests/integration/cli/test_cli.py
  tests/unit/core/data/test_module.py
  tests/unit/core/utils/test_utils.py
Labels: TEST, OTX 2.0

#2936 Merge develop 2
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/docs_stable.yml
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
  .github/workflows/pre_merge.yml
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  .github/workflows/weekly.yml
  requirements/gh-actions.txt
  src/otx/algorithms/classification/adapters/mmcls/models/heads/custom_vision_transformer_head.py
  tests/perf/test_classification.py
  tests/run_code_checks.sh
  tests/run_model_templates_tests.py
  tests/run_model_templates_tests.sh
Labels: DEPENDENCY, ALGO, TEST, BUILD

#2918 Enable forward_explain() for classification
  src/otx/algo/utils/xai_utils.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/native.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/module/base.py
  src/otx/engine/engine.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2938 Merge 3
  tests/test_suite/run_test_command.py
Labels: TEST

#2939 Upgrade deps
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2932 Update usage of save_model
  src/otx/algorithms/action/adapters/openvino/task.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/common/utils/ir.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/unit/algorithms/action/adapters/openvino/test_task.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/algorithms/detection/adapters/openvino/test_task.py
  tests/unit/algorithms/segmentation/adapters/openvino/test_openvino_task.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: ALGO, TEST

#2956 Provide iter_time, data_time from anomaly task
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/__init__.py
  src/otx/algorithms/anomaly/adapters/anomalib/callbacks/iteration_timer.py
  src/otx/algorithms/anomaly/tasks/train.py
  tools/experiment.py
Labels: ALGO

#2934 Add OTX CLI Workspace enhancements
  for_developers/cli_guide.md
  for_developers/setup_guide.md
  src/otx/cli/cli.py
  src/otx/cli/utils/__init__.py
  src/otx/cli/utils/help_formatter.py
  src/otx/cli/utils/workspace.py
  src/otx/recipe/_base_/train.yaml
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/regression/test_regression.py
  tests/unit/cli/test_cli.py
Labels: TEST, DOC, OTX 2.0

#2962 Add F1 score as object detection, instance segmentation metric
  src/otx/algo/metrices/fmeasure.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  tests/unit/algo/metrices/__init__.py
  tests/unit/algo/metrices/test_fmeasure.py
Labels: TEST, OTX 2.0

#2963 Add codeql workflow
  .github/workflows/codeql.yml
Labels: BUILD

#2958 Promote numpy version
  pyproject.toml
Labels: DEPENDENCY, BUILD

#2879 Update OV
  CHANGELOG.md
  README.md
  requirements/openvino.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/core/ov/ops/infrastructures.py
  tests/unit/core/ov/ops/test_ov_ops_infrastructures.py
Labels: DEPENDENCY, API, TEST, DOC

#2960 Fix default memcache size to 100MB
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: ALGO, FIX, RELEASE

#2967 Fix a bug where scheduler overrides didn't work correctly
  src/otx/cli/cli.py
  src/otx/cli/utils/jsonargparse.py
  tests/unit/cli/test_cli.py
Labels: TEST, OTX 2.0

#2965 Add unannotated_bg_ratio parameter to pre_filtering function
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
Labels: TEST, OTX 2.0

#2969 Update .latest cache directory with subcommand links
  for_developers/cli_guide.md
  src/otx/cli/cli.py
Labels: DOC, OTX 2.0

#2970 Hot-fix wrong integration test case
  tests/integration/cli/test_cli.py
Labels: TEST

#2968 Add missing export parameters for mlc and h-cls
  src/otx/core/model/entity/classification.py
Labels: OTX 2.0

#2961 Action cls export
  src/otx/algo/__init__.py
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/mmconfigs/x3d.yaml
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/action_classification/recognizers/__init__.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/base.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/action/action_classification/openvino_model.yaml
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2957 Enable forward_explain() for deit
  src/otx/algo/classification/deit_tiny.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/module/base.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2972 Update regression test metric of object detection and instance segmentation
  src/otx/cli/cli.py
  src/otx/core/model/module/classification.py
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2925 Add OV Tiler for 2.x
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn_swint.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  tests/integration/test_tiling.py
Labels: TEST, OTX 2.0

#2964 Reconstruct the metric folder and Refactoring metric related things
  src/otx/algo/classification/metrics/__init__.py
  src/otx/algo/metrices/__init__.py
  src/otx/algo/metrices/accuracy.py
  src/otx/core/metrics/__init__.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/model/module/action_detection.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/rotated_detection.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/engine/engine.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  tests/unit/algo/metrices/__init__.py
  tests/unit/core/metrics/__init__.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/metrics/test_hlabel_accuracy.py
  tests/unit/core/model/module/test_segmentation.py
Labels: TEST, OTX 2.0

#2976 Update ote-ci container image to ote-ci:11.7.1.1-devel-ubuntu20.04
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
Labels: BUILD

#2991 Deprecate support for python 3.9 in OTX 2.0
  .github/workflows/pre_merge.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2973 Align Engine.from_config with CLI behavior
  src/otx/cli/cli.py
  src/otx/cli/utils/jsonargparse.py
  src/otx/core/types/__init__.py
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/utils/test_jsonargparse.py
Labels: TEST, OTX 2.0

#2992 Enhance ImageInfo.__repr__()
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

#2990 Hotfix default memcache size to 100MB
  CHANGELOG.md
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/segmentation/configs/configuration.yaml
Labels: ALGO, DOC, RELEASE

#3000 Bump mlflow version to 2.10.2 to omit XSS issue
  requirements/dev.txt
Labels: DEPENDENCY

#3001 Update codeql workflow
  .github/workflows/codeql.yml
Labels: BUILD

#2902 ✨ Add Anomalib v1 tasks to OTX v2
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly/__init__.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/entity/anomaly/__init__.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/entity/anomaly/detection.py
  src/otx/core/data/entity/anomaly/segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/model/module/anomaly/__init__.py
  src/otx/core/model/module/anomaly/anomaly_lightning.py
  src/otx/core/model/module/base.py
  src/otx/core/types/task.py
  src/otx/data/__init__.py
  src/otx/data/anomaly/__init__.py
  src/otx/data/anomaly/anomaly.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tox.ini
Labels: BUILD, OTX 2.0

#2994 Introduce the accuracy and change meta_info -> label_info
  src/otx/algo/classification/heads/custom_hlabel_cls_head.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/module.py
  src/otx/core/metrics/__init__.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/model/module/action_detection.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  tests/integration/api/test_auto_configuration.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/cli/test_cli.py
  tests/unit/core/conftest.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/metrics/test_hlabel_accuracy.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#2999 Apply changes to omit artifact upload issue
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
Labels: BUILD

#2995 Loose codecov failure checking threshold 0 to 1%
  .github/codecov.yml
Labels: BUILD

#2977 Enable sal map postprocessing
  src/otx/algo/utils/xai_utils.py
  src/otx/engine/engine.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
Labels: TEST, OTX 2.0

#3003 HotFix the seg metric configuration
  src/otx/core/model/module/segmentation.py
Labels: OTX 2.0

#3002 Ensure backward compatibility for MobileNetv3 at Hlabel classification
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/mobilenet_v3_large_light.yaml
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
Labels: TEST, OTX 2.0

#2993 Implement sampler API & add BalancedSampler
  src/otx/algo/samplers/__init__.py
  src/otx/algo/samplers/balanced_sampler.py
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/utils/instantiators.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  tests/unit/algo/samplers/__init__.py
  tests/unit/algo/samplers/test_balanced_sampler.py
Labels: TEST, OTX 2.0

#2996 Add test metric info transfer pipeline
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/model/module/test_detection.py
Labels: TEST, OTX 2.0

#3008 Change CODEOWNERS list
  .github/CODEOWNERS
Labels: BUILD, OTX 2.0
