Repository open-edge-platform/training_extensions, pull requests merged in 2024-10, with the labels that each got.

#3996 Change sematic segmentation to consider bbox only annotations.
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_segmentation.py
  tox.ini
Labels: TEST, BUILD, DOC, OTX 2.0

#3999 Decrease CPU memory usage during unit test
  tests/unit/core/data/test_tiling.py
Labels: TEST

#4002 Back merge 2.2.0_rc4
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_segmentation.py
Labels: TEST, DOC, OTX 2.0

#3977 MaskDINO ResNet50
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/layers/batch_norm.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST, OTX 2.0

#4001 Disable mem cache during API integration test
  tests/integration/api/conftest.py
Labels: TEST

#4000 Fix torch compile to work with segnext
  src/otx/algo/segmentation/backbones/mscan.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: TEST, OTX 2.0

#4009 Relieve memory usage criteria on batch size 2 during adaptive_bs
  src/otx/engine/adaptive_bs/bs_search_algo.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST, OTX 2.0

#4013 Refactor empty label workaround in iseg
  src/otx/core/model/instance_segmentation.py
  src/otx/core/types/export.py
Labels: OTX 2.0

#4011 Remove background label from RT Info for segmentation task
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/engine/engine.py
  tests/unit/core/data/dataset/test_segmentation.py
Labels: TEST, OTX 2.0

#4014 Fix num_trials calculation on dataset length less than num_class
  src/otx/algo/samplers/balanced_sampler.py
Labels: OTX 2.0

#4016 Fix out_features in HierarchicalCBAMClsHead
  CHANGELOG.md
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: DOC, OTX 2.0

#4008 Added unit tests for 3d Object Detection, fix linter for the rest of the files.
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/model/detection_3d.py
  tests/integration/cli/test_cli.py
  tests/perf/test_object_detection_3d.py
  tests/unit/algo/object_detection_3d/__init__.py
  tests/unit/algo/object_detection_3d/backbones/__init__.py
  tests/unit/algo/object_detection_3d/backbones/test_monodetr_resnet.py
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/detectors/__init__.py
  tests/unit/algo/object_detection_3d/detectors/test_monodetr.py
  tests/unit/algo/object_detection_3d/heads/__init__.py
  tests/unit/algo/object_detection_3d/heads/test_depth_predictor.py
  tests/unit/algo/object_detection_3d/heads/test_depthaware_transformer.py
  tests/unit/algo/object_detection_3d/losses/__init__.py
  tests/unit/algo/object_detection_3d/losses/test_monodetr_loss.py
  tests/unit/algo/object_detection_3d/matchers/__init__.py
  tests/unit/algo/object_detection_3d/matchers/test_matcher_3d.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
  tests/unit/core/exporter/test_detection_3d.py
  tests/unit/core/model/test_detection_3d.py
Labels: TEST, OTX 2.0

#4010 Fix empty anno
  CHANGELOG.md
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/data/pre_filtering.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: BUG, TEST, DOC, FIX

#4015 Update for release 2.2.0rc5
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#4018 Prevent using too low confidence thresholds in detection
  src/otx/core/model/detection.py
Labels: OTX 2.0

#4027 Update for release 2.2.0rc6
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#4026 Fix empty bbox error for YOLOv9 to 2.3.0
  src/otx/algo/detection/losses/yolov9_loss.py
  tests/e2e/cli/test_cli.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST, OTX 2.0

#4028 Update model name in rotated_detection recipes - 2.3
  CHANGELOG.md
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
Labels: DOC, OTX 2.0

#4024 Fix empty bbox error for YOLOv9
  src/otx/algo/detection/losses/yolov9_loss.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

#3993 Update visual prompting pipeline for multi-label zero-shot learning support
  CHANGELOG.md
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, DOC

#4032 Update pre-merge workflow
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/start-runner.sh
  .github/workflows/pre_merge.yaml
Labels: BUILD

#4035 Update HPO interface
  CHANGELOG.md
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST, DOC, OTX 2.0

#4036 Update for release 2.2.0rc7
  CHANGELOG.md
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#4038 Update CHANGELOG for #4026
  CHANGELOG.md
Labels: DOC

#4042 Fix multilabel_accuracy of MixedHLabelAccuracy
  CHANGELOG.md
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
Labels: TEST, DOC, OTX 2.0

#4044 Fix wrong indices setting in HLabelInfo
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/core/types/label.py
  tests/unit/core/types/test_label.py
Labels: TEST, DOC, OTX 2.0

#4039 Turn on/off classification augmentations
  CHANGELOG.md
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/integration/api/test_augmentation.py
  tests/unit/core/data/test_transform_libs.py
Labels: TEST, DOC, OTX 2.0

#4031 Make mAP 3D more general
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/exporter/base.py
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
  tests/integration/cli/test_export_inference.py
  tests/perf/test_object_detection_3d.py
Labels: TEST, OTX 2.0

#4049 Add legacy template LiteHRNet_18 template
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
Labels: OTX 2.0

#3875 Add stable diffusion fine-tuning
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/diffusion/index.rst
  docs/source/guide/explanation/algorithms/index.rst
  pyproject.toml
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/data/dataset/diffusion.py
  src/otx/core/data/entity/diffusion.py
  src/otx/core/data/factory.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/exporter/diffusion.py
  src/otx/core/metrics/diffusion.py
  src/otx/core/metrics/types.py
  src/otx/core/model/diffusion.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/diffusion.yaml
  src/otx/recipe/diffusion/sd_huggingface.yaml
  tests/assets/naruto_blip_captions/annotations/captions_test.json
  tests/assets/naruto_blip_captions/annotations/captions_train.json
  tests/assets/naruto_blip_captions/annotations/captions_val.json
  tests/assets/naruto_blip_captions/images/test/188bf7ec.jpg
  tests/assets/naruto_blip_captions/images/test/5d734b74.jpg
  tests/assets/naruto_blip_captions/images/test/628d4224.jpg
  tests/assets/naruto_blip_captions/images/test/7258ac19.jpg
  tests/assets/naruto_blip_captions/images/test/9d8b7677.jpg
  tests/assets/naruto_blip_captions/images/test/a06cbb83.jpg
  tests/assets/naruto_blip_captions/images/test/b793cab3.jpg
  tests/assets/naruto_blip_captions/images/test/c30cc23d.jpg
  tests/assets/naruto_blip_captions/images/test/ea15e617.jpg
  tests/assets/naruto_blip_captions/images/train/188bf7ec.jpg
  tests/assets/naruto_blip_captions/images/train/5d734b74.jpg
  tests/assets/naruto_blip_captions/images/train/628d4224.jpg
  tests/assets/naruto_blip_captions/images/train/7258ac19.jpg
  tests/assets/naruto_blip_captions/images/train/9d8b7677.jpg
  tests/assets/naruto_blip_captions/images/train/a06cbb83.jpg
  tests/assets/naruto_blip_captions/images/train/b793cab3.jpg
  tests/assets/naruto_blip_captions/images/train/c30cc23d.jpg
  tests/assets/naruto_blip_captions/images/train/ea15e617.jpg
  tests/assets/naruto_blip_captions/images/val/188bf7ec.jpg
  tests/assets/naruto_blip_captions/images/val/5d734b74.jpg
  tests/assets/naruto_blip_captions/images/val/628d4224.jpg
  tests/assets/naruto_blip_captions/images/val/7258ac19.jpg
  tests/assets/naruto_blip_captions/images/val/9d8b7677.jpg
  tests/assets/naruto_blip_captions/images/val/a06cbb83.jpg
  tests/assets/naruto_blip_captions/images/val/b793cab3.jpg
  tests/assets/naruto_blip_captions/images/val/c30cc23d.jpg
  tests/assets/naruto_blip_captions/images/val/ea15e617.jpg
  tests/conftest.py
  tests/fuzzing/cli_fuzzing.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/conftest.py
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#4055 Enable export of feature vectors for semantic segmentation task
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
Labels: TEST, OTX 2.0

#4052 Upgrade MAPI in 2.2
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, OTX 2.0

#4056 Update MRCNN model export to include feature vector and saliency map
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/two_stage.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_xai.py
Labels: TEST, DOC, OTX 2.0

#4057 Fix applying model's hparams when loading model from checkpoint
  CHANGELOG.md
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC, OTX 2.0

#4046 Move transforms from 3d object detection dataset
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/__init__.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, OTX 2.0

#4059 Update anomaly transforms
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: DOC, OTX 2.0

#4003 Fix to work torch compile in detection
  CHANGELOG.md
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/common/utils/nms.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/common/utils/structures.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_huggingface_model.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST, DOC, OTX 2.0

#4063 Bump onnx to 1.17.0 to omit CVE-2024-5187
  pyproject.toml
Labels: DEPENDENCY, BUILD

#4067 Fix incorrect all_groups order configuration in HLabelInfo
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/core/types/label.py
Labels: DOC, OTX 2.0

#4053 Update inst-seg model export to include feature vector and saliency map
  CHANGELOG.md
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/types/explain.py
  tests/integration/api/test_xai.py
Labels: TEST, DOC, OTX 2.0

#4071 Merge back OTX2.2RC12 to OTX2.3
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/start-runner.sh
  .github/workflows/pre_merge.yaml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  pyproject.toml
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/algo/samplers/balanced_sampler.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/core/config/hpo.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/metrics/accuracy.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/tools/converter.py
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/common/test_iou2d_calculator.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/core/data/dataset/test_segmentation.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/core/types/test_label.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/test_engine.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#4068 Update benchmark datasets
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_semantic_segmentation.py
Labels: TEST

#4006 MaskDINO Refactor
  CHANGELOG.md
  src/otx/algo/common/layers/position_embed.py
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/common/utils/assigners/__init__.py
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/layers/batch_norm.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_loss.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
  tests/unit/algo/common/utils/assigners/test_hungarian_matcher.py
  tests/unit/algo/instance_segmentation/heads/test_maskdino_heads.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST, DOC, OTX 2.0

#4073 Reduce tiling unittests resource consumption
  CHANGELOG.md
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: TEST, DOC

#4076 Fix supcon flag in template
  CHANGELOG.md
  src/otx/tools/templates/segmentation/configuration.yaml
Labels: DOC, OTX 2.0

#4082 Fix wrong model name in converter & template
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/tools/converter.py
  src/otx/tools/templates/classification/efficientnet_b3/template.yaml
Labels: DOC, OTX 2.0

#4083 RTMDet Inst Seg Explain Mode for 2.2
  CHANGELOG.md
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/integration/api/test_xai.py
Labels: TEST, DOC, OTX 2.0

#4079 Fix rtdetr recipes
  CHANGELOG.md
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
Labels: DOC, OTX 2.0

#4078 Fix: Use correct generator in __iter__ method Ensure the local gener…
  src/otx/algo/samplers/balanced_sampler.py
Labels: OTX 2.0

#4085 Enable adaptive_bs with Efficientnet-V2-L model template
  src/otx/tools/templates/classification/efficientnet_v2_l/template.yaml
Labels: OTX 2.0

#4080 #4081 to develop with MaskDINO recipes update
  CHANGELOG.md
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: DOC, OTX 2.0

#4066 Turn on/off augmentations for detection and instance segmentation
  CHANGELOG.md
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/integration/api/test_augmentation.py
Labels: TEST, DOC, OTX 2.0
