Repository open-edge-platform/training_extensions, pull requests merged in 2024-01, with the labels that each got.

#2751 Update tools/expreiment.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/pipelines/test_transforms.py
  tools/experiment.py
Labels: TEST

#2754 Add GPU marker to the regression test
  pyproject.toml
  tests/regression/conftest.py
  tests/regression/test_regression.py
Labels: DEPENDENCY, TEST, BUILD

#2749 Enhance classification task's model performance
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/config/callbacks/default.yaml
  src/otx/core/data/dataset/base.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/core/types/transformer_libs.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multiclass_classification/otx_deit_tiny.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_b0.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_v2.yaml
  src/otx/recipe/multiclass_classification/otx_mobilenet_v3_large.yaml
  src/otx/recipe/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multilabel_classification/otx_deit_tiny.yaml
  src/otx/recipe/segmentation/dino_v2_seg.yaml
  src/otx/recipe/segmentation/litehrnet_18.yaml
  src/otx/recipe/segmentation/litehrnet_s.yaml
  src/otx/recipe/segmentation/litehrnet_x.yaml
  src/otx/recipe/segmentation/segnext_b.yaml
  src/otx/recipe/segmentation/segnext_s.yaml
  src/otx/recipe/segmentation/segnext_t.yaml
  tests/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_mem_cache.py
Labels: TEST, OTX 2.0

#2752 Add detection regression test
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2756 Patch mmaction2 at installation
  MANIFEST.in
  pyproject.toml
  src/otx/cli/install.py
  src/otx/cli/patches/NOTICE
  src/otx/cli/patches/mmaction2.patch
  src/otx/cli/utils/installation.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#2759 Update PR Reviewers
  .github/CODEOWNERS
Labels: BUILD

#2750 Support TorchVision v2 transforms with ImageInfo
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  tests/conftest.py
  tests/unit/algo/classification/conftest.py
  tests/unit/core/data/entity/conftest.py
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/entity/test_detection.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmseg.py
Labels: TEST, OTX 2.0

#2763 Split accuracy & speed benchmark github workflows
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
Labels: BUILD

#2748 Add OpenVINO IR inference for CLS, OD, SSEG, IS tasks + OMZ OV models validation support
  pyproject.toml
  src/otx/cli/test.py
  src/otx/config/data/openvino.yaml
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/engine/test.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/multiclass_classification/openvino_model.yaml
  src/otx/recipe/segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
  tests/unit/core/model/module/test_segmentation.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2760 Fix a bug that error is raised when train set size is greater than minimumof batch size in HPO by exactly 1
  src/otx/cli/utils/hpo.py
  tests/unit/cli/utils/test_hpo.py
Labels: CLI, TEST

#2758 Enable smart weight loading
  src/otx/core/config/__init__.py
  src/otx/core/data/module.py
  src/otx/core/engine/test.py
  src/otx/core/engine/train.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/action_detection.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/base.py
  src/otx/core/utils/build.py
  tests/unit/core/model/entity/test_base.py
Labels: TEST, OTX 2.0

#2765 Fix a bug that a process tracking resource usage doesn't exit when main process raises an error
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
  src/otx/cli/tools/train.py
  src/otx/cli/utils/experiment.py
  tests/unit/cli/utils/test_experiment.py
Labels: BUG, CLI, TEST, BUILD

#2766 Skip large datasets for iSeg perf benchmark
  .github/workflows/perf-accuracy.yml
  .github/workflows/perf-speed.yml
  tests/perf/test_instance_segmentation.py
Labels: TEST, BUILD

#2757 Support multiple experiments in single recipe for tools/experiment.py
  tools/README.md
  tools/experiment.py
Labels: DOC

#2768 Enable perf benchmark result logging to mlflow server
  .github/workflows/run_tests_in_tox.yml
  requirements/dev.txt
  tests/conftest.py
  tests/perf/conftest.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD

#2770 Add medium and large reg tests for multiclass and multilabel classifications
  tests/regression/test_regression.py
Labels: TEST

#2767 Update weight copy logic of smart weight loading to support various cases
  src/otx/algo/detection/__init__.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/ssd.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/utils/build.py
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/core/model/entity/test_base.py
Labels: TEST, OTX 2.0

#2773 Fix error on logging hparams of OTXDataModule
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: BUG, TEST, OTX 2.0

#2775 Pre-work for the design change: create own python class for every model
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/config/model/default.yaml
  src/otx/config/model/mmdet_inst_seg.yaml
  src/otx/config/model/mmseg.yaml
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/module.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/action_detection.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/classification.py
  src/otx/core/types/export.py
  src/otx/core/utils/build.py
  src/otx/core/utils/config.py
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/multiclass_classification/openvino_model.yaml
  src/otx/recipe/segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
  tests/integration/detection/test_model.py
  tests/regression/test_regression.py
  tests/unit/core/model/entity/test_base.py
  tests/unit/core/model/entity/test_segmentation.py
Labels: TEST, OTX 2.0

#2769 Add asynchronous OV IR inference
  src/otx/core/data/entity/classification.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/utils/build.py
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/multiclass_classification/openvino_model.yaml
  src/otx/recipe/segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
  tests/unit/core/model/entity/test_base.py
  tests/unit/core/model/module/test_segmentation.py
Labels: TEST, OTX 2.0

#2777 Update object detection regression
  tests/regression/test_regression.py
Labels: TEST

#2784 Bump datumaro version to 1.6.0rc1
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  requirements/base.txt
Labels: DEPENDENCY, BUILD

#2787 Add configs for export and custom SegNext head
  pyproject.toml
  src/otx/algo/segmentation/__init__.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/cli/__init__.py
  src/otx/cli/export.py
  src/otx/config/model/default.yaml
  src/otx/config/model/mmseg.yaml
  src/otx/config/model/multiclass_mmpretrain.yaml
  src/otx/core/config/__init__.py
  src/otx/core/config/export.py
  src/otx/core/engine/export.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/model/module/action_detection.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/recipe/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multiclass_classification/otx_deit_tiny.yaml
  src/otx/recipe/multiclass_classification/otx_dino_v2.yaml
  src/otx/recipe/multiclass_classification/otx_dino_v2_linear_probe.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_b0.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_v2.yaml
  src/otx/recipe/multiclass_classification/otx_mobilenet_v3_large.yaml
  src/otx/recipe/segmentation/dino_v2_seg.yaml
  src/otx/recipe/segmentation/litehrnet_18.yaml
  src/otx/recipe/segmentation/litehrnet_s.yaml
  src/otx/recipe/segmentation/litehrnet_x.yaml
  src/otx/recipe/segmentation/segnext_b.yaml
  src/otx/recipe/segmentation/segnext_s.yaml
  src/otx/recipe/segmentation/segnext_t.yaml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2785 Update perf logging
  tests/perf/conftest.py
Labels: TEST

#2786 Add gradient clipping and sync hyper parameters wit OTX1.x
  src/otx/config/trainer/default.yaml
  src/otx/core/config/trainer.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: OTX 2.0

#2778 Add Engine class for OTX Entry Point
  pyproject.toml
  src/otx/cli/__init__.py
  src/otx/cli/test.py
  src/otx/cli/train.py
  src/otx/core/config/device.py
  src/otx/core/engine/__init__.py
  src/otx/core/engine/test.py
  src/otx/core/engine/train.py
  src/otx/core/engine/utils/__init__.py
  src/otx/core/types/device.py
  src/otx/core/utils/cache.py
  src/otx/core/utils/instantiators.py
  src/otx/core/utils/logging_utils.py
  src/otx/core/utils/pylogger.py
  src/otx/core/utils/rich_utils.py
  src/otx/core/utils/utils.py
  src/otx/engine/__init__.py
  src/otx/engine/engine.py
  tests/unit/cli/test_cli.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2798 Update val_check_interval default value in Engine
  src/otx/engine/engine.py
Labels: OTX 2.0

#2789 Apply FP16 mixed precision for all tasks
  pyproject.toml
  src/otx/config/trainer/cpu.yaml
  src/otx/config/trainer/default.yaml
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/regression/conftest.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#2791 Update perf logging workflow to get branch+sha from gh context
  .github/workflows/run_tests_in_tox.yml
  tests/conftest.py
  tests/perf/conftest.py
  tox.ini
Labels: TEST, BUILD

#2788 Hotfix for segmentation + raising an error when metric is None
  src/otx/core/model/entity/base.py
  src/otx/core/model/module/action_classification.py
  src/otx/core/model/module/action_detection.py
  src/otx/core/model/module/classification.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
Labels: HOTFIX, OTX 2.0

#2776 Create own python class for every model for action cls, det, and classification tasks
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/mmconfigs/x3d.yaml
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/action_detection/__init__.py
  src/otx/algo/action_detection/mmconfigs/x3d_fastrcnn.yaml
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/hlabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/utils/mmconfig.py
  src/otx/config/model/hlabel_mmpretrain.yaml
  src/otx/config/model/mmaction_classification.yaml
  src/otx/config/model/mmaction_detection.yaml
  src/otx/config/model/multiclass_mmpretrain.yaml
  src/otx/config/model/multilabel_mmpretrain.yaml
  src/otx/recipe/action_classification/x3d.yaml
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  src/otx/recipe/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/recipe/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/hlabel_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/hlabel_classification/otx_deit_tiny.yaml
  src/otx/recipe/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multiclass_classification/otx_deit_tiny.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_b0.yaml
  src/otx/recipe/multiclass_classification/otx_efficientnet_v2.yaml
  src/otx/recipe/multiclass_classification/otx_mobilenet_v3_large.yaml
  src/otx/recipe/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multilabel_classification/otx_deit_tiny.yaml
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2797 Refactored ONNX export, updated configs for segmentation
  src/otx/config/model/default.yaml
  src/otx/config/model/mmseg.yaml
  src/otx/core/config/export.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/segmentation.py
  src/otx/recipe/segmentation/dino_v2_seg.yaml
  src/otx/recipe/segmentation/litehrnet_18.yaml
  src/otx/recipe/segmentation/litehrnet_s.yaml
  src/otx/recipe/segmentation/litehrnet_x.yaml
  src/otx/recipe/segmentation/segnext_b.yaml
  src/otx/recipe/segmentation/segnext_s.yaml
  src/otx/recipe/segmentation/segnext_t.yaml
Labels: OTX 2.0

#2796 Fix multilabel training on non-trivial data
  src/otx/core/data/dataset/classification.py
  src/otx/recipe/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/recipe/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/multilabel_classification/otx_deit_tiny.yaml
Labels: OTX 2.0

#2792 Add ImageColorChannel to ImageInfo
  src/otx/config/data/default.yaml
  src/otx/config/data/openvino.yaml
  src/otx/core/config/data.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/types/image.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_transform_libs.py
Labels: TEST, OTX 2.0

#2781 Create own python class for every model inst seg
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/config/model/mmdet_inst_seg.yaml
  src/otx/config/model/mmseg.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

#2783 Create own python class for every model det
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_r50_fpn.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/mmconfigs/rtmdet_tiny.yaml
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/config/model/mmdet.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: OTX 2.0

#2808 Added segmentation configuration for export to align new interface
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/mmconfigs/segnext_b.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_s.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_t.yaml
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/segmentation.py
  src/otx/engine/engine.py
Labels: OTX 2.0

#2809 Semantic segmentation regression tests
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#2814 added multilabel inference
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
Labels: OTX 2.0

#2811 Modify Detection's configs
  src/otx/config/callbacks/action_detection.yaml
  src/otx/config/callbacks/detection.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_x.yaml
Labels: OTX 2.0

#2807 Add Instance Segmentation Regression Test
  tests/regression/test_regression.py
Labels: TEST

#2753 Add visual prompting zero-shot learning (optimize, documentation, bug fixes)
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/utils/images/vpm_ref_prediction.png
  docs/utils/images/vpm_ref_result.png
  docs/utils/images/vpm_tgt_prediction.png
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/callbacks/inference.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/datasets/pipelines/sam_transforms.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_tiny_vit/template_experimental.yaml
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/e2e/cli/visual_prompting/reference/Zero_Shot_SAM_Tiny_ViT/compressed_decoder.yml
  tests/e2e/cli/visual_prompting/reference/Zero_Shot_SAM_Tiny_ViT/compressed_image_encoder.yml
  tests/e2e/cli/visual_prompting/reference/Zero_Shot_SAM_Tiny_ViT/compressed_prompt_getter.yml
  tests/e2e/cli/visual_prompting/test_zero_shot.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/callbacks/test_inference_callback.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/datasets/pipelines/test_sam_transforms.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/test_zero_shot_segment_anything.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
Labels: ALGO, TEST, DOC

#2810 Et/v2 register explain hook
  src/otx/algo/hooks/__init__.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
Labels: OTX 2.0

#2780 Add visual prompting fine tuning task
  src/otx/algo/__init__.py
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/backbones/__init__.py
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/algo/visual_prompting/decoders/__init__.py
  src/otx/algo/visual_prompting/decoders/sam_mask_decoder.py
  src/otx/algo/visual_prompting/encoders/__init__.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/encoders/sam_prompt_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/utils/__init__.py
  src/otx/algo/visual_prompting/utils/layer_norm_2d.py
  src/otx/algo/visual_prompting/utils/mlp_block.py
  src/otx/config/base/visual_prompting.yaml
  src/otx/config/callbacks/visual_prompting.yaml
  src/otx/config/data/mmdet_visual_prompting.yaml
  src/otx/config/data/torchvision_visual_prompting.yaml
  src/otx/config/model/torch_visual_prompting.yaml
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/core/types/task.py
  src/otx/engine/engine.py
  src/otx/recipe/visual_prompting/__init__.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/regression/test_regression.py
  tests/unit/algo/visual_prompting/__init__.py
  tests/unit/algo/visual_prompting/backbones/__init__.py
  tests/unit/algo/visual_prompting/backbones/test_tiny_vit.py
  tests/unit/algo/visual_prompting/decoders/__init__.py
  tests/unit/algo/visual_prompting/decoders/test_sam_mask_decoder.py
  tests/unit/algo/visual_prompting/encoders/__init__.py
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/algo/visual_prompting/encoders/test_sam_prompt_encoder.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/algo/visual_prompting/utils/__init__.py
  tests/unit/algo/visual_prompting/utils/test_layer_norm_2d.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmdet.py
Labels: TEST, OTX 2.0

#2803 Enable performance test (formerly known as a regression test) in CI
  .github/workflows/perf_test.yaml
  tox.ini
Labels: BUILD, CI

#2804 Fix Hlabel and add medium test case
  src/otx/algo/classification/metrics/hlabel_accuracy.py
  src/otx/core/data/entity/classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/conftest.py
Labels: TEST, OTX 2.0

#2820 Fix hlabel regtest
  tests/regression/test_regression.py
Labels: TEST

#2813 Fix regression tests
  tests/regression/test_regression.py
Labels: TEST, HOTFIX, OTX 2.0

#2795 Filter invalid polygon shapes
  src/otx/core/data/adapter/base_dataset_adapter.py
  src/otx/core/data/adapter/detection_dataset_adapter.py
  src/otx/core/data/adapter/visual_prompting_dataset_adapter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/pipelines/test_transforms.py
Labels: BUG, TEST, FIX

#2816 Update Datumaro version to 1.6.0rc1
  pyproject.toml
  src/otx/core/data/dataset/base.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#2821 Check performance benchmark result with reference
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: TEST

#2827 Fix cyclic import
  src/otx/core/model/entity/classification.py
Labels: OTX 2.0

#2826 Mergeback 1.4.0 to 1.5.0
  src/otx/core/data/adapter/base_dataset_adapter.py
  src/otx/core/data/adapter/detection_dataset_adapter.py
  src/otx/core/data/adapter/visual_prompting_dataset_adapter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/pipelines/test_transforms.py
Labels: TEST

#2812 Introduce the logic to load the OTX1.X checkpoints (Det, iSeg, sSeg, Action cls, det)
  src/otx/core/model/module/base.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/core/utils/utils.py
  src/otx/engine/engine.py
  tests/unit/core/model/module/test_detection.py
  tests/unit/core/model/module/test_instance_segmentation.py
  tests/unit/core/model/module/test_segmentation.py
Labels: TEST, OTX 2.0

#2830 Mergeback releases/1.5.0 to develop
  requirements/openvino.txt
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  src/otx/core/data/adapter/base_dataset_adapter.py
  src/otx/core/data/adapter/detection_dataset_adapter.py
  src/otx/core/data/adapter/visual_prompting_dataset_adapter.py
  tests/unit/algorithms/segmentation/adapters/mmseg/datasets/pipelines/test_transforms.py
Labels: DEPENDENCY, API, ALGO, TEST

#2831 Create OSSF scorecard workflow
  .github/workflows/scorecard.yml
Labels: BUILD

#2832 Fix ossf/scorecard-action version
  .github/workflows/scorecard.yml
Labels: BUILD

#2829 Update for_developer md files
  for_developers/cli_guide.md
  for_developers/dir_structure.md
  for_developers/setup_guide.md
Labels: DOC, OTX 2.0

#2764 Tiling v2
  src/otx/core/config/data.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/action_detection.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/utils/tile_merge.py
  tests/integration/detection/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#2833 Hot-Fix argument order is different issue in visual_prompting
  src/otx/core/model/module/base.py
  src/otx/core/model/module/visual_prompting.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2822 Fix regression test for visual prompting & Add `ResizeToLongestEdge`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  tests/regression/test_regression.py
  tests/unit/core/data/test_transform_libs.py
Labels: TEST, OTX 2.0

#2835 Fix SegNext head
  src/otx/algo/segmentation/heads/custom_ham_head.py
Labels: OTX 2.0

#2836 Add seed_everything into CLI side
  src/otx/cli/cli.py
  tests/unit/cli/test_cli.py
Labels: TEST, OTX 2.0

#2838 Accept a list of tvt_v2.Transform or tvt_v2.Compose Python object for data pipeline
  src/otx/core/config/data.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
Labels: TEST, OTX 2.0

#2828 Introduce the logic to load the OTX1.x classification models
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/utils/support_otx_v1.py
  src/otx/core/model/module/base.py
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/model/module/segmentation.py
  src/otx/engine/engine.py
  tests/unit/algo/utils/__init__.py
  tests/unit/algo/utils/test_support_otx_v1.py
  tests/unit/core/model/module/test_detection.py
  tests/unit/core/model/module/test_instance_segmentation.py
  tests/unit/core/model/module/test_segmentation.py
Labels: TEST, OTX 2.0

#2818 Add XAI entry point
  src/otx/cli/cli.py
  src/otx/core/config/explain.py
  src/otx/core/data/module.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/module/base.py
  src/otx/core/types/explain.py
  src/otx/engine/engine.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/__init__.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: TEST, OTX 2.0

#2839 Add ignored label to all task(cls, det, ins-seg, seg)
  src/otx/algo/classification/heads/custom_hlabel_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/__init__.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/heads/custom_atss_head.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/algo/segmentation/__init__.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/mmconfigs/dino_v2_seg.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_18.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_s.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_x.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_b.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_s.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_t.yaml
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_custom_multilabel_cls_head.py
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/instance_segmentation/__init__.py
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
  tests/unit/algo/segmentation/heads/__init__.py
  tests/unit/algo/segmentation/heads/test_class_incremental_mixin.py
Labels: TEST, OTX 2.0

#2843 Update perf benchmark reference
  tests/perf/benchmark-reference.csv
Labels: TEST

#2844 Fix unit tests
  tests/unit/algo/visual_prompting/backbones/test_tiny_vit.py
Labels: TEST

#2846 Hot fix engine.test checkpoint
  src/otx/engine/engine.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#2841 Enable Auto-Configuration
  for_developers/cli_guide.md
  for_developers/setup_guide.md
  src/otx/cli/cli.py
  src/otx/cli/utils/__init__.py
  src/otx/cli/utils/jsonargparse.py
  src/otx/core/utils/imports.py
  src/otx/engine/engine.py
  src/otx/engine/utils/__init__.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/__init__.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/cli/test_cli.py
  tests/unit/engine/__init__.py
  tests/unit/engine/utils/__init__.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, DOC, OTX 2.0

#2848 🐞 Bugfix: Set reverse_input_channels to True in OpenVINO models
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
Labels: ALGO

#2851 Remove dependency of protobuf
  requirements/base.txt
Labels: DEPENDENCY

#2847 Change target ci-runner to gh-hosted runner for unittests
  .github/workflows/pre_merge.yaml
  src/otx/core/config/data.py
  src/otx/core/data/mem_cache.py
  src/otx/core/utils/build.py
  tests/unit/algo/visual_prompting/encoders/test_sam_prompt_encoder.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_mem_cache.py
Labels: TEST, BUILD, OTX 2.0

#2842 Add XAI detection hook
  for_developers/setup_guide.md
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/module/detection.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: ALGO, TEST, DOC, OTX 2.0

#2852 Add Engine.from_config
  src/otx/cli/utils/jsonargparse.py
  src/otx/engine/engine.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#2845 Make objects pickleable
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/action_detection.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  src/otx/core/model/entity/segmentation.py
  src/otx/core/model/entity/utils/__init__.py
  src/otx/core/model/entity/utils/mmaction.py
  src/otx/core/model/entity/utils/mmdet.py
  src/otx/core/model/entity/utils/mmpretrain.py
  src/otx/core/model/entity/utils/mmseg.py
  tests/unit/algo/detection/backbones/test_pytorchcv_backbones.py
Labels: TEST, OTX 2.0

#2854 Deprecate python 3.8 and add python 3.11 unit-test
  .github/workflows/pre_merge.yaml
  .pre-commit-config.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD, OTX 2.0

#2850 Add ViT-B for visual prompting
  src/otx/algo/visual_prompting/backbones/__init__.py
  src/otx/algo/visual_prompting/backbones/vit.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/unit/algo/visual_prompting/backbones/test_vit.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
Labels: TEST, OTX 2.0

#2849 Enable VIT ReciproCAM
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/hooks/recording_forward_hook.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: TEST, OTX 2.0

#2859 Add PTQ optimization configs via embedding it into IR
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/entity/base.py
  tests/integration/test_export_inference.py
Labels: TEST, OTX 2.0
