Repository open-edge-platform/training_extensions, pull requests merged in 2024-06, with the labels that each got.

#3572 Bump anomalib from 1.0.1 to 1.1.0
  pyproject.toml
  src/otx/cli/install.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#3578 Fix F1 instance seg accuracy drop
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

#3569 Bug fix in Semantic Segmentation + enable DINOV2 export in ONNX
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#3541 Update for using locally stored pretrained weights in the CI for torch hub models
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

#3553 Change ci-runner to a10g for integration tests
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3584 Revert "Change ci-runner to a10g for integration tests (#3553)"
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3577 Fix some export issues. Remove EXPORTABLE_CODE as export parameter.
  src/otx/core/exporter/base.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/base.py
  src/otx/core/types/export.py
  src/otx/engine/engine.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/engine/test_engine.py
Labels: TEST, OTX 2.0

#3579 Add data_format validation and update in OTXDataModule
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#3588 Update ATSS input size to 992x800
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/assets/mmdeploy_config_sample.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3589 Update 2.0.0 CHANGELOG
  CHANGELOG.md
  README.md
Labels: DOC

#3566 Add Semi-SL for Multi-class Classification (EfficientNet-B0)
  src/otx/algo/callbacks/iteration_timer.py
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/module.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/tools/converter.py
  tests/assets/classification_semisl_dataset/unlabeled/11.jpg
  tests/assets/classification_semisl_dataset/unlabeled/14.jpg
  tests/assets/classification_semisl_dataset/unlabeled/15.jpg
  tests/assets/classification_semisl_dataset/unlabeled/16.jpg
  tests/assets/classification_semisl_dataset/unlabeled/17.jpg
  tests/assets/classification_semisl_dataset/unlabeled/18.jpg
  tests/assets/classification_semisl_dataset/unlabeled/19.jpg
  tests/assets/classification_semisl_dataset/unlabeled/21.jpg
  tests/assets/classification_semisl_dataset/unlabeled/23.jpg
  tests/assets/classification_semisl_dataset/unlabeled/26.jpg
  tests/assets/classification_semisl_dataset/unlabeled/27.jpg
  tests/assets/classification_semisl_dataset/unlabeled/28.jpg
  tests/assets/classification_semisl_dataset/unlabeled/29.jpg
  tests/assets/classification_semisl_dataset/unlabeled/30.jpg
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
  tests/unit/core/data/test_module.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3590 Temporary disable integration XAI test for efficientnet_b0
  tests/integration/api/test_xai.py
Labels: TEST

#3585 Fix typo in benchmark.py
  tests/perf/benchmark.py
Labels: TEST

#3582 Decoupling mmaction for action classification (MoviNet, X3D)
  pyproject.toml
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/backbones/__init__.py
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/heads/__init__.py
  src/otx/algo/action_classification/heads/base_head.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/heads/x3d_head.py
  src/otx/algo/action_classification/mmconfigs/movinet.yaml
  src/otx/algo/action_classification/mmconfigs/x3d.yaml
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/__init__.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/utils/data_sample.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/action_classification.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/action/action_classification/movinet.yaml
  src/otx/recipe/action/action_classification/x3d.yaml
  src/otx/recipe/action_classification/movinet.yaml
  src/otx/recipe/action_classification/openvino_model.yaml
  src/otx/recipe/action_classification/x3d.yaml
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  tests/integration/cli/test_export_inference.py
  tests/perf/test_action.py
  tests/regression/test_regression.py
  tests/unit/algo/action_classification/backbones/test_movinet.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_api.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3594 Update for release 2.0.0
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/helper.py
  tox.ini
Labels: TEST, BUILD, DOC, OTX 2.0

#3591 Reenable e2e classification XAI tests
  tests/e2e/cli/test_cli.py
Labels: TEST

#3608 Rename the jupyter notebooks
  notebooks/001.detection.ipynb
  notebooks/001_zero-shot-visual-prompting.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  notebooks/006.zero-shot-visual-prompting.ipynb
  notebooks/utils/download.py
  notebooks/utils/io.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3605 Remove action detection task support
  src/otx/algo/action_detection/__init__.py
  src/otx/algo/action_detection/mmconfigs/x3d_fastrcnn.yaml
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/model/action_detection.py
  src/otx/core/types/task.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/perf/test_action.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3607 Fix `load_from_checkpoint` to apply original model's hparams
  src/otx/engine/engine.py
Labels: OTX 2.0

#3603 Update publish workflow for pure python pkg
  .github/workflows/publish.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3609 Fix setuptools dependency
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3601 Fix zero-shot `learn` for ov model
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3616 Update tpp file
  third-party-programs.txt
Labels: DOC

#3564 RTMDet-tiny enablement for detection task (export/optimize)
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/model/detection.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: TEST, OTX 2.0

#3627 Fix rotated detection data pipeline
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/deployment.py
Labels: ALGO

#3618 Remove mm in tests/conftest
  pyproject.toml
  src/otx/core/data/transform_libs/torchvision.py
  tests/conftest.py
  tests/integration/conftest.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3631 Update RTMDet checkpoint url
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

#3633 Tutorials/cvpr24
  notebooks/002_multi_label_classification.ipynb
  notebooks/003_detection.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

#3637 Fix tiling test
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/tile_adaptor.py
  tests/unit/core/data/test_tiling.py
Labels: TEST, OTX 2.0

#3632 Fix tests/ to work in a mm-free environment
  pyproject.toml
  src/otx/cli/utils/installation.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/cli/utils/test_installation.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/utils/test_build.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3641 Add coverage omit mm-related code
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3640 Add docs semi-sl part
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/utils/images/semi-sl-algo.png
  docs/utils/images/semi-sl-effnet-b0.png
  docs/utils/images/semi-sl-effnet-v2.png
  docs/utils/images/semi-sl-mv3-large.png
Labels: DOC

#3645 Refactor docs design & Add contents
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/utils/images/auto_config.png
  docs/utils/images/cli.png
  docs/utils/images/diagram_otx.png
Labels: DOC

#3648 Add execution example of auto batch size in docs
  docs/source/guide/explanation/additional_features/auto_configuration.rst
Labels: DOC

#3642 Update exportable code dependency & fix a bug
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
Labels: TEST, OTX 2.0

#3647 Add Semi-SL for cls Benchmark Test
  tests/perf/benchmark.py
  tests/perf/test_classification.py
Labels: TEST

#3639 Mergeback 2.0.0 to develop
  .ci/requirements/benchmark/requirements.txt
  .github/workflows/publish.yaml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  pyproject.toml
  src/otx/__init__.py
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  tests/assets/mmdeploy_config_sample.py
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/helper.py
  tests/unit/engine/utils/test_auto_configurator.py
  third-party-programs.txt
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3649 Move value to device before logging for metric
  src/otx/core/model/base.py
Labels: OTX 2.0

#3644 Fix getting wrong shape during resizing
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/data/transform_libs/test_utils.py
Labels: TEST, OTX 2.0

#3651 Fix RTMDet PTQ performance
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

#3652 Update benchmark tool for otx2.1
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

#3656 Collect pretrained weight binary files in one place
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

#3653 Minimize compiled dependency files
  .ci/docker/Dockerfile
  .ci/docker/README.md
  .ci/docker/build.sh
  .ci/docker/check-runner.sh
  .ci/docker/start-runner.sh
  .ci/docker/stop-runner.sh
  .ci/requirements.in
  .ci/requirements.txt
  .ci/requirements/Makefile
  .ci/requirements/README.md
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  docker/Dockerfile.cuda
  docs/source/guide/get_started/installation.rst
  for_developers/regression_test/Dockerfile
  for_developers/regression_test/requirements.txt
  pyproject.toml
Labels: DEPENDENCY, BUILD, DOC

#3668 Update for fix workflow issues
  .github/workflows/code_scan.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3659 Update README & CODEOWNERS
  .github/CODEOWNERS
  README.md
Labels: BUILD, DOC

#3658 Update Engine's docstring & CLI --help outputs
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
Labels: CLI, OTX 2.0

#3670 Fix unit test for semantic segmentation to run it without mmseg
  tests/unit/core/model/test_segmentation.py
Labels: TEST

#3673 [hotfix] Update for fix workflow issues
  .github/workflows/code_scan.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3667 Enable ruff & ruff-format into otx/algo/classification/backbones
  pyproject.toml
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/backbones/vision_transformer.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3674 Disable integration test in pr-merge workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3677 Disable integration test in pr-merge workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3655 Add TV MaskRCNN Tile Recipe
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST, OTX 2.0

#3676 Align integration test to exportable code interface update for release branch
  tests/integration/cli/test_cli.py
Labels: TEST

#3675 Align integration test to exportable code interface update
  tests/integration/cli/test_cli.py
Labels: TEST

#3672 Refactor exporter for anomaly task and fix a bug with exportable code
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST, OTX 2.0

#3680 Fix NNCF MaskRCNN-Eff accuracy drop
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

#3679 Update pandas version constraint
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3682 Merge Back Hot-Fix into develop
  .github/CODEOWNERS
  README.md
  pyproject.toml
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/cli/utils/help_formatter.py
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
  src/otx/engine/engine.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
  tests/unit/core/model/test_segmentation.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3678 Include more models to export test into test_otx_e2e
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/utils.py
Labels: TEST

#3684 Fix optimize with Semi-SL data pipeline
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

#3685 Fix MaskRCNN SwinT NNCF Accuracy Drop
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3686 Bump MAPI version
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, OTX 2.0

#3683 Move assigning tasks to Models from Engine to Anomaly Model Classes
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/engine/engine.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3690 Fix segmentation fault on VPM PTQ to develop
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

#3689 Fix segmentation fault on VPM PTQ
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

#3691 Fix detection performance degradation
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3669 Bump datumaro to 1.7.0
  .ci/docker/README.md
  pyproject.toml
  src/otx/core/data/dataset/segmentation.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#3692 Add maskrcnn_r50_tv_tile in Benchmark Test
  tests/perf/test_instance_segmentation.py
Labels: TEST

#3693 Update version string and fill missing changelog
  CHANGELOG.md
  src/otx/__init__.py
Labels: DOC, OTX 2.0
