Repository open-edge-platform/training_extensions, pull requests merged in 2024-07, with the labels that each got.

#3703 Update MAPI in base deps list
  pyproject.toml
  tests/unit/core/utils/test_tile.py
Labels: DEPENDENCY, TEST, BUILD

#3704 Fix zero-shot learning performance degradation after PTQ
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

#3705 Fix torchvision CLS recipes
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

#3610 Use model_api action classification model wrapper class
  pyproject.toml
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/action_classification.py
  tests/unit/core/utils/test_tile.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3706 Fix intg test for detection xai
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3707 Improve polygon utils
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

#3638 Refactor Visual Prompting OV model to use MAPI
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3695 Fix multi batch testing for visual prompting
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3709 Fix `load_reference_info` for zero-shot learning
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#3713 Fix a wrong action classification transform_fn for PTQ
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

#3710 Add HuggingFace Model Wrapper for Multi-Class Classification
  pyproject.toml
  src/otx/algo/classification/huggingface_model.py
  tests/unit/algo/classification/test_huggingface_model.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3711 Move intg tests to merge-check wf and run on a10g
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

#3720 Update for release 2.1.0rc1
  CHANGELOG.md
  README.md
  src/otx/__init__.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
Labels: DOC, OTX 2.0

#3721 Update tpp file
  third-party-programs.txt
Labels: DOC

#3722 Add known issues to changelog and readme
  CHANGELOG.md
  README.md
Labels: DOC

#3719 Reimplementation of ViT for classification
  pyproject.toml
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3726 Update for release 2.1.0
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3728 Fix publish workflow
  .github/workflows/publish.yaml
Labels: BUILD

#3731 Remove merge_group event
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3723 Fix Combined Dataloader & unlabeled warmup loss to work correctly in Semi-SL case
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/core/data/module.py
Labels: OTX 2.0

#3724 Update semantic segmentation transforms to use OTX's instead of torchvision
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/test_dataset.py
Labels: TEST, OTX 2.0

#3730 Mergeback 2.1.0 to develop
  .github/workflows/publish.yaml
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
  third-party-programs.txt
Labels: BUILD, DOC, OTX 2.0

#3725 Update vpm data pipeline
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/core/data/transform_libs/test_utils.py
Labels: TEST, OTX 2.0

#3733 Update trivy scanning job
  .ci/trivy-json.yaml
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

#3734 Fix detection integration test
  src/otx/recipe/detection/openvino_model.yaml
Labels: OTX 2.0

#3727 Disable mixed preicision to NMS on CPU
  src/otx/algo/common/utils/nms.py
  tests/unit/algo/common/utils/test_nms.py
Labels: TEST, OTX 2.0

#3732 Enable integration test at pre-merge workflow
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

#3735 Add groups setting to create single PR for each group
  .github/dependabot.yaml
Labels: BUILD

#3729 Add LoRA option for VisionTransformer
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
Labels: OTX 2.0

#3743 Remove optimizer in stfpm recipe
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3745 Change run-on target to aws ci for e2e
  .github/workflows/daily.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3746 Add '--test-only' flag in perf test
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

#3747 Add HuggingFace Model Wrapper for Detection
  src/otx/algo/detection/huggingface_model.py
  tests/unit/algo/detection/test_huggingface_model.py
Labels: TEST, OTX 2.0

#3671 Improve Vitens Kiemgetal OTX 1.6.x
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/utils/data.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: ALGO, TEST

#3749 Add HuggingFace Model Wrapper for Semantic-Segmentation
  src/otx/algo/segmentation/huggingface_model.py
  tests/unit/algo/segmentation/test_huggingface_model.py
Labels: TEST, OTX 2.0

#3744 Support dinov2 models (small, base, large, giant) from VisionTransformer backbone
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
Labels: OTX 2.0

#3751 Update daily.yaml
  .github/workflows/daily.yaml
Labels: BUILD

#3750 Update dependencies
  .github/workflows/codeql.yml
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
  docker/requirements.txt
  requirements/api.txt
  requirements/dev.txt
  src/otx/__init__.py
Labels: DEPENDENCY, BUILD

#3753 Revert #3579
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#3754 Update release notes
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3757 Change warning to DEBUG_MODE in mem_cache
  src/otx/core/data/mem_cache.py
Labels: OTX 2.0

#3759 Enable to use input_size at transforms in recipe
  CHANGELOG.md
  pyproject.toml
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/utils/utils.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/utils/test_utils.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3755 Update publish workflow
  .github/workflows/publish.yml
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, BUILD

#3764 [hotfix] Add id-token write permission
  .github/workflows/publish.yml
Labels: BUILD

#3763 Update recipes using `$(input_size)`
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/action_classification/movinet.yaml
  src/otx/recipe/action_classification/x3d.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3765 Update `tutorials/advanced/configuration.rst`
  docs/source/guide/tutorials/advanced/configuration.rst
Labels: DOC

#3741 Add RT-DETR for Object Detection
  CHANGELOG.md
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/base_models/__init__.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/perf/conftest.py
  tests/perf/test_detection.py
  tests/unit/algo/detection/backbones/test_presnet.py
  tests/unit/algo/detection/base_models/test_detr.py
  tests/unit/algo/detection/base_models/test_single_stage_detector.py
  tests/unit/algo/detection/heads/test_rtdetr_decoder.py
  tests/unit/algo/detection/losses/test_rtdetr_loss.py
  tests/unit/algo/detection/necks/test_hybrid_encoder.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/utils/matchers/__init__.py
  tests/unit/algo/detection/utils/matchers/test_hungarian_matcher.py
  tests/unit/algo/modules/test_conv_module.py
Labels: TEST, DOC, OTX 2.0

#3758 Enable torch.complile to work with classification
  src/otx/core/model/base.py
  src/otx/core/utils/utils.py
  tests/unit/core/utils/test_utils.py
Labels: TEST, OTX 2.0

#3768 Update Documentation
  CHANGELOG.md
  docs/source/_static/css/custom.css
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/huggingface_model.rst
  docs/source/guide/tutorials/advanced/index.rst
Labels: DOC

#3775 Remove typ for torch upper version
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

#3769 Enable to use polygon and bitmap mask as reference mask for zero-shot learning
  CHANGELOG.md
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/conftest.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, DOC, OTX 2.0

#3774 Add task overriding for ConfigConverter
  src/otx/tools/converter.py
  tests/assets/geti-configs/cls.json
  tests/unit/tools/test_converter.py
Labels: TEST, OTX 2.0

#3777 Refine recipes for anomaly tasks
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3776 Refine recipes for classification
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
Labels: OTX 2.0

#3778 Add num_devices in Engine for multi-gpu training
  CHANGELOG.md
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/multi_gpu.rst
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC, OTX 2.0
