Repository open-edge-platform/training_extensions, pull requests merged in 2024-04, with the labels that each got.

#3243 Migrate docs/
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/base/explain.rst
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  docs/source/guide/tutorials/base/index.rst
  docs/source/index.rst
  docs/utils/images/car_tree_bug_gt_sample.png
  docs/utils/images/flowers.jpg
  docs/utils/images/product_design/engine_diagram.png
  docs/utils/images/product_design/otx_workflow.png
  docs/utils/images/product_design/reuse_model.png
  docs/utils/images/product_design/support_various_data_format.png
  docs/utils/images/product_design/task_data_model.png
  docs/utils/images/wgisd_pr2_sample.jpg
  for_developers/cli_guide.md
  for_developers/engine_api_example.ipynb
  for_developers/product_design.md
  for_developers/setup_guide.md
  for_developers/torchvision.ipynb
Labels: DOC

#3224 Push unit tests and some bug fixes to develop
  README.md
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/cli/cli.py
  src/otx/core/model/classification.py
  src/otx/core/model/instance_segmentation.py
  src/otx/engine/engine.py
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3245 Migrate from releases/2.0.0
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/detection/atss.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/utils/test_cache.py
Labels: TEST, OTX 2.0

#3254 Add Configuration Converter in otx.tools
  src/otx/engine/engine.py
  src/otx/tools/converter.py
  tests/assets/geti-configs/det.json
  tests/unit/tools/__init__.py
  tests/unit/tools/test_converter.py
Labels: TEST, OTX 2.0

#3255 Copy LICENSE file into demo directory for not editable installation
  MANIFEST.in
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  tests/unit/core/exporter/test_base.py
Labels: TEST, BUILD, OTX 2.0

#3257 Enable e2e for v2
  .github/workflows/daily.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: TEST, BUILD

#3256 Adaptive batch size supports XPU
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/adapters/mmcls/utils/exporter.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/__init__.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/utils.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/utils/__init__.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/mmdet/utils/exporter.py
  src/otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_otx_head.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  src/otx/api/entities/dataset_item.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/mmdeploy/utils/test_deploy_utils_utils.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
  tests/unit/algorithms/common/adapters/torch/utils/test_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: API, ALGO, TEST

#3262 Fix tile PTQ transform releases 2.0.0
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

#3261 Fix tile PTQ transform
  src/otx/core/model/base.py
Labels: OTX 2.0

#3242 Refactor XAI model part - classification tasks
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/entity/base.py
  src/otx/core/exporter/base.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  src/otx/core/types/explain.py
  src/otx/engine/engine.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: TEST, OTX 2.0

#3204 Fix tile CLI
  src/otx/cli/cli.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/test_engine.py
Labels: TEST, OTX 2.0

#3260 Enable e2e for develop
  .github/workflows/daily.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: TEST, BUILD

#3273 Fix e2e data path issue
  .github/workflows/daily.yaml
  tests/e2e/conftest.py
Labels: TEST, BUILD

#3272 Fix a bug occurred when training a RTMdet tiny model (dev branch)
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

#3266 Fix a bug occurred when training a RTMdet tiny model
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

#3278 [hotfix] Add contents write permission to allow creating a release
  .github/workflows/publish.yml
Labels: BUILD

#3270 Fix semantic seg ground truth mask extraction
  src/otx/core/config/data.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: TEST, OTX 2.0

#3269 Merge pytest parser options
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/conftest.py
  tests/perf/conftest.py
  tests/regression/conftest.py
Labels: TEST

#3274 Update ci-runner start script to use host shm size as-is
  .ci/start-runner.sh
Labels: BUILD

#3280 Update documentations
  CHANGELOG.md
  README.md
  docs/source/conf.py
  docs/source/guide/release_notes/index.rst
  requirements/docs.txt
Labels: DEPENDENCY, DOC

#3209 Bump onnx version to 1.16.0
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API, BUILD, DOC

#3283 Fix tile polygon transform function
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: TEST, OTX 2.0

#3282 Fix tile PTQ releaes 2.0.0
  src/otx/core/model/entity/base.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#3264 Fix Dice score. Add mIoU metric for semantic segmentation
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/metrics/dice.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  tests/conftest.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST, OTX 2.0

#3290 e2e tests: update XAI reference values
  tests/e2e/cli/test_cli.py
Labels: TEST, FIX

#3258 Refactor to implant optimizer and scheduler into model code
  pyproject.toml
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/cli/install.py
  src/otx/core/model/base.py
  src/otx/core/optimizer/__init__.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/utils/jsonargparse.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/test_install.py
  tests/unit/core/optimizer/__init__.py
  tests/unit/core/optimizer/test_callable.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3288 Fix tile polygon transform function (Dev branch)
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: TEST, OTX 2.0

#3285 Update publish workflow to add contents write permission
  .github/workflows/publish.yaml
Labels: BUILD, OTX 2.0

#3286 Update publish workflow to add contents write permission
  .github/workflows/publish.yaml
Labels: BUILD

#3291 Temporary fix for jsonargparse issue on Python3.11.9
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3265 Fix reference info path for zero-shot learning
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3294 Temporary fix for jsonargparse issue on Python3.11.9 for release branch
  .github/workflows/pre_merge.yaml
Labels: BUILD

#3172 Remove torch.xpu.optimize for semantic_segmentation task
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: ALGO

#3284 Extend exportable code
  MANIFEST.in
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  src/otx/core/exporter/exportable_code/demo/README.md
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: TEST, BUILD, DOC, OTX 2.0

#3279 Migrate SSD from mmdet to OTX
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/ssd.py
  src/otx/core/model/detection.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: TEST, OTX 2.0

#3208 Remedy some medium/low severity bandit issues
  src/otx/algorithms/common/adapters/mmdeploy/apis.py
  src/otx/algorithms/common/utils/mo_wrapper.py
  src/otx/algorithms/detection/utils/utils.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
  tests/integration/api/classification/test_api_classification.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/unit/algorithms/classification/test_helper.py
Labels: API, ALGO, TEST

#3293 Fix a bug that engine.test doesn't work with XPU
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
Labels: OTX 2.0

#3287 Add NMS iou threshold configurable parameter
  CHANGELOG.md
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/models/single_stage_detector.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model_xpy.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
  tests/test_helpers.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
  tests/unit/algorithms/segmentation/test_helpers.py
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: ALGO, TEST, DOC

#3289 Refactor export part 1 - export parameters
  pyproject.toml
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/export.py
  src/otx/core/utils/utils.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/types/conftest.py
  tests/unit/core/types/test_export.py
  tests/unit/core/types/test_label.py
  tests/unit/core/utils/test_utils.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3300 Replace mmcv nms to torchvision nms
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ops/__init__.py
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

#3299 Update otx version string to 1.6.1rc1
  CHANGELOG.md
  src/otx/__init__.py
Labels: DOC

#3301 Decoupling mmdet structures Part 1.
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/weighted_loss.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/bbox_overlaps.py
  src/otx/algo/detection/utils/structures.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: TEST, OTX 2.0

#3304 Upgrade MAPI
  requirements/openvino.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API

#3303 v2.1: XAI clean-up & XAI unit tests
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/hooks/__init__.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST, REFACTOR, OTX 2.0

#3316 Pin pymongo version to 4.5.0
  requirements/api.txt
Labels: DEPENDENCY

#3307 Support benchmark history summary v1
  .github/workflows/perf_benchmark.yaml
  requirements/dev.txt
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
Labels: DEPENDENCY, TEST, BUILD

#3302 Refactor checkpiont logic
  src/otx/algo/detection/ssd.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/algo/detection/conftest.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/engine/test_engine.py
Labels: TEST, OTX 2.0

#3320 Update readme, changelog, release note and version string
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3297 XAI tor tiling: detection, instance segmentation
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST, OTX 2.0

#3313 Fix e2e issues
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

#3315 Decoupling mmdet structures part2
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

#3322 Bump datumaro 1.6.1rc2
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  pyproject.toml
  requirements/base.txt
  tox.ini
Labels: DEPENDENCY, BUILD

#3295 Move XPU/Opt related PRs from releases2.0 to develop
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/__init__.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/cli/install.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/types/device.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: TEST, OTX 2.0

#3330 Bump sqlparse to 0.5.0
  for_developers/regression_test/requirements.txt
Labels: DOC

#3259 HPO code flow modification
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/core/config/hpo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: TEST, OTX 2.0

#3331 Refactor tiling data typing
  src/otx/core/data/entity/tile.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

#3333 Fix flaky test: TestCustomRTMDetInsSepBNHead.test_mask_pred
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

#3271 Decouple mmpretrain: Mobilenet-V3-large
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/necks/__init__.py
  src/otx/algo/classification/necks/gap.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3337 Update 2.0 benchmark w.r.t 2.1
  .github/workflows/perf_benchmark.yaml
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST, BUILD

#3338 Update 1.6 benchmark w.r.t. 2.1
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
  tests/perf/history/summary.py
Labels: TEST, BUILD

#3340 Revert adaptive batch size
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: ALGO, TEST

#3343 Update IPEX version in installation guide documentation for OTX1.6
  docs/source/guide/get_started/installation.rst
Labels: DOC

#3342 Update IPEX version in installation guide documentation
  docs/source/guide/get_started/installation.rst
Labels: DOC

#3317 Refactor model export part 2: Add a dedicated forward function for model export
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3334 Add SchedulerCallableSupportHPO
  src/otx/core/model/base.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/schedulers/callable.py
  src/otx/core/schedulers/warmup_schedulers.py
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
  tests/unit/core/schedulers/test_warmup_schedulers.py
Labels: TEST, OTX 2.0

#3341 Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

#3348 Pin artifact download action on perf-benchmark wf
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

#3253 Decouple detection data pipeline from mmdet
  pyproject.toml
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/model/test_visual_prompting.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3345 🗑️ Remove Draem
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/utils/images/draem.png
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: DOC, OTX 2.0

#3336 Fix spatial resolution for saliency_maps in torchvision_models
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST, OTX 2.0

#3351 [Hotfix] :fire: Fixing detection oriented OV inferencer
  src/otx/algorithms/detection/adapters/openvino/task.py
Labels: ALGO

#3355 [NNCF] Dynamic shape datasets WA
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/compression_config.json
Labels: ALGO

#3349 Re-org deps for ci and pin deps for benchmark workflow
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/piptools/requirements.in
  .ci/requirements/piptools/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/code_scan.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  docker/Dockerfile.cuda
Labels: BUILD

#3365 Bump datumaro to 1.6.1rc3
  requirements/base.txt
Labels: DEPENDENCY

#3352 Add RandomResizedCrop for cv2 & Change mv3 pipelines
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

#3367 Reduce default batch size of action detection
  src/otx/recipe/action/action_detection/x3d_fastrcnn.yaml
Labels: OTX 2.0

#3375 Update QAT configs for rotated detection
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/compression_config.json
Labels: ALGO

#3368 Bring ConvModule from mmcv.cnn.bricks
  src/otx/algo/classification/backbones/otx_efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/padding.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

#3370 Fix jsonargparse cannot parse lambda default arguments
  src/otx/cli/cli.py
Labels: OTX 2.0

#3371 Update for release 1.6.1
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3372 Revisit TileConfig propagation to make it immutable on OTXModel side as possible
  pyproject.toml
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/label.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/utils/utils.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/types/test_label.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3354 Fix reference info path for zero-shot learning
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3353 Decouple mmpretrain: Efficientnet-V2-S
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3356 XAI support for rmdet_inst_tiny
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/explain/test_xai_algorithms.py
Labels: TEST, DOC, OTX 2.0

#3374 Hotfix :wrench: Bypass ClsIncrSampler for tiling
  src/otx/algorithms/common/utils/task_adapt.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
Labels: ALGO

#3366 Enable SSD export through NativeExporter
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmdeploy/ssd_mobilenetv2.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/ssd.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: TEST, OTX 2.0

#3384 Fix incorrect cache loading
  src/otx/cli/cli.py
Labels: OTX 2.0

#3385 Change otx dependency to release branch for demo
  CHANGELOG.md
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3378 Add adaptive batch size feature
  src/otx/core/model/base.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/engine/adaptive_bs/__init__.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/unit/engine/adaptive_bs/__init__.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST, OTX 2.0

#3380 Decouple mmpretrain: Efficientnet-B0
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/core/data/transform_libs/utils.py
  src/otx/engine/utils/api.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/core/utils/test_build.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3389 [OTX 1.6.x] Fix QAT for detection tiling models
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/compression_config.json
Labels: ALGO

#3391 Fix explain comment in e2e cli test
  tests/e2e/cli/test_cli.py
Labels: TEST

#3382 Decouple YOLOX : model migration
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/point_generator.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/integration/api/test_xai.py
  tests/unit/core/model/test_detection.py
Labels: TEST, OTX 2.0

#3396 Update pymongo version and constraint
  CHANGELOG.md
  requirements/api.txt
Labels: DEPENDENCY, DOC

#3394 [1.6.x] Fix export precision
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: ALGO

#3393 Update PR template
  .github/pull_request_template.md
Labels: BUILD

#3390 Enable parameter of scheduler for HPO candidate
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#3386 Migrate ATSS from mmdet
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_atss_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/utils/mmcv_utils.py
  src/otx/core/model/detection.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/test_atss.py
Labels: TEST, OTX 2.0

#3398 Decouple YOLOX : unit tests for model migration
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_point_generator.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/__init__.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_iou_loss.py
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
  tests/unit/algo/detection/necks/__init__.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/modules/__init__.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
  tests/unit/core/model/test_detection.py
Labels: TEST

#3395 [1.6.1] Explicitly cast incorrect output type in OV model
  src/otx/algorithms/common/utils/ir.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: ALGO, TEST

#3376 Decouple semantic segmentation models
  src/otx/algo/modules/__init__.py
  src/otx/algo/segmentation/backbones/__init__.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/mmconfigs/dino_v2_seg.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_18.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_s.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_x.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_b.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_s.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_t.yaml
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/utils/__init__.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_class_incremental_mixin.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/algo/utils/test_segmentation.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST, OTX 2.0

#3397 Decouple mmpretrain: DeiT-Tiny
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/classification/utils/embed.py
  src/otx/algo/classification/utils/swiglu_ffn.py
  src/otx/algo/classification/vit.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
  src/otx/tools/converter.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3401 Update changelog for 1.6.1rc4
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

#3377 Update to datumaro==1.6.1rc3
  pyproject.toml
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3402 Decouple mmengine: Bring mmengine.BaseModule
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/modules/base_module.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/algo/utils/weight_init.py
Labels: OTX 2.0

#3404 Decouple mmpretrain: Head, Loss
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_custom_multilabel_cls_head.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_multilabel_cls_head.py
Labels: TEST, OTX 2.0

#3335 Upgrade OV, NNCF and MAPI
  pyproject.toml
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/detection/openvino_model.yaml
  tests/integration/api/test_engine_api.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/utils/test_tile.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3403 Update e2e test scope
  tests/e2e/cli/test_cli.py
Labels: TEST

#3399 Add result csv upload job for daily workflow
  .github/workflows/daily.yaml
Labels: BUILD

#3410 Downgrade OV to 2024.0
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3411 Fix e2e tests
  tests/e2e/cli/test_cli.py
Labels: TEST

#3405 Deprecate mm compatible detectors
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/tile.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/model/test_detection.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3406 Add unit test for engine/hpo
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/utils.py
  tests/unit/engine/hpo/__init__.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: TEST, OTX 2.0

#3407 Decouple YOLOX : export
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST, OTX 2.0

#3409 Align Dino-v2 with other models
  docker/download_pretrained_weights.py
  src/otx/algo/__init__.py
  src/otx/algo/classification/__init__.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/mmconfigs/multiclass_classification/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2_linear_probe.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b1.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b4.yaml
  src/otx/recipe/classification/multi_class_cls/tv_resnet_50.yaml
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3414 Refactor anomaly dataset and data module
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/anomaly/__init__.py
  src/otx/data/__init__.py
  src/otx/data/anomaly/__init__.py
  src/otx/data/anomaly/anomaly.py
  tests/unit/core/data/conftest.py
Labels: TEST, OTX 2.0

#3424 Remove mmengine from semantic segmentation task
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

#3417 Update HPO to support XPU
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
  tests/unit/hpo/test_resource_manager.py
Labels: TEST, OTX 2.0

#3408 Refine classification OV export
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/exporter/base.py
Labels: OTX 2.0

#3413 Change location of stack_batch
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

#3415 Update to use `BaseModule` on detection
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_yolox_head.py
Labels: TEST, OTX 2.0

#3426 Fix Benchmark Test
  tests/perf/benchmark.py
Labels: TEST

#3427 Update version string and changelog
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3419 Remove mm related configs
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/anchor_generator.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_r50_fpn.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/mmconfigs/rtmdet_tiny.yaml
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/mmdeploy/__init__.py
  src/otx/algo/detection/mmdeploy/atss.py
  src/otx/algo/detection/mmdeploy/atss_r50_fpn.py
  src/otx/algo/detection/mmdeploy/rtmdet.py
  src/otx/algo/detection/mmdeploy/yolox.py
  src/otx/algo/detection/mmdeploy/yolox_tiny.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/mmdeploy/base_detection.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  tests/assets/mmdeploy_config_sample.py
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_detection.py
Labels: TEST, OTX 2.0

#3416 Update trivy worflow
  .ci/ipas_default.config
  .ci/trivy-csv.yaml
  .ci/trivy-json.yaml
  .github/workflows/code_scan.yml
  tox.ini
Labels: BUILD

#3431 Remove cuda version focal loss
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

#3432 Remove left mmengine things in object detection
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

#3429 Make NP TV conversion configurable
  src/otx/core/config/data.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0
