Repository open-edge-platform/training_extensions, pull requests merged in 2024-08, with the labels that each got.

#3646 Upgrade NNCF and OV versions
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, OTX 2.0

#3767 Improve yolox-tiny tile recipe
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  tests/unit/algo/detection/test_yolox.py
Labels: TEST, OTX 2.0

#3779 Introduce OTXTrainType
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/config/__init__.py
  src/otx/core/types/task.py
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST, OTX 2.0

#3762 Add otx micro benchmark
  CHANGELOG.md
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/cli/cli.py
  src/otx/core/data/entity/base.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/integration/cli/test_export_inference.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC, OTX 2.0

#3780 Remove mm compatible modules
  for_developers/dir_structure.md
  src/otx/algo/modules/base_module.py
  src/otx/algo/utils/__init__.py
  src/otx/algo/utils/mmconfig.py
  src/otx/core/data/transform_libs/__init__.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/model/__init__.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/rotated_detection.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/__init__.py
  src/otx/core/model/utils/mmaction.py
  src/otx/core/model/utils/mmdet.py
  src/otx/core/model/utils/mmpretrain.py
  src/otx/core/model/utils/mmseg.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/utils/build.py
  src/otx/core/utils/config.py
  src/otx/core/utils/utils.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/tools/translate_mmrecipe.py
  tests/conftest.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_utils.py
Labels: TEST, DOC, OTX 2.0

#3782 Update 'otx benchmark' print outputs & cli print outputs
  src/otx/cli/cli.py
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
  tests/unit/cli/test_cli.py
Labels: TEST, OTX 2.0

#3736 Enable direct export of ViTs
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

#3786 Bump torch version to 2.2.2
  pyproject.toml
  tests/unit/cli/test_cli.py
Labels: DEPENDENCY, TEST, BUILD

#3785 Update dependabot config
  .github/dependabot.yaml
Labels: BUILD

#3787 Mergeback 2.1.0 to develop
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: TEST, OTX 2.0

#3783 Refactoring base module (`ConvModule`)
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/backbones/resnet.py
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/layers/transformer.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/modules/test_conv.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
  tests/unit/algo/modules/test_norm.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
Labels: TEST, OTX 2.0

#3799 Change deterministic value to False as default in action classification perf test
  tests/perf/test_action.py
Labels: TEST

#3798 Update dependabot group config for pip
  .github/dependabot.yaml
Labels: BUILD

#3781 Add keypoint detection task with RTMPose
  CHANGELOG.md
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/losses/kl_discret_loss.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/algo/keypoint_detection/utils/rtmcc_block.py
  src/otx/algo/keypoint_detection/utils/scale_norm.py
  src/otx/algo/keypoint_detection/utils/simcc_label.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_test.json
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_train.json
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_val.json
  tests/assets/car_tree_bug_keypoint/images/test/Slide20.PNG
  tests/assets/car_tree_bug_keypoint/images/test/Slide3.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide4.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide5.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide6.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide7.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide8.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide9.PNG
  tests/assets/car_tree_bug_keypoint/images/val/Slide20.PNG
  tests/assets/car_tree_bug_keypoint/images/val/Slide3.PNG
  tests/perf/test_keypoint_detection.py
  tests/unit/algo/keypoint_detection/__init__.py
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/losses/test_loss_kldiscrete.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
  tests/unit/algo/keypoint_detection/utils/test_rtmcc_block.py
  tests/unit/algo/keypoint_detection/utils/test_scale_norm.py
  tests/unit/algo/keypoint_detection/utils/test_simcc_label.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, DOC, OTX 2.0

#3796 Bump lightning version to 2.3.3
  pyproject.toml
  src/otx/core/schedulers/__init__.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#3815 Hot-Fix hang issue in integration test
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

#3811 Refactor OTXAnomaly
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3823 Fix build docs
  docs/README.md
  tox.ini
Labels: BUILD, DOC

#3809 Refactoring `ConvModule` by removing `act_cfg`
  CHANGELOG.md
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/backbones/pytorchcv_backbones.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/segnext.py
  tests/unit/algo/common/backbones/test_pytorchcv_backbones.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/modules/test_activation.py
  tests/unit/algo/modules/test_conv_module.py
Labels: TEST, DOC, OTX 2.0

#3828 Update cache directory for loading pretrained weights (Semantic Segmentation)
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/utils/mmengine_utils.py
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
Labels: TEST, OTX 2.0

#3829 Update fuzzing
  pyproject.toml
  src/otx/cli/utils/installation.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/eval_fuzzing_crash.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3810 Update head and h-label format for hierarchical label classification
  CHANGELOG.md
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/data/dataset/classification.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/classification/test_timm_model.py
Labels: TEST, DOC, OTX 2.0

#3801 Add Semi-SL MeanTeacher for semantic segmentation
  CHANGELOG.md
  src/otx/algo/callbacks/ema_mean_teacher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/segmentation/__init__.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segmentors/mean_teacher.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/engine/utils/api.py
  src/otx/recipe/_base_/data/semisl/semantic_segmentation_semisl.yaml
  src/otx/recipe/_base_/data/semisl/torchvision_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0001.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0002.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0003.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0004.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0005.png
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/test_semantic_segmentation.py
  tests/unit/algo/callbacks/test_ema_mean_teacher.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, DOC, OTX 2.0

#3837 Update the default path of downloaded pretrained weights from pytorchcv
  src/otx/algo/common/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

#3840 Refactor Semantic Segmentation models
  pyproject.toml
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/backbones/__init__.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/algo/utils/test_segmentation.py
  tests/unit/core/model/test_segmentation.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3830 Refactor Classifier & Head
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/torchvision.py
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/utils/ignored_labels.py
  src/otx/algo/classification/vit.py
  src/otx/core/model/classification.py
  src/otx/engine/engine.py
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_multilabel_cls_head.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/classification/utils/test_ignored_labels.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC, OTX 2.0

#3855 Update version to 1.6.4rc0
  .ci/trivy-csv.yaml
  CHANGELOG.md
  src/otx/__init__.py
Labels: BUILD, DOC

#3852 Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

#3849 Kp/fix e2e tests
  .github/workflows/daily.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tox.ini
Labels: TEST, BUILD

#3825 Update MAPI
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3861 Refactor keypoint detection task
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, OTX 2.0

#3857 Fix confusion matrix calculation
  src/otx/api/usecases/evaluation/accuracy.py
Labels: API

#3867 Fix Classification explain forward issue
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

#3872 Update version 1.6.4
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3871 Fix e2e code error
  tests/e2e/cli/test_cli.py
Labels: TEST

#3864 Refactor Classification Backbone to Factory Class Design
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
Labels: TEST, OTX 2.0

#3843 Bump torch and lightning to 2.4.0 versions
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3868 Reflect comments in #3816
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_conv_module.py
Labels: TEST, OTX 2.0

#3870 Add documentation about configurable input size
  docs/source/guide/explanation/additional_features/configurable_input_size.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/additional_features/index.rst
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC, OTX 2.0

#3869 Fix Classification explain forward issue in develop
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

#3863 Update Semantic Segmentation refactoring (reply comments from previous PR)
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/cli/cli.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST, OTX 2.0

#3879 Fix labels names in hierarchical config
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/api/utils/labels_utils.py
Labels: API, ALGO

#3873 Fix Learning Rate and Loss Handling in Tile Classifier MaskRCNN EfficientNet
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: ALGO, TEST

#3876 Fix zero-shot e2e
  src/otx/algo/visual_prompting/sam.py
  src/otx/core/exporter/visual_prompting.py
  tests/unit/algo/visual_prompting/test_sam.py
Labels: TEST, OTX 2.0

#3881 Fix DeiT for multi-label classification
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

#3880 update for 1.6.5
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: API, DOC

#3883 Fix Semi-SL for ViT accuracy drop
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

#3884 Update docs for 2.2
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/action/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/low_rank_adaptation.rst
  docs/source/guide/tutorials/advanced/torch_compile.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
Labels: DOC

#3885 Fix mean and scale for segmentation task
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

#3889 Update MAPI in 2.2
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, OTX 2.0

#3887 Pad tile to image size (512 x 512)
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: ALGO

#3886 Don't apply labels normalization on training
  src/otx/algorithms/classification/utils/cls_utils.py
Labels: ALGO

#3891 Improve Semi-SL for LiteHRNet (small-medium case)
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
Labels: OTX 2.0

#3882 Move benchmark deps to ci-benchmark extra
  pyproject.toml
  tox.ini
Labels: DEPENDENCY, BUILD

#3894 Hot-fix rotated_detection configuration
  CHANGELOG.md
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: ALGO, DOC

#3897 Make complex unique key for mem cache handler
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: ALGO, DOC

#3900 Fix maskrcnn swin nncf acc drop
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

#3903 Add keypoint detection recipe for single object cases
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, OTX 2.0

#3904 Fix a bug that training is stuck while detection model is trained on distrubited environment
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

#3907 Improve acc drop of efficientnetv2 for h-label cls
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

#3909 Fix pretrained weight cached dir for timm
  src/otx/algo/classification/backbones/timm.py
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST, OTX 2.0

#3908 Fix returning tensor instead of dict in `rtmdet_ins_head`
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/rtmdet_inst_loss.py
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/losses/__init__.py
  tests/unit/algo/instance_segmentation/losses/test_rtmdet_inst_loss.py
Labels: TEST, OTX 2.0

#3895 Add missing changes to changelog.md
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

#3899 Update STFPM config
  src/otx/algo/anomaly/openvino_model.py
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3915 Fix keypoint detection single obj recipe
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/perf/test_keypoint_detection.py
Labels: TEST, OTX 2.0

#3914 Fix cached dir for timm & hugging-face
  src/otx/__init__.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/algo/classification/test_timm_model.py
Labels: TEST, OTX 2.0

#3916 Fix wrong template id mapping for anomaly
  src/otx/tools/converter.py
Labels: OTX 2.0
