Repository open-edge-platform/training_extensions, pull requests merged in 2024-03, with the labels that each got.

#2998 Add tests: forward explain + predict with explain
  src/otx/engine/engine.py
  tests/integration/api/test_xai.py
Labels: TEST, OTX 2.0

#3016 Add push event to code scanning workflow
  .github/workflows/code_scan.yml
Labels: BUILD

#3015 Add memory usage logging to unittests
  tests/unit/conftest.py
Labels: TEST

#3005 Improve inst seg perf
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_r50_fpn.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/mmconfigs/rtmdet_tiny.yaml
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/cli/__init__.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

#3013 Fix UTs on XPU
  tests/unit/algorithms/action/adapters/mmaction/test_task.py
  tests/unit/algorithms/action/adapters/mmaction/utils/test_action_det_eval_utils.py
  tests/unit/algorithms/action/adapters/openvino/test_action_dataloader.py
  tests/unit/algorithms/classification/adapters/mmcls/test_configurer.py
  tests/unit/algorithms/classification/adapters/mmcls/test_task.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/detection/adapters/mmdet/datasets/test_detection_dataset.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/models/encoders/test_sam_prompt_encoder.py
  tests/unit/cli/utils/test_report.py
Labels: TEST

#3012 Fix tile bug & add more tests
  src/otx/core/data/dataset/tile.py
  src/otx/engine/engine.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/unit/core/utils/test_tile.py
Labels: TEST, OTX 2.0

#3004 Add perf benchmark tests for v2
  .github/workflows/perf_accuracy.yaml
  .github/workflows/perf_efficiency.yaml
  .github/workflows/perf_test.yaml
  tests/perf/__init__.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
  tox.ini
Labels: TEST, BUILD, OTX 2.0

#3010 Set num_sanity_val_steps to 0 as default in OTX CLI
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

#3019 Enable Balanced-Sampler into cls, det, ins-seg
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
Labels: OTX 2.0

#3018 Add Class-Incremental Sampler
  src/otx/algo/samplers/balanced_sampler.py
  src/otx/algo/samplers/class_incremental_sampler.py
  src/otx/core/data/module.py
  src/otx/core/utils/instantiators.py
  src/otx/core/utils/utils.py
  tests/unit/algo/samplers/test_balanced_sampler.py
  tests/unit/algo/samplers/test_class_incremental_sampler.py
Labels: TEST, OTX 2.0

#3031 Add auto-config default recipe for H-label classification
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#3033 Update doc for CPU install and MMCV troubleshooting
  docs/source/guide/get_started/installation.rst
Labels: DOC

#3030 Revert MRCNN resize to the state from 1.4 [backported from 1.5]
  src/otx/algorithms/detection/configs/base/data/iseg_efficientnet_data_pipeline.py
  src/otx/algorithms/detection/configs/base/data/iseg_resnet_data_pipeline.py
Labels: ALGO

#3011 Support dumping saliency maps
  src/otx/algo/utils/xai_utils.py
  src/otx/engine/engine.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
Labels: TEST, OTX 2.0

#2955 Enable export for visual prompting models
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/entity/base.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/assets/car_tree_bug_zero_shot/annotations/instances_test.json
  tests/assets/car_tree_bug_zero_shot/annotations/instances_train.json
  tests/assets/car_tree_bug_zero_shot/annotations/instances_val.json
  tests/assets/car_tree_bug_zero_shot/images/test/Slide3.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide4.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide5.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide6.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide7.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide8.PNG
  tests/assets/car_tree_bug_zero_shot/images/test/Slide9.PNG
  tests/assets/car_tree_bug_zero_shot/images/train/Slide4.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide3.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide4.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide5.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide6.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide7.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide8.PNG
  tests/assets/car_tree_bug_zero_shot/images/val/Slide9.PNG
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/unit/algo/visual_prompting/conftest.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/data/dataset/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3028 Add checkpoint argument to optimize()
  src/otx/engine/engine.py
  tests/integration/cli/test_export_inference.py
Labels: TEST, OTX 2.0

#3037 Add tile regression tests and tile recipe
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#3027 Support explain for OV models
  src/otx/engine/engine.py
  tests/integration/api/test_engine_api.py
Labels: TEST, OTX 2.0

#3042 Bump sphinx version to 6.2.1
  requirements/docs.txt
Labels: DEPENDENCY

#3036 Add docker image build script
  .dockerignore
  docker/Dockerfile.cuda
  docker/README.md
  docker/build.sh
  docker/download_pretrained_weights.py
  pyproject.toml
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: DEPENDENCY, TEST, BUILD, DOC, OTX 2.0

#3009 Resolve failed integration test w/ XPU
  src/otx/algorithms/common/adapters/mmcv/ops/multi_scale_deformable_attn_pytorch.py
  src/otx/algorithms/common/adapters/mmcv/utils/_builder_build_data_parallel.py
  src/otx/algorithms/detection/adapters/mmdet/models/__init__.py
  src/otx/algorithms/detection/adapters/mmdet/models/patch_mmdeploy.py
  tests/test_suite/run_test_command.py
Labels: ALGO, TEST

#3045 Hot fix for export inference test
  tests/integration/cli/test_export_inference.py
Labels: TEST

#3041 Add Action classification regression test
  src/otx/recipe/action/action_classification/x3d.yaml
  tests/regression/test_regression.py
Labels: TEST, OTX 2.0

#3043 Update pre_merge workflow to upload coverage to codecov
  .github/codecov.yaml
  .github/workflows/pre_merge.yaml
  tox.ini
Labels: BUILD, OTX 2.0

#3048 Omit e2e tests, which are not supported on xpu
  tests/e2e/cli/action/test_action_classification.py
  tests/e2e/cli/action/test_action_detection.py
  tests/e2e/cli/instance_segmentation/test_api_xai_sanity_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_instance_segmentation.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/e2e/cli/visual_prompting/test_zero_shot.py
Labels: TEST

#3044 Update code-scan workflow
  .github/workflows/code_scan.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/labeler.yaml
  .github/workflows/perf_accuracy.yaml
  .github/workflows/perf_efficiency.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
Labels: BUILD

#3047 Support feature vector for cls
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/model/entity/classification.py
  tests/integration/api/test_xai.py
Labels: TEST, OTX 2.0

#3049 Add unit tests for XPU related code
  src/otx/algorithms/anomaly/adapters/anomalib/strategies/xpu_single.py
  src/otx/algorithms/classification/adapters/mmcls/apis/train.py
  tests/unit/algorithms/anomaly/adapters/anomalib/accelerators/__init__.py
  tests/unit/algorithms/anomaly/adapters/anomalib/accelerators/xpu.py
  tests/unit/algorithms/anomaly/adapters/anomalib/plugins/__init__.py
  tests/unit/algorithms/anomaly/adapters/anomalib/plugins/xpu_precision.py
  tests/unit/algorithms/anomaly/adapters/anomalib/strategies/__init__.py
  tests/unit/algorithms/anomaly/adapters/anomalib/strategies/test_xpu_single.py
  tests/unit/algorithms/classification/adapters/mmcls/api/__init__.py
  tests/unit/algorithms/classification/adapters/mmcls/api/test_train.py
  tests/unit/algorithms/common/adapters/mmcv/hooks/test_xpu_optimizer_hook.py
  tests/unit/algorithms/common/adapters/mmcv/test_configurer.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_fp16_utils.py
  tests/unit/algorithms/common/adapters/torch/amp/test_xpu_grad_scaler.py
  tests/unit/algorithms/detection/adapters/mmdet/api/__init__.py
  tests/unit/algorithms/detection/adapters/mmdet/api/test_train.py
  tests/unit/algorithms/segmentation/adapters/mmseg/api/__init__.py
  tests/unit/algorithms/segmentation/adapters/mmseg/api/test_train.py
  tests/unit/algorithms/segmentation/adapters/mmseg/test_mmseg_configurer.py
Labels: ALGO, TEST

#3056 Fix warmup scheduler and add patience update for adaptive interval
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/algo/schedulers/warmup_schedulers.py
  tests/unit/algo/callbacks/test_adaptive_train_scheduling.py
Labels: TEST, OTX 2.0

#3034 Add torchvision models for multi-class classification
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/model/entity/classification.py
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b1.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b4.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_resnet_50.yaml
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/engine/utils/test_api.py
Labels: TEST, OTX 2.0

#3051 Training performance (speed) review for the semantic seg tasks
  src/otx/core/data/entity/base.py
  src/otx/core/model/entity/utils/mmseg.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  tests/conftest.py
Labels: TEST, OTX 2.0

#3050 Fix daily tests
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/convnext_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/data_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/tile_pipeline.py
  tests/e2e/cli/anomaly/test_anomaly_classification.py
  tests/e2e/cli/instance_segmentation/test_tiling_instseg.py
Labels: ALGO, TEST

#3038 Update visual prompting on 1.x
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/__init__.py
  src/otx/algorithms/visual_prompting/adapters/openvino/model_wrappers/openvino_models.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/segment_anything.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
  src/otx/algorithms/visual_prompting/configs/base/configuration.py
  src/otx/algorithms/visual_prompting/configs/sam_tiny_vit/template.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/template.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_tiny_vit/template.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/__init__.py
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/config.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/configuration.py
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/configuration.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/ptq_optimization_config.py
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/template.yaml
  src/otx/algorithms/visual_prompting/tasks/inference.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  tests/e2e/cli/visual_prompting/reference/Zero_Shot_SAM_ViT_B/compressed_decoder.yml
  tests/e2e/cli/visual_prompting/reference/Zero_Shot_SAM_ViT_B/compressed_image_encoder.yml
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/e2e/cli/visual_prompting/test_zero_shot.py
  tests/integration/cli/visual_prompting/test_visual_prompting.py
  tests/integration/cli/visual_prompting/test_zero_shot.py
  tests/test_suite/run_test_command.py
  tests/unit/algorithms/visual_prompting/adapters/openvino/model_wrappers/test_openvino_models.py
  tests/unit/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/test_zero_shot_segment_anything.py
  tests/unit/algorithms/visual_prompting/tasks/test_inference.py
  tests/unit/algorithms/visual_prompting/tasks/test_openvino.py
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: ALGO, TEST

#3061 Refine perf benchmark v1
  requirements/dev.txt
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: DEPENDENCY, TEST

#3039 Add RTMDet Inst Tiny
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/algo/instance_segmentation/mmdeploy/rtmdet_inst.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
Labels: OTX 2.0

#3040 Add optimize for visual prompting to 2.0
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/model/entity/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3062 Add xfails in vpm e2e
  tests/e2e/cli/visual_prompting/test_zero_shot.py
Labels: TEST

#3046 Add hlabel parent resolver and integrate HLabelData + HLabelInfo --> HLabelInfo
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/entity/classification.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/module/classification.py
  tests/assets/hlabel_classification/annotations/train.json
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_classification.py
  tests/unit/core/metrics/test_accuracy.py
Labels: TEST, OTX 2.0

#3052 Refine perf benchmark v2
  .github/workflows/perf_benchmark.yaml
  .github/workflows/perf_efficiency.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

#3063 Dedicate perf-benchmark v2 CI host
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

#3053 Add dependabot.yaml
  .github/dependabot.yaml
  tox.ini
Labels: BUILD, OTX 2.0

#3055 Update for resolving security issues
  .ci/Dockerfile
  .ci/build-deps.in
  .ci/build-deps.txt
  .ci/piptools-deps.in
  .ci/piptools-deps.txt
  .ci/tox-deps.in
  .ci/tox-deps.txt
  .github/workflows/code_scan.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/labeler.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  docker/Dockerfile.cuda
  for_developers/regression_test/Dockerfile
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  pyproject.toml
Labels: DEPENDENCY, BUILD, DOC, OTX 2.0

#3059 Add Movinet to action classification
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/backbones/__init__.py
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/heads/__init__.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/mmconfigs/movinet.yaml
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/__init__.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/recipe/action/action_classification/movinet.yaml
  tests/regression/test_regression.py
  tests/unit/algo/action_classification/__init__.py
  tests/unit/algo/action_classification/backbones/__init__.py
  tests/unit/algo/action_classification/backbones/test_movinet.py
  tests/unit/algo/action_classification/heads/__init__.py
  tests/unit/algo/action_classification/heads/test_movinet_head.py
  tests/unit/algo/action_classification/recognizers/__init__.py
  tests/unit/algo/action_classification/recognizers/test_movinet_recognizer.py
Labels: TEST, OTX 2.0

#3065 Add classification backbones unit test
  src/otx/algo/classification/backbones/otx_efficientnet.py
  tests/unit/algo/classification/backbones/__init__.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet_v2.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
Labels: TEST, OTX 2.0

#3086 Update perf benchmark refererence v1
  .github/workflows/perf_benchmark.yaml
  tests/perf/__init__.py
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/pytest.ini
  tox.ini
Labels: TEST, BUILD

#3089 Add docs workflow for latest & testing
  .github/workflows/docs.yaml
Labels: BUILD

#3088 Redirect unittest workflow to local runners
  .github/workflows/pre_merge.yml
Labels: TEST, BUILD

#3092 Redirect unittest workflow to local runners (#3088)
  .github/workflows/pre_merge.yml
Labels: BUILD

#3064 Detect num_classes information for the H-label classification
  src/otx/cli/cli.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#3091 Add workflow_dispatch event to trigger docs build and rename it to .yaml
  .github/workflows/docs.yaml
Labels: BUILD

#3080 Add the documentation for installing OTX on XPU devices
  CHANGELOG.md
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
Labels: DOC

#3093 Fix bug on visual prompting
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
Labels: ALGO

#3079 Forward_explain & Export with XAI: Detection & InstSeg
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/integration/detection/test_model.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: TEST, OTX 2.0

#3098 Add missing workflows on v2
  .github/workflows/code_scan.yaml
  .github/workflows/codeql.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/stale_marker.yaml
Labels: BUILD

#3131 Bump mlflow to 2.11.1
  .github/dependabot.yaml
  .github/workflows/pre_merge.yaml
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  for_developers/requirements-lock.txt
Labels: BUILD, DOC

#3132 Refactoring for zero-shot standalone usecase
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/cli/test_export_inference.py
  tests/regression/test_regression.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
Labels: TEST, OTX 2.0

#3129 Add from_model_name in Engine
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: TEST, OTX 2.0

#3127 Add unit tests under otx.algo
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/utils/test_segmentation.py
Labels: TEST

#3100 Update benchmark summary v1
  .github/workflows/perf_benchmark.yaml
  .github/workflows/weekly.yml
  tests/conftest.py
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tox.ini
Labels: TEST, BUILD

#3140 Support perf result reference check for benchmark v2
  .github/workflows/perf_benchmark.yaml
  .github/workflows/weekly.yaml
  pyproject.toml
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD

#3143 Remove unused files & Add coverage.omit __init__ and recipes
  pyproject.toml
  src/otx/config/data/openvino.yaml
Labels: DEPENDENCY, BUILD, OTX 2.0

#3138 Add automatic docs/source builder to check the output easily
  .gitignore
  docs/utils/auto_sphinx_build.py
Labels: DOC

#3151 Update Anomaly docs
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
Labels: DOC

#3152 Add DRAEM anomaly model
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: DOC, OTX 2.0

#3144 Add more backbone list for tv & fix exported_params
  src/otx/algo/classification/torchvision_model.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST, OTX 2.0

#3146 Add Anomaly OpenVINO model
  src/otx/algo/anomaly/openvino_model.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#3145 Update pytorch-lightning version requirement for XPU
  requirements/anomaly.txt
Labels: DEPENDENCY

#3139 Fix wrong ov datamodule update in predict, test, optimize
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3153 Add classification tutorial
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
Labels: DOC

#3161 XAI clean-up & XAI unit tests
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/core/model/entity/test_detection.py
  tests/unit/core/model/entity/test_inst_segmentation.py
Labels: TEST, OTX 2.0

#3158 Add unit-test for otx.engine.engine & otx.core.utils
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: TEST

#3159 Update dependabot configuration
  .github/dependabot.yaml
Labels: BUILD

#3157 Run perf benchmark on large-disk host
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

#3156 Add anomaly perf benchmark tests
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

#3167 Add unit tests for otx.core.data
  src/otx/core/data/pre_filtering.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST, OTX 2.0

#3165 Update visual prompting unit tests & documentations
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST, DOC, OTX 2.0

#3163 🐞 Add metrics to openvino model
  src/otx/algo/anomaly/openvino_model.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/assets/dummy.bin
  tests/unit/algo/anomaly/assets/dummy.xml
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST, OTX 2.0

#3173 Add PTQ and update docs for Action Classification
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/base.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: DOC, OTX 2.0

#3176 Add unit-test for algo/classification
  src/otx/algo/classification/backbones/otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
Labels: TEST, OTX 2.0

#3177 Add unit-test for algo/detection
  src/otx/algo/detection/losses/cross_focal_loss.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_cross_focal_loss.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST, OTX 2.0

#3175 Update docs for get_started part
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/base/explain.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/index.rst
  docs/source/index.rst
Labels: DOC

#3160 🧪 Add Anomaly unit tests
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/module/anomaly.py
  src/otx/core/model/module/anomaly/__init__.py
  tests/unit/algo/anomaly/test_otx_model.py
  tests/unit/data/__init__.py
  tests/unit/data/anomaly/__init__.py
  tests/unit/data/anomaly/test_anomaly_datamodule.py
Labels: TEST, OTX 2.0

#3169 Update trivy scanning to use actions
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

#3181 Update trivy scanning to use actions
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

#3178 Update action detection docs
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

#3183 Implement unit test for mmdeploy exporter
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: TEST, OTX 2.0

#3185 Update docs & README.md
  README.md
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/utils/images/car_tree_bug_gt_sample.png
  docs/utils/images/flowers.jpg
  docs/utils/images/product_design/reuse_model.png
  docs/utils/images/product_design/support_various_data_format.png
  docs/utils/images/product_design/task_data_model.png
  docs/utils/images/wgisd_pr2_sample.jpg
  docs/utils/images/wgisd_pr_sample.jpg
  for_developers/cli_guide.md
  for_developers/engine_api_example.ipynb
  for_developers/product_design.md
  for_developers/setup_guide.md
  for_developers/torchvision.ipynb
Labels: DOC

#3184 Implement unit test for mmdeploy exporter for develop branch
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: TEST, OTX 2.0

#3101 Change code using fixed subset name in HPO
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  tests/unit/hpo/test_hyperband.py
Labels: TEST, OTX 2.0

#3094 Enable training on XPU devices in OTX2.0
  docs/source/guide/get_started/installation.rst
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/__init__.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/cli/install.py
  src/otx/core/types/device.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
Labels: TEST, DOC, OTX 2.0

#3188 Add Tile Unittest
  src/otx/core/model/entity/detection.py
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: TEST, OTX 2.0

#3180 Refactor label info
  src/otx/__init__.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/module.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/dice.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/metrics/types.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/__init__.py
  src/otx/core/types/label.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/openvino_model.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  tests/integration/cli/test_cli.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/core/conftest.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/core/model/test_base.py
  tests/unit/core/types/__init__.py
  tests/unit/core/types/test_label.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3189 Change code using fixed subset name in HPO for release branch
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  tests/unit/hpo/test_hyperband.py
Labels: TEST, OTX 2.0

#3186 Modify detection docs and remove unused initial detectors
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: TEST, DOC, OTX 2.0

#3187 Fix F1 metric
  src/otx/cli/cli.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/engine/engine.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/regression/test_regression.py
  tests/unit/cli/test_cli.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/model/test_detection.py
  tests/utils.py
Labels: TEST, OTX 2.0

#3192 Remove internal publish workflow
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  requirements/publish.txt
Labels: DEPENDENCY, BUILD

#3203 Fix circular import issue #3202
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/instance_segmentation.py
Labels: OTX 2.0

#3193 Update visual prompting refactoring to develop
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST, OTX 2.0

#3206 Add unit-test for otx.algo.schedulers & otx.algo.action
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/schedulers/__init__.py
  tests/unit/algo/schedulers/test_warmup_schedulers.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: TEST

#3182 Add action intg test
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/cli/cli.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: TEST, OTX 2.0

#3207 Add use ellipse shapes to omz config
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: ALGO, TEST

#3205 Bump onnx version to 1.16.0
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, API

#3211 Add unit test for export
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/conftest.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

#3218 Add exporter/demo unit tests
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: TEST, OTX 2.0

#3212 Add unit test for export for develop branch
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/conftest.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

#3213 Set model label info first
  src/otx/engine/engine.py
Labels: OTX 2.0

#3223 Bump anomalib version to 1.0.1
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
Labels: DEPENDENCY, BUILD, OTX 2.0

#3225 Edit the docs that don't reflect the V2 changes
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

#3228 Change logger in otx.api to default logger
  src/otx/api/entities/dataset_item.py
  src/otx/api/entities/datasets.py
  src/otx/api/entities/label_schema.py
  src/otx/api/entities/metrics.py
  src/otx/api/usecases/evaluation/accuracy.py
  src/otx/api/usecases/evaluation/f_measure.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
Labels: API

#3232 Fix sporadic RTMDet Inst Head Unittest Failure
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

#3234 Update Instance Segmentation Docs on Releases branch
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

#3236 XAI docs update for OTX2.0
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/core/types/explain.py
Labels: DOC, OTX 2.0

#3222 Export and demo tutorial
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/index.rst
  docs/utils/images/wgisd_pr_sample.jpg
Labels: DOC, OTX 2.0

#3229 Fix tile CLI on releases/2.0.0
  src/otx/cli/cli.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/test_engine.py
Labels: TEST, OTX 2.0

#3231 Use anomaly datamodule in CLI
  src/otx/cli/cli.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tests/integration/conftest.py
Labels: TEST, OTX 2.0

#3226 Update invalid configuration work_dir in CLI
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  src/otx/cli/cli.py
Labels: DOC, OTX 2.0

#3238 Update docs
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  docs/utils/images/product_design/engine_diagram.png
  docs/utils/images/product_design/otx_workflow.png
Labels: DOC

#3220 Set CPU automatically when running OpenVINO IR model
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
  tests/unit/core/utils/test_cache.py
Labels: TEST, OTX 2.0

#3215 Bump onnx version to 1.16.0
  pyproject.toml
Labels: DEPENDENCY, BUILD

#3237 Update tpp file
  third-party-programs.txt
Labels: DOC

#3239 Update trivy scan for gen spdx.json file
  .ci/trivy-csv.yaml
  .ci/trivy-spdx-json.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

#3240 Update Engine docstring for autodoc build
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  src/otx/engine/engine.py
Labels: DOC, OTX 2.0

#3214 Mergeback 1.5.2 to 1.6.0
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/api/entities/shapes/polygon.py
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: DEPENDENCY, API, ALGO, TEST, DOC

#3230 Refactor XAI data entities
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/utils/xai_utils.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/entity/anomaly/detection.py
  src/otx/core/data/entity/anomaly/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/utils/tile_merge.py
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
Labels: TEST, OTX 2.0

#3235 Update HPO documentation
  docs/source/guide/explanation/additional_features/hpo.rst
  src/otx/core/config/hpo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: TEST, DOC, OTX 2.0
