Repository open-edge-platform/training_extensions, pull requests merged in 2024-09, with the labels that each got.

#3920 Fix Datamodule creation for OV in AutoConfigurator
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#3921 Update tpp file for 2.2.0
  third-party-programs.txt
Labels: DOC

#3924 Fix names for ignored scope [HOT-FIX, 2.2.0]
  src/otx/algo/segmentation/litehrnet.py
Labels: HOTFIX, OTX 2.0

#3922 Fix classification rt_info
  src/otx/core/model/classification.py
  src/otx/core/types/export.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/types/test_export.py
Labels: TEST, OTX 2.0

#3925 Update label info
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3928 Fix binary classification metric task
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
Labels: TEST, OTX 2.0

#3929 Improve MaskRCNN SwinT NNCF
  CHANGELOG.md
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: DOC, OTX 2.0

#3931 Fix get_item for Chained Tasks in Classification
  src/otx/core/data/dataset/classification.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_classification.py
Labels: TEST, OTX 2.0

#3932 Correct Keyerror for h-label cls in label_groups for dm_label_categories using label's id/key
  src/otx/core/types/label.py
Labels: OTX 2.0

#3926 Update NNCF Dataloader in Anomaly Task
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

#3933 Remove datumaro attribute id from tiling, add subset names
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

#3934 Fix soft predictions for Semantic Segmentation
  src/otx/core/model/segmentation.py
Labels: HOTFIX, OTX 2.0

#3935 Update STFPM config
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

#3940 Fix hpo converter
  src/otx/engine/hpo/hpo_api.py
  src/otx/tools/converter.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST, OTX 2.0

#3943 Fix tiling XAI out of range
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

#3910 Add anomaly task to OTX 2.3.0
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
  tox.ini
Labels: TEST, BUILD, OTX 2.0

#3917 Add YOLOv9
  CHANGELOG.md
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/losses/__init__.py
  src/otx/algo/common/losses/iou_loss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/detectors/__init__.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/common_layer.py
  src/otx/algo/detection/layers/elan_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/losses/yolox_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolov9.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/core/model/base.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/perf/test_detection.py
  tests/unit/algo/common/losses/test_iou_loss.py
  tests/unit/algo/detection/backbones/test_gelan.py
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/layers/test_common_layer.py
  tests/unit/algo/detection/layers/test_elan_layer.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/necks/test_yolo_neck.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/algo/visual_prompting/losses/test_sam_loss.py
Labels: TEST, DOC, OTX 2.0

#3945 Add integration tests for keypoint detection task
  .github/workflows/pre_merge.yaml
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: TEST, BUILD, OTX 2.0

#3952 enable model export
  src/otx/core/model/anomaly.py
  tests/integration/cli/test_cli.py
Labels: TEST, OTX 2.0

#3948 Support ImageFromBytes
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

#3946 Change categories mapping logic
  src/otx/core/data/pre_filtering.py
Labels: OTX 2.0

#3956 Update for 2.2.0rc1
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3962 Include Geti arrow dataset subset names
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

#3964 Include full image with anno in case there's no tile in tile dataset
  src/otx/core/data/dataset/tile.py
  tests/unit/core/utils/test_tile.py
Labels: TEST, OTX 2.0

#3969 Update for 2.2.0rc2
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3967 Upgrade OV, MAPI, and NNCF
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: DEPENDENCY, BUILD, OTX 2.0

#3954 Tiling Semantic Seg
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_b_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_s_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_t_tile.yaml
  tests/assets/tiling_small_objects/annotations/instances_test.json
  tests/assets/tiling_small_objects/annotations/instances_train.json
  tests/assets/tiling_small_objects/annotations/instances_val.json
  tests/assets/tiling_small_objects/images/test/4.jpg
  tests/assets/tiling_small_objects/images/test/5.jpg
  tests/assets/tiling_small_objects/images/train/0.jpg
  tests/assets/tiling_small_objects/images/train/1.jpg
  tests/assets/tiling_small_objects/images/train/3.jpg
  tests/assets/tiling_small_objects/images/train/7.jpg
  tests/assets/tiling_small_objects/images/train/8.jpg
  tests/assets/tiling_small_objects/images/train/9.jpg
  tests/assets/tiling_small_objects/images/val/2.jpg
  tests/assets/tiling_small_objects/images/val/6.jpg
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: TEST, OTX 2.0

#3972 Fix a wrong HPO log
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

#3975 Update for 2.2.0rc3
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#3970 Add OV model for keypoint detection
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/core/metrics/pck.py
  tests/unit/core/model/test_keypoint_detection.py
Labels: TEST, OTX 2.0

#3980 Add changelog for 2.3
  CHANGELOG.md
Labels: DOC

#3953 Improve YOLOv9 performance
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/yolov9.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/core/model/test_base.py
Labels: TEST, OTX 2.0

#3982 Fix tiling flaky test
  tests/unit/core/data/test_tiling.py
Labels: TEST

#3978 Move OV semantic segmentation tiler to use MAPI
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  tests/unit/core/data/test_tiling.py
Labels: DEPENDENCY, TEST, BUILD, OTX 2.0

#3976 Refactor to allow for a wider model in TIMM
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/timm_model.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/algo/classification/test_timm_model.py
Labels: TEST, OTX 2.0

#3985 Add mAP for multilabel classifciation
  CHANGELOG.md
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/mlc_map.py
  tests/unit/core/metrics/test_mlc_map.py
  tests/unit/core/metrics/test_pck.py
Labels: TEST, DOC, OTX 2.0

#3988 Simplify async OV inference
  src/otx/core/model/base.py
Labels: OTX 2.0
