Repository open-edge-platform/training_extensions, pull requests merged in 2024-12, with the labels that each got.

#4130 Refactor detection FMetric
  CHANGELOG.md
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/core/metrics/fmeasure.py
  tests/unit/core/metrics/test_fmeasure.py
Labels: TEST, DOC

#4137 Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

#4140 Fix tensor type compatibility in dynamic soft label assigner and RTMDet head
  CHANGELOG.md
  src/otx/algo/common/utils/assigners/dynamic_soft_label_assigner.py
  src/otx/algo/detection/heads/rtmdet_head.py
Labels: DOC, OTX 2.0

#4127 Update Label Info handling
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/export.py
  src/otx/core/types/label.py
  src/otx/tools/converter.py
  tests/conftest.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/detection/base_models/test_single_stage_detector.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/types/test_label.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, OTX 2.0

#4143 Ensure target class indices are of type long in loss calculations
  CHANGELOG.md
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
Labels: DOC, OTX 2.0

#4146 Update classification in converter
  src/otx/tools/converter.py
Labels: OTX 2.0

#4147 Prepare 2.2.1 release
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: DOC, OTX 2.0

#4153 Update codeowners
  .github/CODEOWNERS
Labels: BUILD

#4155 Update codeowners - releases/2.2.0
  .github/CODEOWNERS
Labels: BUILD

#4152 Support Ellipse Shape for InstSeg algo
  CHANGELOG.md
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/tile.py
Labels: DOC, OTX 2.0

#4154 BC improvement
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/model/base.py
  src/otx/core/types/export.py
  tests/unit/core/types/test_export.py
Labels: TEST, DOC, OTX 2.0

#4162 Minor updates
  CHANGELOG.md
  pyproject.toml
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/export.py
  tests/unit/core/types/test_export.py
Labels: DEPENDENCY, TEST, BUILD, DOC
