Repository open-edge-platform/training_extensions, pull requests merged in 2025-05, with the labels that each got.

#4371 ✨ Upgrade setup python action in pre-merge check
  .ci/requirements.in
  .ci/requirements.txt
  .github/workflows/code_scan.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/perf_benchmark_v2.yaml
  .github/workflows/pr_comment_trigger.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  docker/Dockerfile.cuda
  for_developers/regression_test/Dockerfile
Labels: BUILD, DOC

#4368 🔄 Sync develop with feature
  CHANGELOG.md
  README.md
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  pyproject.toml
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/modules/transformer.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/optimizer/callable.py
  tests/integration/cli/test_cli.py
  tests/perf_v2/benchmark.py
  tests/perf_v2/tasks/anomaly.py
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/semantic_segmentation.py
  tests/perf_v2/utils.py
  tests/unit/cli/test_cli.py
  tests/unit/core/data/test_transform_libs.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, DOC

#4373 Add a reference to MAPI
  README.md
Labels: DOC

#4285 Fix OTX Installation
  CHANGELOG.md
  README.md
  docs/source/guide/get_started/installation.rst
  pyproject.toml
  tox.ini
Labels: DEPENDENCY, BUILD, DOC

#4375 ✨ Upgrade Ubuntu version for documentation workflows to 24.04
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
Labels: BUILD

#4383 Update publish deps
  .github/workflows/publish.yaml
  pyproject.toml
Labels: DEPENDENCY, BUILD

#4381 Enhance benchmark and run scripts with job retry logic and failed job handling
  tests/perf_v2/benchmark.py
  tests/perf_v2/run.py
  tests/perf_v2/utils.py
Labels: TEST

#4392 Minor fix to torch.load()
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/engine/engine.py
Labels: DOC

#4393 Fix in pr_comment_trigger.yaml
  .github/workflows/pr_comment_trigger.yaml
Labels: BUILD

#4374 [feature-v3] Add OV Engine
  src/otx/algo/anomaly/openvino_model.py
  src/otx/backend/native/engine.py
  src/otx/backend/native/utils/auto_configurator.py
  src/otx/backend/openvino/__init__.py
  src/otx/backend/openvino/engine.py
  src/otx/backend/openvino/models/__init__.py
  src/otx/backend/openvino/models/base.py
  src/otx/backend/openvino/models/detection.py
  src/otx/backend/openvino/models/hlabel_classification.py
  src/otx/backend/openvino/models/instance_segmentation.py
  src/otx/backend/openvino/models/keypoint_detection.py
  src/otx/backend/openvino/models/multiclass_classification.py
  src/otx/backend/openvino/models/multilabel_classification.py
  src/otx/backend/openvino/models/segmentation.py
  src/otx/cli/cli.py
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/hlabel_classification.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/keypoint_detection.py
  src/otx/core/model/multiclass_classification.py
  src/otx/core/model/multilabel_classification.py
  src/otx/core/model/segmentation.py
  src/otx/engine/engine.py
  src/otx/recipe/classification/h_label_cls/openvino_model.yaml
  src/otx/recipe/classification/multi_class_cls/openvino_model.yaml
  src/otx/recipe/classification/multi_label_cls/openvino_model.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_geti_interaction.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/backend/__init__.py
  tests/unit/backend/openvino/__init__.py
  tests/unit/backend/openvino/models/__init__.py
  tests/unit/backend/openvino/models/test_base.py
  tests/unit/backend/openvino/test_engine.py
  tests/unit/cli/test_cli.py
  tests/unit/core/data/test_mem_cache.py
  tests/unit/core/model/test_base.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: TEST
