Repository open-edge-platform/training_extensions, pull requests merged in 2025-04, with the labels that each got.

#4298 Support linear classifier fine-tuning for classification models
  src/otx/algo/classification/multiclass_models/efficientnet.py
  src/otx/algo/classification/multiclass_models/mobilenet_v3.py
  src/otx/algo/classification/multiclass_models/timm_model.py
  src/otx/algo/classification/multiclass_models/torchvision_model.py
  src/otx/algo/classification/multiclass_models/vit.py
  src/otx/core/model/multiclass_classification.py
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/classification/test_timm_model.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST, GSoC

#4325 Update integration test commands to include run-category-only flag options
  .github/workflows/daily.yaml
  .github/workflows/pr_comment_trigger.yaml
  .github/workflows/pre_merge.yaml
  tests/conftest.py
  tox.ini
Labels: TEST, BUILD

#4329 Fix integration test commands run-category-only flag
  .github/workflows/daily.yaml
  .github/workflows/pr_comment_trigger.yaml
  .github/workflows/pre_merge.yaml
  tests/conftest.py
Labels: TEST, BUILD

#4321 updated repo with mobilenet_v4
  src/otx/recipe/classification/multi_class_cls/mobilenet_v4.yaml
Labels: GSoC

#4327 🧹 Refactor Instance Segmentation Entity
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/data/torch/torch.py
  src/otx/data/torch/validations.py
  tests/conftest.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_inst_head.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
  tests/unit/algo/instance_segmentation/test_roi_head.py
  tests/unit/algo/instance_segmentation/test_rtmdet_inst.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

#4328 🧹 Refactor Anomaly Entities
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/anomaly/__init__.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/entity/anomaly/detection.py
  src/otx/core/data/entity/anomaly/segmentation.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  tests/unit/core/data/conftest.py
Labels: TEST

#4335 Add a contribution guide
  CONTRIBUTING.md
Labels: DOC

#4334 Bump OV and NNCF to 2025.1
  CHANGELOG.md
  pyproject.toml
  src/otx/core/exporter/native.py
Labels: DEPENDENCY, BUILD, DOC

#4342 🧹 Refactor PR comment trigger workflow to improve repository checkout steps
  .github/workflows/pr_comment_trigger.yaml
Labels: BUILD

#4344 📝 Enhance PR comment trigger workflow to fetch PR info dynamically before checkout
  .github/workflows/pr_comment_trigger.yaml
Labels: BUILD

#4354 🧹 Update workflows and configuration to use 'uv' for package installation
  pyproject.toml
  tox.ini
Labels: DEPENDENCY, BUILD

#4352 Improve pytest command flags in CI workflow test env
  tox.ini
Labels: BUILD

#4349 Update benchmark datasets for classification and segmentation
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/semantic_segmentation.py
Labels: TEST

#4360 Update OTX 2.4.2 version
  CHANGELOG.md
  src/otx/__init__.py
Labels: DOC

#4348 Update Readme
  README.md
  docs/source/guide/get_started/introduction.rst
Labels: DOC

#4358 Enhance installation instructions for uv
  docs/source/guide/get_started/installation.rst
Labels: DOC

#4357 Update dependency
  pyproject.toml
Labels: DEPENDENCY, BUILD

#4339 🛠️ Engine Refactor | Native Engine
  README.md
  src/otx/backend/__init__.py
  src/otx/backend/native/__init__.py
  src/otx/backend/native/callbacks/__init__.py
  src/otx/backend/native/callbacks/batchsize_finder.py
  src/otx/backend/native/cli/__init__.py
  src/otx/backend/native/cli/utils.py
  src/otx/backend/native/engine.py
  src/otx/backend/native/utils/__init__.py
  src/otx/backend/native/utils/adaptive_bs/__init__.py
  src/otx/backend/native/utils/adaptive_bs/algorithm.py
  src/otx/backend/native/utils/adaptive_bs/runner.py
  src/otx/backend/native/utils/auto_configurator.py
  src/otx/cli/cli.py
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/__init__.py
  src/otx/engine/engine.py
  src/otx/engine/utils/__init__.py
  src/otx/recipe/classification/multi_class_cls/mobilenet_v4.yaml
  src/otx/tools/converter.py
  src/otx/types.py
  tests/integration/api/test_augmentation.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_geti_interaction.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/perf_v2/benchmark.py
  tests/unit/cli/test_cli.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST, DOC

#4356 🔄 Sync develop to feature
  .github/workflows/pre_merge.yaml
  pyproject.toml
  tox.ini
Labels: DEPENDENCY, BUILD

#4364 Fix missing mAP score reporting for instance segmentation.
  CHANGELOG.md
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/model/instance_segmentation.py
Labels: DOC

#4361 Bump torch to 2.7
  CHANGELOG.md
  README.md
  pyproject.toml
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/modules/transformer.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/optimizer/callable.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/test_cli.py
  tests/unit/core/data/test_transform_libs.py
Labels: DEPENDENCY, TEST, BUILD, DOC
