Repository open-edge-platform/training_extensions, pull requests merged in 2025-10, with the labels that each got.

#4808 Enable data collection by default
  application/backend/app/cli.py
Labels: Geti Tune Backend

#4782 Add BaseWeightsService
  application/backend/app/api/dependencies.py
  application/backend/app/schemas/model_architecture.py
  application/backend/app/services/base_weights_service.py
  application/backend/app/supported_models/__init__.py
  application/backend/app/supported_models/model_manifest.py
  application/backend/app/supported_models/supported_models.py
  application/backend/tests/unit/services/test_base_weights_service.py
  application/backend/tests/unit/supported_models/test_model_manifest.py
  application/backend/tests/unit/supported_models/test_supported_models.py
Labels: TEST, Geti Tune Backend

#4810 Add endpoint call to rename project
  application/ui/src/components/project-panel/projects-list.component.tsx
Labels: Geti Tune UI

#4734 fix(ci): use self-hosted runners for unit-tests
  .github/workflows/lib-lint-and-test.yaml
Labels: BUILD

#4784 Simplify the PR template
  .github/pull_request_template.md
Labels: BUILD, DOC

#4828 Add E2E tests infrastructure
  .github/workflows/ui-lint-and-test.yaml
  application/ui/eslint.config.js
  application/ui/package.json
  application/ui/playwright.config.ts
  application/ui/playwright.e2e.config.ts
  application/ui/src/components/project-panel/projects-list-panel.component.tsx
  application/ui/src/features/inference/toolbar/input-output-setup.component.tsx
  application/ui/src/features/inference/toolbar/toolbar.component.tsx
  application/ui/src/features/project/list/menu-actions.component.tsx
  application/ui/src/features/project/list/new-project-link.component.tsx
  application/ui/tests/e2e/main.spec.ts
  application/ui/tests/inference.spec.ts
  application/ui/tests/project.spec.ts
  application/ui/tsconfig.json
Labels: TEST, BUILD, Geti Tune UI, Draft

#4838 Update photo placeholder
  application/ui/src/components/project-panel/project-list-item/project-list-item.component.tsx
  application/ui/src/components/project-panel/projects-list-panel.component.tsx
Labels: Geti Tune UI

#4689 Add unified Hierarchical MetricCollection (torchmetrics) + unit tests
  library/docs/source/guide/tutorials/advanced/hier_metric_collection.rst
  library/docs/source/guide/tutorials/advanced/index.rst
  library/src/otx/metrics/hier_metric_collection.py
  library/tests/unit/metrics/test_hier_metric_collection.py
  library/tests/unit/metrics/test_hier_metric_collection_from_engine.py
Labels: TEST, DOC, GSoC

#4846 Fix for file upload
  application/backend/app/services/dataset_service.py
Labels: Geti Tune Backend

#4851 chore(ci): added code checkout step
  .github/workflows/security-scan.yaml
Labels: BUILD

#4766 Update setuptools
  lib/pyproject.toml
Labels: DEPENDENCY, BUILD

#4854 Custom zoom
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/components/tool-selection-bar/settings/settings.component.tsx
  application/ui/src/components/tool-selection-bar/zoom/zoom-fit-screen.component.tsx
  application/ui/src/components/tool-selection-bar/zoom/zoom-fit-screen.test.tsx
  application/ui/src/components/tool-selection-bar/zoom/zoom-selector.component.tsx
  application/ui/src/components/tool-selection-bar/zoom/zoom-selector.test.tsx
  application/ui/src/components/zoom/use-panning.hook.test.tsx
  application/ui/src/components/zoom/use-panning.hook.tsx
  application/ui/src/components/zoom/use-sync-zoom.hook.tsx
  application/ui/src/components/zoom/util.ts
  application/ui/src/components/zoom/zoom-transform.tsx
  application/ui/src/components/zoom/zoom.module.scss
  application/ui/src/components/zoom/zoom.provider.tsx
  application/ui/src/components/zoom/zoom.test.tsx
  application/ui/src/features/annotator/annotations/editable-annotation.component.tsx
  application/ui/src/features/annotator/annotator-canvas.tsx
  application/ui/src/features/annotator/tools/bounding-box-tool/bounding-box-tool.component.tsx
  application/ui/src/features/annotator/tools/segment-anything-tool/segment-anything-tool.component.tsx
  application/ui/src/features/dataset/gallery/gallery.component.tsx
  application/ui/src/features/dataset/media-preview/media-preview.component.tsx
  application/ui/src/index.css
Labels: Geti Tune UI
