Repository open-edge-platform/training_extensions, pull requests merged in 2025-07, with the labels that each got.

#4442 [Cherry-pick from release/2.5] Refactor benchmark script logic (#4435)
  .github/workflows/perf_benchmark.yaml
  src/otx/backend/native/callbacks/iteration_timer.py
  src/otx/backend/openvino/engine.py
  tests/perf/__init__.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.1.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.2.0/perf-benchmark-raw-all.csv
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_keypoint_detection.py
  tests/perf/test_semantic_segmentation.py
  tests/perf_v2/benchmark.py
  tests/perf_v2/summary.py
  tests/perf_v2/tasks/anomaly.py
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/detection.py
  tests/perf_v2/tasks/instance_segmentation.py
  tests/perf_v2/tasks/keypoint_detection.py
  tests/perf_v2/tasks/semantic_segmentation.py
  tests/unit/backend/native/callbacks/test_iteration_timer.py
Labels: TEST, BUILD

#4443 Fix label info dispatching
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  tests/unit/core/model/test_base.py
Labels: TEST

#4441 Provide workarounds for the XPU training
  docs/source/guide/get_started/installation.rst
  src/otx/__init__.py
  src/otx/backend/native/models/modules/conv_module.py
Labels: DOC

#4464 Provide XPU workarounds (release/2.5)
  docs/source/guide/get_started/installation.rst
  src/otx/__init__.py
  src/otx/backend/native/models/modules/conv_module.py
Labels: DOC

#4456 Introduce Classification Factory and Simplify Model Imports
  src/otx/backend/native/models/__init__.py
  src/otx/backend/native/models/classification/__init__.py
  src/otx/backend/native/models/classification/backbones/__init__.py
  src/otx/backend/native/models/classification/backbones/efficientnet.py
  src/otx/backend/native/models/classification/backbones/mobilenet_v3.py
  src/otx/backend/native/models/classification/backbones/vision_transformer.py
  src/otx/backend/native/models/classification/factory.py
  src/otx/backend/native/models/classification/hlabel_models/efficientnet.py
  src/otx/backend/native/models/classification/hlabel_models/mobilenet_v3.py
  src/otx/backend/native/models/classification/hlabel_models/vit.py
  src/otx/backend/native/models/classification/multiclass_models/efficientnet.py
  src/otx/backend/native/models/classification/multiclass_models/mobilenet_v3.py
  src/otx/backend/native/models/classification/multiclass_models/timm_model.py
  src/otx/backend/native/models/classification/multiclass_models/vit.py
  src/otx/backend/native/models/classification/multilabel_models/efficientnet.py
  src/otx/backend/native/models/classification/multilabel_models/mobilenet_v3.py
  src/otx/backend/native/models/classification/multilabel_models/timm_model.py
  src/otx/backend/native/models/classification/multilabel_models/vit.py
  src/otx/backend/native/models/instance_segmentation/base.py
  src/otx/backend/native/models/instance_segmentation/heads/bbox_head.py
  src/otx/backend/native/models/instance_segmentation/heads/fcn_mask_head.py
  src/otx/backend/native/models/instance_segmentation/heads/roi_head.py
  src/otx/backend/native/models/instance_segmentation/heads/roi_head_tv.py
  src/otx/backend/native/models/instance_segmentation/heads/rpn_head.py
  src/otx/backend/native/models/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/backend/native/models/segmentation/dino_v2_seg.py
  src/otx/backend/native/utils/instantiators.py
  src/otx/backend/native/utils/utils.py
  src/otx/backend/openvino/models/instance_segmentation.py
  src/otx/data/__init__.py
  src/otx/data/dataset/instance_segmentation.py
  src/otx/data/dataset/tile.py
  src/otx/data/module.py
  src/otx/data/samplers/balanced_sampler.py
  src/otx/data/samplers/class_incremental_sampler.py
  src/otx/data/transform_libs/torchvision.py
  src/otx/data/utils/__init__.py
  src/otx/data/utils/structures/bbox/__init__.py
  src/otx/data/utils/structures/bbox/transforms.py
  src/otx/data/utils/structures/mask/__init__.py
  src/otx/data/utils/structures/mask/mask_target.py
  src/otx/data/utils/structures/mask/mask_util.py
  src/otx/data/utils/utils.py
  src/otx/models/__init__.py
  tests/conftest.py
  tests/test_helpers.py
  tests/unit/backend/native/models/classification/backbones/test_vision_transformer.py
  tests/unit/backend/native/models/instance_segmentation/test_evaluation.py
  tests/unit/backend/native/utils/test_instantiators.py
  tests/unit/backend/native/utils/test_mask_utils.py
  tests/unit/backend/native/utils/test_utils.py
  tests/unit/data/samplers/test_balanced_sampler.py
  tests/unit/data/samplers/test_class_incremental_sampler.py
  tests/unit/data/utils/test_utils.py
Labels: API, TEST

#4466 Add DoRA support for ViT classification model.
  src/otx/backend/native/models/classification/backbones/vision_transformer.py
  src/otx/backend/native/models/classification/hlabel_models/vit.py
  src/otx/backend/native/models/classification/multiclass_models/vit.py
  src/otx/backend/native/models/classification/multilabel_models/vit.py
  src/otx/backend/native/models/classification/utils/peft.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  tests/unit/backend/native/models/classification/backbones/test_vision_transformer.py
  tests/unit/backend/native/models/classification/utils/test_attention_with_peft.py
Labels: TEST, GSoC

#4479 Update Python version requirements and workflows to support Python 3.11 and 3.12
  .github/workflows/code_scan.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark_v2.yaml
  .github/workflows/pr_comment_trigger.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  README.md
  docs/source/guide/get_started/installation.rst
  pyproject.toml
  src/otx/backend/native/exporter/exportable_code/demo/README.md
  tox.ini
Labels: DEPENDENCY, BUILD, DOC

#4482 Minor updates in docs
  CHANGELOG.md
  README.md
  docs/source/guide/get_started/installation.rst
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
Labels: DOC

#4493 (release/2.5) Remove duplicate explain() method and consolidate XAI functionality into predict()
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/backend/native/engine.py
  src/otx/backend/native/models/detection/base.py
  src/otx/backend/native/models/utils/xai_utils.py
  src/otx/backend/native/tools/explain/explain_algo.py
  src/otx/backend/openvino/engine.py
  src/otx/cli/cli.py
  src/otx/data/entity/base.py
  src/otx/data/entity/torch/validations.py
  src/otx/data/transform_libs/torchvision.py
  tests/unit/backend/native/test_engine.py
  tests/unit/backend/native/tools/explain/test_saliency_map_processing.py
Labels: TEST, DOC

#4486 Fix XPU training and optimization from Geti2.5
  pyproject.toml
  src/otx/backend/native/__init__.py
  src/otx/backend/native/models/detection/heads/atss_head.py
  src/otx/backend/native/models/detection/heads/rtmdet_head.py
  src/otx/backend/native/models/modules/__init__.py
  src/otx/backend/native/models/modules/conv_module.py
  src/otx/backend/native/tools/adaptive_bs/algorithm.py
  src/otx/backend/native/tools/adaptive_bs/runner.py
  src/otx/tools/converter.py
  src/otx/types/label.py
  tests/integration/api/test_xai.py
Labels: DEPENDENCY, TEST, BUILD

#4496 Fix overriding train parameters
  src/otx/backend/native/engine.py
  tests/unit/backend/native/test_engine.py
Labels: TEST
