Repository open-edge-platform/training_extensions, pull requests merged in 2025-01, with the labels that each got.

#4168 New Year PR
  .github/pull_request_template.md
Labels: BUILD

#4170 Add missing licenses
  pyproject.toml
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/losses/maskdino_loss.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/utils/pylogger.py
  src/otx/core/utils/utils.py
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/eval_fuzzing_crash.py
  tests/fuzzing/helper.py
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/instance_segmentation/test_evaluation.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/core/config/__init__.py
  tests/unit/core/data/dataset/test_base.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
  tests/unit/core/model/test_base.py
  tests/unit/core/utils/test_mask_utils.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/hpo/test_hpo_base.py
  tests/unit/hpo/test_resource_manager.py
  tests/unit/hpo/test_search_space.py
  tests/unit/utils/test_signal.py
  tests/unit/utils/test_utils.py
Labels: DEPENDENCY, TEST, BUILD

#4174 Disable data cache in unit tests
  src/otx/core/data/mem_cache.py
  tests/conftest.py
  tests/unit/conftest.py
Labels: TEST

#4173 Add h-cls label info normalization
  CHANGELOG.md
  src/otx/core/types/export.py
  src/otx/core/types/label.py
  tests/unit/core/types/test_label.py
Labels: TEST, DOC

#4177 Security scan pipeline update
  .ci/ipas_default.config
  .github/workflows/code_scan.yaml
  .github/workflows/codeql.yaml
  tox.ini
Labels: BUILD

#4142 OTX D-Fine Detection Algorithm Integration
  .github/workflows/pre_merge.yaml
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  pyproject.toml
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/detection/backbones/hgnetv2.py
  src/otx/algo/detection/d_fine.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/dfine_decoder.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/dfine_loss.py
  src/otx/algo/detection/necks/dfine_hybrid_encoder.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/dfine_x.yaml
  src/otx/recipe/detection/dfine_x_tile.yaml
  src/otx/tools/converter.py
  src/otx/tools/templates/detection/detection/dfine_x/template.yaml
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/detection/test_dfine.py
  tests/unit/core/data/test_tiling.py
  tox.ini
Labels: DEPENDENCY, TEST, BUILD, DOC

#4179 Bump download-artifact
  .github/workflows/perf_benchmark.yaml
  .github/workflows/publish.yaml
Labels: BUILD

#4180 Update keypoint metric name in benchmark
  tests/perf/test_keypoint_detection.py
Labels: TEST

#4184 DETR XAI
  CHANGELOG.md
  docs/source/guide/tutorials/base/explain.rst
  src/otx/algo/detection/d_fine.py
  src/otx/algo/detection/detectors/detection_transformer.py
  src/otx/algo/detection/heads/dfine_decoder.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/rtdetr.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: TEST, DOC

#4191 Fix KP Export (single obj case)
  src/otx/recipe/keypoint_detection/openvino_model.yaml
Labels: DOC

#4193 [OTX 1.6] Delete OV telemetry from requirements
  requirements/openvino.txt
Labels: DEPENDENCY
