Repository open-edge-platform/training_extensions, pull requests merged in 2025-06, with the labels that each got.

#4407 Add model arch name to exported model metadata
  CHANGELOG.md
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/types/export.py
  tests/unit/core/types/test_export.py
  tests/unit/core/utils/test_utils.py
Labels: TEST, DOC

#4400 Refactor benchmark logic
  tests/perf_v2/benchmark.py
  tests/perf_v2/run.py
  tests/perf_v2/summary.py
  tests/perf_v2/tasks/semantic_segmentation.py
Labels: TEST

#4412 [feature-v3] Remove T_* data entities
  src/otx/backend/native/models/base.py
  src/otx/backend/native/models/classification/multiclass_models/vit.py
  src/otx/backend/native/models/detection/base.py
  src/otx/backend/native/models/instance_segmentation/maskrcnn.py
  src/otx/backend/native/tools/tile_merge.py
  src/otx/backend/openvino/models/base.py
  src/otx/data/dataset/base.py
  src/otx/data/dataset/tile.py
  src/otx/data/entity/__init__.py
  src/otx/data/entity/base.py
  src/otx/data/entity/tile.py
  src/otx/data/entity/utils.py
  src/otx/data/transform_libs/torchvision.py
  src/otx/types/types.py
  tests/integration/api/test_xai.py
  tests/unit/data/conftest.py
  tests/unit/data/entity/conftest.py
  tests/unit/data/entity/test_base.py
  tests/unit/data/entity/test_utils.py
Labels: TEST

#4424 Ignore torchmetrics in dependabot config
  .github/dependabot.yaml
Labels: BUILD

#4432 Merge develop to release/2.5
  src/otx/backend/native/engine.py
  src/otx/backend/native/exporter/exportable_code/demo/requirements.txt
  src/otx/tools/templates/anomaly/detection/padim/configuration.yaml
  src/otx/tools/templates/anomaly/detection/padim/template.yaml
  src/otx/tools/templates/anomaly/detection/stfpm/configuration.yaml
  src/otx/tools/templates/anomaly/detection/stfpm/template.yaml
  src/otx/tools/templates/anomaly/padim/configuration.yaml
  src/otx/tools/templates/anomaly/padim/template.yaml
  src/otx/tools/templates/anomaly/segmentation/padim/configuration.yaml
  src/otx/tools/templates/anomaly/segmentation/padim/template.yaml
  src/otx/tools/templates/anomaly/segmentation/stfpm/configuration.yaml
  src/otx/tools/templates/anomaly/segmentation/stfpm/template.yaml
  src/otx/tools/templates/anomaly/stfpm/configuration.yaml
  src/otx/tools/templates/anomaly/stfpm/template.yaml
  src/otx/tools/templates/anomaly/uflow/configuration.yaml
  src/otx/tools/templates/anomaly/uflow/template.yaml
  tests/perf_v2/benchmark.py
Labels: TEST

#4433 Fix loading/saving checkpoints in OTX
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/utils.py
  src/otx/engine/engine.py
  tests/assets/test_snapshots/dummy_checkpoint_cls_2.2.0.ckpt
  tests/assets/test_snapshots/dummy_checkpoint_det_2.2.0.ckpt
  tests/assets/test_snapshots/dummy_checkpoint_det_2.4.5.ckpt
  tests/assets/test_snapshots/dummy_checkpoint_is_2.2.0.ckpt
  tests/integration/cli/test_cli.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/core/model/test_base.py
  tests/unit/engine/test_engine.py
Labels: TEST
