Repository open-edge-platform/training_extensions, pull requests merged in 2025-09, with the labels that each got.

#4635 Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

#4628 Cleanup & improve create-project page
  ui/src/features/project/label-selection.component.tsx
  ui/src/features/project/model-selection-group.component.test.tsx
  ui/src/features/project/model-selection-group.component.tsx
  ui/src/features/project/project-name.tsx
  ui/src/routes/project/create-project.tsx
Labels: Geti Tune UI

#4634 Add missing zoom provider
  ui/src/router.tsx
Labels: Geti Tune UI

#4636 GHA hardening and bugfixes
  .ci/csv.tmpl
  .ci/trivy-json.yaml
  .ci/trivy.yaml
  .github/workflows/bandit.yaml
  .github/workflows/code_scan.yaml
  .github/workflows/codeql.yaml
  .github/workflows/daily.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/labeler.yaml
  .github/workflows/perf_benchmark_v2.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/zizmor.yaml
Labels: BUILD

#4633 Enable mypy pre-commit hook for geti-tune backend
  .pre-commit-config.yaml
  backend/app/db/migration.py
  backend/app/utils/visualization.py
Labels: BUILD

#4631 Create unified Docker image
  .dockerignore
  .github/workflows/build.yaml
  backend/app/main.py
  docker/Dockerfile
  docker/Dockerfile.backend
  docker/Dockerfile.ui
  docker/docker-compose.dev.yaml
  docker/docker-compose.yaml
  docker/nginx.conf
  ui/.dockerignore
Labels: BUILD

#4632 chore: Enable React 19
  ui/package-lock.json
  ui/package.json
  ui/src/components/annotation/annotation.component.tsx
  ui/src/components/bounding-box-tool/anchor.component.tsx
  ui/src/components/bounding-box-tool/bounding-box-tool.component.tsx
  ui/src/components/bounding-box-tool/resize-anchor.component.tsx
  ui/src/components/bounding-box-tool/translate-shape.component.tsx
  ui/src/components/shapes/rectangle.component.tsx
  ui/src/components/zoom/use-container-size.ts
  ui/src/features/inference/stream/web-rtc-connection-provider.tsx
  ui/src/routes/error-page/error-page.tsx
  ui/src/routes/project/sink.tsx
Labels: Geti Tune UI

#4638 Add React Compiler to Geti Tune
  ui/package-lock.json
  ui/package.json
  ui/rsbuild.config.ts
  ui/src/components/bounding-box-tool/bounding-box-tool.component.tsx
Labels: Geti Tune UI

#4640 Prep before moving SAM tool
  ui/package-lock.json
  ui/src/assets/icons/pencil-plus.svg
  ui/src/assets/icons/selection.svg
  ui/src/assets/intel-loading.webp
  ui/src/components/annotation/shape-factory.component.tsx
  ui/src/components/shapes/interfaces.ts
  ui/src/features/annotator/annotation-shape.test.tsx
  ui/src/features/annotator/annotation-shape.tsx
  ui/src/features/annotator/annotation.component.tsx
  ui/src/features/annotator/shapes/polygon.component.tsx
  ui/src/features/annotator/shapes/rectangle.component.tsx
  ui/src/features/annotator/tools/bounding-box-tool/anchor.component.tsx
  ui/src/features/annotator/tools/bounding-box-tool/bounding-box-tool.component.tsx
  ui/src/features/annotator/tools/bounding-box-tool/bounding-box-tool.module.scss
  ui/src/features/annotator/tools/bounding-box-tool/resize-anchor.component.tsx
  ui/src/features/annotator/tools/bounding-box-tool/translate-shape.component.tsx
  ui/src/features/annotator/tools/bounding-box-tool/utils.ts
  ui/src/features/annotator/types.ts
  ui/src/features/annotator/utils.ts
  ui/src/features/dataset/mock-response.ts
  ui/tests/test-utils/mocked-annotation.ts
Labels: Geti Tune UI

#4646 Add UI team to ui CODEOWNERS
  .github/CODEOWNERS
Labels: Geti Tune UI

#4651 4545: Create skeleton of dataset endpoints
  backend/app/api/dependencies.py
  backend/app/api/endpoints/datasets.py
  backend/app/main.py
  backend/app/schemas/__init__.py
  backend/app/schemas/base.py
  backend/app/schemas/dataset_item.py
  backend/app/services/__init__.py
  backend/app/services/base.py
  backend/app/services/dataset_service.py
  backend/tests/unit/endpoints/test_datasets.py
Labels: TEST, Geti Tune Backend

#4668 simplify workers shutdown
  backend/app/core/scheduler.py
  backend/app/utils/__init__.py
  backend/app/utils/diagnostics.py
  backend/app/utils/queue.py
  backend/app/workers/inference.py
  backend/app/workers/stream_loading.py
  backend/tests/unit/workers/test_stream_loading.py
Labels: TEST, Geti Tune Backend

#4663 4552: Create table and repo for dataset items and annotations
  backend/app/alembic/versions/da82c783f0ed_schema.py
  backend/app/cli.py
  backend/app/db/schema.py
  backend/app/repositories/dataset_item_repo.py
  backend/app/services/mappers/__init__.py
  backend/app/services/mappers/dataset_item_mapper.py
  backend/tests/integration/alembic/test_initial_schema_migration.py
  backend/tests/unit/services/mappers/test_dataset_item_mapper.py
  docker/Dockerfile
Labels: TEST, Geti Tune Backend

#4700 Revert "gha: Skip non-relevant checks on pr or merge_group"
  .github/workflows/build.yaml
  .github/workflows/pr-security-scan.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/server.yaml
  .github/workflows/ui.yaml
Labels: BUILD

#4707 Update tune routes
  ui/src/features/project/create-project-form.tsx
  ui/src/hooks/use-project-identifier.hook.ts
  ui/src/layout.tsx
  ui/src/router.tsx
  ui/src/routes/project/sink.tsx
  ui/tests/data-collection.spec.ts
  ui/tests/main.spec.ts
Labels: TEST, Geti Tune UI

#4701 Add simple checks for built docker image
  .github/workflows/build.yaml
  docker/Dockerfile
Labels: BUILD

#4728 [GHA] Add concurrency to PR workflows
  .github/workflows/backend-lint-and-test.yaml
  .github/workflows/build.yaml
  .github/workflows/codeql.yaml
  .github/workflows/lib-lint-and-test.yaml
  .github/workflows/pr-security-scan.yaml
  .github/workflows/ui-lint-and-test.yaml
Labels: BUILD

#4648 Monitor model throughput
  backend/app/api/endpoints/pipelines.py
  backend/app/schemas/metrics.py
  backend/app/services/metrics_service.py
  backend/app/services/pipeline_service.py
  backend/tests/unit/endpoints/test_pipelines.py
  backend/tests/unit/services/test_metrics_service.py
  backend/tests/unit/services/test_pipeline_service.py
Labels: TEST, Geti Tune Backend

#4714 Custom location for data folder
  backend/app/api/dependencies.py
  backend/app/cli.py
  backend/app/core/lifecycle.py
  backend/app/db/__init__.py
  backend/app/db/migration.py
  backend/app/services/dataset_service.py
  backend/app/services/model_service.py
  backend/app/settings.py
  backend/app/workers/inference.py
  backend/tests/integration/services/test_dataset_service.py
  backend/tests/integration/services/test_model_service.py
Labels: TEST, Geti Tune Backend

#4732 Fix lockfile
  ui/package-lock.json
  ui/package.json
Labels: Geti Tune UI

#4736 Delete dataset item binary content while deleting it
  backend/app/services/dataset_service.py
  backend/tests/integration/services/test_dataset_service.py
Labels: TEST, Geti Tune Backend

#4725 4699 - render dataset items from api - P1
  ui/src/features/annotator/annotator-canvas.tsx
  ui/src/features/annotator/annotator-provider.component.tsx
  ui/src/features/annotator/types.ts
  ui/src/features/dataset/gallery/gallery.component.tsx
  ui/src/features/dataset/gallery/media-thumbnail.component.tsx
  ui/src/features/dataset/gallery/use-get-dataset-items.hook.ts
  ui/src/features/dataset/gallery/utils.ts
  ui/src/features/dataset/media-preview/media-preview.component.tsx
  ui/src/features/dataset/toolbar/toolbar.component.tsx
  ui/src/routes/dataset/dataset.component.tsx
  ui/tests/assets/candy-thumbnail.png
  ui/tests/assets/candy.png
  ui/tests/data-collection.spec.ts
  ui/tests/fixtures.ts
  ui/tests/test-utils/mocks.ts
Labels: TEST, Geti Tune UI

#4739 Commit DB changes after dataset item deletion
  backend/app/services/dataset_service.py
Labels: Geti Tune Backend

#4724 Implement the annotation endpoints
  backend/app/api/endpoints/datasets.py
  backend/app/cli.py
  backend/app/db/schema.py
  backend/app/repositories/dataset_item_repo.py
  backend/app/schemas/dataset_item.py
  backend/app/schemas/label.py
  backend/app/schemas/project.py
  backend/app/schemas/shape.py
  backend/app/services/base.py
  backend/app/services/dataset_service.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/test_dataset_service.py
  backend/tests/integration/services/test_pipeline_service.py
  backend/tests/integration/services/test_project_service.py
  backend/tests/unit/endpoints/test_datasets.py
  backend/tests/unit/endpoints/test_projects.py
  backend/tests/unit/services/mappers/test_project_mapper.py
  backend/tests/unit/services/test_dataset_service.py
Labels: TEST, Geti Tune Backend

#4737 Extend pipeline endpoints to reconfigure data collection config
  backend/app/api/endpoints/pipelines.py
  backend/app/schemas/__init__.py
  backend/app/schemas/pipeline.py
  backend/app/services/mappers/pipeline_mapper.py
  backend/tests/integration/services/test_pipeline_service.py
  backend/tests/unit/endpoints/test_pipelines.py
  backend/tests/unit/services/mappers/test_pipeline_mapper.py
Labels: TEST, Geti Tune Backend

#4740 4699 - dataset api - p2
  ui/src/features/dataset/gallery/delete-media-item/alert-dialog-content.component.tsx
  ui/src/features/dataset/gallery/delete-media-item/delete-media-item.component.test.tsx
  ui/src/features/dataset/gallery/delete-media-item/delete-media-item.component.tsx
  ui/src/features/dataset/gallery/delete-media-item/delete-media-item.module.scss
  ui/src/features/dataset/gallery/gallery.component.tsx
  ui/src/features/dataset/gallery/media-item.component.tsx
  ui/src/features/dataset/gallery/media-item.module.scss
  ui/src/hooks/event-listener/event-listener.hook.ts
  ui/src/providers.tsx
  ui/src/routes/dataset/dataset.component.tsx
Labels: Geti Tune UI

#4717 Model manifests and parser
  backend/app/supported_models/__init__.py
  backend/app/supported_models/default_models.py
  backend/app/supported_models/hyperparameters/__init__.py
  backend/app/supported_models/hyperparameters/augmentation.py
  backend/app/supported_models/hyperparameters/base_model_no_extra.py
  backend/app/supported_models/hyperparameters/hyperparameters.py
  backend/app/supported_models/hyperparameters/utils.py
  backend/app/supported_models/manifests/base.yaml
  backend/app/supported_models/manifests/classification/base.yaml
  backend/app/supported_models/manifests/classification/deit_tiny.yaml
  backend/app/supported_models/manifests/classification/efficientnet_b0.yaml
  backend/app/supported_models/manifests/classification/efficientnet_b3.yaml
  backend/app/supported_models/manifests/classification/efficientnet_v2_l.yaml
  backend/app/supported_models/manifests/classification/efficientnet_v2_s.yaml
  backend/app/supported_models/manifests/classification/mobilenet_v3_large.yaml
  backend/app/supported_models/manifests/classification/mobilenet_v3_small.yaml
  backend/app/supported_models/manifests/detection/atss_mobilenetv2.yaml
  backend/app/supported_models/manifests/detection/atss_resnext101.yaml
  backend/app/supported_models/manifests/detection/base.yaml
  backend/app/supported_models/manifests/detection/deim_l.yaml
  backend/app/supported_models/manifests/detection/deim_m.yaml
  backend/app/supported_models/manifests/detection/deim_x.yaml
  backend/app/supported_models/manifests/detection/dfine_x.yaml
  backend/app/supported_models/manifests/detection/rtdetr_101.yaml
  backend/app/supported_models/manifests/detection/rtdetr_18.yaml
  backend/app/supported_models/manifests/detection/rtdetr_50.yaml
  backend/app/supported_models/manifests/detection/rtmdet_tiny.yaml
  backend/app/supported_models/manifests/detection/ssd_mobilenetv2.yaml
  backend/app/supported_models/manifests/detection/yolox_l.yaml
  backend/app/supported_models/manifests/detection/yolox_s.yaml
  backend/app/supported_models/manifests/detection/yolox_t.yaml
  backend/app/supported_models/manifests/detection/yolox_x.yaml
  backend/app/supported_models/manifests/instance_segmentation/base.yaml
  backend/app/supported_models/manifests/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  backend/app/supported_models/manifests/instance_segmentation/maskrcnn_r50_v1.yaml
  backend/app/supported_models/manifests/instance_segmentation/maskrcnn_r50_v2.yaml
  backend/app/supported_models/manifests/instance_segmentation/maskrcnn_swin_t.yaml
  backend/app/supported_models/manifests/instance_segmentation/rtmdet_tiny.yaml
  backend/app/supported_models/model_manifest.py
  backend/app/supported_models/parser.py
  backend/app/supported_models/supported_models.py
  backend/pyproject.toml
  backend/tests/unit/supported_models/dummy_base_model_manifest.yaml
  backend/tests/unit/supported_models/dummy_model_manifest.yaml
  backend/tests/unit/supported_models/test_model_manifest.py
  backend/tests/unit/supported_models/test_supported_models.py
  backend/uv.lock
Labels: DEPENDENCY, TEST, BUILD, Geti Tune Backend

#4750 Add upload media button
  ui/package-lock.json
  ui/src/components/add-media-button/add-media-button.component.tsx
  ui/src/features/dataset/toolbar/toolbar.component.tsx
Labels: Geti Tune UI

#4753 Update edit page
  ui/src/components/project-panel/project-list-item/project-list-item.component.tsx
  ui/src/features/project/details/project-details.component.test.tsx
  ui/src/features/project/details/project-details.component.tsx
  ui/src/features/project/list/menu-actions.component.tsx
  ui/src/router.tsx
  ui/src/routes/project/view-project.tsx
Labels: Geti Tune UI

#4760 Annotator & tool fixes
  ui/src/features/annotator/annotations/annotation.component.tsx
  ui/src/features/annotator/annotations/annotations.component.tsx
  ui/src/features/annotator/annotator-canvas.tsx
  ui/src/features/annotator/tools/drawing-box-tool/crosshair/crosshair-line.component.tsx
  ui/src/features/annotator/tools/drawing-box-tool/drawing-box.component.tsx
  ui/src/features/annotator/tools/edit-bounding-box/translate-shape.component.tsx
  ui/src/features/annotator/tools/svg-tool-canvas.component.tsx
  ui/src/features/annotator/utils.ts
Labels: Geti Tune UI

#4752 4708 - Input source
  ui/src/assets/icons/folder.svg
  ui/src/features/inference/source/disclosure-group.component.tsx
  ui/src/features/inference/source/disclosure-group.module.scss
  ui/src/features/inference/source/image-folder/image-folder.component.tsx
  ui/src/features/inference/source/image-folder/image-folder.module.scss
  ui/src/features/inference/source/ip-camera/ip-camera.component.tsx
  ui/src/features/inference/source/ip-camera/utils.test.ts
  ui/src/features/inference/source/ip-camera/utils.ts
  ui/src/features/inference/source/source-modal.tsx
  ui/src/features/inference/source/source.tsx
  ui/src/features/inference/source/webcam/webcam.component.tsx
Labels: Geti Tune UI

#4747 Added project thumbnail endpoint
  backend/app/alembic/versions/da385d690aae_schema.py
  backend/app/api/dependencies.py
  backend/app/api/endpoints/projects.py
  backend/app/repositories/dataset_item_repo.py
  backend/app/services/mappers/project_mapper.py
  backend/app/services/project_service.py
  backend/tests/integration/alembic/test_initial_schema_migration.py
  backend/tests/integration/services/test_dataset_service.py
  backend/tests/integration/services/test_project_service.py
  backend/tests/unit/endpoints/test_projects.py
Labels: TEST, Geti Tune Backend

#4768 Add "delete" functionality
  application/ui/src/features/annotator/annotations/annotations.component.tsx
  application/ui/src/features/annotator/annotations/selectable-annotation.component.tsx
  application/ui/src/features/annotator/annotator-provider.component.tsx
  application/ui/src/features/annotator/tools/drawing-box-tool/drawing-box.component.tsx
Labels: Geti Tune UI

#4785 Implement Image-folder source Api config
  application/ui/src/features/inference/input-output-setup.component.tsx
  application/ui/src/features/inference/sinks/sink-options.tsx
  application/ui/src/features/inference/sources/disclosure-group.component.tsx
  application/ui/src/features/inference/sources/image-folder/image-folder.component.test.tsx
  application/ui/src/features/inference/sources/image-folder/image-folder.component.tsx
  application/ui/src/features/inference/sources/image-folder/use-action-image-folder.hook.tsx
  application/ui/src/features/inference/sources/image-folder/use-action-image-folder.test.tsx
  application/ui/src/features/inference/sources/ip-camera/ip-camera.component.tsx
  application/ui/src/features/inference/sources/source-options.tsx
  application/ui/src/features/inference/sources/util.ts
  application/ui/src/features/inference/toolbar.component.tsx
  application/ui/src/test-utils/render.tsx
Labels: Geti Tune UI

#4775 Implement fixed rate data collection policy
  application/backend/app/api/dependencies.py
  application/backend/app/api/endpoints/datasets.py
  application/backend/app/cli.py
  application/backend/app/schemas/dataset_item.py
  application/backend/app/schemas/shape.py
  application/backend/app/services/active_pipeline_service.py
  application/backend/app/services/data_collect/__init__.py
  application/backend/app/services/data_collect/data_collector.py
  application/backend/app/services/data_collect/prediction_converter.py
  application/backend/app/services/dataset_service.py
  application/backend/app/services/pipeline_service.py
  application/backend/app/workers/dispatching.py
  application/backend/tests/integration/services/test_dataset_service.py
  application/backend/tests/integration/services/test_pipeline_service.py
  application/backend/tests/unit/endpoints/test_datasets.py
  application/backend/tests/unit/services/data_collect/test_data_collector.py
  application/backend/tests/unit/services/data_collect/test_prediction_converter.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: TEST, Geti Tune Backend

#4800 Fix background color in projects list
  application/ui/src/features/project/list/project-list.component.tsx
Labels: Geti Tune UI

#4802 Add pipeline switch
  application/ui/src/features/inference/pipeline-toggle.component.tsx
  application/ui/src/features/inference/toolbar.component.tsx
  application/ui/src/features/project/list/menu-actions.component.tsx
  application/ui/tests/project.spec.ts
Labels: TEST, Geti Tune UI
