Repository open-edge-platform/training_extensions, pull requests merged in 2025-08, with the labels that each got.

#4472 Add support for transforming masks and polygons in RandomAffine
  src/otx/data/transform_libs/torchvision.py
  src/otx/data/transform_libs/utils.py
  tests/unit/data/transform_libs/test_torchvision.py
Labels: TEST

#4498 Fix confidence threshold cache invalidation and filtering logic
  src/otx/backend/native/models/detection/base.py
  src/otx/backend/native/models/instance_segmentation/base.py
  src/otx/backend/native/utils/utils.py
  tests/unit/metrics/test_detection_threshold_logic.py
Labels: TEST

#4508 Fix gaussian noise augmentation and add random gaussian blur
  src/otx/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/detection/dfine_x.yaml
  src/otx/recipe/detection/dfine_x_tile.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/tools/converter.py
  tests/unit/data/transform_libs/test_torchvision.py
  tests/unit/tools/test_converter.py
Labels: TEST

#4509 Enable PEFT support for h-label & multi-label classification
  src/otx/backend/native/models/classification/hlabel_models/base.py
  src/otx/backend/native/models/classification/hlabel_models/efficientnet.py
  src/otx/backend/native/models/classification/hlabel_models/mobilenet_v3.py
  src/otx/backend/native/models/classification/hlabel_models/timm_model.py
  src/otx/backend/native/models/classification/hlabel_models/torchvision_model.py
  src/otx/backend/native/models/classification/hlabel_models/vit.py
  src/otx/backend/native/models/classification/multilabel_models/base.py
  src/otx/backend/native/models/classification/multilabel_models/efficientnet.py
  src/otx/backend/native/models/classification/multilabel_models/mobilenet_v3.py
  src/otx/backend/native/models/classification/multilabel_models/timm_model.py
  src/otx/backend/native/models/classification/multilabel_models/torchvision_model.py
  src/otx/backend/native/models/classification/multilabel_models/vit.py
  src/otx/recipe/classification/h_label_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_label_cls/dino_v2.yaml
  tests/unit/backend/native/models/classification/test_deit_tiny.py
  tests/unit/backend/native/models/classification/test_efficientnet.py
  tests/unit/backend/native/models/classification/test_mobilenet_v3.py
  tests/unit/backend/native/models/classification/test_timm_model.py
  tests/unit/backend/native/models/classification/test_torchvision_model.py
Labels: TEST, GSoC

#4580 Add DEIM manifests + Upgrade torch
  pyproject.toml
  src/otx/tools/converter.py
Labels: DEPENDENCY, BUILD

#4583 Add npm script to update api spec
  ui/package.json
Labels: Geti Tune UI

#4585 Disable WebRTC temporarily
  ui/package-lock.json
  ui/src/routes/pipeline/edit-pipeline-layout.tsx
  ui/src/routes/pipeline/model.tsx
  ui/src/routes/pipeline/sink.tsx
  ui/src/routes/pipeline/source.tsx
Labels: Geti Tune UI

#4592 More cleanup
  ui/eslint.config.js
  ui/src/components/wizard-steps/interfaces.ts
  ui/src/components/wizard-steps/wizard-steps.module.scss
  ui/src/components/wizard-steps/wizard-steps.test.tsx
  ui/src/components/wizard-steps/wizard-steps.tsx
  ui/src/components/wizard-tabs/interfaces.ts
  ui/src/components/wizard-tabs/wizard-tabs.module.scss
  ui/src/components/wizard-tabs/wizard-tabs.tsx
  ui/src/components/zoom/zoom.tsx
  ui/src/features/data-collection/data-collection.component.tsx
  ui/src/features/dataset/checkbox-input.module.scss
  ui/src/features/dataset/checkbox-input.tsx
  ui/src/features/dataset/gallery/annotation-state-icon.component.tsx
  ui/src/features/dataset/gallery/annotation-state-icon.module.scss
  ui/src/features/dataset/gallery/gallery.component.tsx
  ui/src/features/dataset/gallery/gallery.module.scss
  ui/src/features/dataset/gallery/media-item.component.tsx
  ui/src/features/dataset/gallery/media-item.module.scss
  ui/src/features/dataset/gallery/utils.ts
  ui/src/features/dataset/mock-response.ts
  ui/src/features/dataset/toolbar/toolbar.component.tsx
  ui/src/features/dataset/toolbar/util.test.ts
  ui/src/features/dataset/toolbar/util.ts
  ui/src/features/inference/debug-trigger.tsx
  ui/src/features/inference/stream-container.tsx
  ui/src/features/inference/stream/web-rtc-connection-provider.tsx
  ui/src/features/inference/toolbar.tsx
  ui/src/router.tsx
  ui/src/routes/dataset/dataset.component.tsx
  ui/src/routes/pipeline/edit-pipeline-layout.tsx
  ui/src/routes/pipeline/model.tsx
  ui/src/routes/pipeline/sink.tsx
  ui/src/routes/pipeline/source.tsx
Labels: Geti Tune UI

#4593 Add edit bounding box tool & friends
  ui/eslint.config.js
  ui/src/components/annotation/annotation.component.tsx
  ui/src/components/annotation/shape-factory.component.tsx
  ui/src/components/bounding-box-tool/anchor.component.tsx
  ui/src/components/bounding-box-tool/bounding-box-tool.component.tsx
  ui/src/components/bounding-box-tool/bounding-box-tool.module.scss
  ui/src/components/bounding-box-tool/resize-anchor.component.tsx
  ui/src/components/bounding-box-tool/translate-shape.component.tsx
  ui/src/components/bounding-box-tool/utils.ts
  ui/src/components/shapes/interfaces.ts
  ui/src/components/shapes/polygon.component.tsx
  ui/src/components/shapes/rectangle.component.tsx
Labels: Geti Tune UI

#4604 Add models and labels routes
  ui/src/layout.tsx
  ui/src/router.tsx
  ui/src/routes/labels/labels.tsx
  ui/src/routes/models/models.tsx
Labels: Geti Tune UI

#4596 Add documentation for PEFT (LoRA & DoRA)
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/peft.rst
Labels: DOC, GSoC

#4609 Fix pre_merge action
  .ci/docker/Dockerfile
  .github/workflows/pre_merge.yaml
Labels: BUILD
