Repository open-edge-platform/training_extensions, pull requests merged in 2025-02, with the labels that each got.

#4188 Test Geti integration
  tests/assets/geti_config_arrow/classification/h_label_cls/config.json
  tests/assets/geti_config_arrow/classification/h_label_cls/datum-0-of-1.arrow
  tests/assets/geti_config_arrow/classification/h_label_cls/image.jpg
  tests/assets/geti_config_arrow/classification/multi_class_cls/config.json
  tests/assets/geti_config_arrow/classification/multi_class_cls/datum-0-of-1.arrow
  tests/assets/geti_config_arrow/classification/multi_class_cls/image.jpg
  tests/assets/geti_config_arrow/classification/multi_label_cls/config.json
  tests/assets/geti_config_arrow/classification/multi_label_cls/datum-0-of-1.arrow
  tests/assets/geti_config_arrow/classification/multi_label_cls/image.jpg
  tests/integration/api/test_geti_interaction.py
Labels: TEST

#4200 Fix label info on loading checkpoint
  CHANGELOG.md
  src/otx/core/model/base.py
Labels: DOC

#4205 Merge back 2.3
  CHANGELOG.md
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/tools/converter.py
Labels: DOC

#4210 Revert "Refactor detection FMetric (#4130)"
  CHANGELOG.md
  src/otx/core/metrics/fmeasure.py
  tests/unit/core/metrics/test_fmeasure.py
Labels: TEST, DOC

#4211 Bump MAPI to 0.2.5.1
  CHANGELOG.md
  pyproject.toml
Labels: DEPENDENCY, BUILD, DOC

#4206 🗑️ Remove stable diffusion
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/diffusion/index.rst
  docs/source/guide/explanation/algorithms/index.rst
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/data/dataset/diffusion.py
  src/otx/core/data/entity/diffusion.py
  src/otx/core/data/factory.py
  src/otx/core/exporter/diffusion.py
  src/otx/core/metrics/diffusion.py
  src/otx/core/model/diffusion.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/diffusion.yaml
  src/otx/recipe/diffusion/sd_huggingface.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: DEPENDENCY, TEST, BUILD, DOC

#4208 🗑️ Remove Detection 3D
  .github/workflows/pre_merge.yaml
  CHANGELOG.md
  src/otx/algo/__init__.py
  src/otx/algo/common/layers/position_embed.py
  src/otx/algo/object_detection_3d/__init__.py
  src/otx/algo/object_detection_3d/backbones/__init__.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/__init__.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/__init__.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/losses/__init__.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matchers/__init__.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/utils/__init__.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/perf/test_object_detection_3d.py
  tests/unit/algo/object_detection_3d/__init__.py
  tests/unit/algo/object_detection_3d/backbones/__init__.py
  tests/unit/algo/object_detection_3d/backbones/test_monodetr_resnet.py
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/detectors/__init__.py
  tests/unit/algo/object_detection_3d/detectors/test_monodetr.py
  tests/unit/algo/object_detection_3d/heads/__init__.py
  tests/unit/algo/object_detection_3d/heads/test_depth_predictor.py
  tests/unit/algo/object_detection_3d/heads/test_depthaware_transformer.py
  tests/unit/algo/object_detection_3d/losses/__init__.py
  tests/unit/algo/object_detection_3d/losses/test_monodetr_loss.py
  tests/unit/algo/object_detection_3d/matchers/__init__.py
  tests/unit/algo/object_detection_3d/matchers/test_matcher_3d.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/exporter/test_detection_3d.py
  tests/unit/core/model/test_detection_3d.py
Labels: TEST, BUILD, DOC

#4209 🗑️ Remove Zero Shot Visual Prompting
  .github/workflows/pre_merge.yaml
  CHANGELOG.md
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/__init__.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/task.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  src/otx/tools/templates/visual_prompting/configuration.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_tiny_vit/configuration.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_tiny_vit/template.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_vit_b/configuration.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_vit_b/template.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_visual_prompting.py
  tests/regression/test_regression.py
  tests/unit/algo/visual_prompting/conftest.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/data/entity/test_visual_prompting.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tox.ini
Labels: TEST, BUILD, DOC

#4221 Revert h-cls head to linear
  CHANGELOG.md
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
Labels: DOC

#4219 :wrench: Update daily workflow for integration tests: Remove unused E2E and fuzzy test
  .github/workflows/daily.yaml
  .github/workflows/pre_merge.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/eval_fuzzing_crash.py
  tests/fuzzing/helper.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

#4224 Change daily integration test runs on
  .github/workflows/daily.yaml
Labels: BUILD

#4228 :gear: Update daily integration test runner to use a runner labelled with daily
  .github/workflows/daily.yaml
Labels: BUILD

#4225 Update third-party-programs.txt
  third-party-programs.txt
Labels: DOC

#4216 added deps review
  .github/workflows/code_scan.yaml
  .github/workflows/dependency-review.yaml
Labels: BUILD

#4229 Don't filter empty label from kp arrow
  CHANGELOG.md
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/module.py
Labels: DOC

#4242 Cherry-pick from 2.3
  CHANGELOG.md
  pyproject.toml
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  third-party-programs.txt
Labels: DEPENDENCY, BUILD, DOC

#4240 Security scan update
  .github/workflows/bandit.yaml
  .github/workflows/code_scan.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
Labels: BUILD

#4244 OTX Benchmark Pipeline Revamp
  .github/workflows/perf_benchmark_v2.yaml
  tests/perf_v2/__init__.py
  tests/perf_v2/benchmark.py
  tests/perf_v2/run.py
  tests/perf_v2/summary.py
  tests/perf_v2/tasks/anomaly.py
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/detection.py
  tests/perf_v2/tasks/instance_segmentation.py
  tests/perf_v2/tasks/keypoint_detection.py
  tests/perf_v2/tasks/semantic_segmentation.py
  tests/perf_v2/tasks/visual_prompting.py
  tests/perf_v2/utils.py
  tox.ini
Labels: TEST, BUILD

#4246 Refactor benchmark tox.ini and perf_benchmark_v2
  .github/workflows/perf_benchmark_v2.yaml
  tox.ini
Labels: BUILD

#4248 Fix formatting in perf_benchmark_v2 workflow script
  .github/workflows/perf_benchmark_v2.yaml
Labels: BUILD

#4249 Fix formatting in run.py for benchmark module execution
  tests/perf_v2/run.py
Labels: TEST

#4255 Fix benchmark ci
  .github/workflows/perf_benchmark_v2.yaml
  tests/perf_v2/run.py
  tests/perf_v2/summary.py
  tests/perf_v2/utils.py
  tox.ini
Labels: TEST, BUILD

#4257 Fix artifact upload path in performance benchmark workflow
  .github/workflows/perf_benchmark_v2.yaml
Labels: BUILD

#4258 Fix benchmark ci
  .github/workflows/perf_benchmark_v2.yaml
  tests/perf_v2/run.py
Labels: TEST, BUILD

#4259 Benchmark workflow upload hidden xlsx files
  .github/workflows/perf_benchmark_v2.yaml
  tests/perf_v2/run.py
Labels: TEST, BUILD

#4260 Enable benchmark for classification tasks and add anomaly task to workflow
  .github/workflows/perf_benchmark_v2.yaml
  tests/perf_v2/__init__.py
  tests/perf_v2/tasks/classification.py
Labels: TEST, BUILD

#4261 Update runner configuration in performance benchmark workflow
  .github/workflows/perf_benchmark_v2.yaml
Labels: BUILD

#4262 Update dataset paths and align benchmark criteria across tasks
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/keypoint_detection.py
  tests/perf_v2/tasks/semantic_segmentation.py
  tests/perf_v2/tasks/visual_prompting.py
Labels: TEST

#4263 Update benchmark classification dataset
  tests/perf_v2/tasks/classification.py
Labels: TEST
