Repository open-edge-platform/training_extensions, pull requests merged in 2025-03, with the labels that each got.

#4264 Refactor summary aggregation to drop 'seed' column and rearrange output columns
  tests/perf_v2/summary.py
Labels: TEST

#4247 Delete rejected models and OTX install
  CHANGELOG.md
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/huggingface_model.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  pyproject.toml
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/detectors/__init__.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolov9.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/maskdino_loss.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/cli/cli.py
  src/otx/cli/install.py
  src/otx/cli/patches/NOTICE
  src/otx/cli/patches/mmaction2.patch
  src/otx/cli/utils/help_formatter.py
  src/otx/cli/utils/installation.py
  src/otx/core/types/transformer_libs.py
  src/otx/core/utils/config.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
  src/otx/tools/translate_mmrecipe.py
  tests/unit/algo/classification/test_huggingface_model.py
  tests/unit/algo/detection/backbones/test_gelan.py
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/necks/test_yolo_neck.py
  tests/unit/algo/detection/test_huggingface_model.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/algo/instance_segmentation/heads/test_maskdino_heads.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/cli/test_install.py
  tests/unit/cli/utils/test_installation.py
  tests/unit/core/utils/test_config.py
Labels: DEPENDENCY, TEST, BUILD, DOC

#4271 Rename benchmark result columns
  tests/perf_v2/benchmark.py
  tests/perf_v2/summary.py
  tests/perf_v2/tasks/anomaly.py
  tests/perf_v2/tasks/classification.py
  tests/perf_v2/tasks/detection.py
  tests/perf_v2/tasks/instance_segmentation.py
  tests/perf_v2/tasks/keypoint_detection.py
  tests/perf_v2/tasks/semantic_segmentation.py
  tests/perf_v2/tasks/visual_prompting.py
Labels: TEST

#4266 Add all detection models to performance benchmark tests
  tests/perf_v2/tasks/detection.py
Labels: TEST

#4272 Benchmark test high-level summary file
  tests/perf_v2/summary.py
Labels: TEST

#4270 Fix KP Detection performance
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/keypoint_detection/utils/simcc_label.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  src/otx/tools/converter.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/keypoint_detection/utils/test_simcc_label.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/data/transform_libs/test_utils.py
Labels: TEST

#4234 :wrench: Fix exportable code handling for Tiler model in OVModel
  CHANGELOG.md
  src/otx/core/model/base.py
Labels: DOC

#4275 Bump ModelAPI
  CHANGELOG.md
  pyproject.toml
Labels: DEPENDENCY, BUILD, DOC

#4243 Bump inference dependencies
  .github/CODEOWNERS
  CHANGELOG.md
  README.md
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_geti_interaction.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/model/test_base.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: DEPENDENCY, TEST, BUILD, DOC

#4239 🧹Refactor Classification Entity
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/keypoint_detection.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/data/__init__.py
  src/otx/data/torch.py
  src/otx/data/validations.py
  src/otx/engine/engine.py
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/classification/test_timm_model.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_classification.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/test_engine.py
Labels: TEST, DOC

#4269 🗑️ Remove unused transforms
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

#4293 Fix DataInputParams Serialization
  CHANGELOG.md
  src/otx/cli/cli.py
  src/otx/core/model/base.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/tools/converter.py
  tests/unit/core/model/test_base.py
Labels: TEST, DOC

#4282 Refactor Data Entity (SSeg, KP)
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/data/torch.py
  src/otx/data/validations.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/detection/dfine_x.yaml
  src/otx/recipe/detection/dfine_x_tile.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  tests/conftest.py
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
  tests/unit/core/data/dataset/test_segmentation.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/data/transform_libs/test_utils.py
  tests/unit/core/model/test_keypoint_detection.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST

#4300 Align KP Detection Validation with Model API
  CHANGELOG.md
  pyproject.toml
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/model/keypoint_detection.py
  src/otx/data/torch.py
  src/otx/data/validations.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: DEPENDENCY, BUILD, DOC

#4294 Update Documentation
  README.md
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/configurable_input_size.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/advanced/configuration.rst
  docs/source/guide/tutorials/advanced/low_rank_adaptation.rst
  docs/source/guide/tutorials/advanced/torch_compile.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  pyproject.toml
Labels: DEPENDENCY, BUILD, DOC

#4307 Improve PR comment event trigger
  .github/workflows/pr_comment_trigger.yaml
  CHANGELOG.md
Labels: BUILD, DOC

#4309 Update permissions in PR comment trigger workflow
  .github/workflows/pr_comment_trigger.yaml
Labels: BUILD

#4318 Refactor PR comment trigger
  .github/workflows/pr_comment_trigger.yaml
Labels: BUILD
